<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.whalesoft.app.cms.module.support.SupportDao">

	<sql id="field">
		homepage_id, seq, req_type, req_id, req_name, req_organ_div
		, req_organ_code, req_tel, requer_name, requer_tel, req_email, req_title
		, req_content, req_ip, student_id, pc_spec, crt_dt, support_div
		, supporter, support_clerk, support_tel, subcontractor, support_content
		, support_content2, special_feature, supplies_support, satisfaction, comments       
		, process_state, support_state, comp_dt, internet_line, orther, student_name, student_tel
		, student_hp, zip_code, student_addr1, student_addr2, service_name, support_id, service_id
		, eduinfo_agree, mod_dt, exp_dt, delete_yn, TO_CHAR(hope_req_dt,'YYYY-MM-DD') AS hope_req_dt
		, member_key, categories
	</sql>
	
	<select id="getCalendar" resultType="kr.co.whalesoft.app.cms.module.support.Support">
		SELECT 
			MIN( DECODE( TO_CHAR(DAYS, 'D'), 1, TO_CHAR(DAYS, 'FMDD'))) as SUN,
			MIN( DECODE( TO_CHAR(DAYS, 'D'), 2, TO_CHAR(DAYS, 'FMDD'))) as MON,
			MIN( DECODE( TO_CHAR(DAYS, 'D'), 3, TO_CHAR(DAYS, 'FMDD'))) as TUE,
			MIN( DECODE( TO_CHAR(DAYS, 'D'), 4, TO_CHAR(DAYS, 'FMDD'))) as WED,
			MIN( DECODE( TO_CHAR(DAYS, 'D'), 5, TO_CHAR(DAYS, 'FMDD'))) as THU,
			MIN( DECODE( TO_CHAR(DAYS, 'D'), 6, TO_CHAR(DAYS, 'FMDD'))) as FRI,
			MIN( DECODE( TO_CHAR(DAYS, 'D'), 7, TO_CHAR(DAYS, 'FMDD'))) as SAT
   		FROM
		(
			SELECT 
			(A.BASE_MON + ROWNUM -1) AS days, 
			A.BASE_MON, 
			((TRUNC(BASE_MON + ROWNUM - 1, 'D') - TRUNC(TRUNC(BASE_MON + ROWNUM - 1, 'Y'), 'D')) / 7 + 1) AS WEEK_NUM FROM (SELECT TO_DATE (#{plan_date}, 'yyyy-MM') BASE_MON FROM DUAL) A, DICTIONARY B
		) C
		
		WHERE C.DAYS <![CDATA[ <= ]]> LAST_DAY(BASE_MON)
  		GROUP BY WEEK_NUM
  		ORDER BY WEEK_NUM 
	</select>
	
	<!-- 현장지원 list -->
	<select id="getSupport" resultType="kr.co.whalesoft.app.cms.module.support.Support">
		SELECT
			<include refid="field" />
		FROM 
			FIELD_SUPPORT
		WHERE 1=1
			AND HOMEPAGE_ID = #{homepage_id}		
			AND DELETE_YN = 'N'
		<choose>
			<when test="(search_start_hope_req_dt != null and search_start_hope_req_dt != '') and (search_end_hope_req_dt != null and search_end_hope_req_dt != '')">
				AND HOPE_REQ_DT BETWEEN #{search_start_hope_req_dt} and #{search_end_hope_req_dt}
			</when>
			<otherwise>
				<if test="plan_date != null and plan_date != ''">	 		
		 			AND (TO_CHAR(hope_req_dt,'YYYY-MM') = #{plan_date}
		 			OR TO_CHAR(hope_req_dt,'YYYY-MM') = #{plan_date})
				</if>
			</otherwise>
		</choose>
	</select>
	
	<!-- 현장지원 list -->
	<select id="getUserSupport" resultType="kr.co.whalesoft.app.cms.module.support.Support">
		SELECT
			<include refid="field" />
		FROM 
			FIELD_SUPPORT
		WHERE 1=1
			AND HOMEPAGE_ID = #{homepage_id}		
			AND DELETE_YN = 'N'
			AND REQ_ID = #{req_id}		
	</select>
	
	<select id="getSupportOne" resultType="kr.co.whalesoft.app.cms.module.support.Support">
		SELECT
			<include refid="field" />,
			(SELECT COUNT(*) FROM CMS_CALENDAR_MANAGE B WHERE FIELD_SUPPORT.HOMEPAGE_ID = B.HOMEPAGE_ID AND FIELD_SUPPORT.HOMEPAGE_ID = 'h19' AND B.DATE_TYPE = '1' AND B.DELETE_YN = 'N' AND TO_CHAR(FIELD_SUPPORT.hope_req_dt,'YYYY-MM-DD')  <![CDATA[<=]]>  B.END_DATE AND TO_CHAR(FIELD_SUPPORT.hope_req_dt,'YYYY-MM-DD')  <![CDATA[>=]]>  B.START_DATE) AS closed_day,
			TO_CHAR(hope_req_dt,'YYYY-MM-DD') AS plan_date	
		FROM 
			FIELD_SUPPORT
		WHERE
			HOMEPAGE_ID = #{homepage_id}
			AND seq = #{seq}
	</select>
	
	<insert id="addSupport">
		INSERT INTO FIELD_SUPPORT (
		   	homepage_id, seq, req_id, req_name, requer_name, req_organ_code, requer_tel, hope_req_dt, req_title, req_content, delete_yn, process_state, member_key, categories
	   ) VALUES (
	   		#{homepage_id}, (SELECT NVL(MAX(seq),0)+1 FROM FIELD_SUPPORT), #{req_id}, #{req_name}, #{requer_name}, #{req_organ_code}, 
	   		#{requer_tel}, #{hope_req_dt}, #{req_title}, #{req_content}, 'N', 'S', #{member_key},  #{categories}
		)
	</insert>
	
	<update id="modifySupport">
		UPDATE
			FIELD_SUPPORT
		SET
			req_name = #{req_name},
			requer_name = #{requer_name},
			req_organ_code = #{req_organ_code},
			requer_tel = #{requer_tel},
			hope_req_dt = #{hope_req_dt},
			req_title = #{req_title},
			req_content = #{req_content},
			categories = #{categories},
			process_state = #{process_state}
		WHERE
			homepage_id = #{homepage_id} AND
			seq = #{seq}
	</update>
	
	<update id="modifySupportResult">
		UPDATE
			FIELD_SUPPORT
		SET
			support_div = #{support_div},
			supporter = #{supporter},
			subcontractor = #{subcontractor},
			support_content = #{support_content},
			process_state = 'Y'
		WHERE
			homepage_id = #{homepage_id} AND
			seq = #{seq}
	</update>
	
	<delete id="deleteSupport">
		UPDATE
			FIELD_SUPPORT
		SET
			DELETE_YN = 'Y'
		WHERE
			homepage_id = #{homepage_id} AND
			seq = #{seq}
	</delete>
	
	<!--현장지원 일별 통계 -->
	<select id="getSupportStatus" resultType="kr.co.whalesoft.app.cms.module.calendarStatus.CalendarStatus">
		SELECT START_DATE, SUM(IMSI_V_1) AS IMSI_V1, SUM(IMSI_V_2) AS IMSI_V2, SUM(IMSI_V_1 + IMSI_V_2) AS IMSI_V3 
			FROM (
				SELECT
					TO_CHAR(HOPE_REQ_DT, 'YYYY-MM-DD') AS START_DATE,
					DECODE(PROCESS_STATE,'N', 1, 'Y', 0) AS IMSI_V_1,
					DECODE(PROCESS_STATE,'Y', 1, 'N', 0) AS IMSI_V_2
				FROM
					FIELD_SUPPORT
				WHERE
					DELETE_YN = 'N' AND
					homepage_id = #{homepage_id} 
			)
		WHERE
			TO_DATE(START_DATE, 'yyyy-MM-dd') BETWEEN TO_DATE(#{start_date},'yyyy-MM-dd') AND TO_DATE(#{end_date}, 'yyyy-MM-dd')
		GROUP BY ROLLUP(START_DATE)
		ORDER BY START_DATE DESC
	</select>
	
	<!--현장지원 월별 통계 -->
	<select id="getSupportMonthStatus" resultType="kr.co.whalesoft.app.cms.module.calendarStatus.CalendarStatus">
		SELECT START_DATE, SUM(IMSI_V_1) AS IMSI_V1, SUM(IMSI_V_2) AS IMSI_V2, SUM(IMSI_V_1 + IMSI_V_2) AS IMSI_V3
			FROM (
				SELECT
					TO_CHAR(HOPE_REQ_DT, 'YYYY') AS YEAR,
					TO_CHAR(HOPE_REQ_DT, 'YYYY-MM') AS START_DATE,
					DECODE(PROCESS_STATE,'N', 1, 'Y', 0) AS IMSI_V_1,
					DECODE(PROCESS_STATE,'Y', 1, 'N', 0) AS IMSI_V_2
				FROM
					FIELD_SUPPORT
				WHERE
					DELETE_YN = 'N' AND
					homepage_id = #{homepage_id}
			)
		WHERE
			YEAR = #{start_year}
		GROUP BY  ROLLUP (START_DATE)
		ORDER BY START_DATE DESC				
	</select>
	
	<!--현장지원 연도별 통계 -->
	<select id="getSupportYearStatus" resultType="kr.co.whalesoft.app.cms.module.calendarStatus.CalendarStatus">
		SELECT START_DATE, SUM(IMSI_V_1) AS IMSI_V1, SUM(IMSI_V_2) AS IMSI_V2, SUM(IMSI_V_1 + IMSI_V_2) AS IMSI_V3
			FROM (
				SELECT				
					TO_CHAR(HOPE_REQ_DT, 'YYYY') AS START_DATE,
					DECODE(PROCESS_STATE,'N', 1, 'Y', 0) AS IMSI_V_1,
					DECODE(PROCESS_STATE,'Y', 1, 'N', 0) AS IMSI_V_2
				FROM
					FIELD_SUPPORT
				WHERE
					DELETE_YN = 'N' AND
					homepage_id = #{homepage_id}
			)
		WHERE
			START_DATE BETWEEN #{start_year} and #{end_year}
		GROUP BY  ROLLUP (START_DATE)
		ORDER BY START_DATE DESC
	</select>
</mapper>



