<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.whalesoft.app.cms.module.supportManage.SupportManageDao">

	<select id="getSupportManage" resultType="kr.co.whalesoft.app.cms.module.supportManage.SupportManage">
		SELECT
			HOMEPAGE_ID, SUPPORT_MANAGE_IDX, START_DATE, END_DATE, LIMIT_REQ_COUNT
		FROM 
			FIELD_SUPPORT_MANAGE
		WHERE HOMEPAGE_ID = #{homepage_id}		
			AND DELETE_YN = 'N'
			<if test="plan_date != null and plan_date != ''">
				AND SUBSTR(START_DATE, 0, 7) <![CDATA[<=]]> #{plan_date}
				AND SUBSTR(END_DATE, 0, 7) <![CDATA[>=]]> #{plan_date}
			</if>
	</select>
	
	<select id="getSupportManageOne" resultType="kr.co.whalesoft.app.cms.module.supportManage.SupportManage">
		SELECT
			HOMEPAGE_ID, START_DATE, END_DATE, LIMIT_REQ_COUNT	
		FROM 
			FIELD_SUPPORT_MANAGE
		WHERE
			HOMEPAGE_ID = #{homepage_id} AND SUPPORT_MANAGE_IDX = #{support_manage_idx}
	</select>
	
	<select id="getCheckReqCount" resultType="kr.co.whalesoft.app.cms.module.supportManage.SupportManage">
		SELECT
			NVL(LIMIT_REQ_COUNT, 0) AS LIMIT_REQ_COUNT,
			(SELECT COUNT(*) FROM FIELD_SUPPORT WHERE HOMEPAGE_ID = #{homepage_id} AND DELETE_YN = 'N' AND HOPE_REQ_DT = TO_DATE(#{plan_date})) AS REQ_COUNT
		FROM 
			FIELD_SUPPORT_MANAGE
		WHERE HOMEPAGE_ID = #{homepage_id}
			AND DELETE_YN = 'N'
			AND ( START_DATE <![CDATA[<=]]> #{plan_date} AND END_DATE >= #{plan_date})
			AND ROWNUM = 1
		ORDER BY SUPPORT_MANAGE_IDX ASC
	</select>
	
	<insert id="addSupportManage">
		<selectKey keyProperty="support_manage_idx" resultType="int" order="BEFORE">
			SELECT NVL(MAX(SUPPORT_MANAGE_IDX),0)+1 FROM FIELD_SUPPORT_MANAGE WHERE HOMEPAGE_ID = #{homepage_id}
		</selectKey>
		INSERT INTO FIELD_SUPPORT_MANAGE ( HOMEPAGE_ID, SUPPORT_MANAGE_IDX, START_DATE, END_DATE, LIMIT_REQ_COUNT, ADD_DATE, ADD_ID )
	   	VALUES ( #{homepage_id}, #{support_manage_idx}, #{start_date}, #{end_date}, #{limit_req_count}, SYSDATE, #{add_id} )
	</insert>
	
	<update id="modifySupportManage">
		UPDATE
			FIELD_SUPPORT_MANAGE
		SET
			START_DATE = #{start_date}, 
			END_DATE = #{end_date}, 
			LIMIT_REQ_COUNT = #{limit_req_count},
			MOD_DATE = SYSDATE,
			MOD_ID = #{mod_id}
		WHERE
			HOMEPAGE_ID = #{homepage_id} AND SUPPORT_MANAGE_IDX = #{support_manage_idx}
	</update>
	
	<delete id="deleteSupportManage">
		UPDATE
			FIELD_SUPPORT_MANAGE
		SET
			DELETE_YN = 'Y'
		WHERE
			HOMEPAGE_ID = #{homepage_id} AND SUPPORT_MANAGE_IDX = #{support_manage_idx}
	</delete>

</mapper>



