@charset "utf-8";

.search-wrap{font-size:110%}
.search-wrap .smain{overflow:hidden;margin:0 0 60px}
.search-wrap table{border-top:2px solid #5f6062;border-bottom:2px solid #d2d2d2}
.search-wrap table th,
.search-wrap table td{border-bottom:1px solid #d9d9d9;border-left:0;border-right:0;font-size:90%;text-align:center}
.search-wrap table th{padding:8px 5px;border:0;font-size:90%;border-bottom:1px solid #ccc}
.search-wrap table td{padding:6px 5px}
.search-wrap table tr:hover td{background:#f5f6f8}
.search-wrap .item td.n,
.search-wrap .og{color:#ff6c02!important}
.search-wrap b i{font-style:normal}
.search-wrap i.fa-sort-down{position:relative;top:-2px}

.search-form {position:relative}
.search-form p{text-align:right;padding:5px 0 0;font-size:85%;height:16px}
.search-form .select2-container--default .select2-selection--single{border:0}
.search-form .box1{float:left;padding-right:13px;width:13%}
@media all and (max-width:650px){
	.search-form .box1{width:18%}
}
@media all and (max-width:500px){
	.search-form .box1{width:75px}
}
.search-form .box{margin-right:70px;box-sizing:border-box;padding:10px;background:#2d2e32;overflow:hidden;position:relative}
.search-form input.text{display:block;border:0;padding:0;background:#fff;width:65%;}
.search-form input.text:focus{outline:none}
.search-form input.text2{display:block;box-sizing:border-box;border:0;padding:0;background:#fff;width:calc(100% - 130px);padding-left:5px;font-size:13px;line-height:50px;}
.search-form input.text2:focus{outline:none}
.search-form .b1{padding:0 10px}
.search-form .b2{position:absolute;top:10px;right:10px;width:10%}
.search-form button{background:#fff;border:0;color:#fff;font-size:20px;text-align:center;}
.search-form button img {vertical-align:middle;}
.search-form button{width:100%}
.search-form button,
.search-form input,
.search-form select,
.search-form .select2-container .select2-selection--single,
.search-form .select2-container--default .select2-selection--single .select2-selection__arrow,
.search-form .select2-container--default .select2-selection--single .select2-selection__rendered{height:48px;line-height:48px}
.search-form select,
.search-form .select2-container .select2-selection--single,
.search-form .select2-container--default .select2-selection--single .select2-selection__arrow,
.search-form .select2-container--default .select2-selection--single .select2-selection__rendered{height:49px;line-height:49px}
.search-form .select2-container--default .select2-selection--single .select2-selection__rendered{padding-left:10px}
.search-form .select2-container--default .select2-selection--single .select2-selection__arrow{padding-right:3px}
.search-form .box1 .select2-container{border:1px solid #bbb;border-radius:5px;overflow:hidden}
.search-form .select-box {font-size:13px;}

.search-wrap .smain .ws-filter{display:none;float:right;width:21%;padding-left:3%}
.search-wrap .smain .box{float:left;width:100%;margin-right:-24%;background:#fff}
.search-wrap .smain .box .ws-toolbar,
.search-wrap .smain .box .search-results{box-sizing:border-box;margin:0 2%;padding:0 0 40px}
.search-wrap .smain .box .search-results.wide{margin-right:0}

#autoFill, #autoFill a {color:#fff;box-sizing:border-box;padding:5px}

/* 소장자료_2018.07.16 추가 */
span.middot {background: url(/resources/common/img/doc-arr2.gif) no-repeat 0 10px; padding: 3px 0 4px; padding-left: 13px;}
.search-area { position:absolute;right:0;text-align:center; }
.search-area .orange {width:70px;padding:2px 0;display:inline-block;background:#f8634d;color:#fff;font-size:80%;font-weight:600;}
.search-area .orange img {width:38px}
.search-area .blue {padding: 4px 19px; display: inline-block; margin-left: 2px;background:#5885c9;border-radius: 20px;color: #fff; font-weight: 600; margin-bottom: 5px;}

/* 도서검색 선택 */
#libraryList {margin:0 2%}
#libraryList input{margin-right:3px}
#libraryList input,
#libraryList label{vertical-align:middle;cursor:pointer}
#libraryList li{width:33.33%;display:inline-block;zoom:1;*display:inline}
#libraryList ul{font-size:0;line-height:0}

@media all and (max-width:1000px){
	#libraryList li{width:33.33%}
}
@media all and (max-width:850px){
	#libraryList li{width:50%;vertical-align:top;font-size:12px;letter-spacing:-1px}
}
@media all and (max-width:450px){
	#libraryList li{width:100%}
}

.ws-toolbar,
.ws-filter h4{height:29px;/* padding:0 0 10px; */}

.ws-filter h4{font-weight:bold;font-size:110%;border-bottom:1px solid #ddd;padding:5px 0}
.ws-filter a{display:inline-block;zoom:1;*display:inline}
.ws-filter>ul>li{padding-bottom:15px}
.ws-filter>ul>li>a.bi{font-weight:bold;background:url('../img/ws-filter-by.gif') no-repeat right center;padding:5px 20px 5px 0}
.ws-filter>ul>li>p,
.ws-filter>ul>li>ul{display:none}
.ws-filter>ul>li.active p,
.ws-filter>ul>li.active ul{display:block}
.ws-filter>ul>li.active>a.bi{background-image:url('../img/ws-filter-bn.gif')}
.ws-filter>ul>li>p{font-size:85%;padding:0 15px 0 0;margin-top:-5px}
.ws-filter>ul>li>p>a{color:#888}
.ws-filter>ul>li>ul{padding:0 0 10px}
.ws-filter>ul>li>ul>li>a{font-size:90%}
.ws-filter>ul>li>ul>li>a>em{color:#888;font-style:normal;margin-left:5px}

.ws-filter-top{display:none;}
.ws-filter-top,
.ws-filter-top h4{height:29px;/* padding:0 0 10px; */}
.ws-filter-top>h4>a.bi2{font-weight:bold;background:url('../img/ws-filter-by.gif') no-repeat right center;padding:5px 20px 5px 0}

.ws-filter-top h4{font-weight:bold;font-size:110%;border-bottom:1px solid #ddd;padding:5px 0}
.ws-filter-top a{display:inline-block;zoom:1;*display:inline}
.ws-filter-top>ul>li{padding-bottom:15px}
.ws-filter-top>ul>li>a.bi{font-weight:bold;background:url('../img/ws-filter-by.gif') no-repeat right center;padding:5px 20px 5px 0}
.ws-filter-top>ul>li>p,
.ws-filter-top>ul>li>ul{display:none}
.ws-filter-top>ul>li.active p,
.ws-filter-top>ul>li.active ul{display:block}
.ws-filter-top>ul>li.active>a.bi{background-image:url('../img/ws-filter-bn.gif')}
.ws-filter-top>ul>li>p{font-size:85%;padding:0 15px 0 0;margin-top:-5px}
.ws-filter-top>ul>li>p>a{color:#888}
.ws-filter-top>ul>li>ul{padding:0 0 10px}
.ws-filter-top>ul>li>ul>li>a{font-size:90%}
.ws-filter-top>ul>li>ul>li>a>em{color:#888;font-style:normal;margin-left:5px}

.search-wrap .search-info{background:#fff;padding:10px 0;text-align:center;border-bottom:1px solid #eee}
.search-wrap .control{font-size:85%}
.search-wrap .control i{margin:0 0 0 5px;font-weight:normal}
.search-wrap .control .btn{background:#fff;padding:0 11px;line-height:25px;height:27px}
.search-wrap .ws-toolbar{overflow:hidden; padding: 7px 5px;}
.search-wrap .ws-toolbar .checkbox{float:left;padding:5px 0 0 1px}
.search-wrap .ws-toolbar .control{float:right}
.search-wrap .ws-toolbar { background-color: #fbfbfb; border-top: 1px solid #d3d3d3; border-bottom: 1px solid #eaeaea;}

.search-wrap .search-results .row{position:relative;padding:28px 0;overflow:hidden;border-bottom: 1px dotted #d1d1d1;}
.search-wrap .search-results .row .admin{z-index:1;width: 17px;float: left;margin-right: 5px;}
.search-wrap .search-results .row .admin input{width:17px;height:17px}
.search-wrap .search-results .row .thumb{float:left;font-size:0;line-height:0;width:118px;border:1px solid #ddd;margin-right:10px;}
.search-wrap .search-results .row .thumb img{width:100%}
.search-wrap .search-results .row .box{float:left;width:100%;margin-right:-200px;}
.search-wrap .search-results .row .item{margin-right:200px;}
.search-wrap .search-results .row .item a.name{font-weight:800;font-size:110%;display:block;zoom:1;*display:inline;padding:4px 0;}
.search-wrap .search-results .row .item a.name em{font-style:normal}
.search-wrap .search-results .row .item .stat{padding:13px 0 0}
.search-wrap .search-results .row .item .stat a{margin:0 0 4px;margin-right:3px;padding:3px 8px;background: #f6fafb;color: #1b5e89;font-size:95%;font-weight:bold;border: 1px solid #beccd9;border-radius: 2px;}
.search-wrap .search-results .row .item .stat a i{margin-left:4px;font-size:110%}
.search-wrap .search-results .row .item .stat a,
.search-wrap .search-results .row .item .stat span{display:inline-block;zoom:1;*display:inline}
.search-wrap .search-results .row .item .bci{padding:15px 0 0}



/* .sview{border-top:2px solid #5e6062} */
.sview h4{font-size:130%;font-weight:bold;padding:10px 0}
.sview .sinfo{margin:15px 0;background: #fffef9;overflow:hidden;padding: 25px 40px;border: 1.5px solid #f6f7e5;}
@media all and (max-width:1000px){
	.sview .sinfo{padding-left:5%;padding-right:5%}
}
@media all and (max-width:767px){
	.sview .sinfo{padding-left:3%;padding-right:3%}
}
.sview .sinfo .thumb img{border:1px solid #d5d5d5}
.sview .sinfo .thumb{float:left;width:20%;font-size:0;line-height:0}
.sview .sinfo .info{float:left;width:100%;margin-right: -20%;}
.sview .sinfo .info ul{margin: -1% 20% 1% 4%;}
.sview .sinfo .info ul li{padding: 5px 0px;line-height:110%;}
.sview b.title{font-size:135%;font-weight:800;line-height: 160%;}
.sview .sinfo .info ul li.ibtn{border:0;text-align:right;padding:15px 0 0}
.sview .sinfo .info ul li.ibtn a i{margin:0 0 0 5px}

.sview .sbtn{text-align:center;padding:30px 0 20px}
.sview .sbtn .btn{padding:7px 2%}
.sview .sbtn .btn i{font-size:130%}
.sview .sbtn .btn1{background:#fe6d02;border-color:#fe6d02}
.sview .sbtn .btn2{background:#666;border-color:#666}



.search-bot { width: 100%; height: auto; display: inline-block; padding-bottom: 15px;}
.search-bot .notice {font-size: 105%; float: left; padding-left: 5px; width: 70%;line-height: 175%;}
.search-bot p {float: right; padding-top: 0px; display: inline-block;}

.bif {line-height: 180%; }
.bif p { display: inline-block; line-height: 180%; }
.bif .tit {color: #9a9a9a;}
.bif .bar { padding: 0 8px; color: #d6d6d6;}
.bif .txt {font-weight: 600;}
.box .bif .tit {font-weight: normal;}

.info .bar {color: #bababa;padding-right: 10px;padding-left: 10px;font-size: 12px;}
.info .con {background: url(/resources/common/img/doc-arr3.gif) no-repeat 0 7px;background-size: 3px;padding: 0px 0 2px 10px;width: 20%;display: inline-block;vertical-align: top;line-height: 145%;}
.info .con2 {background: url(/resources/common/img/doc-arr3.gif) no-repeat 0 10px;background-size: 3px;padding: 0px 0 2px 10px;width: 20%;display: inline-block;vertical-align: top;line-height: 145%;}
.info .txt {display: inline-block;width: 72%;vertical-align: top;line-height: 145%;}

.botbutton {padding-right: 3px;}
.botbutton .blue_s {margin: 0 0 4px;margin-right: 3px;padding: 4px 10px;color: #155690;font-size: 95%;border: 1px solid #c6cfd8;border-radius: 1px;background: #f6fdff;display: inline-block;}
.botbutton .blue_s img {vertical-align: middle;padding-right: 2px;}
.botbutton .orange_s {margin: 0 0 4px;margin-right: 3px;padding: 4px 10px;color: #333333;font-size: 95%;border: 1px solid #c0c0c0;border-radius: 1px;font-weight: bold;padding-left: 35px;display:  inline-block;}
.botbutton .goStorage {background: url('/resources/common/img/dashBoard/folder.png') no-repeat;background-position: 7%;}
.botbutton .addStorage {background: url('/resources/book/search/img/btn_my.png') no-repeat;background-position: 10%;}
.botbutton .button1 {float: right;}

.ws-toolbar .checkbox input[type="checkbox"] {width: 17px; height: 17px; opacity: 100;}
.ws-toolbar .checkbox label {padding-left: 0px;}
.ws-toolbar .checkbox label::before {display: none;}
.ws-toolbar .checkbox label::after {display: none;}

textarea.textArea {width: 100%;height: 200px;border-top: 1px solid;}
.search-wrap h3 { margin-top: 15px; clear: both;}
.search-wrap .sview h4 {background: url(/resources/common/img/contents/h3Bg.gif) no-repeat 0 17px;margin-top: 15px;padding-left: 22px;}
.search-wrap .bookintro td {padding: 22px;}

.control img {vertical-align: middle; margin-top: -5px;margin-right: 1px;}

.listArea {overflow: auto;height: 200px;border-top: 1px solid;border-left: 1px solid #cbcbcb;border-right: 1px solid #cbcbcb;border-bottom: 1px solid #cbcbcb;padding: 7px 20px 10px 20px;line-height: 2.08;}


@media all and (max-width:1000px){
	.search-wrap .smain .ws-filter{display:none}
	.ws-filter-top{display:inline}
	.search-wrap .smain .box,
	.search-wrap .smain .box .ws-toolbar,
	.search-wrap .smain .box .search-results{float:none;}
	.search-bot .notice {width: 67%!important;}
	.info .txt{width: 67%;}
}
@media all and (max-width:767px){
	.search-wrap .control{display:none}
	.search-wrap .search-results .row{position:relative}
	.search-wrap .search-results .row .thumb,
	.search-wrap .search-results .row .box{float:none}
	.search-wrap .search-results .row .box{width:auto}
	.search-wrap .search-results .row .box,
	.search-wrap .search-results .row .item{margin:0}
	.search-wrap .search-results .row .thumb{position:absolute;width:100px;}
	.search-wrap .search-results .row .item .bif{margin-left:120px;min-height:150px;}
	.search-form .b2{width:15%}
	.bif .txt {display: block;}
	.bif .bar {display: none;}
}

@media all and (max-width:590px){
	.info .con {width: 100%;}
	.info .bar {display: none;}
	.info .txt {width: 90%;padding-left: 10px;}
	}

	
@media all and (max-width:450px){
	.search-wrap .search-info{}
	.search-wrap .search-results .row .item .bci th.first,
	.search-wrap .search-results .row .item .bci td.first{display:none}
	.search-bot .notice {width: 93%!important; padding-bottom: 5px;}
	.search-wrap .search-results .row .admin {margin-top: 20%;}
	
}

	
/* @media all and (max-width:330px){
	.botbutton .button1 {float: none;}
	} */