@charset "utf-8";
@import url("../../../common/css/type-app-new.css");

/* 스타일 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,address {font-size:14px}
.doc-body{font-weight:normal}

.Gnb .gnb-menu>li.menu1{width:14.5%}
.Gnb .gnb-menu>li.menu2{width:15%}
.Gnb .gnb-menu>li.menu3{width:16.3%}
.Gnb .gnb-menu>li.menu4{width:14%}
.Gnb .gnb-menu>li.menu5{width:17%}
.Gnb .gnb-menu>li.menu6{width:14%}
.Gnb .gnb-menu>li.menu7{width:12.2%}

.main a {color:#fff}
.main.content {padding:1%;margin:0;display:inline-block;width:100%;box-sizing:border-box;}
.main.content ul.depth001 {display:inline-block;width:100%}
.main.content ul.depth001 > li {float:left;width:49%;height:200px;margin-left:2%;margin-bottom:2%;text-align:center}
.main.content ul.depth001 > li > a {display:inline-block;padding-top:55px;padding-bottom:45px;width:100%}
.main.content ul.depth001 > li > a > img {width:70px}
.main.content ul.depth001 > li.icon01, .content ul.depth001 > li.icon03, .content ul.depth001 > li.icon05 {margin-left:0;}
.main.content ul.depth001 > li.icon01 {background:#f8634d}
.main.content ul.depth001 > li.icon02 {background:#3560a5}
.main.content ul.depth001 > li.icon03 {background:#90a83a}
.main.content ul.depth001 > li.icon04 {}
.main.content ul.depth001 > li.icon05 {}
.main.content ul.depth001 > li.icon06 {background:#5597ee}

.main.content ul.depth002 > li {float:left;height:95px;margin-left:10px;margin-bottom:10px;text-align:center}
.main.content ul.depth002 > li > a {display:inline-block;padding-top:20px;}
.main.content ul.depth002 > li > a > img {width:55px}
.main.content ul.depth002 > li.icon0001 {width:49%;background:#5597ee;padding:0;}
.main.content ul.depth002 > li.icon0002 {width:49%;background:#f6a04b;padding:0;}
.main.content ul.depth002 > li.icon0003 {clear:both;width:100%;background:#5e6b7a;padding:0;}
.main.content ul.depth002 > li.icon0004 {width:100%;background:#f6a04b;padding:0;}
.main.content ul.depth002 > li.icon0005 {width:100%;background:#3560a5;padding:0;}
.main.content ul.depth002 > li.icon0001, 
.main.content ul.depth002 > li.icon0003, 
.main.content ul.depth002 > li.icon0004, 
.main.content ul.depth002 > li.icon0005 {margin-left:0;}

.containers {width:100%;height:calc(100% - 180px);margin:0 auto;}
.outer{display:table;width:100%;height:100%;}
.inner{display:table-cell;vertical-align:middle;text-align:center;}

/*퀵메뉴*/
.quickMenu {width:100%;margin:0 0 20px;text-align:center;transition:all .40s ease;}
.quickMenu li {position:relative;display:inline-block;overflow:hidden;text-align:center;width:33%;height:400px;}
.quickMenu li a {display:block;position:relative;width:100%;height:100%;text-align:center;}
.quickMenu li a.quick01 {background:url("../img/icon001.png") no-repeat 50% 30%;transition:all 0.3s;}
.quickMenu li a.quick02 {background:url("../img/icon002.png") no-repeat 50% 30%;transition:all 0.3s;}
.quickMenu li a.quick03 {background:url("../img/icon003.png") no-repeat 50% 30%;transition:all 0.3s;}
.quickMenu li a.quick04 {background:url("../img/icon004.png") no-repeat 50% 30%;transition:all 0.3s;}
.quickMenu li a.quick05 {background:url("../img/icon005.png") no-repeat 50% 30%;transition:all 0.3s;}
.quickMenu li a.quick06 {background:url("../img/icon006.png") no-repeat 50% 30%;transition:all 0.3s;}
.quickMenu li a.quick07 {background:url("../img/icon007.png") no-repeat 50% 30%;transition:all 0.3s;}
.quickMenu li a.quick08 {background:url("../img/icon008.png") no-repeat 50% 30%;transition:all 0.3s;}
.quickMenu li a div {position:absolute;width:100%;bottom:2%;text-align:center;padding:0;}
.quickMenu li a div.fq {position:absolute;width:100%;top:20%;text-align:left;padding:0 25%;box-sizing:border-box;}
.quickMenu li a div.fq h4 {font-size:17px;line-height:120%;}
.quickMenu li a div h4 {font-size:23px;color:#fff;}
.quickMenu li a div p {font-size:16px;color:#fff;}

.quickMenu li.quick-1 {margin-bottom: 30px;}
.quickMenu li.quick-2 {margin-bottom: 30px;}
.quickMenu li.quick-3 {margin-bottom: 30px;}
.quickMenu li.quick-4 {margin-bottom: 30px;}
.quickMenu li.quick-5 {}
.quickMenu li.quick-6 {}
.quickMenu li.quick-7 {}
.quickMenu li.quick-8 {}

body.gnb-open, body.page-navi-open { height: 100%; overflow: hidden; }

body.gnb-open div.dimd { position: fixed; top: 0; bottom: 0; left: 0; right: 0; content: ''; background: rgba(0, 0, 0, 0.7); z-index: 1; }

#lnb { position:fixed;top:0;right:0;bottom:0;width:375px;margin-right:-415px;background:#ffffff;z-index:1000;color:#161616;text-align:left; }
#lnb.open { margin-right: 0px; box-shadow: -5px 0px 5px 0px rgba(0, 0, 0, 0.2); }
#lnb.open .btn-close { display: block; }
#lnb h2 { position: absolute; overflow: hidden; display: block; margin: -1px; width: 1px; height: 1px; }
#lnb .btn-close { display:none;position:absolute;top:20px;left:20px;width:22px;height: 20px;background: url("../img/btn-close.png") no-repeat 50% 0;text-indent:-999em; }
#lnb .lnb-top {background:url('../img/mylib_bg.gif') no-repeat 0 0;background-size:cover;padding:30px 0 15px;}
#lnb .member { overflow:hidden;text-align:center;margin-bottom:15px;}
#lnb .member a { display: inline-block; position: relative; color: #fff; width: 80px; padding: 7px 16px; border-radius: 30px; background:#3ea7e9}
/*#lnb .member a:first-child:after { display: block; content: ''; position: absolute; top: 7px; right: 0; width: 1px; height: 15px; background: #3b3b3b; }*/
#lnb .quickLink { overflow:hidden;text-align:center;margin-bottom:20px;color:#fff;font-size:120%;font-weight:600 }
/*#lnb .quickLink a { display: inline-block; width: 80px; border: 1px solid #fff; padding: 7px 16px; border-radius: 20px; color: #fff; }
#lnb .quickLink a:first-child { margin-right: 4px; }*/
#lnb .lnb-bottom {background:#fff;text-align:center;border-bottom:1px solid #d5d5d5;}
#lnb .lnb-bottom .btn-section > ul > li {display:inline-block;margin:15px 5px;color:#161616;letter-spacing:-1px}
#lnb .lnb-bottom .btn-section > ul > li > span {display:block;padding:5px 0 0 0}
#lnb .lnb-bottom .btn-section > ul > li > a {display:inline-block;padding:13px 17px;border-radius:50%;color:#fff;}
#lnb .lnb-bottom .btn-section > ul > li > a.btn0001 {background:#f8634d;}
#lnb .lnb-bottom .btn-section > ul > li > a.btn0002 {background:#f6a04b;}
#lnb .lnb-bottom .btn-section > ul > li > a.btn0003 {background:#3560a5;}
#lnb .lnb-bottom .btn-section > ul > li > a.btn0004 {background:#90a83a;}
#lnb .lnb-bottom .btn-section > ul > li > a > img {width:33px;height:auto}

#lnb .depth1 {  }
#lnb .depth1 > li > a { display:block;padding:13px 20px;color:inherit;font-size:15px;font-weight:bold;background:#efefef;border-bottom:1px solid #d5d5d5; }
#lnb .depth1 > li.on > a { background:#efefef;}
#lnb .depth1 > li a:hover { color: #fff; background-color: #3c3c3c; }
#lnb .depth1 > li ul { display: none; }
#lnb .depth1 > li.noDepth > a { background-image: none !important; }
#lnb .depth2 > li > a { display: block; padding: 14px 20px; font-size: 12px; background: url("../img/lnb-plus2.png") no-repeat 250px 50%; color: #555555; background-color: #f3f3f3; border-bottom: 1px dashed #dddddd; }
#lnb .depth2 > li > a:hover { color: #1a63c6; background-color: #f3f3f3; }
#lnb .depth2 > li.on > a { color: #1a63c6; background: url("../img/lnb-minus2.png") no-repeat 250px 50%; background-color: #f3f3f3; }
#lnb .depth2 > li.noDepth > a { background-image: none !important; }
#lnb .depth3 { display: none; padding-bottom: 8px; background-color: #f5f2ec; }
#lnb .depth3 a { display: block; padding: 14px 40px; color: #666; font-size: 12px; background: url("../img/blt-off.png") no-repeat 30px 50%; background-color: #fff; }
#lnb .depth3 li.noDepth a:hover { color: #1a63c6; background: url("../img/blt-on.png") no-repeat 30px 50%; background-color: #fff; }

/* 접속기록안내 */
#memberInfo .inbox{position:relative;border:1px solid #ccc;padding:10px;}
#memberInfo .inbox dt{font-weight:bold;font-family:verdana;padding-bottom: 10px;}
#memberInfo .inbox dd{padding:3px 0}
a#closeMemberInfo{position:absolute;right:7px;top:5px;font-size:120%}
#line{width: 160px;}
div.loginInfo{padding-top: 8px;padding-bottom: 15px;}
span.fontRed{color: red;}
span.fontBlue{color: rgb(27,104,199);font-weight: bold;}
div.memberCon{background-color: rgb(240,240,240);border-radius: 1em;}
div.memberCon2{padding-top: 12px;padding-left: 10px;padding-right: 10px; padding-bottom: 28px;}
a.btnStyle{float: right;margin-top: 6px;}
#loginIcon{padding-top: 13px;padding-left:10px;}
.boxnImg{ float: left; }
.box2_1 { float: left; width: 34%; }
.box3_1 { float: left; width: 38%; border-left: 1px solid #ddd; }
.boxn { padding-top: 1%; padding-bottom: 1%; padding-left: 5%; }



@media all and (max-width:1280px){
	.quickMenu li {height:300px;}
	.quickMenu li a.quick01 {background-size:230px;}
	.quickMenu li a.quick02 {background-size:230px;}
	.quickMenu li a.quick03 {background-size:230px;}
	.quickMenu li a.quick04 {background-size:230px;}
	.quickMenu li a.quick05 {background-size:230px;}
	.quickMenu li a.quick06 {background-size:230px;}
	.quickMenu li a.quick07 {background-size:230px;}
	.quickMenu li a.quick08 {background-size:230px;}
}

@media all and (max-width:900px){
	.quickMenu li {width:49.4%;}
}

@media all and (max-width:768px){
	.quickMenu li {height:230px;}
	.quickMenu li a div h4 {font-size:18px;color:#fff;}
	.quickMenu li a div p {font-size:13px;color:#fff;}

	.quickMenu li a.quick01 {background-size:200px;background-position:50% top;margin-bottom:0;}
	.quickMenu li a.quick02 {background-size:200px;background-position:50% top;margin-bottom:0;}
	.quickMenu li a.quick03 {background-size:200px;background-position:50% top;margin-bottom:0;}
	.quickMenu li a.quick04 {background-size:200px;background-position:50% top;margin-bottom:0;}
	.quickMenu li a.quick05 {background-size:200px;background-position:50% top;margin-bottom:0;}
	.quickMenu li a.quick06 {background-size:200px;background-position:50% top;margin-bottom:0;}
	.quickMenu li a.quick07 {background-size:200px;background-position:50% top;margin-bottom:0;}
	.quickMenu li a.quick08 {background-size:200px;background-position:50% top;margin-bottom:0;}

	.quickMenu li.quick-1 {margin-bottom: 10px;}
	.quickMenu li.quick-2 {margin-bottom: 10px;}
	.quickMenu li.quick-3 {margin-bottom: 10px;}
	.quickMenu li.quick-4 {margin-bottom: 10px;}
}

@media all and (max-width:550px){
	.quickMenu li {height:180px;}
	.quickMenu li a div h4 {font-size:16px;color:#fff;}
	.quickMenu li a div p {font-size:12px;color:#fff;}

	.quickMenu li a.quick01 {background-size:150px;margin-bottom:0;}
	.quickMenu li a.quick02 {background-size:150px;margin-bottom:0;}
	.quickMenu li a.quick03 {background-size:150px;margin-bottom:0;}
	.quickMenu li a.quick04 {background-size:150px;margin-bottom:0;}
	.quickMenu li a.quick05 {background-size:150px;margin-bottom:0;}
	.quickMenu li a.quick06 {background-size:150px;margin-bottom:0;}
	.quickMenu li a.quick07 {background-size:150px;margin-bottom:0;}
	.quickMenu li a.quick08 {background-size:150px;margin-bottom:0;}
}

@media all and (max-width:425px){
	.quickMenu li {height:165px;}
	.quickMenu li a div h4 {font-size:14px;color:#fff;}
	.quickMenu li a div p {font-size:12px;color:#fff;}

	.quickMenu li a.quick01 {background-size:130px;margin-bottom:0;}
	.quickMenu li a.quick02 {background-size:130px;margin-bottom:0;}
	.quickMenu li a.quick03 {background-size:130px;margin-bottom:0;}
	.quickMenu li a.quick04 {background-size:130px;margin-bottom:0;}
	.quickMenu li a.quick05 {background-size:130px;margin-bottom:0;}
	.quickMenu li a.quick06 {background-size:130px;margin-bottom:0;}
	.quickMenu li a.quick07 {background-size:130px;margin-bottom:0;}
	.quickMenu li a.quick08 {background-size:130px;margin-bottom:0;}
}
