<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.whalesoft.app.cms.terms.TermsDao">

	<select id="getTermsList" resultType="kr.co.whalesoft.app.cms.terms.Terms">
        ${pagingTop}
		SELECT
			TERMS_IDX, TERMS_TYPE, TITLE, CONTENTS, USE_YN, DELETE_YN, ADD_ID, TO_CHAR(ADD_DATE,'YYYY-MM-DD') AS ADD_DATE, MODIFY_ID, MODIFY_DATE,
			(SELECT A.CODE_NAME FROM CMS_CODE A WHERE A.GROUP_ID = 'C0015' AND A.CODE_ID = CMS_TERMS.TERMS_TYPE) AS TERMS_TYPE_NAME
		FROM
			CMS_TERMS
		WHERE DELETE_YN = 'N'
			<if test="search_type != null and search_type != '' and search_text != null and search_text != ''">
			AND	${search_type} LIKE '%'||#{search_text}||'%'
			</if>
		ORDER BY
			TERMS_IDX ASC
        ${pagingBottom}
	</select>
	
	<select id="getTermsListCount" resultType="int">
		SELECT
			COUNT(*)
		FROM
			CMS_TERMS
		WHERE DELETE_YN = 'N'
			<if test="search_type != null and search_type != '' and search_text != null and search_text != ''">
			AND	${search_type} LIKE '%'||#{search_text}||'%'
			</if>
		ORDER BY
			TERMS_IDX ASC
	</select>
	
	<select id="getTermsOne" resultType="kr.co.whalesoft.app.cms.terms.Terms">
		SELECT
			TERMS_IDX, TERMS_TYPE, TITLE, CONTENTS, USE_YN, DELETE_YN, ADD_ID, ADD_DATE, MODIFY_ID, MODIFY_DATE,
			(SELECT A.CODE_NAME FROM CMS_CODE A WHERE A.GROUP_ID = 'C0015' AND A.CODE_ID = CMS_TERMS.TERMS_TYPE) AS TERMS_TYPE_NAME
		FROM
			CMS_TERMS
		WHERE 
			DELETE_YN = 'N' AND
			TERMS_IDX = #{terms_idx}
	</select>
	
	<insert id="addTerms">
		<selectKey keyProperty="terms_idx" resultType="int" order="BEFORE">
			SELECT NVL(MAX(terms_idx),0)+1 FROM CMS_TERMS
		</selectKey>
		INSERT INTO CMS_TERMS
		(
			TERMS_IDX, TERMS_TYPE, TITLE, CONTENTS, USE_YN, DELETE_YN, ADD_ID, ADD_DATE, MODIFY_ID, MODIFY_DATE
		) VALUES (
			#{terms_idx}, #{terms_type}, #{title}, #{contents}, #{use_yn}, 'N', #{add_id}, SYSDATE, #{add_id}, SYSDATE
		)
	</insert>
	
	<update id="modifyTerms">
		UPDATE CMS_TERMS
		SET
			TERMS_TYPE = #{terms_type},
			TITLE = #{title},
			CONTENTS = #{contents},
			USE_YN = #{use_yn},
			MODIFY_ID = #{add_id},
			MODIFY_DATE = SYSDATE
		WHERE
			TERMS_IDX = #{terms_idx}
	</update>
	
	<update id="deleteTerms">
		UPDATE CMS_TERMS
		SET
			DELETE_YN = 'Y'
		WHERE
			TERMS_IDX = #{terms_idx}
	</update>

	<select id="getTermsListInModule" resultType="kr.co.whalesoft.app.cms.terms.Terms">
		SELECT 
			TERMS_IDX, TERMS_TYPE, TITLE, CONTENTS, USE_YN, DELETE_YN, ADD_ID, TO_CHAR(ADD_DATE,'YYYY-MM-DD') AS ADD_DATE, MODIFY_ID, MODIFY_DATE,
			(SELECT A.CODE_NAME FROM CMS_CODE A WHERE A.GROUP_ID = 'C0015' AND A.CODE_ID = CMS_TERMS.TERMS_TYPE) AS TERMS_TYPE_NAME
		FROM
			CMS_TERMS
		WHERE
			TERMS_IDX IN (SELECT TERMS_IDX FROM CMS_MODULE_TERMS WHERE MODULE_IDX = #{module_idx})
			AND DELETE_YN = 'N' AND USE_YN = 'Y'
		ORDER BY
		    TERMS_IDX
	</select>

	<select id="getTermsListNotInModule" resultType="kr.co.whalesoft.app.cms.terms.Terms">
		SELECT 
			TERMS_IDX, TERMS_TYPE, TITLE, CONTENTS, USE_YN, DELETE_YN, ADD_ID, TO_CHAR(ADD_DATE,'YYYY-MM-DD') AS ADD_DATE, MODIFY_ID, MODIFY_DATE,
			(SELECT A.CODE_NAME FROM CMS_CODE A WHERE A.GROUP_ID = 'C0015' AND A.CODE_ID = CMS_TERMS.TERMS_TYPE) AS TERMS_TYPE_NAME
		FROM
			CMS_TERMS
		WHERE
			TERMS_IDX NOT IN (SELECT TERMS_IDX FROM CMS_MODULE_TERMS WHERE MODULE_IDX = #{module_idx})
			AND DELETE_YN = 'N' AND USE_YN = 'Y'
	</select>

</mapper>