<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.whalesoft.app.cms.mainImg.MainImgDao">

	<select id="getMainImgListAll" resultType="kr.co.whalesoft.app.cms.mainImg.MainImg">
			SELECT
				HOMEPAGE_ID, IMG_IDX, TITLE, IMG_FILE_NAME, REAL_FILE_NAME, FILE_EXTENSION, FILE_SIZE, USE_YN, PRINT_SEQ, TO_CHAR(ADD_DATE, 'yyyy-mm-dd hh24:mm') AS ADD_DATE, MAINIMG_LINK
			FROM
				CMS_MAIN_IMG
			WHERE HOMEPAGE_ID = #{homepage_id} AND USE_YN = 'Y'
				<if test="search_type != null and search_type != '' and search_text != null and search_text != ''">
				AND	${search_type} LIKE '%'||#{search_text}||'%'
				</if>
			ORDER BY
				PRINT_SEQ ASC, add_date DESC
	</select>

	<select id="getMainImgList" resultType="kr.co.whalesoft.app.cms.mainImg.MainImg">
		${pagingTop}
			SELECT
				HOMEPAGE_ID, IMG_IDX, TITLE, IMG_FILE_NAME, REAL_FILE_NAME, FILE_EXTENSION, FILE_SIZE, USE_YN, PRINT_SEQ, TO_CHAR(ADD_DATE, 'yyyy-mm-dd hh24:mm') AS ADD_DATE, MAINIMG_LINK
			FROM
				CMS_MAIN_IMG
			WHERE HOMEPAGE_ID = #{homepage_id}
				<if test="search_type != null and search_type != '' and search_text != null and search_text != ''">
				AND	${search_type} LIKE '%'||#{search_text}||'%'
				</if>
			ORDER BY
				PRINT_SEQ ASC, add_date DESC
		${pagingBottom}
	</select>

	<select id="getMainImgListCount" resultType="int">
		SELECT
			COUNT(*)
		FROM
			CMS_MAIN_IMG
		WHERE HOMEPAGE_ID = #{homepage_id}
			<if test="search_type != null and search_type != '' and search_text != null and search_text != ''">
			AND	${search_type} LIKE '%'||#{search_text}||'%'
			</if>
		ORDER BY
			PRINT_SEQ ASC, add_date DESC
	</select>

	<select id="getMainImgOne" resultType="kr.co.whalesoft.app.cms.mainImg.MainImg">
		SELECT
			HOMEPAGE_ID, IMG_IDX, TITLE, IMG_FILE_NAME, REAL_FILE_NAME, FILE_EXTENSION, FILE_SIZE, USE_YN, PRINT_SEQ, TO_CHAR(ADD_DATE, 'yyyy-mm-dd hh24:mm') AS ADD_DATE, MAINIMG_LINK
		FROM
			CMS_MAIN_IMG
		WHERE HOMEPAGE_ID = #{homepage_id} AND IMG_IDX = #{img_idx}
	</select>

	<insert id="addMainImg">
		<selectKey keyProperty="img_idx" resultType="int" order="BEFORE">
			SELECT NVL(MAX(img_idx),0)+1 FROM CMS_MAIN_IMG WHERE HOMEPAGE_ID = #{homepage_id}
		</selectKey>

		INSERT INTO CMS_MAIN_IMG
		(
			HOMEPAGE_ID, IMG_IDX, TITLE, IMG_FILE_NAME, REAL_FILE_NAME, FILE_EXTENSION, FILE_SIZE, USE_YN, PRINT_SEQ, ADD_DATE, MAINIMG_LINK
		) VALUES (
			#{homepage_id}, #{img_idx}, #{title}, #{img_file_name}, #{real_file_name}, #{file_extension}, #{file_size}, #{use_yn}, #{print_seq}, SYSDATE, #{mainImg_link}
		)
	</insert>

	<update id="modifyMainImg">
		UPDATE
			CMS_MAIN_IMG
		SET
			TITLE = #{title},
			<if test="real_file_name != null and real_file_name != ''">
			IMG_FILE_NAME = #{img_file_name},
			REAL_FILE_NAME = #{real_file_name},
			FILE_EXTENSION = #{file_extension},
			FILE_SIZE = #{file_size},
			</if>
			<if test="mainImg_link != null and mainImg_link != ''">
			MAINIMG_LINK = #{mainImg_link},
			</if>
			USE_YN = #{use_yn},
			PRINT_SEQ = #{print_seq}
		WHERE
			HOMEPAGE_ID = #{homepage_id} AND IMG_IDX = #{img_idx}
	</update>

	<delete id="deleteMainImg">
		DELETE FROM CMS_MAIN_IMG
		WHERE
			HOMEPAGE_ID = #{homepage_id} AND IMG_IDX = #{img_idx}
	</delete>

</mapper>