@charset "utf-8";
/*메인타입 - 01 import*/
@import url("/resources/common/css/layout/main_type02.css");

/*팝업존+공지타입 - 02 import*/
@import url("/resources/common/css/layout/notice_type02.css");

/*문화행사+일정타입 - 02 import*/
@import url("/resources/common/css/layout/culture_type02.css");

/*도서타입 - 02 import*/
@import url("/resources/common/css/layout/book_type02.css");

/*큐레이션타입 - 04 import*/
@import url("/resources/common/css/layout/curation_type04.css");

#main0 .main0-top .search-box .main-box button{background:#0092cf url('/resources/homepage/cs/img/main/srch-icon.png') no-repeat center center;}

#main0 .main0-bottom .qmenu li a:hover,
#main0 .main0-bottom .qmenu li a:focus {background:#0677b8;}

#main0 .main0-bottom .qmenu .bx-prev,
#main0 .main0-bottom .qmenu .bx-next{display:none;}

#main1 .main1_wrap .main1-left-box .list ul li div{background:#0677b8;border:1px solid #0677b8;}

#main2 .event-box .list ul li div p b{color:#0677b8;}
#main2 .event-box .list ul li:first-child:hover div{background:#0677b8 url('/resources/common/img/culture_type02/event-icon01-hover.png')no-repeat center 80px;}
#main2 .event-box .list ul li:nth-child(2):hover div{background:#0677b8 url('/resources/common/img/culture_type02/event-icon02-hover.png')no-repeat center 80px;}
#main2 .event-box .list ul li:last-child:hover div{background:#0677b8 url('/resources/common/img/culture_type02/event-icon03-hover.png')no-repeat center 80px;}

.cal-tbl td div{font-size:15px;padding:1.8px 0;font-family:'S-Core Dream 5';color:#000;width:40px;height:40px;display:inline-block;line-height:45px;}
.cal-tbl td div span{font-size:15px;color:#fff;padding-top:6px;font-family:'S-Core Dream 5';width:40px;height:40px;display:inline-block;line-height:30px;}
.cal-tbl td .hu{background:url('/resources/common/img/culture_type04/cal-close-bg.png') no-repeat center top;}
.cal-tbl td .ev{background:url('/resources/common/img/culture_type04/cal-event-bg.png') no-repeat center top;}

@media all and (max-width:1200px){
	#main2 .event-box .list ul li:first-child:hover div{background:#0677b8 url('/resources/common/img/transparent.png')no-repeat !important;}
	#main2 .event-box .list ul li:nth-child(2):hover div{background:#0677b8 url('/resources/common/img/transparent.png')no-repeat !important;}
	#main2 .event-box .list ul li:last-child:hover div{background:#0677b8 url('/resources/common/img/transparent.png')no-repeat !important;}
}

@media all and (max-width:1024px){
	#header h1{padding-top:3px;}
}

@media all and (max-width:768px){
	#main0 .main0-bottom .qmenu .bx-prev,
	#main0 .main0-bottom .qmenu .bx-next{display:block;}
}

@media all and (max-width:450px){
	.cal-tbl td div,
	.cal-tbl td div span{font-size:13px;}
	.cal-tbl th, .cal-tbl td{padding:1px 5px;}
}