<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.go.gbelib.app.cms.module.elib.book.BookDao">
	
	<sql id="search">
		<choose>
		<when test='approved_yn == "N"'>
		AND approved_yn = 'N'
		</when>
		<otherwise>
		AND approved_yn != 'N'
		</otherwise>
		</choose>
		<if test=" search_type != null and search_type != '' and search_text != '' and search_text != '' "> 
		AND	UPPER(REPLACE(a.${search_type}, ' ')) LIKE '%'||UPPER(REPLACE(#{search_text}, ' '))||'%'
		</if>
		<if test="parent_id != null and parent_id != ''">
		AND a.parent_id = #{parent_id}
		</if>
		<if test="cate_id != null and cate_id != ''">
		AND a.cate_id = #{cate_id}
		</if>
		<if test="com_code != null and com_code != ''">
		AND a.com_code = #{com_code}
		</if>
		<if test="library_code != null and library_code != ''">
		AND a.library_code = #{library_code}
		</if>
		<if test="device != null and device != ''">
		AND a.device = #{device}
		</if>
	</sql>
	
	<sql id="sort">
		<choose>
		<when test="sortField != null and sortField != ''">
		ORDER BY DECODE(a.library_code,'9999999',1,99) ASC, a.${sortField} ${sortType} NULLS LAST, a.book_idx DESC
		</when>
		<otherwise>
		ORDER BY DECODE(a.library_code,'9999999',1,99) ASC, a.book_idx DESC NULLS LAST, a.book_name
		</otherwise>
		</choose>
	</sql>
	
	<sql id="audiobookColumns">
		,f.link_url, f.mobile_link_url
	</sql>
	
	<sql id="elearningColumns">
		,lesson_no ,lesson_name ,lesson_url, mobile_url
	</sql>
	
	<select id="getBookListCnt" resultType="int">
		SELECT
			COUNT(*) AS cnt
		FROM
			ELIB_BOOK a
		WHERE
			a.use_yn != 'N'
		<if test="type != null and type != ''">
		AND a.type = #{type}
		</if>
		<include refid="search"/>
	</select>
	
	<select id="getBookList" resultType="kr.go.gbelib.app.cms.module.elib.book.Book">
		${pagingTop}
		SELECT
			a.book_idx, a.book_code, a.cate_id, a.book_name, a.author_name,
			a.book_pubname, a.isbn13, a.book_lend,
			a.lend_total, a.max_lend, a.book_reserve, a.com_code, TO_CHAR(a.book_pubdt, 'YYYY-MM-DD') AS book_pubdt,
			a.book_regdt, a.use_yn, a.type,
			a.format, a.book_image, a.parent_id,
			a.recommend_cnt, a.library_code,
			a.approved_yn,
			(SELECT z.cate_name FROM ELIB_CATEGORY z WHERE z.cate_id = a.cate_id) AS cate_name,
			CASE WHEN a.library_code = '9999999' THEN '통합' ELSE e.homepage_name END AS library_name,
			(SELECT z.cate_name FROM ELIB_CATEGORY z WHERE z.cate_id = a.parent_id) AS parent_name,
			d.book_info, <!-- d.author_info, d.book_table, -->
			(SELECT z.comp_name FROM ELIB_COMPANY z WHERE INSTR(z.com_code, a.com_code) > 0) AS comp_name,
			g.bestbook_idx, h.cat_bestbook_idx, a.device,
			CASE a.device
			WHEN '1' THEN 'PC'
			WHEN '2' THEN 'PC, 태블릿'
			WHEN '3' THEN 'PC, 태블릿, 스마트폰'
			END AS label
		FROM
			ELIB_BOOK a,
			ELIB_BOOKINFO d,
			CMS_HOMEPAGE e
			,ELIB_BESTBOOK g
			,ELIB_CATEGORY_BESTBOOK h
		WHERE
			a.use_yn != 'N'
		AND a.book_idx = d.book_idx
		AND a.library_code = SUBSTR(e.homepage_code(+), 1, 8)
		AND a.book_idx = g.book_idx (+)
		AND a.book_code = h.book_code (+)
		<if test="type != null and type != ''">
		AND a.type = #{type}
		</if>
		<include refid="search"/>
		<include refid="sort"/>
		${pagingBottom}
	</select>
	
	<select id="getBookListCntCms" resultType="int">
		SELECT
			COUNT(*) AS cnt
		FROM
			ELIB_BOOK a,
			ELIB_CATEGORY b
			,ELIB_BESTBOOK g
			,ELIB_CATEGORY_BESTBOOK h
		WHERE
		b.delete_yn = 'N'
		AND a.cate_id = b.cate_id
		AND a.book_idx = g.book_idx (+)
		AND a.book_code = h.book_code (+)
		<if test="type != null and type != ''">
		AND a.type = #{type}
		</if>
		<if test="option == 'BESTBOOK'">
		AND g.bestbook_idx IS NULL
		</if>
		<if test="option == 'CATEGORYBESTBOOK'">
		AND h.cat_bestbook_idx IS NULL
		</if>
		<include refid="search"/>
	</select>
	
	<select id="getBookListCms" resultType="kr.go.gbelib.app.cms.module.elib.book.Book">
		${pagingTop}
		SELECT
			a.book_idx, a.book_code, a.cate_id, a.book_name, a.author_name,
			a.book_pubname, a.isbn13, a.book_lend,
			a.lend_total, a.max_lend, a.book_reserve, a.com_code, TO_CHAR(a.book_pubdt, 'YYYY-MM-DD') AS book_pubdt,
			TO_CHAR(a.add_date, 'YYYY-MM-DD') AS add_date,
			a.book_regdt, a.use_yn, a.type,
			a.format, a.book_image, a.parent_id,
			a.recommend_cnt, a.library_code,
			a.approved_yn,
			(SELECT z.cate_name FROM ELIB_CATEGORY z WHERE z.cate_id = a.cate_id) AS cate_name,
			CASE WHEN a.library_code = '9999999' THEN '통합' ELSE e.homepage_name END AS library_name,
			(SELECT z.cate_name FROM ELIB_CATEGORY z WHERE z.cate_id = a.parent_id) AS parent_name,
<!-- 			d.book_info, d.author_info, d.book_table, -->
			(SELECT z.comp_name FROM ELIB_COMPANY z WHERE INSTR(z.com_code, a.com_code) > 0) AS comp_name,
			g.bestbook_idx, h.cat_bestbook_idx, a.device,
			CASE a.device
			WHEN '1' THEN 'PC'
			WHEN '2' THEN 'PC, 태블릿'
			WHEN '3' THEN 'PC, 태블릿, 스마트폰'
			END AS label
		FROM
			ELIB_BOOK a,
			ELIB_BOOKINFO d,
			CMS_HOMEPAGE e
			,ELIB_BESTBOOK g
			,ELIB_CATEGORY_BESTBOOK h
		WHERE 1=1
		AND a.book_idx = d.book_idx
		AND a.library_code = SUBSTR(e.homepage_code, 1, 8)
		AND a.book_idx = g.book_idx (+)
		AND a.book_code = h.book_code (+)
		<if test="type != null and type != ''">
		AND a.type = #{type}
		</if>
		<if test="option == 'BESTBOOK'">
		AND g.bestbook_idx IS NULL
		</if>
		<if test="option == 'CATEGORYBESTBOOK'">
		AND h.cat_bestbook_idx IS NULL
		</if>
		<include refid="search"/>
		<include refid="sort"/>
		${pagingBottom}
	</select>
	
	<select id="getBookListCntUpload" resultType="int">
		SELECT
			COUNT(*) AS cnt
		FROM
			ELIB_BOOK a
		WHERE 1=1
		<include refid="search"/>
	</select>
	
	<select id="getBookListUpload" resultType="kr.go.gbelib.app.cms.module.elib.book.Book">
		${pagingTop}
		SELECT
			a.book_idx, a.book_code, a.cate_id, a.book_name, a.author_name,
			a.book_pubname, a.isbn13, a.book_lend,
			a.lend_total, a.max_lend, a.book_reserve, a.com_code, TO_CHAR(a.book_pubdt, 'YYYY-MM-DD') AS book_pubdt,
			a.book_regdt, a.use_yn, a.type,
			a.format, a.book_image, a.parent_id,
			a.recommend_cnt, a.library_code,
			a.approved_yn,
			(SELECT z.cate_name FROM ELIB_CATEGORY z WHERE z.cate_id = a.cate_id) AS cate_name,
			CASE WHEN a.library_code = '9999999' THEN '통합' ELSE e.homepage_name END AS library_name,
			(SELECT z.cate_name FROM ELIB_CATEGORY z WHERE z.cate_id = a.parent_id) AS parent_name,
<!-- 			d.book_info, d.author_info, d.book_table, -->
			(SELECT z.comp_name FROM ELIB_COMPANY z WHERE INSTR(z.com_code, a.com_code) > 0) AS comp_name,
			a.device,
			CASE a.device
			WHEN '1' THEN 'PC'
			WHEN '2' THEN 'PC, 태블릿'
			WHEN '3' THEN 'PC, 태블릿, 스마트폰'
			END AS label
		FROM
			ELIB_BOOK a,
			ELIB_BOOKINFO d,
			CMS_HOMEPAGE e
<!-- 			,ELIB_AUDIOBOOK f -->
<!-- 			,ELIB_COURSE j -->
		WHERE 1=1
		AND a.book_idx = d.book_idx
		AND a.library_code = e.homepage_code
<!-- 		AND a.book_idx = f.book_idx -->
<!-- 		AND a.book_idx = j.book_idx -->
		<include refid="search"/>
		<include refid="sort"/>
		${pagingBottom}
	</select>
	
	<select id="getBookListAll" resultType="kr.go.gbelib.app.cms.module.elib.book.Book">
		SELECT
			a.book_idx, a.book_code, a.cate_id, a.book_name, a.author_name,
			a.book_pubname, a.isbn13, a.book_lend,
			a.lend_total, a.max_lend, a.book_reserve, a.com_code, TO_CHAR(a.book_pubdt, 'YYYY-MM-DD') AS book_pubdt,
			TO_CHAR(a.add_date, 'YYYY-MM-DD') AS add_date,
			a.book_regdt, a.use_yn, a.type,
			a.format, a.book_image, a.parent_id,
			a.recommend_cnt, a.library_code,
			a.approved_yn,
			(SELECT z.cate_name FROM ELIB_CATEGORY z WHERE z.cate_id = a.cate_id) AS cate_name,
			CASE WHEN a.library_code = '9999999' THEN '통합' ELSE e.homepage_name END AS library_name,
			(SELECT z.cate_name FROM ELIB_CATEGORY z WHERE z.cate_id = a.parent_id) AS parent_name,
<!-- 			d.book_info, d.author_info, d.book_table, -->
			(SELECT z.comp_name FROM ELIB_COMPANY z WHERE INSTR(z.com_code, a.com_code) > 0) AS comp_name,
			a.device,
			CASE a.device
			WHEN '1' THEN 'PC'
			WHEN '2' THEN 'PC, 태블릿'
			WHEN '3' THEN 'PC, 태블릿, 스마트폰'
			END AS label
		FROM
			ELIB_BOOK a,
<!-- 			ELIB_BOOKINFO d, -->
			CMS_HOMEPAGE e
		WHERE
			a.use_yn != 'N'
<!-- 		AND a.book_idx = d.book_idx -->
		AND a.library_code = SUBSTR(e.homepage_code, 1, 8)
		AND a.type = #{type}
		<include refid="search"/>
		<include refid="sort"/>
	</select>
	
	<select id="getBookInfo" resultType="kr.go.gbelib.app.cms.module.elib.book.Book">
		SELECT
			a.book_idx, a.book_code, a.cate_id, a.book_name, a.author_name,
			a.book_pubname, a.isbn13, a.book_lend,
			a.lend_total, a.max_lend, a.book_reserve, a.com_code, TO_CHAR(a.book_pubdt, 'YYYY-MM-DD') AS book_pubdt,
			TO_CHAR(a.add_date, 'YYYY-MM-DD') AS add_date,
			TO_CHAR(a.book_regdt, 'YYYY-MM-DD') AS book_regdt, a.use_yn, a.type,
			a.format, a.book_image, a.parent_id,
			a.recommend_cnt, a.library_code,
			a.approved_yn,
			(SELECT z.cate_name FROM ELIB_CATEGORY z WHERE z.cate_id = a.cate_id) AS cate_name,
			d.book_info, d.author_info, d.book_table,
			CASE WHEN a.library_code = '9999999' THEN '통합' ELSE e.homepage_name END AS library_name,
			(SELECT z.cate_name FROM ELIB_CATEGORY z WHERE z.cate_id = a.parent_id) AS parent_name,
			(SELECT z.comp_name FROM ELIB_COMPANY z WHERE INSTR(z.com_code, a.com_code) > 0) AS comp_name,
			g.bestbook_idx, h.cat_bestbook_idx, a.device,
			CASE a.device
			WHEN '1' THEN 'PC'
			WHEN '2' THEN 'PC, 태블릿'
			WHEN '3' THEN 'PC, 태블릿, 스마트폰'
			END AS label
		FROM
			ELIB_BOOK a,
			ELIB_BOOKINFO d,
			CMS_HOMEPAGE e
			,ELIB_BESTBOOK g
			,ELIB_CATEGORY_BESTBOOK h
		WHERE
			a.book_idx = #{book_idx}
		AND a.book_idx = d.book_idx
		AND a.book_idx = g.book_idx (+)
		AND a.book_code = h.book_code (+)
		AND a.library_code = SUBSTR(e.homepage_code, 1, 8)
	</select>
	
	<select id="codeDupCheck" resultType="int">
		SELECT
			COUNT(*) AS cnt
		FROM
			ELIB_BOOK
		WHERE
			book_code = #{book_code}
		AND library_code = #{library_code}
		AND com_code = #{com_code}
	</select>
	
	<select id="elearningCodeDupCheck" resultType="int"> 
		SELECT
			COUNT(*) AS cnt
		FROM
			ELIB_COURSE
		WHERE
			lesson_name = #{lesson_name}
		AND lesson_no = #{lesson_no}
	</select>
	
	<select id="audiobookCodeDupCheck" resultType="int">
		SELECT
			COUNT(*) AS cnt
		FROM
			ELIB_AUDIOBOOK
		WHERE
			audio_name = #{audio_name}
		AND audio_no = #{audio_no}
	</select>
	
	<select id="getBookIdx" resultType="Integer">
		SELECT
			book_idx
		FROM
			ELIB_BOOK
		WHERE
			book_code = #{book_code}
		AND	library_code = #{library_code}
		AND com_code = #{com_code}
	</select>
	
	<select id="getLessonNo" resultType="Integer">
		SELECT
			lesson_no
		FROM
			ELIB_COURSE
		WHERE
			lesson_name = #{lesson_name}
		AND book_idx = #{book_idx}
	</select>
	
	<select id="getCourseIdx" resultType="Integer">
		SELECT
			course_idx
		FROM
			ELIB_COURSE
		WHERE
			lesson_name = #{lesson_name}
		AND lesson_no = #{lesson_no}
	</select>
	
	<select id="getAudioIdx" resultType="Integer">
		SELECT
			audio_idx
		FROM
			ELIB_AUDIOBOOK
		WHERE
			audio_name = #{audio_name}
		AND audio_no = #{audio_no}
	</select>
	
	<insert id="addBook">
		<selectKey keyProperty="book_idx" order="BEFORE" resultType="int">
			SELECT NVL(MAX(book_idx),0)+1 FROM ELIB_BOOK
		</selectKey>
		
		INSERT INTO ELIB_BOOK (
			book_idx, book_code, book_name, author_name, book_pubname,
			isbn13, format, book_image, parent_id, device,
			library_code, max_lend, use_yn, book_lend,
			book_reserve, com_code, book_pubdt, book_regdt,
			type, add_id, add_date, approved_yn, cate_id
		) VALUES (
			#{book_idx}, #{book_code}, #{book_name}, #{author_name}, #{book_pubname},
			#{isbn13}, #{format}, #{book_image}, #{parent_id}, #{device},
			#{library_code}, #{max_lend}, #{use_yn}, #{book_lend},
			#{book_reserve}, #{com_code}, TO_DATE(#{book_pubdt}, 'YYYY-MM-DD'), SYSDATE,
			#{type}, #{add_id}, SYSDATE, #{approved_yn},
			<choose>
			<when test="type == 'ADO'">
			#{parent_id}
			</when>
			<otherwise>
			#{cate_id}
			</otherwise>
			</choose>
		)
	</insert>
	
	<insert id="addBookInfo">
		INSERT INTO ELIB_BOOKINFO (
			book_idx, book_code, book_info, author_info, book_table, add_id, add_date
		) VALUES (
			#{book_idx}, #{book_code}, #{book_info}, #{author_info}, #{book_table}, #{add_id}, SYSDATE
		)
	</insert>

	<update id="modifyBook">
		UPDATE ELIB_BOOK SET
			book_code = #{book_code},
			book_name = #{book_name},
			author_name = #{author_name},
			book_pubname = #{book_pubname},
			isbn13 = #{isbn13},
			format = #{format},
			book_image = #{book_image},
			book_lend = #{book_lend},
			book_reserve = #{book_reserve},
			library_code = #{library_code},
			com_code = #{com_code},
			book_pubdt = TO_DATE(#{book_pubdt}, 'YYYY-MM-DD'),
			type = #{type},
			use_yn = #{use_yn},
			max_lend = #{max_lend},
			parent_id = #{parent_id},
			device = #{device},
			mod_id = #{mod_id},
			mod_date = SYSDATE,
			<choose>
			<when test="type == 'ADO'">
			cate_id = #{parent_id}
			</when>
			<otherwise>
			cate_id = #{cate_id}
			</otherwise>
			</choose>
		WHERE
			book_idx = #{book_idx}
	</update>
	
	<update id="modifyBookInfo">
		UPDATE ELIB_BOOKINFO SET
			book_code = #{book_code},
			book_info = #{book_info},
			author_info = #{author_info},
			book_table = #{book_table},
			mod_id = #{mod_id},
			mod_date = SYSDATE
		WHERE
			book_idx = #{book_idx}
	</update>
	
	<select id="dupCnt" resultType="int">
		select count(*) from elib_bookinfo where book_idx = #{book_idx}
	</select>
	
	<delete id="deleteBook">
		DELETE FROM ELIB_BOOK
		WHERE book_idx = #{book_idx}
	</delete>

	<delete id="deleteUnapprovedBook">
		DELETE FROM ELIB_BOOK
		WHERE book_idx = #{book_idx}
		AND approved = 'N'
	</delete>

	<delete id="deleteBookInfo">
		DELETE FROM ELIB_BOOKINFO WHERE book_idx = #{book_idx}
	</delete>
	
	<insert id="addAudiobook">
		<selectKey keyProperty="audio_idx" order="BEFORE" resultType="int">
			SELECT NVL(MAX(audio_idx),0)+1 FROM ELIB_AUDIOBOOK
		</selectKey>
		INSERT INTO ELIB_AUDIOBOOK (
			audio_idx, book_idx, link_url, mobile_link_url, add_id, add_date, audio_no, audio_name
		) values (
			#{audio_idx}, #{book_idx}, #{link_url}, #{mobile_link_url}, #{add_id}, SYSDATE, #{audio_no}, #{audio_name}
		)
	</insert>
	
	<update id="modifyAudiobook">
		UPDATE ELIB_AUDIOBOOK SET
			link_url = #{link_url},
			mobile_link_url = #{mobile_link_url},
			mod_id = #{mod_id},
			mod_date = SYSDATE
		WHERE
			book_idx = #{book_idx}
	</update>
	
	<delete id="deleteAudiobook">
		DELETE FROM ELIB_AUDIOBOOK WHERE book_idx = #{book_idx}
	</delete>
	
	<update id="recommendBook">
		UPDATE ELIB_BOOK SET
			recommend_cnt = recommend_cnt + 1
		WHERE
			book_idx = #{book_idx}
	</update>
	
	<insert id="addRecommendLog">
		INSERT INTO ELIB_RECOMMEND (
			recommend_idx, book_idx, regdt, member_id
		) values (
			ELIB_RECOMMEND_SEQ.NEXTVAL, #{book_idx}, SYSDATE, #{member_id}
		)
	</insert>
	
	<delete id="deleteRecommendLog">
		DELETE FROM ELIB_RECOMMEND WHERE book_idx = #{book_idx}
	</delete>
	
	<select id="recommendDupCheck" resultType="int">
		SELECT COUNT(*) AS cnt FROM ELIB_RECOMMEND WHERE book_idx = #{book_idx} AND member_id = #{member_id}
	</select>
	
	<sql id="getBookSearchedListSql">
		FROM
			ELIB_BOOK a,
<!-- 			ELIB_BOOKINFO d, -->
			CMS_HOMEPAGE e
		WHERE
			a.use_yn != 'N'
		<choose>
		<when test='approved_yn == "N"'>
		AND a.approved_yn = 'N'
		</when>
		<otherwise>
		AND a.approved_yn != 'N'
		</otherwise>
		</choose>
<!-- 		AND a.book_idx = d.book_idx -->
		AND a.library_code = SUBSTR(e.homepage_code, 1, 8)
		<if test="type != null and type != ''">
		AND a.type = #{type}
		</if>
		<if test="author_name != null and author_name != ''">
		AND a.author_name = #{author_name}
		</if>
		<if test="book_pubname != null and book_pubname != ''">
		AND a.book_pubname = #{book_pubname}
		</if>
		<if test="book_year != null and book_year != ''">
		AND TO_CHAR(a.book_pubdt, 'YYYY') = #{book_year}
		</if>
		<if test="device != null and device != ''">
		AND a.device = #{device}
		</if>
		<if test="search_text != null and search_text != ''">
		AND
		(
			UPPER(REPLACE(a.book_name, ' ')) LIKE '%'||UPPER(REPLACE(#{search_text}, ' '))||'%'
			OR
			UPPER(REPLACE(a.author_name, ' ')) LIKE '%'||UPPER(REPLACE(#{search_text}, ' '))||'%'
			OR
			UPPER(REPLACE(a.book_pubname, ' ')) LIKE '%'||UPPER(REPLACE(#{search_text}, ' '))||'%'
<!-- 			OR -->
<!-- 			d.book_info LIKE '%'||#{search_text}||'%' -->
<!-- 			OR -->
<!-- 			d.author_info LIKE '%'||#{search_text}||'%' -->
<!-- 			OR -->
<!-- 			d.book_table LIKE '%'||#{search_text}||'%' -->
		)
		</if>
<!-- 		<include refid="sort"/> -->
	</sql>
	
	<select id="getBookSearchedListCnt" resultType="int">
		SELECT
			COUNT(*)
		<include refid="getBookSearchedListSql"/>
	</select>
	
	<select id="getBookSearchedList" resultType="kr.go.gbelib.app.cms.module.elib.book.Book">
		${pagingTop}
		SELECT
			a.book_idx, a.book_code, a.cate_id, a.book_name, a.author_name,
			a.book_pubname, a.isbn13, a.book_lend,
			a.lend_total, a.max_lend, a.book_reserve, a.com_code, TO_CHAR(a.book_pubdt, 'YYYY-MM-DD') AS book_pubdt,
			a.book_regdt, a.use_yn, a.type,
			a.format, a.book_image, a.parent_id,
			a.recommend_cnt, a.library_code,
			a.approved_yn,
			(SELECT z.cate_name FROM ELIB_CATEGORY z WHERE z.cate_id = a.cate_id) AS cate_name,CASE WHEN a.library_code = '9999999' THEN '통합' ELSE e.homepage_name END AS library_name,
			(SELECT z.cate_name FROM ELIB_CATEGORY z WHERE z.cate_id = a.parent_id) AS parent_name,
<!-- 			d.book_info, d.author_info, d.book_table, -->
			(SELECT z.comp_name FROM ELIB_COMPANY z WHERE INSTR(z.com_code, a.com_code) > 0) AS comp_name,
			a.device,
			CASE a.device
			WHEN '1' THEN 'PC'
			WHEN '2' THEN 'PC, 태블릿'
			WHEN '3' THEN 'PC, 태블릿, 스마트폰'
			END AS label
		<include refid="getBookSearchedListSql"/>
		${pagingBottom}
	</select>
	
	<sql id="getBookCountByTypeSql">
		select
			type, count(type) as cnt,
			case type
				when 'EBK' then '전자책'
				when 'ADO' then '오디오북'
				when 'WEB' then '온라인강좌'
			end as name
		from elib_book
		where type is not null
		and type != ' '
		and use_yn = 'Y'
		<choose>
		<when test='approved_yn == "N"'>
		AND approved_yn = 'N'
		</when>
		<otherwise>
		AND approved_yn != 'N'
		</otherwise>
		</choose>
		<if test="search_text != null and search_text != ''">
		and
		(
			UPPER(REPLACE(book_name, ' ')) like '%'||UPPER(REPLACE(#{search_text}, ' '))||'%'
			or
			UPPER(REPLACE(author_name, ' ')) like '%'||UPPER(REPLACE(#{search_text}, ' '))||'%'
			or
			UPPER(REPLACE(book_pubname, ' ')) like '%'||UPPER(REPLACE(#{search_text}, ' '))||'%'
		)
		</if>
		group by type
	</sql>
	
	<select id="getBookCountByTypeCnt" resultType="int">
		select count(*) as cnt from (<include refid="getBookCountByTypeSql"/>)
	</select>
	
	<select id="getBookCountByType" resultType="kr.go.gbelib.app.cms.module.elib.book.Book">
		${pagingTop}
		select * from
		(
			<include refid="getBookCountByTypeSql"/>
		)
		order by cnt desc
		${pagingBottom}
	</select>
	
	<sql id="getBookCountByAuthorSql">
		select author_name, count(author_name) as cnt
		from elib_book
		where author_name is not null
		and author_name != ' '
		and use_yn = 'Y'
		<choose>
		<when test='approved_yn == "N"'>
		AND approved_yn = 'N'
		</when>
		<otherwise>
		AND approved_yn != 'N'
		</otherwise>
		</choose>
		<if test="search_text != null and search_text != ''">
		and
		(
			UPPER(REPLACE(book_name, ' ')) like '%'||UPPER(REPLACE(#{search_text}, ' '))||'%'
			or
			UPPER(REPLACE(author_name, ' ')) like '%'||UPPER(REPLACE(#{search_text}, ' '))||'%'
			or
			UPPER(REPLACE(book_pubname, ' ')) like '%'||UPPER(REPLACE(#{search_text}, ' '))||'%'
		)
		</if>
		group by author_name
	</sql>
	
	<select id="getBookCountByAuthorCnt" resultType="int">
		select count(*) as cnt from (<include refid="getBookCountByAuthorSql"/>)
	</select>
	
	<select id="getBookCountByAuthor" resultType="kr.go.gbelib.app.cms.module.elib.book.Book">
		${pagingTop}
		select * from
		(
			<include refid="getBookCountByAuthorSql"/>
		)
		order by cnt desc
		${pagingBottom}
	</select>
	
	<sql id="getBookCountByPublisherSql">
		select book_pubname, count(book_pubname) as cnt
		from elib_book
		where book_pubname is not null
		and book_pubname != ' '
		and use_yn = 'Y'
		<choose>
		<when test='approved_yn == "N"'>
		AND approved_yn = 'N'
		</when>
		<otherwise>
		AND approved_yn != 'N'
		</otherwise>
		</choose>
		<if test="search_text != null and search_text != ''">
		and
		(
			UPPER(REPLACE(book_name, ' ')) like '%'||UPPER(REPLACE(#{search_text}, ' '))||'%'
			or
			UPPER(REPLACE(author_name, ' ')) like '%'||UPPER(REPLACE(#{search_text}, ' '))||'%'
			or
			UPPER(REPLACE(book_pubname, ' ')) like '%'||UPPER(REPLACE(#{search_text}, ' '))||'%'
		)
		</if>
		group by book_pubname
	</sql>
	
	<select id="getBookCountByPublisherCnt" resultType="int">
		select count(*) as cnt from (<include refid="getBookCountByPublisherSql"/>)
	</select>
	
	<select id="getBookCountByPublisher" resultType="kr.go.gbelib.app.cms.module.elib.book.Book">
		${pagingTop}
		select * from
		(
			<include refid="getBookCountByPublisherSql"/>
		)
		order by cnt desc
		${pagingBottom}
	</select>
	
	<sql id="getBookCountByYearSql">
		select to_char(book_pubdt, 'YYYY') as book_year, count(book_pubdt) as cnt
		from elib_book
		where book_pubdt is not null
		and use_yn = 'Y'
		<choose>
		<when test='approved_yn == "N"'>
		AND approved_yn = 'N'
		</when>
		<otherwise>
		AND approved_yn != 'N'
		</otherwise>
		</choose>
		<if test="search_text != null and search_text != ''">
		and
		(
			UPPER(REPLACE(book_name, ' ')) like '%'||UPPER(REPLACE(#{search_text}, ' '))||'%'
			or
			UPPER(REPLACE(author_name, ' ')) like '%'||UPPER(REPLACE(#{search_text}, ' '))||'%'
			or
			UPPER(REPLACE(book_pubname, ' ')) like '%'||UPPER(REPLACE(#{search_text}, ' '))||'%'
		)
		</if>
		group by to_char(book_pubdt, 'YYYY')
	</sql>
	
	<select id="getBookCountByYearCnt" resultType="int">
		select count(*) as cnt from (<include refid="getBookCountByYearSql"/>)
	</select>
	
	<select id="getBookCountByYear" resultType="kr.go.gbelib.app.cms.module.elib.book.Book">
		${pagingTop}
		select * from
		(
			<include refid="getBookCountByYearSql"/>
		)
		order by cnt desc
		${pagingBottom}
	</select>
	
	<sql id="getBookCountByDeviceSql">
		SELECT
			device,
			(
				SELECT COUNT(*)
				FROM ELIB_BOOK z
				WHERE z.device = a.device
				and z.use_yn = 'Y'
				<if test="type != null and type != ''">
				and z.type = #{type}
				</if>
				<if test="search_text != null and search_text != ''">
				and
				(
					UPPER(REPLACE(z.book_name, ' ')) like '%'||UPPER(REPLACE(#{search_text}, ' '))||'%'
					or
					UPPER(REPLACE(z.author_name, ' ')) like '%'||UPPER(REPLACE(#{search_text}, ' '))||'%'
					or
					UPPER(REPLACE(z.book_pubname, ' ')) like '%'||UPPER(REPLACE(#{search_text}, ' '))||'%'
				)
				</if>
				<if test="approved_yn != null and approved_yn != ''">
				AND z.approved_yn = #{approved_yn}
				</if>
			) AS cnt,
			CASE DEVICE
			WHEN '1' THEN 'PC'
			WHEN '2' THEN 'PC, 태블릿'
			WHEN '3' THEN 'PC, 태블릿, 스마트폰'
			END AS label
		FROM
			 ELIB_BOOK a
		WHERE
			a.use_yn = 'Y'
		<choose>
		<when test='approved_yn == "N"'>
		AND a.approved_yn = 'N'
		</when>
		<otherwise>
		AND a.approved_yn != 'N'
		</otherwise>
		</choose>
		<if test="search_text != null and search_text != ''">
		and
		(
			UPPER(REPLACE(book_name, ' ')) like '%'||UPPER(REPLACE(#{search_text}, ' '))||'%'
			or
			UPPER(REPLACE(author_name, ' ')) like '%'||UPPER(REPLACE(#{search_text}, ' '))||'%'
			or
			UPPER(REPLACE(book_pubname, ' ')) like '%'||UPPER(REPLACE(#{search_text}, ' '))||'%'
		)
		</if>
		GROUP BY device
	</sql>
	
	<select id="getBookCountByDeviceCnt" resultType="int">
		select count(*) as cnt from (<include refid="getBookCountByDeviceSql"/>)
	</select>
	
	<select id="getBookCountByDevice" resultType="kr.go.gbelib.app.cms.module.elib.book.Book">
		${pagingTop}
		select * from
		(
			<include refid="getBookCountByDeviceSql"/>
		)
		order by cnt desc
		${pagingBottom}
	</select>
	
	<select id="getCourseList" resultType="kr.go.gbelib.app.cms.module.elib.book.Book">
		SELECT
			course_idx, lesson_no, lesson_name, lesson_url, book_idx, mobile_url
		FROM
			ELIB_COURSE
		WHERE
			book_idx = #{book_idx}
		ORDER BY course_idx
	</select>
	
	<select id="getAudioList" resultType="kr.go.gbelib.app.cms.module.elib.book.Book">
		SELECT
			audio_idx, book_idx, link_url, mobile_link_url, add_id, add_date, audio_no, audio_name
		FROM
			ELIB_AUDIOBOOK
		WHERE
			book_idx = #{book_idx}
		ORDER BY audio_idx
	</select>
	
	<insert id="addElearning">
		<selectKey keyProperty="course_idx" order="BEFORE" resultType="int">
			SELECT NVL(MAX(course_idx),0)+1 FROM ELIB_COURSE
		</selectKey>
		INSERT INTO ELIB_COURSE (
			course_idx, lesson_no, lesson_name, lesson_url, book_idx, mobile_url
		) VALUES (
			#{course_idx}, #{lesson_no}, #{lesson_name}, #{lesson_url}, #{book_idx}, #{mobile_url}
		)
	</insert>
	
	<update id="modifyElearning">
		UPDATE ELIB_COURSE SET
			lesson_no = #{lesson_no},
			lesson_name = #{lesson_name},
			lesson_url = #{lesson_url},
			mobile_url = #{mobile_url}
		WHERE
			course_idx = #{course_idx}
	</update>
	
	<update id="deleteElearning">
		DELETE FROM ELIB_COURSE WHERE book_idx = #{book_idx}
	</update>
	
	<update id="approveBook">
		UPDATE ELIB_BOOK SET
			approved_yn = 'Y'
		WHERE
			book_idx = #{book_idx}
	</update>
	
	<update id="disapproveBook">
		UPDATE ELIB_BOOK SET
			approved_yn = 'N'
		WHERE
			book_idx = #{book_idx}
	</update>
	
	<update id="approveBookAll">
		UPDATE ELIB_BOOK SET
			approved_yn = 'Y'
		WHERE
			approved_yn != 'Y'
	</update>

	<select id="getBookImage" resultType="String">
		SELECT book_image
		FROM (
				 SELECT book_image
				 FROM ELIB_BOOK
				 WHERE isbn13 = #{isbn13}
				 ORDER BY BOOK_IDX DESC
			 )
		WHERE ROWNUM = 1
	</select>
	
</mapper>