@charset "utf-8";
@import url("../../../common/css/type11.css");

.Gnb{background:#1f5d97}

.main4>div,
.main3>div>div{border:1px solid #e4e4e4;margin-left:-1px}
.main3 .lt1{width:26%}
.main3 .lt2{width:39%}
.main3 .lt3{width:35%}

.main .banner-wrap .banner-t{overflow:hidden}
.main .banner-wrap .banner-t h3{float:left}
.main .banner-wrap .banner-t .control{padding:1px 0 0 1px}
.main .banner-wrap .banner-box{padding-top:20px}
.main .banner-wrap .banner_more{padding-top:5px}
.main .banner-wrap .banner_more a{color:#ddd;font-size:220%}
.main .banner-wrap .banner_more a:hover{color:#c5c5c5}

.main h3 a{color:#acacac}
.main h3 a.active{color:#4c4c4c}
.main2 .mb4 a{background:none}

.main .like_book2 h3 span.bar{border-left:1px solid #d5d5d5;font-size:0;line-height:0;height:10px;margin:0 5px}
.main .like_book2 h3 a,
.main .like_book2 h3 span{display:inline-block;vertical-align:middle}
.main .like_book2 ul{overflow:hidden;padding:15px 0 0}
.main .like_book2 .bx-controls,
.main .like_book2 ul li{display:none}
.main .like_book2.on ul li,
.main .like_book2 ul li.active{display:block}
.main .like_book2 dt{font-weight:bold;width:100%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.main .like_book2 dt,
.main .like_book2 dt a{color:#f43a3d}
.main .like_book2 .thumb,
.main .like_book2 .snipet{float:left}
.main .like_book2 .thumb{width:87px}
.main .like_book2 .snipet{width:100%;margin-right:-87px}
.main .like_book2 .snipet dl{margin-right:87px;padding-left:8px}
.main .like_book2 .snipet dl label{font-weight:bold}
.main .like_book2 .snipet dl dt,
.main .like_book2 .snipet dl dd{line-height:130%}
.main .like_book2 .snipet dl dd{padding-top:5px}

.main3 .news li{padding:3px 40px 3px 10px}

/* 인사말 */
.greeting .color1{color:#81ba01}
.greeting .color2{color:#006eb8}

/* 연혁 */
.history{padding-top:10px}
.history-head{background-image:url('../img/contents/history_bg.gif')}
.history-head .t1{color:#4c8cbc}
@media all and (max-width:500px){
	.history-head{background:none}
}

/* 층별안내(배치도) */
.floorInfo .tab-menu{width:100%;float:none}
.floorInfo .tab-menu ul{margin-top:0}
.floorInfo .tab-menu li{width:25%;vertical-align:top}
.floorInfo .box p{text-align:center}
.floorInfo .box,
.floorInfo .box .floorImg{margin-right:0}
@media all and (max-width:1000px){
	.floorInfo .tab-menu li{width:33.33%}
}
@media all and (max-width:550px){
	.floorInfo .tab-menu li{width:50%}
}

/* 이용자봉사헌장 */
.box_s1 ul.con{border:1px solid #e5e5e5;background:#fafafa;padding:2% 3%;margin-bottom:1%}

/* 접속기록안내 */
#memberInfo{position:absolute;width:22%;left:98%;top:37%;background:#fff;margin-left:-35%;box-shadow:0px 1px 7px 0px rgba(0,0,0,0.5);z-index: 9;}
#memberInfo .inbox{position:relative;border:1px solid #ccc;padding:10px;}
#memberInfo .inbox dt{font-weight:bold;font-family:verdana;padding-bottom: 10px;}
#memberInfo .inbox dd{padding:3px 0}
a#closeMemberInfo{position:absolute;right:7px;top:5px;font-size:120%}
#line{width: 160px;}
div.loginInfo{padding-top: 8px;padding-bottom: 15px;}
span.fontRed{color: red;}
span.fontBlue{color: rgb(27,104,199);font-weight: bold;}
div.memberCon{background-color: rgb(240,240,240);border-radius: 1em;}
div.memberCon2{padding-top: 12px;padding-left: 10px;padding-right: 10px; padding-bottom: 28px;}
a.btnStyle{float: right;margin-top: 6px;}
#loginIcon{padding-top: 13px;padding-left:10px;}
.boxnImg{ float: left; }
.box2_1 { float: left; width: 34%; }
.box3_1 { float: left; width: 38%; border-left: 1px solid #ddd; }
.boxn { padding-top: 1%; padding-bottom: 1%; padding-left: 5%; }


/*20180917 일정 부분 추가*/
.calendar_box {border-top:1px solid #e4e4e4;border-bottom:1px solid #e4e4e4;margin-top:-1px}
.inBox1 div.title, .inBox1 div.contents{float:left}
.inBox1 div.title {width:18.4%;color:#fff;font-size:17px;background:#f43b40;text-align:center;padding:10px 0}
.inBox1 div.contents dl.info {padding:8px 0 4px 20px}
.inBox1 div.contents dl.info span {display:inline-block;font-weight:bold;font-size:13px;padding:5px 8px;border-radius:15px;background:#909090;color:#fff}

@media all and (max-width:1165px){
	.main .banner-wrap .banner-t h3{letter-spacing:-1px}
	.main .banner-wrap .banner-t .control a.next{display:none}
}
@media all and (max-width:1000px){
	.main1,.main2,.main3,.main4{overflow:visible}
	.main3{width:auto;float:none}
	.main3 .lt1{display:none}
	.main3 .lt2{width:100%}
	.main3 .lt3 .box{border-top-width:0}
	.main3 .lt3,
	.main4{width:50%;margin-top:-1px;margin-top:0}

	.main3 .lt2 .box{border-left-width:0;border-right-width:0}
	.main4 .box{border-width:0;border-left-width:1px}
}
@media all and (max-width:767px){
	.main4{width:100%}
	.main3 .box,
	.main4 .box{height:auto}
	.main4 .box ul{margin:0}
	.main3 .lt2 .box{border-right-width:0}
	.inBox1 div.title, .inBox1 div.contents{float:none}
	.inBox1 div.title {width:100%;}
	.inBox1 div.contents {text-align:center}
	.inBox1 div.contents dl.info {padding:6px 0 4px 0}
}
@media all and (max-width:550px){
	.main3 .lt2 .box{margin-left:0}
}