@charset "utf-8";

div.paging{
	clear:both;
	text-align:center;
	margin:5px 0 10px 0;
	padding:5px 0;	
}
div.paging strong{
	color:#fff;
	border:1px solid #2a364e;
	display:inline-block;
	font-weight:bold;
	height:22px;
	line-height:23px;
	text-align:center;
	vertical-align:middle;
	width:22px;
	background:#344059;
}
div.paging a.paging_num {
	background:#ececec;
	border:1px solid #cdcdcd;
	color:#585858;
	display:inline-block;
	height:22px;
	line-height:23px;
	text-align:center;
	text-decoration:none;
	vertical-align:middle;
	width:22px;
}
div.paging a.paging_num:hover {
	text-decoration:none;
	color:#585858;
}
div.paging img{
	vertical-align:middle;
}
div.paging .prev{
	padding:0 7px 0 2px ;
}
div.paging .next{
	padding:0 2px 0 5px ;
}