@charset "utf-8";

/* 스타일 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,address
{font-size:13px}

a:hover,
a:focus{color:#f07646}
.doc-body a:hover,
.doc-body a:focus{text-decoration:underline}

#header h1{position:absolute;z-index:10000;padding-top:15px}

.tnb{overflow:hidden;border-bottom:1px solid #ddd}
.tnb .util{text-align:right}
.tnb .util a{color:#707070;font-size:11px;border:1px solid #ddd;border-width:0 1px;height:30px;padding:8px 7px 2px 6px;text-align:center;display:inline-block;zoom:1;*display:inline;margin-left:-5px;background:#fff; top: 6px;}
.tnb .util a:hover{background:#d23a6d;color:#fff}

.tnb .util a:last-child{width:43px}
.mmode.curation {width: 35px;height: 35px;float: right;margin-top: 6px;margin-right: 5px;}
.mmode.curation img{width: 35px;height: 35px;}

.Gnb .g-menu,
.Gnb .search_m{display:inline-block;zoom:1;*display:inline;vertical-align:middle}
.Gnb .g-menu{width:88%;margin-right:2%}
.Gnb .search_m{width:58px; float: right;}
/* Gnb */
.Gnb{text-align:right;width:100%;height:77px;overflow:inherit;position:relative}
.Gnb .gnb-menu{position:relative;padding:0;margin:0}
.Gnb .gnb-menu>li{padding:0 1%;text-align:center;position:static;height:30px;margin:23px 0}
.Gnb .gnb-menu>li:first-child{background:none}
.Gnb .gnb-menu>li>a{padding:4px 5px 3px;font-size:16px;color:#222;font-weight:bold}
.Gnb .gnb-menu>li>ul{display:none;margin-top:16px;text-align:right;border:0;width:auto;padding-right:1%}
.Gnb .gnb-menu>li>ul{right:0}
.Gnb .gnb-menu>li>ul>li{white-space:nowrap}
.Gnb .gnb-menu>li.active>ul{display:block}
.Gnb .gnb-menu>li>.SubMenu>li{width:auto}
.Gnb .gnb-menu>li>.SubMenu>li,
.Gnb .gnb-menu>li>.SubMenu>li>a{color:#fff;display:inline-block;zoom:1;*display:inline;padding:3px 2px}
.Gnb .gnb-menu>li>.SubMenu>li>a{font-size:13px}
.Gnb .gnb-menu>li>.SubMenu>li>a:hover,
.Gnb .gnb-menu>li>.SubMenu>li>a:focus{background:none;color:#fec128}
.Gnb .gnb-menu>li.active>a,
.Gnb .gnb-menu>li>a:hover,
.Gnb .gnb-menu>li>a:focus{color:#29438d}
.Gnb .mask,
.Gnb .gnb-menu>li>ul{background:#001c58}
.Gnb .gnb-menu>li.menu1>ul,
.Gnb .gnb-menu>li.menu2>ul,
.Gnb .gnb-menu>li.menu3>ul,
.Gnb .gnb-menu>li.menu4>ul{text-align:center}

.Gnb .search_m a{display:block;border:1px solid #ddd;border-width:0 1px;box-sizing:border-box;width:100%;height:77px;background:url('/resources/homepage/gbccs/img/search_icon.jpg') no-repeat center center}
.Gnb .search_m a:hover{background:#1651b7 url('/resources/homepage/gbccs/img/search_iconon.png') no-repeat center center}

.search_v{display:none;position:absolute;top:117px;left:0;width:100%;height:53px;padding-top:17px;background:#001c58;z-index:2}
.search_v{width:100%}
.search_v .search{border:0;margin:0 auto}
.search_v .search legend{display:none}
.search_v .search,
.search_v .search input,
.search_v .search button,
.search_v .search button i{background:none;margin:0;padding:0}
.search_v .search input,
.search_v .search button,
.search_v .search button i{height:36px;line-height:36px}
.search_v .search-box{border:0;overflow:hidden;width:100%;float:left;margin-right:-50px;background:#fff}
.search_v .search-box form{padding-left:10px;margin-right:50px}
.search_v .search input{border:0;width:86%;float:left}
.search_v .search input:focus{outline:none}
.search_v .search fieldset{position:relative}
.search_v .search button{width:13%;padding:0;background:#0e419c;color:#fff;position:absolute;right:0;top:0;border-radius:0;border:0;font-weight:bold}
.search_v .search button i{font-size:20px;padding:0 15px}
.search_v .sea_clo{float:left;width:50px;background:#001c58}
.search_v .sea_clo a{display:block;width:100%;height:36px;background:url('/resources/homepage/gbccs/img/search_close.gif') no-repeat 90% center}

.main{background:#e8f5fd url('/resources/homepage/gbccs/img/main_img_bg.jpg') no-repeat center 0;border-top:1px solid #0e419c}
.main .box{height:120px;padding:15px 20px;display:block}
.main1{z-index:0;background:none!important;position:relative}
.main1 > div{position:relative;z-index:1}
.main1 > div.section{z-index:2;margin-top:-500px}
.main1 .main_txt{padding:8% 0 5%}
.main1 li{height:500px;font-size:0;line-height:0}
.main1 .bx-controls{display:none}
.main .main_img li{background-position:center 0;background-repeat:no-repeat}
.main .lt_center{z-index:1}
.main2{width:100%;position:relative}
.main3>div{float:left;width:33.3%;background:#fff;border:1px solid #ddd;border-width:1px 1px 1px 0px;box-sizing:border-box;position:relative}
.main3>div:first-child{width:33.4%;border-left-width:1px}
.main3{float:left;width:100%;position:relative;margin:20px 0;height:150px}
.main3 h3{font-size:20px;font-weight:bold;line-height:23px;color:#3e3e3e}
.main4{width:100%;float:left;position:relative;margin-bottom:20px}
.main4 > div {float:left;width:33.3%;height:185px}
.main4 > div:first-child{width:33.4%}

.main .quickMenu{width:49%;float:left;background:#fff;box-sizing:border-box}
.main .quickMenu ul{overflow:hidden;font-size:0;line-height:0;padding:1px 0 0 1px}
.main .quickMenu li{width:25%;display:inline-block;zoom:1;*display:inline}
.main .quickMenu li a{display:block;border:1px solid #ddd;margin:-1px 0 0 -1px;text-align:center;background-position:center 30%;background-repeat:no-repeat;height:123px!important;color:#6d6d6d;font-weight:bold;box-sizing:border-box}
.main .quickMenu li:hover{border-color:#d23a6d;position:relative}

.main .quickMenu li a span{font-size:13px;display:block;position: relative;top: 70%}
.main .quickMenu li a:hover{color:#fff;background-color:#d23a6d;border-color:#d23a6d;background-repeat:no-repeat}

.main .popupzone{position:relative;padding:0;width:49.1%;float:right;background:#f3fafe}
.main .popupzone li{text-align:right;z-index:9!important;line-height:0}
.main .popupzone .bx-pager{position:absolute;right:20px;top:20px;font-size:0;line-height:0;z-index:10!important}
.main .popupzone .bx-controls-direction{display:none}
.main .popupzone .bx-pager-item{padding:0 2px 0 3px;display:inline-block;zoom:1;*display:inline}
.main .popupzone .bx-pager a{display:block;border-radius:50%;width:8px;height:8px;background:#fff;border:1px solid #fff;font-size:0;line-height:0}
.main .popupzone .bx-pager a.active,
.main .popupzone .bx-pager a:hover,
.main .popupzone .bx-pager a:focus{background:#fdce40;border:1px solid #fdce40}
.main .news li{padding:0px 75px 0px 10px;background: url('../img/news_icon.gif') no-repeat 0 center}
.main .news h3{padding-bottom:15px}
.main .more_{right:20px;top:20px;font-size:0;line-height:0;position:absolute;background:url('../img/more_bt.gif') no-repeat 0 0;width:11px;height:11px}

.main .photo ul{padding-top:18px}
.main .photo{position:relative}
.main .photo .more{right:20px;top:20px;font-size:0;line-height:0;position:absolute;background:url('../img/more_bt.gif') no-repeat 0 0;width:11px;height:11px}
.main .photo ul{text-align:center;font-size:0;line-height:0;margin:0 -5px}
.main .photo li{display:inline-block;zoom:1;*display:inline;width:33%}
.main .photo li a{display:block;margin:0 5px}
.main .photo li img{width:100%}
.main .photo li.lt-gall4,
.main .photo li.lt-gall5{display:none}

.main4 .box{height:165px;padding:20px 20px;display:block}
.main .mb>div{float:left;width:50%;position:relative}
.main .mb1 a{background:url('../img/mt_bg1.jpg') no-repeat ;background-size:cover}
.main .mb1 a:hover{background:url('../img/mt_bg1on.jpg') no-repeat ;background-size:cover}
.main .mb a span{display:block;color:#fff;letter-spacing:-0.5px}
.main .mb .t2{font-size:13px;font-weight:bold}
.main .mb .t1{font-size:34px;line-height:105%}
.main .mb2 a{background:url('../img/mt_bg2.jpg') no-repeat;background-size:cover}
.main .mb2 a:hover{background:url('../img/mt_bg2on.jpg') no-repeat;background-size:cover}
.main .mb1 i,
.main .mb2 i{display:block;position:absolute;bottom:16px;left:20px;width:95px;font-size:15px;color:#fff;font-weight:bold;padding:4px 0px 4px 10px;border:1px solid #bbb9b2;background:rgba(24,11,0,0.6) url('../img/more_arr.png') no-repeat 90% center;font-style:normal}

.main .hot .box{background:#1651b7 url('../img/hmbg.png') no-repeat 95% bottom;}
.main .hot h3{font-size:16px;font-weight:bold;padding-bottom:23px;color:#fff}
.main .hot ul{font-size:0;line-height:0}
.main .hot li{position:relative;width:33.3%;display:inline-block;zoom:1;*display:inline;text-align:center}
.main .hot li a{display:inline-block;zoom:1;*display:inline;text-align:center;background-position:center center;background-repeat:no-repeat;color:#6d6d6d;font-weight:bold}
.main .hot li a{border:1px solid #fff;width:71px;height:71px;border-radius:50%;vertical-align:top}
.main .hot li.hm1 a{background-image:url('../img/hm1.png')}
.main .hot li.hm2 a{background-image:url('../img/hm2.png')}
.main .hot li.hm3 a{background-image:url('../img/hm3.png')}
.main .hot li a span{font-size:13px;display:block;width:90px;margin:0 auto;position:absolute;top:110%;left:50%;margin-left:-45px;color:#fff;line-height:130%}
.main .hot li a:hover span{color:#09aaf7}

.main .guide .box{padding:15px 0 15px 30px}
.main .guide {background:url('../img/guide_bg.png') no-repeat;background-size:cover;padding:0 0 20px}
.main .guide h3{font-size:16px;font-weight:bold;padding-bottom:6px;color:#fff}
.main .guide i{display:inline-block;width:13px}
.main .guide i.s{display:inline-block;width:60px}
.main .guide span{display:block;color:#000;font-size:13px}
.main .guide em{display:inline-block;zoom:1;*display:inline;width:16px;height:16px;color:#fff;font-weight:bold;font-size:10px;line-height:15px;background:#2e2e2e;border-radius:50%;font-style:normal;margin-top:-5px;text-align:center}
.main .guide b{font-weight:bold}
.main .guide .calbox {padding-top:15px;}

.main5{float:left;width:100%;background:#fff;padding:23px 0;border-bottom:1px solid #cecece}
.main .banner-wrap{position:relative}
.banner-wrap .banner-box .banner-roll a{padding-bottom:1px;display:block}

#footer{padding:30px 0 50px;border-top:2px solid #ededed;position:relative;z-index:1}
#footer .section{font-size:0;line-height:0;position:relative}
#footer .section .site_link{position:absolute;right:0;top:15px}
#footer .section .site_link div div{width:200px}
#footer .section .site_link > div{margin-bottom:5px}
#footer .section .site_link a,
#footer .section .site_link span{border-radius:0}
#footer .section .site_link span{line-height:30px}
#footer .section .site_link a.btn{padding:5px 10px;background:#818181;border-color:#9d9d9d;color:#fff}
#footer .section .site_link a.btn:hover,
#footer .section .site_link a.btn:focus{background:#9d9d9d}
#footer .info a,
#footer .info span{vertical-align:middle}
#footer .info .bar{margin:0 3px}
#footer .info a b{color:#1651b7}
#footer address em,
#footer address span{font-size:12px}
#footer address{padding:5px 0 0}
#footer address em{font-style:normal;margin-right:10px}
#footer address span{font-size:11px}

/* 콘텐츠 */
.doc-body h5{font-weight:bold;font-size:105%;color:#333;padding:0 0 5px 10px}
.doc-body a.down{background:url('../img/contents/ico_down.gif') no-repeat right 3px;padding-right:17px;margin-right:5px}
.doc-body .img_box{font-size:0;line-height:0;border:1px solid #e9e9e9;text-align:center}

/* 인사말 */
.greeting{background:url(http://gbelib.kr/resources/homepage/gbccs/img/contents/greeting.jpg) no-repeat left 190px;}
.greeting .color1{color:#1651b7}
.greeting .color2{color:#e9ab44}
.greeting .greeting_area{background:url('/resources/common/img/contents/body/greeting_intro.png') no-repeat 0 0}
.greeting .t1{font-size:190%;letter-spacing:-1px;padding:20px 0 25px 35px;border-bottom:1px solid #cdcdcd;width:400px}
.greeting .t1 span{font-size:50%;color:#ffcf4c;letter-spacing:0.5px;display:block;line-height:120%;padding:10px 0 0}
.greeting .box{padding:20px 260px 0px 0}
.greeting .gtxt{padding:20px;background:url('/resources/common/img/contents/body/greeting_bottom.png') no-repeat right bottom}
.greeting .txt p{padding:0 0 10px;font-size:105%;line-height:180%}
.greeting .sign{padding:15px 100px 0 0;font-size:120%}
.greeting .sign span{color:#888;display:inline-block;zoom:1;*display:inline;vertical-align:middle;line-height:130%;margin:3px 0}
.greeting .sign span.name{margin-left:5px}
.greeting .gtxt_area {padding-left: 220px}
@media all and (max-width:900px){
	.greeting .box{padding-right:35%}
	.greeting .gtxt_area {padding-left: 220px}
}
@media all and (max-width:767px){
	.greeting{background:url(http://gbelib.kr/resources/homepage/gbccs/img/contents/greeting.jpg) no-repeat left 170px;}
	.greeting .t1{width:auto}
	.greeting .box{padding-right:5%;background:none}
	.greeting .gtxt_area {padding-left: 0px; padding-top: 300px}
}
@media all and (max-width:400px){
	.greeting{background:url(http://gbelib.kr/resources/homepage/gbccs/img/contents/greeting.jpg) no-repeat left 220px;}
	.greeting .t1{padding:20px 0 25px 25px}
	.greeting .gtxt{padding:2%}
	.greeting .gtxt_area {padding-left: 0px; padding-top: 300px}
}

/* 연혁 */
.history-head{background-image:url('../img/contents/history_bg.gif');background-position:0 0}
.history-head .t1{color:#f90;padding:40px 0 3px}
.history-head .t2{letter-spacing:0}
@media all and (max-width:1000px){
	.history-head{background:none}
}

/* 추진계획 */
.sic{margin:3%}
.sic .txt-box{overflow:visible}
.sic h3{background:#001c58;color:#fff;margin:-5% 2% 0}
.sic h3 em{font-size:13px;font-weight:normal;font-style:normal}
.sic h3 em,
.sic h3 strong,
.sic h3 span{display:inline-block;zoom:1;*display:inline}
.sic h3 strong{margin-right:10px}
.sic ul.con{padding-top:15px;padding-bottom:0}

/* 조감도 */
.content151_area{width:690px;margin:0 auto}
.content151 .box{position:relative;margin-top:-9%;left:3%;width:60%;background:rgba(255,255,255,0.7);overflow:hidden;padding:12px;box-shadow:0 0 5px 0px rgba(0,0,0,0.5);}
.content151 .box ul{float:left;width:50%}
.content151 .box li{padding:2px}
.content151 .box li.link_area{padding-top:5px}
.content151 .box i{width:16px;height:16px;line-height:16px;color:#fff;background:#464646;border:1px solid #222;text-align:center}
.content151 .box span{margin-left:5px}
.content151 .box,
.content151 .box i,
.content151 .box span,
.content151 .box em{display:inline-block;zoom:1;*display:inline;vertical-align:top}
.content151 .box em{font-style:normal;font-size:90%;color:#888}
.content151 .box a{width:120px;padding:4px 13px;text-align:center;color:#fff;font-weight:bold;margin:2px 0}
.content151 .box a.btn.s1{background:#69a731;border-color:#467819}
.content151 .box a.btn.s2{background:#3d907e;border-color:#257f6b}
@media all and (max-width:1000px){
	.content151_area{width:auto}
}
@media all and (max-width:950px){
	.content151 .box{width:87%}
}
@media all and (max-width:500px){
	.content151 .box ul{width:100%}
}

/* 층별안내도 */
.roomInfo,
.facilityInfo{background:#f9f9f9;padding:3%}
.facilityInfo > p,
.roomInfo > p{border:1px solid #ddd;margin:0 auto;text-align:center;font-size:0;line-height:0;background:#fff}
.facilityInfo ul.con2,
.roomInfo ul.con{padding-top:15px}
.roomInfo ul.con strong{display:block;color:#333;font-size:110%}
.roomInfo ul.con div.s1{padding:5px 0 0}
.roomInfo ul.con div.s1,
.roomInfo ul.con ul{display:inline-block;zoom:1;*display:inline;vertical-align:top}
.roomInfo ul.con ul{margin-left:10px;font-weight:bold}

/* 시설현황 */
.facilityInfo > p{padding:2%}
.facilityInfo ul.con2 li{display:inline-block;zoom:1;*display:inline;vertical-align:top;padding-right:5%;padding-bottom:5px}
.facilityInfo ul.con2 li.block{display:block;padding-right:0}

/* CI소개 */
.ci_info .ci_box{overflow:hidden}
.ci_info .ci_box1{background:url('../img/contents/ci_border.gif') -1px -1px;border:1px solid #ececec;text-align:center}
.ci_info .ci_box1 p{display:inline-block;zoom:1;*display:inline;width:33%;margin:5%}
.ci_info .ci_download{padding-top:15px;text-align:center}
.ci_info .ci_download a{margin:0 1%}
.ci_info .ci_download a img{margin-right:3px}
.ci_info .ci_download a img,
.ci_info .ci_download a span{vertical-align:middle}
.ci_info h3{padding-left:0;background:none;font-weight:normal;letter-spacing:0}
.ci_info h3 strong{color:#f90;font-weight:800}
.ci_info h3 em{font-style:normal;font-size:90%;color:#999}
.ci_info .ci_box2{overflow:hidden}
.ci_info .ci_box2 .symbol,
.ci_info .ci_box2 .symbol_info{float:left}
.ci_info .ci_box2 .symbol{width:150px}
.ci_info .ci_box2 .symbol_info{width:100%;margin-right:-150px}
.ci_info .ci_box2 .symbol_info .box{margin-right:150px}
.ci_info .ci_box2 .symbol_info p{padding:0 0 15px}
.ci_info .ci_box2 .symbol_info .t1{padding-top:10px;color:#8a2c2e;font-size:130%;font-weight:bold}
.ci_info .ci_box3 .box p{display:inline-block;zoom:1;*display:inline;padding:15px 5% 5px 5px}
.ci_info .ci_box4 .box{margin-top:15px;border:1px solid #e5e5e5;padding:2% 4%}
.ci_info .ci_box4 .box dl{white-space:nowrap;padding:10px 0}
.ci_info .ci_box4 .box dl.s1{margin-right:6%}
.ci_info .ci_box4 .box dl,
.ci_info .ci_box4 .box dt,
.ci_info .ci_box4 .box dd{display:inline-block;zoom:1;*display:inline;vertical-align:top}
.ci_info .ci_box4 .box dt{font-weight:bold;color:#888;padding:10px 0}
.ci_info .ci_box4 .box dd{border-left:1px solid #eee;margin-left:10px;padding-left:20px}
@media all and (max-width:580px){
	.ci_info .ci_box4 .box dl{white-space:normal}
	.ci_info .ci_box4 .box dt{display:block}
	.ci_info .ci_box4 .box dd{border:0;margin:0;padding:0}
}
.ci_info .ci_box5{float:left;width:49%}
.ci_info .ci_box5 li{font-size:0;line-height:0;margin:4px 0;background:#f2f2f2;padding:5px;overflow:hidden}
.ci_info .ci_box5 li div p{font-size:0;line-height:0}
.ci_info .ci_box5 li div.s1,
.ci_info .ci_box5 li div.s2{display:inline-block;zoom:1;*display:inline;vertical-align:top}
.ci_info .ci_box5 li div.s1{width:23%}
.ci_info .ci_box5 li div.s2{width:77%}
.ci_info .ci_box5 li div.s2 p{padding-left:3%;padding-top:7px}
.ci_info .ci_box5 li div.s2 span{vertical-align:middle;line-height:16px;font-size:12px;white-space:nowrap}
.ci_info .ci_box5 li div.s2 span.txt-bar{background-color:#bbb}
.ci_info .ci_box6{float:right;width:49%}
.ci_info .ci_box6 .box{border:1px solid #ddd;margin-top:4px;font-size:0;line-height:0;text-align:center;padding:0 10px}
@media all and (max-width:500px){
	.ci_info .ci_box5,
	.ci_info .ci_box6{width:100%;float:none}
}

/* 홍보동영상 */
.vod_box{background:#f9f9f9;padding:5%;overflow:hidden}
.vod_box iframe{border:0;width:100%;height:270px}
.vod_box .vod,
.vod_box .vod_info{float:left}
.vod_box .vod{width:100%;margin-right:-200px}
.vod_box .vod .vod_frame{margin-right:200px}
.vod_box .vod .vod_frame p{border:1px solid #aaa;font-size:0;line-height:0;background:#fff;padding:8px}
.vod_box .vod_info{width:200px}
.vod_box .vod_info .box{padding-left:15px}
.vod_box .vod_info dt{color:#ed2e37;font-size:120%;padding:10px 0}
.vod_box .vod_info dd{background:#fff;padding:10px;border:1px solid #e5e5e5;height:160px}
@media all and (max-width:1000px){
	.vod_box .vod,
	.vod_box .vod .vod_frame{margin:0}
	.vod_box .vod_info{width:100%}
	.vod_box .vod_info .box{padding:0}
	.vod_box .vod_info dd{height:auto}
}

/* 자원봉사 */
.cont414{overflow:hidden}
.cont414 h4{background-repeat:no-repeat;background-position:0 center;padding-bottom:10px;margin-bottom:5px}
.cont414 h4.icon414_1{background-image:url('/resources/homepage/gbccs/img/contents/icon414_1.gif');padding-left:33px}
.cont414 h4.icon414_2{background-image:url('/resources/homepage/gbccs/img/contents/icon414_2.gif');padding-left:56px}
.cont414 h4.icon414_3{background-image:url('/resources/homepage/gbccs/img/contents/icon414_3.gif');padding-left:36px}
.cont414 .fL,
.cont414 .fR{width:48%}
.cont414 .fL{float:left}
.cont414 .fR{float:right}
@media all and (max-width:580px){
	.cont414 .fL,
	.cont414 .fR{width:100%;float:none}
	.cont414 .fR{padding-top:20px}
}

/* 강사인력풀제 */
.doc-body .txt-box.hi48{background:#f9f9f9 url('/resources/homepage/geic/img/contents/hicon48.jpg') no-repeat 3% 50%;padding-left:120px}
.doc-body .txt-box.hi48 h2{margin:0;padding-top:0;background:none}
.doc-body .txt-box.hi48 strong{color:#225aa4}
@media all and (max-width:600px){
	.doc-body .txt-box.hi48{background-image:none;padding:2%}
}

/* 접속기록안내 */
#memberInfo{position:absolute;width:22%;left:98%;top:36%;background:#fff;margin-left:-35%;box-shadow:0px 1px 7px 0px rgba(0,0,0,0.5);z-index: 9;}
#memberInfo .inbox{position:relative;border:1px solid #ccc;padding:10px;}
#memberInfo .inbox dt{font-weight:bold;font-family:verdana;padding-bottom: 10px;}
#memberInfo .inbox dd{padding:3px 0}
a#closeMemberInfo{position:absolute;right:7px;top:5px;font-size:120%}
#line{width: 160px;}
div.loginInfo{padding-top: 8px;padding-bottom: 15px;}
span.fontRed{color: red;}
span.fontBlue{color: rgb(27,104,199);font-weight: bold;}
div.memberCon{background-color: rgb(240,240,240);border-radius: 1em;}
div.memberCon2{padding-top: 12px;padding-left: 10px;padding-right: 10px; padding-bottom: 28px;}
a.btnStyle{float: right;margin-top: 6px;}
#loginIcon{padding-top: 13px;padding-left:10px;}
.boxnImg{ float: left; }
.box2_1 { float: left; width: 34%; }
.box3_1 { float: left; width: 38%; border-left: 1px solid #ddd; }
.boxn { padding-top: 1%; padding-bottom: 1%; padding-left: 5%; }

@media all and (max-width:1030px){
	.Gnb .gnb-menu>li{padding:0 0.7%;}
	.Gnb .gnb-menu>li>a{padding:4px 5px 3px;font-size:16px;color:#222;font-weight:bold}
}

@media all and (max-width:1000px){
	.m-menu{float:right;padding:7px 0 0 5px}
	.m-menu a{display:inline-block;zoom:1;*display:inline;text-align:center;vertical-align:middle}
	.m-menu a i{font-size:30px;width:45px;height:45px;line-height:45px}
	#header h1{padding-top:3px}
	.search_v{top:60px}
	.search_v .search button{width:90px}
	.Gnb,
	.Gnb .search_m a{height:60px}
	.subpage .section{padding:0 3%}
	.tnb{display:none}
	.tnb .util,
	.main .banner,
	.Gnb .g-menu{display:none!important}
	.mmode{display:block}
	.mmenu .menu,
	.mmenu{width:100%}

	.main2>div{width:100%!important}
	.main .popupzone li{text-align:center;padding:10px 0}
	.main .popupzone .bx-pager a{background:#09aaf7;border:1px solid #09aaf7}
	.main3>div:first-child{width:50%;border-left-width:1px}
	.main3 .news{width:50%}
	.main3 .photo{width:100%;margin-top:-1px;border-left-width:1px}
	.main3 .photo .box{height:auto;margin-left:0;margin-top:-1px}
	.main3 .photo li{width:20%}
	.main3 .photo li a{display:block;margin:0 5px}
	.main3 .photo li img{width:100%}
	.main3 .photo li.lt-gall4,
	.main3 .photo li.lt-gall5{display:inline-block;zoom:1;*display:inline}
	.main3{height:auto}
	
	.main4>div{position:relative;width:50%}
	.main4>div:first-child{position:relative;width:100%;margin-bottom:20px}
	
	#footer .section{font-size:0;line-height:0;position:relative;background:none;margin-top:25px}
	#footer address{padding:5px 0 0 0}
	#footer .section .site_link{display:none}
}
@media all and (max-width:767px){
	.main .popupzone li{margin-top:0}
	.main5{display:none}
	.main4>div{width:100%}
	.main .hot{}
	.main3>div:first-child{width:100%}
	.main3 .news{width:100%;margin-top:-1px;border-left-width:1px}
	.main3{margin:0}
	.main3 .photo li{width:33.3%}
	.main3 .photo li.lt-gall4,
	.main3 .photo li.lt-gall5{display:none}
}
@media all and (max-width:580px){
	.search_v .search{margin:0 1%}
	.search_v .search button{width:70px}
	.search_v .search-box{margin-right:-40px}
	.search_v .search-box form{margin-right:40px}
	.search_v .sea_clo{width:40px}
	.main .quickMenu li{width:50%;display:inline-block;zoom:1;*display:inline}
	.main .quickMenu li.qm5 a,
	.main .quickMenu li.qm6 a{border-bottom-width:1px}
}
@media all and (max-width:400px){
	#header h1 img{height:40px;margin:5px 0}	
	.main .guide .box{padding:20px 0 20px 15px}
}