<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.go.gbelib.app.cms.module.facilityReq.FacilityReqDao">
	
	<select id="getFacilityReqListAll" resultType="kr.go.gbelib.app.cms.module.facilityReq.FacilityReq">			
		SELECT
			HOMEPAGE_ID, FACILITY_IDX, FACILITY_REQ_IDX, APPLY_ID, MEMBER_KEY, APPLY_NAME, APPLY_PHONE, APPLY_DESC, APPLY_STATUS
			, ADD_DATE, ADD_ID, MOD_DATE, MOD_ID, BLACKBOARD_USE_YN
		FROM
			FACILITY_REQ 
		WHERE
			HOMEPAGE_ID = #{homepage_id} 
			AND DELETE_YN = 'N'					
			<if test="search_type != null and search_type != '' and search_text != null and search_text != ''">
			AND	${search_type} LIKE '%'||#{search_text}||'%'
			</if>
		ORDER BY
			FACILITY_REQ_IDX ASC
	</select>
	
	<select id="getFacilityReqList" resultType="kr.go.gbelib.app.cms.module.facilityReq.FacilityReq">
		SELECT
			HOMEPAGE_ID, FACILITY_IDX, FACILITY_REQ_IDX, APPLY_ID, MEMBER_KEY, APPLY_NAME, APPLY_PHONE, APPLY_DESC, APPLY_STATUS
			, ADD_DATE, ADD_ID, MOD_DATE, MOD_ID, BLACKBOARD_USE_YN,
			(SELECT COUNT(*) FROM BLACKLIST WHERE HOMEPAGE_ID = FACILITY_REQ.HOMEPAGE_ID AND MEMBER_KEY = FACILITY_REQ.MEMBER_KEY AND INSTR(BLACK_TYPE, '30') != 0) as isBlackList,
		DESIRED_START_TIME,DESIRED_END_TIME, USER_APLLY_COUNT
		FROM
			FACILITY_REQ 
		WHERE
			HOMEPAGE_ID = #{homepage_id} 
			AND FACILITY_IDX = #{facility_idx}
			AND DELETE_YN = 'N'					
			<if test="search_type != null and search_type != '' and search_text != null and search_text != ''">
			AND	${search_type} LIKE '%'||#{search_text}||'%'
			</if>
		ORDER BY
			FACILITY_REQ_IDX ASC
	</select>

	<select id="getFacilityReqOne" resultType="kr.go.gbelib.app.cms.module.facilityReq.FacilityReq">
		SELECT
			HOMEPAGE_ID, FACILITY_IDX, FACILITY_REQ_IDX, APPLY_ID, MEMBER_KEY,
			APPLY_NAME, APPLY_PHONE, APPLY_DESC, APPLY_STATUS, ADD_DATE,
			ADD_ID, MOD_DATE, MOD_ID, SELF_INFO_YN,DESIRED_START_TIME,DESIRED_END_TIME,USER_APLLY_COUNT, BLACKBOARD_USE_YN
		FROM
			FACILITY_REQ
		WHERE HOMEPAGE_ID = #{homepage_id} 
			AND FACILITY_IDX = #{facility_idx} 
			AND FACILITY_REQ_IDX = #{facility_req_idx} 
	</select>
	
	<select id="checkFacilityReq" resultType="int">
		SELECT COUNT(*) 
		FROM FACILITY_REQ
		WHERE HOMEPAGE_ID = #{homepage_id} 
			AND FACILITY_IDX = #{facility_idx}
			AND MEMBER_KEY = #{member_key}
			AND DELETE_YN = 'N'
			AND APPLY_STATUS != '3'
	</select>
	
	<insert id="addFacilityReq">
		<selectKey keyProperty="facility_req_idx" resultType="int" order="BEFORE">
			SELECT NVL(MAX(FACILITY_REQ_IDX),0)+1 FROM FACILITY_REQ WHERE HOMEPAGE_ID = #{homepage_id} AND FACILITY_IDX = #{facility_idx} 
		</selectKey>
		INSERT INTO FACILITY_REQ
		(
			HOMEPAGE_ID, FACILITY_IDX, FACILITY_REQ_IDX, APPLY_ID, MEMBER_KEY, APPLY_NAME, APPLY_PHONE, APPLY_DESC, APPLY_STATUS, SELF_INFO_YN
			, DELETE_YN, ADD_DATE, ADD_ID, BLACKBOARD_USE_YN
			<if test="homepage_id == 'h2'">
				,DESIRED_START_TIME,DESIRED_END_TIME, USER_APLLY_COUNT
			</if>
		) VALUES (
			#{homepage_id}, #{facility_idx}, #{facility_req_idx}, #{apply_id}, #{member_key}, #{apply_name}, #{apply_phone}, #{apply_desc}, '1', #{self_info_yn}
			, 'N', SYSDATE, #{add_id}, #{blackboard_use_yn}
			<if test="homepage_id == 'h2'">
				,#{desired_start_time},#{desired_end_time},#{user_aplly_count}
			</if>
		)
	</insert>
	
	<update id="modifyFacilityReq">
		UPDATE 
			FACILITY_REQ 
		SET
			APPLY_PHONE 		= #{apply_phone}
			, APPLY_DESC 		= #{apply_desc}
			, MOD_DATE 			= SYSDATE
			, MOD_ID 			= #{mod_id}
			, BLACKBOARD_USE_YN = #{blackboard_use_yn}
		WHERE
			HOMEPAGE_ID = #{homepage_id} 
			AND FACILITY_IDX = #{facility_idx} 
			AND FACILITY_REQ_IDX = #{facility_req_idx} 
			AND DELETE_YN = 'N'
	</update>
	
	<delete id="deleteFacilityReq">
		UPDATE
			FACILITY_REQ
		SET 
			DELETE_YN = 'Y'
			, MOD_DATE = SYSDATE
			, MOD_ID = #{mod_id}
		WHERE
			HOMEPAGE_ID = #{homepage_id} 
			AND FACILITY_IDX = #{facility_idx} 
			AND FACILITY_REQ_IDX = #{facility_req_idx}
	</delete>
	
	<update id="changeStatus">
		UPDATE
			FACILITY_REQ
		SET
			APPLY_STATUS = #{apply_status}
			, MOD_DATE = SYSDATE 
			, MOD_ID = #{mod_id}
		WHERE
			HOMEPAGE_ID = #{homepage_id} 
			AND FACILITY_IDX = #{facility_idx} 
			AND FACILITY_REQ_IDX = #{facility_req_idx}
			<if test="member_key != null and member_key != ''">
			AND MEMBER_KEY = #{member_key}
			</if>
	</update>
	
	<select id="getFacilityReqCalendar" resultType="kr.go.gbelib.app.cms.module.facilityReq.FacilityReq">
		SELECT
			A.HOMEPAGE_ID, A.FACILITY_IDX, A.FACILITY_REQ_IDX, A.APPLY_NAME, REGEXP_REPLACE(A.APPLY_NAME, '.', '*', 2) AS MASKING_NAME, A.APPLY_PHONE, 
			A.APPLY_STATUS, B.FACILITY_NAME, B.USE_DATE, A.BLACKBOARD_USE_YN
		FROM
			FACILITY_REQ A, FACILITY_MANAGE B
		WHERE
			A.HOMEPAGE_ID = B.HOMEPAGE_ID AND
			A.FACILITY_IDX = B.FACILITY_IDX AND
			A.HOMEPAGE_ID = #{homepage_id} AND
			A.DELETE_YN = 'N' AND
			A.APPLY_STATUS = '2'
			<if test="plan_date != null and plan_date != ''">
		 		AND #{plan_date} = substr(B.USE_DATE,1,7)
			</if>
	</select>
	
	<select id="getFacilityReqListByExcel" resultType="kr.go.gbelib.app.cms.module.facilityReq.FacilityReq">
		SELECT a.FACILITY_NAME, a.USE_DATE, b.APPLY_ID, b.APPLY_NAME, b.APPLY_PHONE, b.APPLY_DESC, 
			CASE 
				WHEN b.APPLY_STATUS = '1' THEN '신청'
				WHEN b.APPLY_STATUS = '2' THEN '승인'
				WHEN b.APPLY_STATUS = '3' THEN '취소'
			END AS APPLY_STATUS
		FROM FACILITY_MANAGE a, FACILITY_REQ b
		WHERE 
			a.HOMEPAGE_ID = b.HOMEPAGE_ID
			AND	a.FACILITY_IDX = b.FACILITY_IDX
			AND a.HOMEPAGE_ID = #{homepage_id} 
			AND a.DELETE_YN = 'N'
			AND b.DELETE_YN = 'N'
			<if test="excel_type != 'FULL'">
				AND a.USE_DATE like #{plan_date}||'%'
			</if>
		ORDER BY a.USE_DATE
	</select>
	
	<select id="getApplyList" resultType="kr.go.gbelib.app.cms.module.facilityReq.FacilityReq">
		SELECT 
			b.HOMEPAGE_ID, b.FACILITY_IDX, b.FACILITY_REQ_IDX, a.FACILITY_NAME, a.USE_DATE, 
			a.START_TIME, a.END_TIME, b.APPLY_NAME, b.APPLY_PHONE, b.APPLY_DESC,b.DESIRED_START_TIME,b.DESIRED_END_TIME,b.USER_APLLY_COUNT,
			a.BLACKBOARD_USE_YN,
			CASE 
				WHEN b.APPLY_STATUS = '1' THEN '신청'
				WHEN b.APPLY_STATUS = '2' THEN '승인'
				WHEN b.APPLY_STATUS = '3' THEN '취소'
			END AS APPLY_STATUS
		FROM FACILITY_MANAGE a, FACILITY_REQ b
		WHERE 
			a.HOMEPAGE_ID = b.HOMEPAGE_ID
			AND	a.FACILITY_IDX = b.FACILITY_IDX
			AND a.HOMEPAGE_ID = #{homepage_id}
			AND b.MEMBER_KEY = #{member_key} 
			AND a.DELETE_YN = 'N'
			AND b.DELETE_YN = 'N'
	</select>

	<select id="getFacilityReqListByExcelChoice" resultType="kr.go.gbelib.app.cms.module.facilityReq.FacilityReq">
		SELECT a.FACILITY_NAME, a.USE_DATE, b.APPLY_ID, b.APPLY_NAME, b.APPLY_PHONE, b.APPLY_DESC,b.DESIRED_START_TIME,b.DESIRED_END_TIME,b.USER_APLLY_COUNT,
		CASE
		WHEN b.APPLY_STATUS = '1' THEN '신청'
		WHEN b.APPLY_STATUS = '2' THEN '승인'
		WHEN b.APPLY_STATUS = '3' THEN '취소'
		END AS APPLY_STATUS
		FROM FACILITY_MANAGE a, FACILITY_REQ b
		WHERE
		a.HOMEPAGE_ID = b.HOMEPAGE_ID
		AND	a.FACILITY_IDX = b.FACILITY_IDX
		AND a.HOMEPAGE_ID = #{homepage_id}
		AND a.DELETE_YN = 'N'
		AND b.DELETE_YN = 'N'
		AND substr(a.USE_DATE,0,7) in
		<foreach item="i" collection="choice_Month" open="(" close=")" separator=",">
			EXTRACT(YEAR from sysdate) || '-' || #{i}
		</foreach>
		ORDER BY a.USE_DATE
	</select>

	<select id="getFacilityReqCalendarIct" resultType="kr.go.gbelib.app.cms.module.facilityReq.FacilityReq">
		SELECT
			A.HOMEPAGE_ID, A.FACILITY_IDX, A.FACILITY_REQ_IDX, A.APPLY_NAME, REGEXP_REPLACE(A.APPLY_NAME, '.', '*', 2) AS MASKING_NAME, A.APPLY_PHONE,
			A.APPLY_STATUS, B.FACILITY_NAME, B.USE_DATE, A.BLACKBOARD_USE_YN
		FROM
			FACILITY_REQ A, FACILITY_MANAGE B
		WHERE
			A.HOMEPAGE_ID = B.HOMEPAGE_ID
		AND A.FACILITY_IDX = B.FACILITY_IDX
		AND A.HOMEPAGE_ID = #{homepage_id}
		AND A.DELETE_YN = 'N'
		AND A.APPLY_STATUS = '2'
		AND B.USE_DATE >= TO_DATE(#{start_date}, 'YYYY-MM-DD')
        AND B.USE_DATE &lt; TO_DATE(#{end_date}, 'YYYY-MM-DD') + 1
	</select>
</mapper>