<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.whalesoft.app.cms.deptMng.DeptMngDao">

	<select id="getWorkMngAll" resultType="kr.co.whalesoft.app.cms.deptMng.DeptMng">
		SELECT
			dept.homepage_id, work.dept_idx, work.work_idx, work.parent_idx, dept.dept_name,
			work.position, work.worker, work.phone, work.work_info, work.print_seq,
			dept.above_idx
		FROM
			DEPT_MNG dept, WORK_MNG work
		WHERE
			dept.homepage_id = work.homepage_id
		AND	dept.dept_idx = work.dept_idx
		AND	dept.homepage_id = #{homepage_id}
		ORDER BY dept_print_seq ASC, print_seq ASC
	</select>

	<select id="getWorkMngOne" resultType="kr.co.whalesoft.app.cms.deptMng.DeptMng">
		SELECT
			dept.homepage_id, work.dept_idx, work.work_idx, work.parent_idx, dept.dept_name,
			work.position, work.worker, work.phone, work.work_info, work.print_seq
		FROM
			DEPT_MNG dept, WORK_MNG work
		WHERE
			dept.homepage_id = work.homepage_id
		AND	dept.dept_idx = work.dept_idx
		AND	dept.homepage_id = #{homepage_id}
		AND	work_idx = #{work_idx}
	</select>
	
	<select id="getWorkMngCnt" resultType="int">
		SELECT
			COUNT(*)
		FROM
			WORK_MNG
		WHERE
			homepage_id = #{homepage_id}
	</select>

<!-- 	<select id="getParentList" resultType="kr.co.whalesoft.app.cms.deptMng.DeptMng"> -->
<!-- 		SELECT -->
<!-- 			work_idx, position -->
<!-- 		FROM -->
<!-- 			WORK_MNG -->
<!-- 		WHERE -->
<!-- 			homepage_id = #{homepage_id} -->
<!-- 		AND	parent_idx = 0 -->
<!-- 	</select> -->
	
	<select id="getNextPrintSeq" resultType="int">
		SELECT
			NVL(MAX(print_seq), 0)+1
		FROM
			WORK_MNG
		WHERE
			homepage_id=#{homepage_id}
	</select>

	<insert id="addWorkMng">
		<selectKey keyProperty="work_idx" resultType="int" order="BEFORE">
			SELECT NVL(MAX(work_idx), 0)+1 FROM WORK_MNG WHERE homepage_id=#{homepage_id}
		</selectKey>
		INSERT INTO WORK_MNG
		(
			homepage_id, dept_idx, work_idx, parent_idx, position,
			worker, phone, work_info, print_seq, add_id, add_date
		)
		VALUES
		(
			#{homepage_id}, #{dept_idx}, #{work_idx}, #{parent_idx}, #{position},
			#{worker}, #{phone}, #{work_info}, #{print_seq}, #{add_id}, SYSDATE
		)	
	</insert>
	
	<update id="modifyWorkMng">
		UPDATE
			WORK_MNG
		SET
			dept_idx = #{dept_idx},
			parent_idx = #{parent_idx},
			position = #{position},
			worker = #{worker},
			phone = #{phone},
			work_info = #{work_info},
			print_seq = #{print_seq},
			mod_id = #{mod_id},
			mod_date = SYSDATE
		WHERE
			homepage_id = #{homepage_id}
		AND work_idx = #{work_idx}
	</update>
	
	<delete id="deleteWorkMng">
		DELETE FROM
			WORK_MNG
		WHERE
			homepage_id = #{homepage_id}
		AND	work_idx = #{work_idx}
	</delete>

	<select id="getDeptList" resultType="kr.co.whalesoft.app.cms.deptMng.DeptMng">
		SELECT
			*
		FROM
			(
			SELECT
				homepage_id, dept_idx, dept_name, dept_print_seq, above_idx,
				add_id, add_date, mod_id, mod_date,
				(
				SELECT
					COUNT(*)
				FROM
					WORK_MNG
				WHERE
					homepage_id = #{homepage_id}
				AND	dept_idx = d.dept_idx
				) AS in_cnt
			FROM
				DEPT_MNG d
			WHERE
				homepage_id = #{homepage_id}
			)
		START WITH above_idx = 0
		CONNECT BY PRIOR dept_idx = above_idx
		ORDER SIBLINGS BY dept_print_seq ASC
	</select>
	
	<select id="getDeptNextPrintSeq" resultType="int">
		SELECT
			NVL(MAX(dept_print_seq), 0)+10
		FROM
			dept_mng
		WHERE
			homepage_id = #{homepage_id}
	</select>
	
	<insert id="addDeptMng">
		<selectKey keyProperty="dept_idx" resultType="int" order="BEFORE">
			SELECT NVL(MAX(dept_idx), 0)+1 FROM DEPT_MNG WHERE homepage_id = #{homepage_id}
		</selectKey>
		INSERT INTO DEPT_MNG
		(
			homepage_id, dept_idx, dept_name, dept_print_seq, above_idx, add_id, add_date
		)
		VALUES
		(
			#{homepage_id}, #{dept_idx}, #{dept_name}, #{dept_print_seq}, #{above_idx}, #{add_id}, SYSDATE
		)
	</insert>
	
	<update id="modifyDeptMng">
		UPDATE
			DEPT_MNG
		SET
			dept_name = #{dept_name},
			above_idx = #{above_idx},
			dept_print_seq = #{dept_print_seq},
			mod_id = #{mod_id},
			mod_date = SYSDATE
		WHERE
			homepage_id = #{homepage_id}
		AND	dept_idx = #{dept_idx}
	</update>
	
	<delete id="deleteDeptMng">
		DELETE FROM
			DEPT_MNG
		WHERE
			homepage_id = #{homepage_id}
		AND	dept_idx = #{dept_idx}
	</delete>
	
	<delete id="deleteWorkAll">
		DELETE FROM
			WORK_MNG
		WHERE
			homepage_id = #{homepage_id}
		AND	dept_idx = #{dept_idx}
	</delete>
	
	<select id="getdeptChartYN" resultType="kr.co.whalesoft.app.cms.deptMng.DeptMng">
		SELECT
			chart_yn
		FROM
			DEPT_CHART
		WHERE
			homepage_id = #{homepage_id}
	</select>
	
	<update id="modChardYN">
		MERGE INTO
			DEPT_CHART DC
		USING DUAL
		ON	(homepage_id = #{homepage_id})
		WHEN MATCHED THEN
			UPDATE SET
				chart_yn = #{chart_yn}
		WHEN NOT MATCHED THEN
			INSERT
			(
				homepage_id, chart_yn
			)
			VALUES
			(
				#{homepage_id}, #{chart_yn}
			)
	</update>
	
	<select id="getDeptWorkMngList" resultType="kr.co.whalesoft.app.cms.deptMng.DeptMng">
		SELECT
			*
		FROM
			(
			SELECT
				work.dept_idx, work.work_idx, dept.dept_name, work.worker,
				work.phone, dept.above_idx, dept.dept_print_seq
			FROM
				DEPT_MNG dept, WORK_MNG work
			WHERE
				dept.homepage_id = work.homepage_id
			AND	dept.dept_idx = work.dept_idx
			AND	dept.homepage_id = #{homepage_id}
			ORDER BY dept.dept_print_seq ASC, print_seq ASC
			)
		START WITH above_idx = 0
		CONNECT BY above_idx = PRIOR dept_idx
		ORDER SIBLINGS BY dept_print_seq ASC
	</select>

</mapper>
