@charset "utf-8";
@import url("../../../common/css/type11.css");

.Gnb{background:#f57071}
.Gnb .gnb-menu>li.on>a,
.Gnb .gnb-menu>li>a:hover,
.Gnb .gnb-menu>li>a:focus{color:#000}

.main4>div,
.main3>div>div{border:1px solid #e4e4e4;margin-left:-1px}
.main3 .lt1{width:26%}
.main3 .lt2,
.main3 .lt3{width:37%}

.main .libClosed p{color:#686868;line-height:130%;padding:3px 0 0}
.main .libClosed strong{padding:10px 0 15px;height:30px;line-height:30px;font-size:17px;font-weight:800;display:block;text-align:center}
.main .libClosed dl{color:#f43b40}
.main .libClosed dl dt{background:#f43b40;color:#fff;display:inline-block;padding:0 5px}
.main .libClosed dl dd{line-height:130%;overflow:hidden;padding:5px 0}
.main .libClosed .inBox{position:relative}
.main .libClosed .bt-controls{width:100%}
.main .libClosed .bt-next,
.main .libClosed .bt-prev{top:10px;left:50%;font-size:0;line-height:0;position:absolute;width:20px;height:30px;z-index:500}
.main .libClosed .bt-next{margin-left:25px;background:url('../img/libCloseBtr.gif') no-repeat center center}
.main .libClosed .bt-prev{margin-left:-45px;background:url('../img/libCloseBtl.gif') no-repeat center center}

.main .libClosed .box{margin-left:0}
.main3 .like_book .bx-wrapper{padding:0 10%}
.main3 .like_book ul{padding:20px 0 0}
.main3 .like_book li a{display:block;text-align:center;padding:0 5px;margin:0 auto}
.main3 .like_book li span{display:none;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis}
.main3 .like_book .bx-pager{display:none}
.main3 .like_book .bx-wrapper{position:relative}
.main3 .like_book .bx-prev,
.main3 .like_book .bx-next{top:50%;margin-top:-8px;font-size:0;line-height:0;position:absolute;height:35px;width:35px;background:#e4e4e4 url('../img/bookbtl.gif') no-repeat center center}
.main3 .like_book .bx-prev{left:-20px}
.main3 .like_book .bx-next{right:-20px;background-image:url('../img/bookbtr.gif')}
.main3 .news li{padding:3px 40px 3px 10px}

/* 콘텐츠 */
.color1{color:#095077}
.color2{color:#337a82}

/* 발간자료 */
.Bcontents{overflow:hidden}
.Bcontents .b1{font-size:0;line-height:0}
.Bcontents .b1 a{display:block;border:1px solid #bbb}
.Bcontents .b1 p{font-size:13px;line-height:16px;padding:5px;text-align:center}
.Bcontents .b1{width:150px}
.Bcontents .b1,
.Bcontents .b2{float:left}
.Bcontents .b2{width:100%;margin-right:-150px}
.Bcontents .b2 .box{margin-right:150px;padding-left:3%}
@media all and (max-width:767px){
	.Bcontents .b1{text-align:center;width:auto;padding:0 0 15px}
	.Bcontents .b1 a{display:inline-block;max-width:50%}
	.Bcontents .b1,
	.Bcontents .b2,
	.Bcontents .b2 .box{margin:0;float:none}
}

/* CI 로고 */
.ciInfo{overflow:hidden;font-size:0;line-height:0;text-align:center}
.ciInfo>div label{padding:5px 0;font-weight:bold;font-size:115%;letter-spacing:-1px}
.ciInfo>div{vertical-align:middle}
.ciInfo>div,
.ciInfo>div label,
.ciInfo>div p{display:inline-block}
.ciInfo>div p{padding:5px;border:1px solid #ddd;font-size:0;line-height:0}
.ciInfo>div label,
.ciInfo>div img{vertical-align:top}
.logoType>div.l1{width:55%}
.logoType>div.l2{width:30%}
.logoType>div.l2 label{margin-right:5px}
.signature>div{vertical-align:top}
.signature>div.l1{width:65%}
.signature>div.l2{width:25%}
.signature>div img{margin:3px 0}
.signature>div label{display:block;text-align:left}
.signature>div ul{font-size:0;line-height:0}
.signature>div li{display:inline-block;text-align:center}
.signature>div .l11 ul{padding-right:3%}
.signature>div .l12{text-align:left;padding-top:5%}
.signature>div .l12 li{text-align:left;width:25%;margin:0 2%}
.signature>div.l2 li{width:46%;margin:0 2%}
@media all and (max-width:767px){
	.logoType>div.l1,
	.logoType>div.l2{width:100%}
	.logoType>div.l2 label{display:block;margin-top:20px}
}

/* 뷰어다운로드 */
.viewer_down li div{padding:7px 0 0}

/* 시설현황 */
.floor li{padding:0 0 10px}
.floor li,
.floor li p{font-size:0;line-height:0;display:inline-block}
.floor li p{border:1px solid #d8d3c4}

/* 실별안내 */
#photo_list{overflow:hidden;background:#f7f7f7;padding:3%}
#photo_list .pic{float:left;width:196px}
#photo_list .data_info{float:left;width:100%;margin-right:-196px}
#photo_list .data_info .box{margin-right:196px;padding-left:15px}
@media all and (max-width:580px){
	#photo_list .pic{width:100%;text-align:center}
	#photo_list .data_info,
	#photo_list .data_info .box{margin:0;padding:0}
}

/* 인사말 */
/*.greeting .t1{font-size:190%;letter-spacing:-1px;background:url('../img/contents/greeting_bg.jpg') no-repeat right bottom}*/
.greeting .t1{font-size:190%;letter-spacing:-1px;padding: 20px 0 25px 35px;border-bottom: 1px solid #cdcdcd;width: 400px;}
.greeting .box{padding:20px 260px 60px 0;background:url('/resources/homepage/cd/img/contents/new_hjh/introd_p01.png') no-repeat right 40%}

/*.greeting .gtxt{border:1px solid #ddd;border-radius:5px;background:#fcfcfc;padding:20px;}*/
.greeting .gtxt{padding:20px;background:url('/resources/homepage/cd/img/contents/new_hjh/introd_botm_bg.png') no-repeat right bottom}
.greeting .txt p{padding:0 0 10px;font-size:105%}
.greeting .sign{padding:15px 0 0;font-size:120%}
.greeting .sign span{color:#888;display:inline-block;vertical-align:middle}
.greeting .sign span.name{margin-left:5px}
@media all and (max-width:767px){
	.greeting .t1{background-position:right 0;background-size:15%}
	.greeting .box{padding-right:5%;background:none;}
}
@media all and (max-width:400px){
	.greeting .t1{background-position:right bottom;background:none;}
}

/* 인사말 추가 20170114hjh*/
.greeting{background:url('/resources/homepage/cd/img/contents/new_hjh/introd_bg.gif') no-repeat left top}

/* 도서관 이용 */
.term-box h2{padding-top:0}
.term-box .tab-menu{padding-bottom:10px}
.term-box .auth{border-top:1px solid #e5e5e5}
.tab-menu .term{text-align:center;background:#eee;padding:10px}
.tab-menu .term li a{padding:6px 0 7px;width:34px}
.con623-2{background:url('../img/contents/bookInfo_bg.jpg') no-repeat right bottom}
.con623-2 .tBox .t1{font-size:230%;letter-spacing:-1px}
.con623-2 .tBox .t1 strong{font-weight:800}
.con623-2 .tBox .t1 .tb2{color:#2b74c0}
.con623-2 .tBox .t2{color:#888}
.con623-2 ul.con{padding:15px 3%;border-radius:7px;background:#f7f7f7 url('../img/contents/bookInfo_bg.jpg') no-repeat 99% 90%}
.con623-2 ul.con li.last{padding-right:45px}

/* 학습동아리 */
.club-photo{background:#f5f5f5;padding:3%;overflow:hidden;border-radius:5px;border:1px solid #eee}
.club-photo .box{float:left;width:50%;text-align:center}
.club-photo .box p{font-size:0;line-height:0;padding:1%}

/* 독서문화행사 */
.club-photo.party{text-align:center}
.club-photo.party .box{width:33.33%}
.club-photo.party .tit{background:#fff;border:1px solid #e9e9e9;border-radius:5px;margin-bottom:10px;padding:5px}
.club-photo.party .tit p{display:inline-block;font-size:20px;line-height:40px;height:40px;letter-spacing:-1px;padding-left:75px;background:url('../img/contents/event_photo_icon.gif') no-repeat 0 center}
.club-photo.party .tit p b{color:#5c8e11}
.club-photo.party .tit p b,
.club-photo.party .tit p span{font-weight:800}
.tabCon{padding-top:5px}
.tabCon.event>div>table>tbody>tr>td>ul>li{background:url('../img/arr-new-list.gif') no-repeat 0 8px;padding:2px 0 2px 8px;line-height:130%}
.tabCon.event tbody td.tdst,
.tabCon.event tbody td.tdst2{background:#ffffef}
.tabCon.event ul.con{padding:0 0 10px}
.tabCon.event td.item{text-align:center}

/* 자원봉사 */
.go_youth{text-align:center}
.go_youth .box{display:inline-block;margin:2%;width:277px;height:190px;background:url('/resources/homepage/ycgh/img/contents/btn_go_youth.gif') no-repeat 0 0}
.go_youth .box.yc{background-image:url('/resources/homepage/ycgh/img/contents/btn_go_yc.jpg')}
.go_youth .box a.btn{margin-top:125px}

/* 접속기록안내 */
#memberInfo{position:absolute;width:22%;left:98%;top:36%;background:#fff;margin-left:-37%;box-shadow:0px 1px 7px 0px rgba(0,0,0,0.5);z-index: 9;}
#memberInfo .inbox{position:relative;border:1px solid #ccc;padding:10px;}
#memberInfo .inbox dt{font-weight:bold;font-family:verdana;padding-bottom: 10px;}
#memberInfo .inbox dd{padding:3px 0}
a#closeMemberInfo{position:absolute;right:7px;top:5px;font-size:120%}
#line{width: 160px;}
div.loginInfo{padding-top: 8px;padding-bottom: 15px;}
span.fontRed{color: red;}
span.fontBlue{color: rgb(27,104,199);font-weight: bold;}
div.memberCon{background-color: rgb(240,240,240);border-radius: 1em;}
div.memberCon2{padding-top: 12px;padding-left: 10px;padding-right: 10px; padding-bottom: 28px;}
a.btnStyle{float: right;margin-top: 6px;}
#loginIcon{padding-top: 13px;padding-left:10px;}
.boxnImg{ float: left; }
.box2_1 { float: left; width: 34%; }
.box3_1 { float: left; width: 38%; border-left: 1px solid #ddd; }
.boxn { padding-top: 1%; padding-bottom: 1%; padding-left: 5%; }

.book_takeout_img {position:absolute;right:-400px;top:20px;}
.book_takeout_img img {width:40%;border-radius:5px;}

@media all and (max-width:1070px){
	.book_takeout_img {position:absolute;right:-440px;top:10px;}
	.book_takeout_img img {width:35%;}
}

@media all and (max-width:1000px){
	.main1,.main2,.main3,.main4{overflow:visible}
	.main3{width:auto;float:none}
	.main3 .lt1{width:37.5%}
	.main3 .lt2{width:62.5%}
	.main3 .lt3 .box{border-top-width:0}
	.main3 .lt3,
	.main4{width:50%;margin-top:-1px;margin-top:0}

	.main3 .lt2 .box{border-left-width:0;border-right-width:0}
	.main4 .box{border-width:0;border-left-width:1px;border-bottom-width:1px}
	.book_takeout_img {display:none;}
}
@media all and (max-width:767px){
	.main3 .libClosed .box{border-right-width:0;border-left-width:0;border-bottom-width:0}
	.main4{width:100%}
	.main3 .box,
	.main4 .box{height:auto}
	.main4 .box ul{margin:0}
	.main3 .lt2 .box{border-right-width:0}
}
@media all and (max-width:550px){
	.main3 .lt2 .box{margin-left:0}
}

