<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.go.gbelib.app.cms.module.donateBook.DonateBookDao">
	
	<select id="getDonateBookListAll" resultType="kr.go.gbelib.app.cms.module.donateBook.DonateBook">
		SELECT
			HOMEPAGE_ID, DONATE_IDX, NAME, PHONE, CELL_PHONE, DONATE_BOOK, DONATE_COUNT, 
			DONATE_METHOD, DONATE_YN, TO_CHAR(ADD_DATE, 'yyyy-mm') AS ADD_DATE,
			DONATE_YEAR, DONATE_MONTH, PROCESS_STATUS		
		FROM
			DONATE_BOOK
		WHERE HOMEPAGE_ID = #{homepage_id}
		ORDER BY
			DONATE_IDX ASC
	</select>
	
	<select id="getDonateBookList" resultType="kr.go.gbelib.app.cms.module.donateBook.DonateBook">
		${pagingTop}
			SELECT
				HOMEPAGE_ID, DONATE_IDX, NAME, PHONE, CELL_PHONE, DONATE_BOOK, DONATE_COUNT,
				DONATE_METHOD, DONATE_YN, TO_CHAR(ADD_DATE, 'yyyy-mm-dd') AS ADD_DATE, PROCESS_STATUS,
				DONATE_YEAR, DONATE_MONTH, DONATE_DAY, 
				SUBSTR(NAME,1,1) || LPAD('*',LENGTH(NAME)-2,'*') || SUBSTR(NAME, LENGTH(NAME), 1) AS MASKING_NAME
			FROM
				DONATE_BOOK
			WHERE HOMEPAGE_ID = #{homepage_id}
				<if test=" search_type != null and search_type != '' and search_text != '' and search_text != '' "> 
					AND	${search_type} LIKE '%'||#{search_text}||'%'
				</if>
			ORDER BY
				DONATE_IDX ASC
		${pagingBottom}
	</select>
	
	<select id="getDonateBookListCount" resultType="int">
		SELECT
			COUNT(*)
		FROM
			DONATE_BOOK
		WHERE
			HOMEPAGE_ID = #{homepage_id}
			<if test=" search_type != null and search_type != '' and search_text != '' and search_text != '' "> 
				AND	${search_type} LIKE '%'||#{search_text}||'%'
			</if>
		ORDER BY
			DONATE_IDX ASC
	</select>
	
	<select id="getDonateBookOne" resultType="kr.go.gbelib.app.cms.module.donateBook.DonateBook">
		SELECT
			HOMEPAGE_ID, DONATE_IDX, NAME, PHONE, CELL_PHONE, DONATE_BOOK, DONATE_COUNT,
			DONATE_METHOD, DONATE_YN, TO_CHAR(ADD_DATE, 'yyyy-mm') AS ADD_DATE,
			DONATE_YEAR, DONATE_MONTH, DONATE_DAY, PROCESS_STATUS
		FROM
			DONATE_BOOK
		WHERE HOMEPAGE_ID = #{homepage_id} 
			AND DONATE_IDX = #{donate_idx}
	</select>
	
	<insert id="addDonateBook">
		<selectKey keyProperty="donate_idx" resultType="int" order="BEFORE">
			SELECT NVL(MAX(donate_idx),0)+1 FROM DONATE_BOOK WHERE HOMEPAGE_ID = #{homepage_id}
		</selectKey>
	
		INSERT INTO DONATE_BOOK
		(
			HOMEPAGE_ID, DONATE_IDX, NAME, PHONE, CELL_PHONE, DONATE_BOOK, DONATE_COUNT,
			DONATE_METHOD, DONATE_YN, ADD_DATE, DONATE_YEAR, DONATE_MONTH, DONATE_DAY, SELF_INFO_YN
		) VALUES (
			#{homepage_id}, #{donate_idx}, #{name}, #{phone}, #{cell_phone}, #{donate_book}, #{donate_count},
			#{donate_method}, #{donate_yn}, SYSDATE, TO_CHAR(SYSDATE, 'YYYY'), TO_CHAR(SYSDATE, 'MM'),TO_CHAR(SYSDATE, 'DD'), #{self_info_yn}
		)
	</insert>
	
	<update id="modifyDonateBook">
		UPDATE 
			DONATE_BOOK
		SET
			NAME = #{name}, 
			PHONE = #{phone}, 
			CELL_PHONE = #{cell_phone}, 
			DONATE_BOOK = #{donate_book}, 
			DONATE_COUNT = #{donate_count},
			DONATE_METHOD = #{donate_method}, 
			DONATE_YN = #{donate_yn},
			DONATE_YEAR = #{donate_year},
			DONATE_MONTH = #{donate_month},
			DONATE_DAY = #{donate_day},
			PROCESS_STATUS = #{process_status} 
		WHERE 
			HOMEPAGE_ID = #{homepage_id} AND DONATE_IDX = #{donate_idx}
	</update>
	
	<delete id="deleteDonateBook">
		DELETE FROM DONATE_BOOK
		WHERE
			HOMEPAGE_ID = #{homepage_id} AND DONATE_IDX = #{donate_idx} 
	</delete>
	
</mapper>