<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.go.gbelib.app.cms.module.elib.lending.LendingDao">
	
	<sql id="search">
		<if test="search_type != null and search_type != '' and search_text != '' and search_text != '' ">
		<choose>
		<when test="search_type == 'book_name'">
		AND	UPPER(REPLACE(c.book_name, ' ')) LIKE '%'||UPPER(REPLACE(#{search_text}, ' '))||'%'
		</when>
		<otherwise>
		AND	UPPER(REPLACE(a.${search_type}, ' ')) LIKE '%'||UPPER(REPLACE(#{search_text}, ' '))||'%'
		</otherwise>
		</choose>
		</if>
		<if test="parent_id != null and parent_id != ''">
		AND c.parent_id = #{parent_id}
		</if>
		<if test="cate_id != null and cate_id != ''">
		AND c.cate_id = #{cate_id}
		</if>
		<if test="com_code != null and com_code != ''">
		AND c.com_code = #{com_code}
		</if>
		<if test="library_code != null and library_code != ''">
		AND c.library_code = #{library_code}
		</if>
		<if test="member_id != null and member_id != ''">
		AND a.member_id = #{member_id}
		</if>
		<if test="menu == 'LENDING'">
		AND return_dt IS NULL
		</if>
		<if test="menu == 'HISTORY'">
		AND return_dt IS NOT NULL
		</if>
		<if test="status != null and status != ''">
		<choose>
		<when test="status == '대출 가능'">
		AND c.book_lend &lt; c.max_lend
		</when>
		<when test="status == '예약 가능'">
		AND c.book_lend &gt;= c.max_lend
		</when>
		</choose>
		</if>
<!-- 		<if test="homepage_id != null and homepage_id != ''"> -->
<!-- 		AND e.homepage_id = #{homepage_id} -->
<!-- 		</if> -->
	</sql>
	
	<sql id="sort">
		<choose>
		<when test="sortField != null and sortField != ''">
		<if test="sortField == 'book_name'">
		ORDER BY c.book_name NULLS LAST
		</if>
		<if test="sortField == 'author_name'">
		ORDER BY c.author_name NULLS LAST
		</if>
		<if test="sortField == 'lend_dt'">
		ORDER BY b.lend_dt DESC NULLS LAST
		</if>
		<if test="sortField == 'reg_dt'">
		ORDER BY b.reg_dt DESC NULLS LAST
		</if>
		<if test="sortField == 'return_due_dt'">
		ORDER BY b.return_due_dt DESC NULLS LAST
		</if>
		<if test="sortField == 'return_dt'">
		ORDER BY b.return_dt DESC NULLS LAST
		</if>
		<if test="sortField == 'member_id'">
		ORDER BY a.member_id NULLS LAST
		</if>
		<if test="sortField == 'reserves_cnt'">
		ORDER BY c.book_reserve DESC NULLS LAST
		</if>
		</when>
		<otherwise>
		ORDER BY b.lend_dt DESC NULLS LAST, c.book_name
		</otherwise>
		</choose>
	</sql>
	
	<sql id="sort2">
		<choose>
		<when test="sortField != null and sortField != ''">
		<if test="sortField == 'book_name'">
		ORDER BY c.book_name NULLS LAST
		</if>
		<if test="sortField == 'author_name'">
		ORDER BY c.author_name NULLS LAST
		</if>
		<if test="sortField == 'reserve_dt'">
		ORDER BY b.reserve_dt DESC NULLS LAST
		</if>
		<if test="sortField == 'lend_dt'">
		ORDER BY b.lend_dt DESC NULLS LAST
		</if>
		<if test="sortField == 'member_id'">
		ORDER BY a.member_id NULLS LAST
		</if>
		</when>
		<otherwise>
		ORDER BY b.reserve_dt DESC NULLS LAST, c.book_name
		</otherwise>
		</choose>
	</sql>
	
	<sql id="lendMemberList">
		SELECT
			a.user_idx, b.lend_idx, b.book_idx, TO_CHAR(b.lend_dt, 'YYYY-MM-DD') AS lend_dt, TO_CHAR(b.return_due_dt, 'YYYY-MM-DD') AS return_due_dt,
			TO_CHAR(b.return_dt, 'YYYY-MM-DD') AS return_dt, c.book_name, c.author_name, c.book_pubname, TO_CHAR(c.book_pubdt, 'YYYY-MM-DD') AS book_pubdt, TO_CHAR(c.book_regdt, 'YYYY-MM-DD') AS book_regdt,
			c.com_code, 
			(SELECT z.cate_name FROM ELIB_CATEGORY z WHERE z.cate_id = c.cate_id) AS cate_name,
			(SELECT z.cate_name FROM ELIB_CATEGORY z WHERE z.cate_id = c.parent_id) AS parent_name,
			DECODE(b.device, 'P', 'PC', 'S', '(구)스마트폰', 'A', 'Android', 'I', 'iOS', 'E', '불명') AS device, c.book_image, CASE WHEN c.library_code = '9999999' THEN '통합' ELSE e.homepage_name END AS library_name,
			a.member_id, c.book_code, (SELECT comp_name FROM ELIB_COMPANY f where INSTR(f.com_code, c.com_code) > 0) as comp_name,
			c.library_code, c.format, c.type, DECODE(c.type, 'EBK', '전자책', 'ADO', '오디오북', 'WEB', '온라인강좌') AS type_name,
			c.book_reserve,
			(SELECT MAX(q.homepage_name) from CMS_HOMEPAGE q WHERE q.homepage_code = a.library_code) AS member_library_name,
			FLOOR(MONTHS_BETWEEN(TRUNC(SYSDATE), TO_DATE(a.birth_day, 'YYYYMMDD')) / 12) AS age,
			-- 연령대 분류 추가
			CASE
			WHEN a.birth_day IS NULL OR a.birth_day = '' THEN '불명'
			WHEN FLOOR(MONTHS_BETWEEN(TRUNC(SYSDATE), TO_DATE(a.birth_day, 'YYYYMMDD')) / 12) <![CDATA[<=]]> 13 THEN '어린이'
			WHEN FLOOR(MONTHS_BETWEEN(TRUNC(SYSDATE), TO_DATE(a.birth_day, 'YYYYMMDD')) / 12) <![CDATA[<=]]> 19 THEN '청소년'
			WHEN FLOOR(MONTHS_BETWEEN(TRUNC(SYSDATE), TO_DATE(a.birth_day, 'YYYYMMDD')) / 12) >= 20 THEN '성인'
			ELSE '불명'
			END AS age_group
		FROM
			ELIB_MEMBER a,
			ELIB_LEND b,
			ELIB_BOOK c,
			CMS_HOMEPAGE e
		WHERE
			a.member_id = b.member_id
		AND b.book_idx = c.book_idx
		AND c.library_code = SUBSTR(e.homepage_code, 1, 8)
		<if test="type != null and type != ''">
		AND c.type = #{type}
		</if>
		<include refid="search"/>
		<if test="search_sdt != null and search_sdt != ''">
		AND #{search_sdt} &lt;= TO_CHAR(b.lend_dt, 'YYYY-MM-DD') 
		</if>
		<if test="search_edt != null and search_edt != ''">
		AND TO_CHAR(b.lend_dt, 'YYYY-MM-DD') &lt;= #{search_edt}
		</if>
		<include refid="sort"/>
	</sql>
	
	<select id="getLendMemberListAll" resultType="kr.go.gbelib.app.cms.module.elib.lending.Lending">
		<include refid="lendMemberList"/>
	</select>
	
	<select id="getLendMemberList" resultType="kr.go.gbelib.app.cms.module.elib.lending.Lending">
		${pagingTop}
		<include refid="lendMemberList"/>
		${pagingBottom}
	</select>
	
	<select id="getLendMemberListCnt" resultType="int">
		SELECT
			COUNT(*) AS cnt
		FROM
			ELIB_MEMBER a,
			ELIB_LEND b,
			ELIB_BOOK c,
			CMS_HOMEPAGE e
		WHERE
			a.member_id = b.member_id
		AND b.book_idx = c.book_idx
		AND c.library_code = SUBSTR(e.homepage_code, 1, 8)
		<if test="type != null and type != ''">
		AND c.type = #{type}
		</if>
		<include refid="search"/>
		<if test="search_sdt != null and search_sdt != ''">
		AND #{search_sdt} &lt;= TO_CHAR(b.lend_dt, 'YYYY-MM-DD') 
		</if>
		<if test="search_edt != null and search_edt != ''">
		AND TO_CHAR(b.lend_dt, 'YYYY-MM-DD') &lt;= #{search_edt}
		</if>
	</select>
	
	<select id="getReserveMemberListCnt" resultType="int">
		SELECT
			COUNT(*) AS cnt
		FROM
			ELIB_MEMBER a,
			ELIB_RESERVE b,
			ELIB_BOOK c,
			CMS_HOMEPAGE e
		WHERE
			a.member_id = b.member_id
		AND b.book_idx = c.book_idx
		AND b.section != '2'
		AND c.library_code = SUBSTR(e.homepage_code, 1, 8)
		<if test="type != null and type != ''">
		AND c.type = #{type}
		</if>
		<include refid="search"/>
		<if test="search_sdt != null and search_sdt != ''">
		AND #{search_sdt} &lt;= TO_CHAR(b.reserve_dt, 'YYYY-MM-DD') 
		</if>
		<if test="search_edt != null and search_edt != ''">
		AND TO_CHAR(b.reserve_dt, 'YYYY-MM-DD') &lt;= #{search_edt}
		</if>
	</select>
	
	<sql id="reserveMemberList">
		SELECT
			a.user_idx, b.reserve_idx, b.book_idx, TO_CHAR(b.reserve_dt, 'YYYY-MM-DD') AS reserve_dt, TO_CHAR(b.lendable_dt, 'YYYY-MM-DD') AS lendable_dt, TO_CHAR(b.lend_dt, 'YYYY-MM-DD') AS lend_dt,
			c.book_name, c.author_name, c.book_pubname, TO_CHAR(c.book_regdt, 'YYYY-MM-DD') AS book_regdt,
			c.com_code, z1.cate_name, z2.parent_name,
			DECODE(b.device, 'P', 'PC', 'S', '(구)스마트폰', 'A', 'Android', 'I', 'iOS', 'E', '불명') AS device, c.book_image, CASE WHEN c.library_code = '9999999' THEN '통합' ELSE e.homepage_name END AS library_name,
			a.member_id, f.comp_name,
			c.library_code, c.format, c.type, DECODE(c.type, 'EBK', '전자책', 'ADO', '오디오북', 'WEB', '온라인강좌') AS type_name,
			c.book_reserve,
			e.member_library_name,
			FLOOR(MONTHS_BETWEEN(TRUNC(SYSDATE), TO_DATE(a.birth_day, 'YYYYMMDD')) / 12) AS age,
			-- 연령대 분류 추가
			CASE
			WHEN a.birth_day IS NULL OR a.birth_day = '' THEN '불명'
			WHEN FLOOR(MONTHS_BETWEEN(TRUNC(SYSDATE), TO_DATE(a.birth_day, 'YYYYMMDD')) / 12) <![CDATA[<=]]> 13 THEN '어린이'
			WHEN FLOOR(MONTHS_BETWEEN(TRUNC(SYSDATE), TO_DATE(a.birth_day, 'YYYYMMDD')) / 12) <![CDATA[<=]]> 19 THEN '청소년'
			WHEN FLOOR(MONTHS_BETWEEN(TRUNC(SYSDATE), TO_DATE(a.birth_day, 'YYYYMMDD')) / 12) >= 20 THEN '성인'
			ELSE '불명'
			END AS age_group
		FROM
		ELIB_MEMBER a
		JOIN ELIB_LEND b
		ON b.user_idx = a.user_idx              -- ※ 실제 FK에 맞게 수정
		JOIN ELIB_BOOK c
		ON c.book_idx = b.book_idx              -- ※ 실제 FK에 맞게 수정
		LEFT JOIN ELIB_CATEGORY z1
		ON z1.cate_id = c.cate_id
		LEFT JOIN ELIB_CATEGORY z2
		ON z2.cate_id = c.parent_id
		LEFT JOIN CMS_HOMEPAGE e
		ON e.homepage_code = c.library_code     -- ※ 실제 컬럼에 맞게 수정
		LEFT JOIN ELIB_COMPANY f
		ON INSTR(f.com_code, c.com_code) > 0
		LEFT JOIN (
			SELECT
			homepage_code,
			MAX(homepage_name) AS member_library_name
			FROM CMS_HOMEPAGE
			GROUP BY homepage_code
		) q
		ON q.homepage_code = a.library_code
		WHERE
			a.member_id = b.member_id
		AND b.book_idx = c.book_idx
		AND b.section != '2'
		AND c.library_code = SUBSTR(e.homepage_code, 1, 8)
		<if test="type != null and type != ''">
		AND c.type = #{type}
		</if>
		<include refid="search"/>
		<if test="search_sdt != null and search_sdt != ''">
		AND #{search_sdt} &lt;= TO_CHAR(b.reserve_dt, 'YYYY-MM-DD') 
		</if>
		<if test="search_edt != null and search_edt != ''">
		AND TO_CHAR(b.reserve_dt, 'YYYY-MM-DD') &lt;= #{search_edt}
		</if>
		<include refid="sort2"/>
	</sql>
	
	<select id="getReserveMemberListAll" resultType="kr.go.gbelib.app.cms.module.elib.lending.Lending">
		<include refid="reserveMemberList"/>
	</select>

	<select id="getReserveMemberList" resultType="kr.go.gbelib.app.cms.module.elib.lending.Lending">
		${pagingTop}
		<include refid="reserveMemberList"/>
		${pagingBottom}
	</select>
	
	<sql id="adoMemberList">
		SELECT
			a.user_idx, b.idx AS lend_idx, b.book_idx, TO_CHAR(b.reg_dt, 'YYYY-MM-DD') AS lend_dt, '' AS return_due_dt,
			'' AS return_dt, c.book_name, c.author_name, c.book_pubname, TO_CHAR(c.book_pubdt, 'YYYY-MM-DD') AS book_pubdt, TO_CHAR(c.book_regdt, 'YYYY-MM-DD') AS book_regdt,
			c.com_code,
			(SELECT z.cate_name FROM ELIB_CATEGORY z WHERE z.cate_id = c.cate_id) AS cate_name,
			(SELECT z.cate_name FROM ELIB_CATEGORY z WHERE z.cate_id = c.parent_id) AS parent_name,
			DECODE(b.device, 'P', 'PC', 'S', '(구)스마트폰', 'A', 'Android', 'I', 'iOS', 'E', '불명') AS device, c.book_image, CASE WHEN c.library_code = '9999999' THEN '통합' ELSE e.homepage_name END AS library_name,
			a.member_id, c.book_code, (SELECT comp_name FROM ELIB_COMPANY f where INSTR(f.com_code, c.com_code) > 0) as comp_name,
			c.library_code, c.format, c.type, DECODE(c.type, 'EBK', '전자책', 'ADO', '오디오북', 'WEB', '온라인강좌') AS type_name,
			c.book_reserve,
			(SELECT MAX(q.homepage_name) from CMS_HOMEPAGE q WHERE q.homepage_code = a.library_code) AS member_library_name,
			FLOOR(MONTHS_BETWEEN(TRUNC(SYSDATE), TO_DATE(a.birth_day, 'YYYYMMDD')) / 12) AS age,
			-- 연령대 분류 추가
			CASE
			WHEN a.birth_day IS NULL OR a.birth_day = '' THEN '불명'
			WHEN FLOOR(MONTHS_BETWEEN(TRUNC(SYSDATE), TO_DATE(a.birth_day, 'YYYYMMDD')) / 12) <![CDATA[<=]]> 13 THEN '어린이'
			WHEN FLOOR(MONTHS_BETWEEN(TRUNC(SYSDATE), TO_DATE(a.birth_day, 'YYYYMMDD')) / 12) <![CDATA[<=]]> 19 THEN '청소년'
			WHEN FLOOR(MONTHS_BETWEEN(TRUNC(SYSDATE), TO_DATE(a.birth_day, 'YYYYMMDD')) / 12) >= 20 THEN '성인'
			ELSE '불명'
			END AS age_group
		FROM
			ELIB_MEMBER a,
			ELIB_AUDIO_STAT b,
			ELIB_BOOK c,
			CMS_HOMEPAGE e
		WHERE
			a.member_id = b.member_id
		AND b.book_idx = c.book_idx
		AND c.library_code = SUBSTR(e.homepage_code, 1, 8)
		AND c.type = 'ADO'
		AND '2019-10-28' &lt;= TO_CHAR(b.reg_dt, 'YYYY-MM-DD')
		<include refid="search"/>
		<if test="search_sdt != null and search_sdt != ''">
		AND #{search_sdt} &lt;= TO_CHAR(b.reg_dt, 'YYYY-MM-DD') 
		</if>
		<if test="search_edt != null and search_edt != ''">
		AND TO_CHAR(b.reg_dt, 'YYYY-MM-DD') &lt;= #{search_edt}
		</if>
		<include refid="sort"/>
	</sql>
	
	<select id="getAdoMemberListAll" resultType="kr.go.gbelib.app.cms.module.elib.lending.Lending">
		<include refid="adoMemberList"/>
	</select>
	
	<select id="getAdoMemberList" resultType="kr.go.gbelib.app.cms.module.elib.lending.Lending">
		${pagingTop}
		<include refid="adoMemberList"/>
		${pagingBottom}
	</select>
	
	<select id="getAdoMemberListCnt" resultType="int">
		SELECT
			COUNT(*) AS cnt
		FROM
			ELIB_MEMBER a,
			ELIB_AUDIO_STAT b,
			ELIB_BOOK c,
			CMS_HOMEPAGE e
		WHERE
			a.member_id = b.member_id
		AND b.book_idx = c.book_idx
		AND c.library_code = SUBSTR(e.homepage_code, 1, 8)
		AND c.type = 'ADO'
		AND '2019-10-28' &lt;= TO_CHAR(b.reg_dt, 'YYYY-MM-DD')
		<include refid="search"/>
		<if test="search_sdt != null and search_sdt != ''">
		AND #{search_sdt} &lt;= TO_CHAR(b.reg_dt, 'YYYY-MM-DD') 
		</if>
		<if test="search_edt != null and search_edt != ''">
		AND TO_CHAR(b.reg_dt, 'YYYY-MM-DD') &lt;= #{search_edt}
		</if>
	</select>
	
	<sql id="webMemberList">
		SELECT
			a.user_idx, b.idx AS lend_idx, b.book_idx, TO_CHAR(b.reg_dt, 'YYYY-MM-DD') AS lend_dt, '' AS return_due_dt,
			'' AS return_dt, c.book_name, c.author_name, c.book_pubname, TO_CHAR(c.book_pubdt, 'YYYY-MM-DD') AS book_pubdt, TO_CHAR(c.book_regdt, 'YYYY-MM-DD') AS book_regdt,
			c.com_code,
			(SELECT z.cate_name FROM ELIB_CATEGORY z WHERE z.cate_id = c.cate_id) AS cate_name,
			(SELECT z.cate_name FROM ELIB_CATEGORY z WHERE z.cate_id = c.parent_id) AS parent_name,
			DECODE(b.device, 'P', 'PC', 'S', '(구)스마트폰', 'A', 'Android', 'I', 'iOS', 'E', '불명') AS device, c.book_image, CASE WHEN c.library_code = '9999999' THEN '통합' ELSE e.homepage_name END AS library_name,
			a.member_id, c.book_code, (SELECT comp_name FROM ELIB_COMPANY f where INSTR(f.com_code, c.com_code) > 0) as comp_name,
			c.library_code, c.format, c.type, DECODE(c.type, 'EBK', '전자책', 'ADO', '오디오북', 'WEB', '온라인강좌') AS type_name,
			c.book_reserve,
			(SELECT MAX(q.homepage_name) from CMS_HOMEPAGE q WHERE q.homepage_code = a.library_code) AS member_library_name,
			FLOOR(MONTHS_BETWEEN(TRUNC(SYSDATE), TO_DATE(a.birth_day, 'YYYYMMDD')) / 12) AS age,
			-- 연령대 분류 추가
			CASE
			WHEN a.birth_day IS NULL OR a.birth_day = '' THEN '불명'
			WHEN FLOOR(MONTHS_BETWEEN(TRUNC(SYSDATE), TO_DATE(a.birth_day, 'YYYYMMDD')) / 12) <![CDATA[<=]]> 13 THEN '어린이'
			WHEN FLOOR(MONTHS_BETWEEN(TRUNC(SYSDATE), TO_DATE(a.birth_day, 'YYYYMMDD')) / 12) <![CDATA[<=]]> 19 THEN '청소년'
			WHEN FLOOR(MONTHS_BETWEEN(TRUNC(SYSDATE), TO_DATE(a.birth_day, 'YYYYMMDD')) / 12) >= 20 THEN '성인'
			ELSE '불명'
			END AS age_group
		FROM
			ELIB_MEMBER a,
			ELIB_ELEARN_STAT b,
			ELIB_BOOK c,
			CMS_HOMEPAGE e
		WHERE
			a.member_id = b.member_id
		AND b.book_idx = c.book_idx
		AND c.library_code = SUBSTR(e.homepage_code, 1, 8)
		AND c.type = 'WEB'
		AND '2019-10-28' &lt;= TO_CHAR(b.reg_dt, 'YYYY-MM-DD')
		<include refid="search"/>
		<if test="search_sdt != null and search_sdt != ''">
		AND #{search_sdt} &lt;= TO_CHAR(b.reg_dt, 'YYYY-MM-DD') 
		</if>
		<if test="search_edt != null and search_edt != ''">
		AND TO_CHAR(b.reg_dt, 'YYYY-MM-DD') &lt;= #{search_edt}
		</if>
		<include refid="sort"/>
	</sql>
	
	<select id="getWebMemberListAll" resultType="kr.go.gbelib.app.cms.module.elib.lending.Lending">
		<include refid="webMemberList"/>
	</select>
	
	<select id="getWebMemberList" resultType="kr.go.gbelib.app.cms.module.elib.lending.Lending">
		${pagingTop}
		<include refid="webMemberList"/>
		${pagingBottom}
	</select>
	
	<select id="getWebMemberListCnt" resultType="int">
		SELECT
			COUNT(*) AS cnt
		FROM
			ELIB_MEMBER a,
			ELIB_ELEARN_STAT b,
			ELIB_BOOK c,
			CMS_HOMEPAGE e
		WHERE
			a.member_id = b.member_id
		AND b.book_idx = c.book_idx
		AND c.library_code = SUBSTR(e.homepage_code, 1, 8)
		AND c.type = 'WEB'
		AND '2019-10-28' &lt;= TO_CHAR(b.reg_dt, 'YYYY-MM-DD')
		<include refid="search"/>
		<if test="search_sdt != null and search_sdt != ''">
		AND #{search_sdt} &lt;= TO_CHAR(b.reg_dt, 'YYYY-MM-DD') 
		</if>
		<if test="search_edt != null and search_edt != ''">
		AND TO_CHAR(b.reg_dt, 'YYYY-MM-DD') &lt;= #{search_edt}
		</if>
	</select>
	
	<select id="getLending" resultType="kr.go.gbelib.app.cms.module.elib.lending.Lending">
		SELECT
			a.lend_idx, a.book_idx, a.lend_dt, a.return_due_dt, a.return_dt,
			a.member_id, a.extention_count,
			(SELECT COUNT(*) FROM ELIB_LEND z WHERE z.return_dt IS NULL AND z.book_idx = #{book_idx}) AS book_lend
		FROM
			ELIB_LEND a,
			ELIB_MEMBER b
		WHERE
			a.member_id = b.member_id
		<choose>
		<when test="lend_idx != null and lend_idx != 0">
		AND a.lend_idx = #{lend_idx}
		</when>
		<when test="book_idx != null and book_idx != 0">
		AND a.member_id = #{member_id}
		AND a.book_idx = #{book_idx}
		AND a.return_flag IS NULL
		</when>
		<otherwise>
		AND a.lend_idx = #{lend_idx}
		</otherwise>
		</choose>
	</select>
	
	
	<select id="getLendingByLendIdx" resultType="kr.go.gbelib.app.cms.module.elib.lending.Lending">
		SELECT
			a.lend_idx, a.book_idx, a.lend_dt, a.return_due_dt, a.return_dt,
			a.member_id, a.extention_count,
			(SELECT COUNT(*) FROM ELIB_LEND z WHERE z.return_dt IS NULL AND z.book_idx = #{book_idx}) AS book_lend
		FROM
			ELIB_LEND a
		WHERE
			a.lend_idx = #{lend_idx}
<!-- 		and	a.book_idx = #{book_idx} -->
	</select>
	
	<update id="returnLending">
		UPDATE ELIB_LEND SET
			return_dt = SYSDATE,
			return_flag = 'Y'
		WHERE 1=1
		<choose>
		<when test="lend_idx != null and lend_idx != 0">
		AND lend_idx = #{lend_idx}
		</when>
		<when test="book_idx != null and book_idx != 0">
		AND member_id = #{member_id}
		AND book_idx = #{book_idx}
		AND return_flag IS NULL
		</when>
		<otherwise>
		AND lend_idx = #{lend_idx}
		</otherwise>
		</choose>
	</update>
	
	<select id="getBookReserveList" resultType="kr.go.gbelib.app.cms.module.elib.lending.Lending">
		SELECT
			a.reserve_idx, a.book_idx, a.com_code, a.member_id, TO_CHAR(a.lendable_dt, 'YYYY-MM-DD') AS lendable_dt
		FROM
			ELIB_RESERVE a,
			ELIB_MEMBER b
		WHERE
			a.member_id = b.member_id
		AND a.book_idx = #{book_idx}
		AND a.section = '1'
		ORDER BY a.lendable_dt, a.reserve_idx
	</select>
	
	<select id="getUserBorrowCnt" resultType="int">
		SELECT
			COUNT(*) AS cnt
		FROM
			ELIB_LEND
		WHERE
			return_dt IS NULL
		AND member_id = #{member_id}
	</select>
	
	<select id="getBookLendCnt" resultType="int">
		SELECT
			COUNT(*) AS cnt
		FROM
			ELIB_LEND
		WHERE
			return_dt IS NULL
		AND book_idx = #{book_idx}
	</select>
	
	<select id="getNotReturnedCnt" resultType="int">
		SELECT
			COUNT(*) AS cnt
		FROM
			ELIB_LEND
		WHERE
			return_dt IS NULL
		AND member_id = #{member_id}
		AND book_idx = #{book_idx}
	</select>
	
	<select id="getDupReserveCnt" resultType="int">
		SELECT
			COUNT(*) AS cnt
		FROM
			ELIB_RESERVE
		WHERE
			section = '1'
		AND member_id = #{member_id}
		AND book_idx = #{book_idx}
	</select>
	
	<select id="getDupLendingCnt" resultType="int">
		SELECT
			COUNT(*) AS cnt
		FROM
			ELIB_LEND
		WHERE
			(return_flag is null or return_flag != 'Y')
		AND member_id = #{member_id}
		AND book_idx = #{book_idx}
	</select>
	
	<insert id="addLending">
		INSERT INTO ELIB_LEND (
			lend_idx, com_code, book_idx, extention_count, lend_dt, return_due_dt, device, member_id
		) VALUES (
			ELIB_LEND_SEQ.NEXTVAL, #{com_code}, #{book_idx}, 0, SYSDATE,
			to_date(to_char(SYSDATE+NVL((SELECT lend_max_term FROM ELIB_CONFIG_LEND WHERE config_idx=1), 7), 'YYYY-MM-DD') || ' 23:59:59', 'YYYY-MM-DD HH24:MI:SS'),
			#{device}, #{member_id}
		)
	</insert>
	
	<update id="updateLendReserveCnt">
		UPDATE ELIB_BOOK SET
			book_lend    = (SELECT COUNT(*) FROM ELIB_LEND z WHERE z.book_idx = #{book_idx} AND z.return_flag is null),
			book_reserve = (SELECT COUNT(*) FROM ELIB_RESERVE z WHERE z.book_idx = #{book_idx} AND z.section = '1'),
			lend_total   = (SELECT COUNT(*) FROM ELIB_LEND z WHERE z.book_idx = #{book_idx})
		WHERE book_idx = #{book_idx}
	</update>
	
	<select id="getNotReturnedList" resultType="kr.go.gbelib.app.cms.module.elib.lending.Lending">
		SELECT
			lend_idx, com_code, book_idx, extention_count, lend_dt, TO_CHAR(return_due_dt, 'YYYY-MM-DD') AS return_due_dt, device, member_id
		FROM
			ELIB_LEND
		WHERE
			return_flag IS NULL
		AND book_idx = #{book_idx}
		ORDER BY return_due_dt, lend_idx
	</select>
	
	<update id="updateLendableDt">
		UPDATE ELIB_RESERVE SET
			lendable_dt = TO_DATE(#{lendable_dt}, 'YYYY-MM-DD HH24:MI:SS')
		WHERE 1=1
		<choose>
		<when test="reserve_idx != null and reserve_idx != 0">
		AND reserve_idx = #{reserve_idx}
		</when>
		<when test="book_idx != null and book_idx != 0">
		AND member_id = #{member_id}
		AND book_idx = #{book_idx}
		</when>
		<otherwise>
		AND reserve_idx = #{reserve_idx}
		</otherwise>
		</choose>
	</update>
	
	<select id="getReserveCnt" resultType="int">
		SELECT
			COUNT(*) AS cnt
		FROM
			ELIB_RESERVE
		WHERE member_id = #{member_id}
		<choose>
		<when test="reserve_idx != null and reserve_idx != 0">
		AND reserve_idx = #{reserve_idx}
		</when>
		<when test="book_idx != null and book_idx != 0">
		AND book_idx = #{book_idx}
		</when>
		<otherwise>
		AND reserve_idx = #{reserve_idx}
		</otherwise>
		</choose>
	</select>
	
	<select id="getReserve" resultType="kr.go.gbelib.app.cms.module.elib.lending.Lending">
		SELECT
			book_idx, lendable_dt
		FROM
			ELIB_RESERVE
		WHERE member_id = #{member_id}
		<choose>
		<when test="reserve_idx != null and reserve_idx != 0">
		AND reserve_idx = #{reserve_idx}
		</when>
		<when test="book_idx != null and book_idx != 0">
		AND book_idx = #{book_idx}
		</when>
		<otherwise>
		AND reserve_idx = #{reserve_idx}
		</otherwise>
		</choose>
	</select>
	
	<delete id="deleteReserve">
		UPDATE ELIB_RESERVE SET
			section = '2',
			lend_dt = SYSDATE
		WHERE member_id = #{member_id}
		<choose>
		<when test="reserve_idx != null and reserve_idx != 0">
		AND reserve_idx = #{reserve_idx}
		</when>
		<when test="book_idx != null and book_idx != 0">
		AND book_idx = #{book_idx}
		</when>
		<otherwise>
		AND reserve_idx = #{reserve_idx}
		</otherwise>
		</choose>
	</delete>
	
	<select id="getBookReserveCnt" resultType="int">
		SELECT
			COUNT(*) AS cnt
		FROM
			ELIB_RESERVE
		WHERE
			section = '1'
		AND book_idx = #{book_idx}
	</select>
	
	<select id="getMemberReserveCnt" resultType="int">
		SELECT
			COUNT(*) AS cnt
		FROM
			ELIB_RESERVE
		WHERE
			section = '1'
		AND member_id = #{member_id}
	</select>
	
	<insert id="addReserve">
		INSERT INTO ELIB_RESERVE (
			reserve_idx, com_code, book_idx, section, reserve_dt, device, member_id
		) VALUES (
			ELIB_RESERVE_SEQ.NEXTVAL, #{com_code}, #{book_idx}, 1, SYSDATE, #{device}, #{member_id}
		)
	</insert>
	
	<sql id="getFavorite">
		FROM
			ELIB_INTEREST_BOOK a,
			ELIB_BOOK b,
			CMS_HOMEPAGE c
		WHERE
			a.book_idx = b.book_idx
		AND a.member_id = #{member_id}
		AND b.library_code = c.homepage_code
		<if test="start_date != null and start_date != ''">
		AND TO_CHAR(a.regdt, 'YYYY-MM-DD') &gt;= #{start_date}
		</if>
		<if test="end_date != null and end_date != ''">
		AND TO_CHAR(a.regdt, 'YYYY-MM-DD') &lt;= #{end_date}
		</if>
	</sql>
	
	<select id="getFavoritesListCnt" resultType="int">
		SELECT
			COUNT(*) AS cnt
		<include refid="getFavorite"/>
	</select>
	
	<select id="getFavoritesList" resultType="kr.go.gbelib.app.cms.module.elib.lending.Lending">
		${pagingTop}
		SELECT
			TO_CHAR(a.regdt, 'YYYY-MM-DD') AS favorite_regdt, b.book_idx, b.book_code, b.book_name, b.book_image, b.com_code,
			b.format, b.author_name, b.book_pubname, TO_CHAR(b.book_pubdt, 'YYYY-MM-DD') AS book_pubdt, b.library_code,
			b.add_date, b.max_lend, CASE WHEN b.library_code = '9999999' THEN '통합' ELSE c.homepage_name END AS library_name,
			b.type, (SELECT comp_name FROM ELIB_COMPANY f where INSTR(f.com_code, b.com_code) > 0) AS comp_name
		<include refid="getFavorite"/>
		${pagingBottom}
	</select>
	
	<select id="getDupFavoritesCnt" resultType="int">
		SELECT
			COUNT(*) AS cnt
		FROM
			ELIB_INTEREST_BOOK
		WHERE
			book_idx = #{book_idx}
		AND member_id = #{member_id}
	</select>
	
	<insert id="addFavorite">
		INSERT INTO ELIB_INTEREST_BOOK (
			book_idx, type, regdt, member_id
		) VALUES (
			#{book_idx}, #{type}, SYSDATE, #{member_id}
		)
	</insert>
	
	<delete id="deleteFavorite">
		DELETE FROM
			ELIB_INTEREST_BOOK
		WHERE
			book_idx = #{book_idx}
		AND member_id = #{member_id}
	</delete>
	
	<select id="getBooksToAutoReturn" resultType="kr.go.gbelib.app.cms.module.elib.lending.Lending">
		SELECT
			a.lend_idx, a.com_code, a.book_idx, a.extention_count,
			a.lend_dt, a.return_due_dt, a.return_dt, a.return_flag,
			a.device, a.member_id,
			b.book_lend, b.book_code
		FROM
			ELIB_LEND a,
			ELIB_BOOK b
		WHERE
			a.book_idx = b.book_idx
		AND a.return_due_dt &lt;= SYSDATE
		AND a.return_dt IS NULL
	</select>
	
	<select id="getReservesLendable" resultType="kr.go.gbelib.app.cms.module.elib.lending.Lending">
		SELECT
			a.book_idx, a.book_code, a.com_code, a.book_name, a.book_lend, a.max_lend, a.book_reserve
		FROM
			ELIB_BOOK a
		WHERE
			use_yn = 'Y'
		AND book_lend &lt; max_lend
		AND	book_reserve &gt; 0
	</select>
	
	<select id="getBookstoAutoUpdateLendableDt" resultType="kr.go.gbelib.app.cms.module.elib.lending.Lending">
		SELECT
			a.reserve_idx, a.book_idx, a.com_code, a.section,
			a.reserve_dt, a.lendable_dt, a.lend_dt, 
			b.book_reserve, b.book_code
		FROM
			ELIB_RESERVE a,
			ELIB_BOOK b
		WHERE
			a.book_idx = b.book_idx (+)
		AND a.section = '1'
		AND a.lendable_dt &lt;= SYSDATE
		ORDER BY a.reserve_idx
	</select>
	
	<update id="extendLending">
		UPDATE ELIB_LEND SET
			return_due_dt = return_due_dt + NVL((SELECT ext_lend_term FROM ELIB_CONFIG_LEND WHERE config_idx=1), 7)
			,extention_count = extention_count+1
		WHERE 1=1
		<choose>
		<when test="lend_idx != null and lend_idx != 0">
		AND lend_idx = #{lend_idx}
		</when>
		<when test="book_idx != null and book_idx != 0">
		AND member_id = #{member_id}
		AND book_idx = #{book_idx}
		AND return_flag IS NULL
		</when>
		<otherwise>
		AND lend_idx = #{lend_idx}
		</otherwise>
		</choose>
	</update>
	
	<update id="reserveToLending">
		UPDATE ELIB_RESERVE SET
			section = '0',
			lend_dt = SYSDATE
		WHERE 1=1
		<choose>
		<when test="reserve_idx != null and reserve_idx != 0">
		AND reserve_idx = #{reserve_idx}
		</when>
		<when test="book_idx != null and book_idx != 0">
		AND member_id = #{member_id}
		AND book_idx = #{book_idx}
		</when>
		<when test="reserve_idx != null and reserve_idx != 0">
			AND reserve_idx = #{reserve_idx}
		</when>
		<otherwise>
		AND reserve_idx = #{reserve_idx}
		</otherwise>
		</choose>
	</update>
	
	<insert id="addLendingWithReturn">
		INSERT INTO ELIB_LEND (
			lend_idx, com_code, book_idx, extention_count, lend_dt, 
			return_due_dt, return_dt, return_flag, device, member_id
		) VALUES (
			ELIB_LEND_SEQ.NEXTVAL, #{com_code}, #{book_idx}, 0, SYSDATE, 
			SYSDATE, SYSDATE, 'Y', #{device}, #{member_id}
		) 
	</insert>
	
	<insert id="addAutdioBookStat">
		INSERT INTO ELIB_AUDIO_STAT (
			idx, device, reg_dt, book_idx, member_id
		) VALUES (
			ELIB_AUDIO_STAT_SEQ.NEXTVAL, #{device}, SYSDATE, #{book_idx}, #{member_id}
		)
	</insert>
	
	<insert id="addElearnStat">
		INSERT INTO ELIB_ELEARN_STAT (
			idx, book_idx, lesson_no, device, reg_dt, 
			member_id
		) VALUES (
			ELIB_ELEARN_STAT_SEQ.NEXTVAL, #{book_idx}, #{lesson_no}, #{device}, SYSDATE, 
			#{member_id}
		)
	</insert>
	
	<insert id="addExtlinkStat">
		<selectKey keyProperty="book_idx" order="BEFORE" resultType="int">
			SELECT NVL(MAX(idx),0)+1 FROM ELIB_EXTLINK_STAT
		</selectKey>
		
		INSERT INTO ELIB_EXTLINK_STAT (
			idx, device, com_code, member_id, reg_dt
		) VALUES (
			ELIB_EXTLINK_STAT_SEQ.NEXTVAL, #{device}, #{com_code}, #{member_id}, SYSDATE
		)
	</insert>
	
</mapper>