<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.whalesoft.app.cms.module.calendarManage.CalendarManageDao">
	
	<!-- 일정관리 컬럼  -->
	<sql id="field">
		homepage_id, cm_idx, start_date, start_time, end_date, 
		end_time, title, contents, date_type, link_url,
		weekday, individual_yn
	</sql>

	<!-- 	일정관리 list -->
	<select id="getCalendarManage" resultType="kr.co.whalesoft.app.cms.module.calendarManage.CalendarManage">
		SELECT
			<include refid="field" />	
		FROM 
			CMS_CALENDAR_MANAGE
		WHERE HOMEPAGE_ID = #{homepage_id}
	 <if test="plan_date != null and plan_date != ''">
	 	AND (substr(start_date,1,7) = #{plan_date}
	 	OR substr(end_date,1,7) = #{plan_date})
	 </if>
	 	AND DELETE_YN = 'N'
	</select>
	
	<select id="getCalendarManageOne" resultType="kr.co.whalesoft.app.cms.module.calendarManage.CalendarManage">
		SELECT
			homepage_id, cm_idx, start_date, start_time, end_date, 
			end_time, title, contents, date_type, link_url,
			individual_yn, group_idx,
			CASE
				WHEN weekday = '1,2,3,4,5,6,7'
				THEN '0'
				ELSE weekday
			END weekday,
			(SELECT COUNT(*) FROM CMS_CALENDAR_MANAGE B WHERE b.group_idx = a.group_idx) as group_count
		FROM 
			CMS_CALENDAR_MANAGE a
		WHERE
			HOMEPAGE_ID = #{homepage_id} AND CM_IDX = #{cm_idx}
		AND
			DATE_TYPE = #{date_type}
		AND DELETE_YN = 'N'
	</select>
	
	<select id="getCalendarManageOne2" resultType="kr.co.whalesoft.app.cms.module.calendarManage.CalendarManage">
		SELECT
			MIN(start_date) AS start_date,
			MAX(end_date) AS end_date,
			MIN(start_time) AS start_time,
			MAX(end_time) AS end_time
		FROM 
			CMS_CALENDAR_MANAGE a
		WHERE
			HOMEPAGE_ID = #{homepage_id} 
		AND	DATE_TYPE = #{date_type}
		AND	group_idx = #{group_idx}
		AND DELETE_YN = 'N'
	</select>
	
	<select id="getCalendarManageCheckCount" resultType="int">
		SELECT
			COUNT(*)
		FROM 
			CMS_CALENDAR_MANAGE a
		WHERE
			HOMEPAGE_ID = #{homepage_id} 
		AND	start_date = #{start_date}
		AND	end_date = #{end_date}
		AND	group_idx = #{group_idx_tmp}
		AND individual_yn = 'Y'
		AND DELETE_YN = 'N'
	</select>
	
	<!-- 휴관일 가져오기 -->
	<select id="getClosedDate" resultType="kr.co.whalesoft.app.cms.module.calendarManage.CalendarManage">
		SELECT			
			TO_CHAR(TO_DATE(START_DATE,'YYYY-MM-DD'),'YYYY-MM-DD') AS START_DATE,
			TO_CHAR(TO_DATE(END_DATE,'YYYY-MM-DD'),'YYYY-MM-DD') AS END_DATE,
			homepage_id, cm_idx, start_time, end_time, title, contents, date_type, link_url
		FROM 
			CMS_CALENDAR_MANAGE
		WHERE
			HOMEPAGE_ID = #{homepage_id} AND
			DATE_TYPE = '1' AND
			DELETE_YN = 'N'
			<if test="plan_date != null and plan_date != ''">
		 		AND (substr(start_date,1,7) = #{plan_date}
		 		OR substr(end_date,1,7) = #{plan_date})
			</if>
	</select>
	
	<!-- 휴관일 가져오기 -->
	<select id="getClosedDate2" resultType="kr.co.whalesoft.app.cms.module.calendarManage.CalendarManage">
		SELECT
			mm, LISTAGG(dd,', ') WITHIN GROUP (ORDER BY mm, dd) AS dd
		FROM (
			SELECT
				substr(start_date,6,2) as mm,
				substr(start_date,9,2) as dd
			FROM (
					SELECT
						distinct start_date
					FROM CMS_CALENDAR_MANAGE
					WHERE
						HOMEPAGE_ID = #{homepage_id}
						AND date_type = '1'
						AND	DELETE_YN = 'N'
						AND	substr(start_date,1,7) = #{plan_date}
				) ORDER BY DD
			)
		GROUP BY mm
	</select>
	
	<!-- 휴관일 가져오기 -->
	<select id="getClosedDate3" resultType="kr.co.whalesoft.app.cms.module.calendarManage.CalendarManage">
		SELECT 
			mm, LISTAGG(dd,', ') WITHIN GROUP (ORDER BY mm, dd) AS dd
		FROM (
			SELECT
				substr(start_date,6,2) as mm,
				substr(start_date,9,2) || '(' || to_char(to_date(start_date),'dy') || ')' as dd
			FROM ( 
					SELECT
						distinct start_date
					FROM CMS_CALENDAR_MANAGE
					WHERE
						HOMEPAGE_ID = #{homepage_id}
						AND date_type = '1'
						AND	DELETE_YN = 'N'
						AND	substr(start_date,1,7) = #{plan_date}
				) ORDER BY DD	
			)
		GROUP BY mm
	</select>
	
	<!-- 행사 가져오기 -->
	<select id="getCalendarManageDetail" resultType="kr.co.whalesoft.app.cms.module.calendarManage.CalendarManage">
		SELECT
			<include refid="field" />	
		FROM 
			CMS_CALENDAR_MANAGE
		WHERE HOMEPAGE_ID = #{homepage_id}
	<if test="date_type != null and date_type != ''">
		 AND date_type = #{date_type}
	 </if>
	 <if test="plan_date != null and plan_date != ''">
	 	AND (substr(start_date,1,7) = #{plan_date}
	 	OR substr(end_date,1,7) = #{plan_date})
	 </if>
	 	AND DELETE_YN = 'N'
	</select>
	
	<!-- 행사 가져오기 -->
	<select id="getCalendarManageDetail2" resultType="kr.co.whalesoft.app.cms.module.calendarManage.CalendarManage">
		SELECT
			<include refid="field" />	
		FROM 
			CMS_CALENDAR_MANAGE
		WHERE HOMEPAGE_ID = #{homepage_id}
		AND date_type IN ('2','3','4')
	 <if test="plan_date != null and plan_date != ''">
	 	AND (substr(start_date,1,7) = #{plan_date}
	 	OR substr(end_date,1,7) = #{plan_date})
	 </if>
	 	AND DELETE_YN = 'N'
	</select>
	
	<!-- 휴관일 포함여부체크 -->
	<select id="closedDateCheck" resultType="int">
		SELECT 
			COUNT(*) 
		FROM 
			CMS_CALENDAR_MANAGE
		WHERE 
			HOMEPAGE_ID = #{homepage_id} AND 
			DATE_TYPE = '1' AND 
			DELETE_YN = 'N' AND
			START_DATE <![CDATA[<=]]> #{end_date} AND
			END_DATE <![CDATA[>=]]> #{start_date}
	</select>
	
	<!-- 휴관일 중복체크 -->
	<select id="closedDateCheck2" resultType="int">
		SELECT 
			COUNT(*) 
		FROM 
			CMS_CALENDAR_MANAGE
		WHERE 
			HOMEPAGE_ID = #{homepage_id} 
		AND DATE_TYPE = '1' 
		AND DELETE_YN = 'N' 
		AND START_DATE = #{start_date}
	</select>
	
	<!-- 일정관리 등록 -->
	<insert id="addCalendarManage">
		INSERT INTO CMS_CALENDAR_MANAGE (
		   		HOMEPAGE_ID, CM_IDX, START_DATE, START_TIME, END_DATE, 
				END_TIME, TITLE, CONTENTS, DATE_TYPE, link_url, group_idx,
				individual_yn, weekday
	   )VALUES (
	   		#{homepage_id}, (SELECT NVL(MAX(cm_idx),0)+1 FROM CMS_CALENDAR_MANAGE ), #{start_date}, #{start_time}, #{end_date},
	   		#{end_time}, #{title}, #{contents}, #{date_type}, #{link_url}, #{group_idx},
	   		'N', #{weekday}
		)
	</insert>
	
	<update id="modifyCalendarManage">
		UPDATE
			CMS_CALENDAR_MANAGE
		SET
			START_DATE = #{start_date}, 
			START_TIME = #{start_time},
			END_DATE = #{end_date}, 
			END_TIME = #{end_time}, 
			TITLE = #{title},
			CONTENTS = #{contents},
			link_url = #{link_url},
			individual_yn = #{individual_yn},
			weekday = #{weekday}
		WHERE
			HOMEPAGE_ID = #{homepage_id} 
		AND DELETE_YN = 'N'
		<if test='individual_yn2 == "Y"'>
		AND CM_IDX = #{cm_idx} 
		</if>
		<if test='individual_yn2 == "N"'>
		AND group_idx = #{group_idx} 
		</if>
		<if test='individual_yn2 == "E"'>
		AND group_idx = #{group_idx} 
		AND individual_yn != 'Y' 
		</if>
	</update>
	
	<delete id="deleteCalendarManage">
		UPDATE
			CMS_CALENDAR_MANAGE
		SET
			DELETE_YN = 'Y'
		WHERE
			HOMEPAGE_ID = #{homepage_id}
		<if test='individual_yn2 == "Y"'>
		AND CM_IDX = #{cm_idx} 
		</if>
		<if test='individual_yn2 == "N"'>
		AND group_idx = #{group_idx} 
		</if>
		<if test='individual_yn2 == "E"'>
		AND group_idx = #{group_idx}
		AND individual_yn != 'Y' 
		</if> 
	</delete>
	
	<delete id="deleteCalendarManageGroup">
		UPDATE
			CMS_CALENDAR_MANAGE
		SET
			DELETE_YN = 'Y'
		WHERE
			HOMEPAGE_ID = #{homepage_id} 
		<if test='individual_yn2 == "Y"'>
		AND CM_IDX = #{cm_idx} 
		</if>
		<if test='individual_yn2 == "N"'>
		AND group_idx = #{group_idx} 
		</if>
		<if test='individual_yn2 == "E"'>
		AND group_idx = #{group_idx}
		AND individual_yn != 'Y' 
		</if> 
	</delete>
	
	<select id="getCalendar" resultType="kr.co.whalesoft.app.cms.module.calendarManage.CalendarManage">
		SELECT
		MIN(DECODE(TO_CHAR(DAYS, 'D'), 1, TO_CHAR(DAYS, 'FMDD'))) AS SUN,
		MIN(DECODE(TO_CHAR(DAYS, 'D'), 2, TO_CHAR(DAYS, 'FMDD'))) AS MON,
		MIN(DECODE(TO_CHAR(DAYS, 'D'), 3, TO_CHAR(DAYS, 'FMDD'))) AS TUE,
		MIN(DECODE(TO_CHAR(DAYS, 'D'), 4, TO_CHAR(DAYS, 'FMDD'))) AS WED,
		MIN(DECODE(TO_CHAR(DAYS, 'D'), 5, TO_CHAR(DAYS, 'FMDD'))) AS THU,
		MIN(DECODE(TO_CHAR(DAYS, 'D'), 6, TO_CHAR(DAYS, 'FMDD'))) AS FRI,
		MIN(DECODE(TO_CHAR(DAYS, 'D'), 7, TO_CHAR(DAYS, 'FMDD'))) AS SAT,
		#{plan_date} AS PLAN_DATE
		FROM (
		SELECT
		(BASE_MON + LEVEL - 1) AS DAYS,
		BASE_MON,
		((TRUNC(BASE_MON + LEVEL - 1, 'D') - TRUNC(TRUNC(BASE_MON + LEVEL - 1, 'Y'), 'D')) / 7 + 1) AS WEEK_NUM
		FROM (SELECT TO_DATE(#{plan_date}, 'yyyy-MM') AS BASE_MON FROM DUAL)
		CONNECT BY LEVEL <![CDATA[ <= ]]> LAST_DAY(TO_DATE(#{plan_date}, 'yyyy-MM')) - TO_DATE(#{plan_date}, 'yyyy-MM') + 1
		)
		WHERE DAYS <![CDATA[ <= ]]> LAST_DAY(BASE_MON)
		GROUP BY WEEK_NUM
		ORDER BY WEEK_NUM
	</select>
	
	<select id="getCalendarType2" resultType="kr.co.whalesoft.app.cms.module.calendarManage.CalendarManage">
		SELECT
			DAYS AS dd, WEEKDAY, #{plan_date} AS PLAN_DATE
		FROM (
			SELECT
				TO_CHAR(DAYS, 'FMDD') AS DAYS,
				CASE
				WHEN TO_CHAR(DAYS, 'D') = '1' THEN '일'
				WHEN TO_CHAR(DAYS, 'D') = '2' THEN '월'
				WHEN TO_CHAR(DAYS, 'D') = '3' THEN '화'
				WHEN TO_CHAR(DAYS, 'D') = '4' THEN '수'
				WHEN TO_CHAR(DAYS, 'D') = '5' THEN '목'
				WHEN TO_CHAR(DAYS, 'D') = '6' THEN '금'
				WHEN TO_CHAR(DAYS, 'D') = '7' THEN '토'
				END AS WEEKDAY
			FROM (
				SELECT
					(BASE_MON + LEVEL - 1) AS DAYS, BASE_MON,
				((TRUNC(BASE_MON + LEVEL - 1, 'D') - TRUNC(TRUNC(BASE_MON + LEVEL - 1, 'Y'), 'D')) / 7 + 1) AS WEEK_NUM
				FROM (SELECT TO_DATE(#{plan_date}, 'yyyy-MM') AS BASE_MON FROM DUAL)
				CONNECT BY LEVEL <![CDATA[ <= ]]> LAST_DAY(TO_DATE(#{plan_date}, 'yyyy-MM')) - TO_DATE(#{plan_date}, 'yyyy-MM') + 1
				)
			WHERE DAYS <![CDATA[ <= ]]> LAST_DAY(BASE_MON)
			)
	</select>
	
	<select id="getCalendarListType" resultType="kr.co.whalesoft.app.cms.module.calendarManage.CalendarManage">
		SELECT
			C.*, TO_CHAR(C.DAYS, 'D') AS WEEKDAY, #{plan_date} AS PLAN_DATE
		FROM (
			SELECT
			(BASE_MON + LEVEL - 1) AS DAYS,
			BASE_MON,
			((TRUNC(BASE_MON + LEVEL - 1, 'D') - TRUNC(TRUNC(BASE_MON + LEVEL - 1, 'Y'), 'D')) / 7 + 1) AS WEEK_NUM
			FROM (SELECT TO_DATE(#{plan_date}, 'yyyy-MM') AS BASE_MON FROM DUAL)
			CONNECT BY LEVEL <![CDATA[ <= ]]> LAST_DAY(TO_DATE(#{plan_date}, 'yyyy-MM')) - TO_DATE(#{plan_date}, 'yyyy-MM') + 1
			) C
		WHERE C.DAYS <![CDATA[ <= ]]> LAST_DAY(BASE_MON)

	</select>
	
	<!-- 일정 통계 일별 -->
	<select id="getCalendarStatus" resultType="kr.co.whalesoft.app.cms.module.calendarManage.CalendarManage">		
		SELECT 
			TO_CHAR(START_DATE, 'YYYY-MM-DD') AS START_DATE, SUM(COUNT) AS COUNT 
		FROM (
			SELECT DISTINCT(START_DATE + LEVEL -1) AS START_DATE, COUNT
				FROM (
					SELECT
						TO_DATE(START_DATE, 'YYYY-MM-DD') AS START_DATE,
						TO_DATE(END_DATE, 'YYYY-MM-DD') AS END_DATE,
						COUNT(*) AS COUNT
					FROM CMS_CALENDAR_MANAGE
					WHERE
						DELETE_YN = 'N' AND
						HOMEPAGE_ID = #{homepage_id}
					GROUP BY START_DATE, END_DATE 
				)
			CONNECT BY START_DATE + LEVEL -1  <![CDATA[<=]]>  END_DATE
			order by start_date desc
			) 
		WHERE				
			START_DATE BETWEEN TO_DATE(#{start_date},'yyyy-mm-dd') AND TO_DATE(#{end_date}, 'yyyy-mm-dd')
		GROUP BY  ROLLUP (START_DATE )
		ORDER BY START_DATE DESC
	</select>
	
	<!-- 일정 통계 월별 -->
	<select id="getCalendarMonthStatus" resultType="kr.co.whalesoft.app.cms.module.calendarManage.CalendarManage">		
		SELECT 
			START_DATE, SUM(COUNT) AS COUNT 
		FROM 
			(
			SELECT 
				TO_CHAR(START_DATE, 'YYYY-MM') AS START_DATE, SUM(COUNT) AS COUNT
			FROM (
				SELECT DISTINCT(START_DATE + LEVEL -1) AS START_DATE, COUNT
					FROM (
						SELECT
							TO_DATE(START_DATE, 'YYYY-MM-DD') AS START_DATE,
							TO_DATE(END_DATE, 'YYYY-MM-DD') AS END_DATE,
							COUNT(*) AS COUNT
						FROM CMS_CALENDAR_MANAGE
						WHERE
							DELETE_YN = 'N' AND
							HOMEPAGE_ID = #{homepage_id}
						GROUP BY START_DATE, END_DATE 
					)
				CONNECT BY START_DATE + LEVEL -1  <![CDATA[<=]]>  END_DATE
				order by start_date desc
				) 
			WHERE				
				TO_CHAR(START_DATE,'YYYY') = #{start_year}
			GROUP BY  ROLLUP (START_DATE)
			)
		GROUP BY START_DATE, COUNT
		ORDER BY START_DATE DESC
	</select>
	
	<!-- 일정 통계 연도별 -->
	<select id="getCalendarYearStatus" resultType="kr.co.whalesoft.app.cms.module.calendarManage.CalendarManage">		
		SELECT 
			START_DATE, SUM(COUNT) AS COUNT
		FROM 
			(
			SELECT 
				TO_CHAR(START_DATE, 'YYYY') AS START_DATE, SUM(COUNT) AS COUNT
			FROM (
				SELECT DISTINCT(START_DATE + LEVEL -1) AS START_DATE, COUNT
					FROM (
						SELECT
							TO_DATE(START_DATE, 'YYYY-MM-DD') AS START_DATE,
							TO_DATE(END_DATE, 'YYYY-MM-DD') AS END_DATE,
							COUNT(*) AS COUNT
						FROM CMS_CALENDAR_MANAGE
						WHERE
							DELETE_YN = 'N' AND
							HOMEPAGE_ID = #{homepage_id}
						GROUP BY START_DATE, END_DATE 
					)
				CONNECT BY START_DATE + LEVEL -1  <![CDATA[<=]]>  END_DATE
				order by start_date desc
				)
			WHERE								
				TO_CHAR(START_DATE,'YYYY') BETWEEN #{start_year} and #{end_year}				
			GROUP BY  START_DATE
			)
		GROUP BY ROLLUP (START_DATE)
		ORDER BY START_DATE DESC
	</select>

	<select id="getNextCmIdx" resultType="int">
		SELECT NVL(MAX(cm_idx),0)+1 FROM CMS_CALENDAR_MANAGE
	</select>
	
	<select id="getGroupCount" resultType="int">
		SELECT
			COUNT(*)
		FROM
			CMS_CALENDAR_MANAGE
		WHERE
			homepage_id = #{homepage_id}
		AND	group_idx = #{group_idx}
	</select>
	
	<select id="isTodayClosed" resultType="int">
		SELECT
			COUNT(*)
		FROM
			CMS_CALENDAR_MANAGE
		WHERE
			HOMEPAGE_ID = #{homepage_id}
		AND DATE_TYPE = '1'
		AND	DELETE_YN = 'N'
		AND TO_CHAR(SYSDATE, 'YYYY-MM-DD') BETWEEN start_date AND end_date
	</select>

	<select id="getCalendarManageOneByDate" resultType="kr.co.whalesoft.app.cms.module.calendarManage.CalendarManage">
		SELECT
			<include refid="field"/>
		FROM
			CMS_CALENDAR_MANAGE
		WHERE
			HOMEPAGE_ID = #{homepage_id} AND
			DATE_TYPE = '1' AND
			DELETE_YN = 'N' AND
			START_DATE = #{plan_date}
	</select>
	
	<select id="getClosedDate4" resultType="kr.co.whalesoft.app.cms.module.calendarManage.CalendarManage">
		SELECT
			mm, dd
		FROM (
			SELECT
				substr(start_date,6,2) as mm,
				substr(start_date,9,2) as dd
			FROM (
					SELECT
						distinct start_date
					FROM CMS_CALENDAR_MANAGE
					WHERE
						HOMEPAGE_ID = #{homepage_id}
						AND date_type = '1'
						AND	DELETE_YN = 'N'
						AND	substr(start_date,1,7) = #{plan_date}
				) ORDER BY DD
			)
	</select>

	<select id="getEvent" resultType="kr.co.whalesoft.app.cms.module.calendarManage.CalendarManage">
		SELECT
			<include refid="field" />
		FROM
			CMS_CALENDAR_MANAGE
		WHERE HOMEPAGE_ID = #{homepage_id}
		<if test="plan_date != null and plan_date != ''">
			AND (substr(start_date,1,7) = #{plan_date}
			OR substr(end_date,1,7) = #{plan_date})
		</if>
		AND DELETE_YN = 'N'
		AND date_type !='1'
	</select>

	<select id="getToDayEvent" resultType="kr.co.whalesoft.app.cms.module.calendarManage.CalendarManage">
		SELECT
		<include refid="field" />
		FROM
		CMS_CALENDAR_MANAGE
		WHERE HOMEPAGE_ID = #{homepage_id}
		<if test="plan_date != null and plan_date != ''">
			AND (substr(start_date,1,10) =  TO_CHAR(SYSDATE, 'YYYY-MM-DD')
			OR substr(end_date,1,10) = TO_CHAR(SYSDATE, 'YYYY-MM-DD'))
		</if>
		AND DELETE_YN = 'N'
		AND date_type !='1'
	</select>

	<select id="getCalendarForIct" resultType="kr.co.whalesoft.app.cms.module.calendarManage.CalendarManage">
		SELECT
        <include refid="field" />
		FROM
			CMS_CALENDAR_MANAGE
		WHERE
			HOMEPAGE_ID = #{homepage_id}
        AND DELETE_YN = 'N'
        AND START_DATE >= TO_DATE(#{start_date}, 'YYYY-MM-DD')
        AND START_DATE &lt; TO_DATE(#{end_date}, 'YYYY-MM-DD') + 1
	</select>
</mapper>