@charset "utf-8";
/*메인타입 - 01 import*/
@import url("/resources/common/css/layout/main_type02.css");

/*팝업존+공지타입 - 02 import*/
@import url("/resources/common/css/layout/notice_type02.css");

/*일정+행사타입 - 02 import*/
@import url("/resources/common/css/layout/culture_type02.css");

/*도서타입 - 01 import*/
@import url("/resources/common/css/layout/book_type01.css");

/*큐레이션타입 - 04 import*/
@import url("/resources/common/css/layout/curation_type04.css");

#header h1{padding-top:25px;}

.Gnb .gnb-menu > li{padding:0 2%;}

#main0{background:url('/resources/homepage/sj/img/main/main-bg.jpg')no-repeat center bottom;background-size: cover;}
#main0 .main0-top .search-box .main-box button{background:#0093cf url('/resources/homepage/sj/img/main/srch-icon.png') no-repeat center center;}

#main0 .main0-bottom .qmenu li a:hover,
#main0 .main0-bottom .qmenu li a:focus {background:#00817d;}

#main0 .main0-bottom .qmenu .bx-prev,
#main0 .main0-bottom .qmenu .bx-next{display:block;}

#main1 .main1_wrap .main1-left-box .list ul li div{background:#00817d;border:1px solid #00817d;}

#main2 .event-box .list ul li div p b{color:#018578;}
#main2 .event-box .list ul li:first-child:hover div{background:#018578 url('/resources/common/img/culture_type02/event-icon01-hover.png')no-repeat center 80px;}
#main2 .event-box .list ul li:nth-child(2):hover div{background:#018578 url('/resources/common/img/culture_type02/event-icon02-hover.png')no-repeat center 80px;}
#main2 .event-box .list ul li:last-child:hover div{background:#018578 url('/resources/common/img/culture_type02/event-icon03-hover.png')no-repeat center 80px;}

#main5 .main5-visual .main5-top::before{background:#282828 url('/resources/homepage/sj/img/main/book01-bg.jpg') no-repeat 100% bottom;}
#main5 .main5-visual .main5-bottom{background:url('/resources/homepage/sj/img/main/book02-bg.jpg') no-repeat 100% center;}

#main6{background:url('/resources/homepage/sj/img/main/curation4-bg.jpg') no-repeat center center;background-size:cover;}


@media all and (max-width:1680px){
	#main5 .main5-visual .main5-bottom{background:url('/resources/homepage/sj/img/main/book02-bg.jpg') no-repeat 108% center !important;}
}

@media all and (max-width:1600px){
	#main5 .main5-top-left{background:url('/resources/homepage/sj/img/main/book01-bg.jpg') no-repeat right center;background-size:cover;}
	#main5 .main5-bottom-right{background:url('/resources/homepage/sj/img/main/book02-bg.jpg') no-repeat right center;background-size:cover;}
}

@media all and (max-width:1200px){
	#main2 .event-box .list ul li:first-child:hover div{background:#018578 url('/resources/common/img/transparent.png')no-repeat !important;}
	#main2 .event-box .list ul li:nth-child(2):hover div{background:#018578 url('/resources/common/img/transparent.png')no-repeat !important;}
	#main2 .event-box .list ul li:last-child:hover div{background:#018578 url('/resources/common/img/transparent.png')no-repeat !important;}
}

@media all and (max-width:1024px){
	#header h1{padding-top:11px;}
}