@media all and (max-width:2560px){
	#main5 .main5-top-left{margin-left:-8% !important;}
	#main5 .main5-visual .bookListTop .bx-controls{left:-8% !important;}
	#main5 .main5-bottom-right{margin-right:-13% !important;}
	#main5 .main5-visual .bookListBottom .bx-controls{right:-13% !important;}
}

@media all and (max-width:1920px){
	#main5 .main5-top-left{margin-left:0 !important;}
	#main5 .main5-visual .bookListTop .bx-controls{left:0 !important;}
	#main5 .main5-bottom-right{margin-right:0 !important;}
	#main5 .main5-visual .bookListBottom .bx-controls{right:0 !important;}
}

#main5 {position:relative;}
#main5 .main5-visual {position:relative;height:100%;padding-top:130px;box-sizing:border-box;}
#main5 .main5-visual .main5-top-wrap, #main5 .main5-visual .main5-bottom-wrap {position:relative;width:100%;height:50%;background-color:#f7f7f7;}
#main5 .main5-visual .main5-top-wrap {background-color:#fff;}
#main5 .main5-visual .main5-top {position:absolute;top:0;left:0;width:100%;height:100%;z-index:1;}
#main5 .main5-visual .main5-top:before {position:absolute;top:0;left:-73%;width:100%;height:100%;background:#12234f url('/resources/common/img/book_type01/book01-bg.jpg') no-repeat 100% center;background-size:contain;content:'';}
#main5 .main5-visual .main5-top:before{top:-130px;padding-top:130px;}
#main5 .main5-visual .main5-bottom {position:absolute;top:0;left:0;width:100%;height:100%;background:url('/resources/common/img/book_type01/book02-bg.jpg') no-repeat right center;background-size:contain;z-index:2;}
#main5 .main5-visual .main5-bottom:before {position:absolute;top:0;right:-73%;width:100%;height:100%;content:'';z-index:1;}
#main5 .main5-visual .main5-top .mid-sections, #main5 .main5-visual .main5-bottom .mid-sections {height:100%;}

#main5 .main5-top-left {float:left;width:380px;height:100%;margin-left:0;}
#main5 .main5-top-right {float:right;width:1220px;height:100%;margin-right:0;}
#main5 .main5-visual .bookListTop {overflow:hidden;}
#main5 .main5-visual .bookListTop .item {position:relative;padding:0;}
#main5 .main5-visual .bookListTop .item a {width:195px;height:285px;font-size:16px;color:#333;font-weight:500;}
#main5 .main5-visual .bookListTop .item a img {width:195px;height:285px;border:1px solid #e9e9e9;border-radius:5px;box-sizing:border-box;}

#main5 .main5-visual .bookListTop .bx-controls {position:absolute;width:380px;height:50px;bottom:75px;left:0;z-index:150000000;}
#main5 .main5-visual .bookListTop .bx-prev  {position:absolute;width:110px;height:29px;font-size:0;background-image:url("/resources/common/img/book_type01/book-prev-btn.png");background-repeat: no-repeat; background-position:0 0;background-size:initial;left:0;}
#main5 .main5-visual .bookListTop .bx-next  {position:absolute;width:110px;height:29px;font-size:0;background-image:url("/resources/common/img/book_type01/book-next-btn.png");background-repeat: no-repeat; background-position:0 0;background-size:initial;right:0;}

#main5 .main5-visual .bookListBottom {overflow:hidden;}
#main5 .main5-visual .bookListBottom .item {position:relative;padding:0;}
#main5 .main5-visual .bookListBottom .item a {width:195px;height:285px;}
#main5 .main5-visual .bookListBottom .item a img {width:195px;height:285px;border:1px solid #e9e9e9;border-radius:5px;box-sizing:border-box;}

#main5 .main5-visual .bookListBottom .bx-controls {position:absolute;width:380px;height:50px;bottom:75px;right:0;z-index:150000000;}
#main5 .main5-visual .bookListBottom .bx-prev  {position:absolute;width:110px;height:29px;font-size:0;background-image:url("/resources/common/img/book_type01/book-prev-btn.png");background-repeat: no-repeat; background-position:0 0;background-size:initial;left:0;}
#main5 .main5-visual .bookListBottom .bx-next  {position:absolute;width:110px;height:29px;font-size:0;background-image:url("/resources/common/img/book_type01/book-next-btn.png");background-repeat: no-repeat; background-position:0 0;background-size:initial;right:0;}

#main5 .main5-bottom-left {float:left;width:1220px;height:100%;}
#main5 .main5-bottom-right {float:right;width:380px;height:100%;}

#main5 .title {position:relative;margin-top:80px;box-sizing:border-box;}
#main5 .title div.stxt {font-family:'s-core_dream3_light';font-size:13px;color:rgba(255,255,255,0.7);padding-left:5px;letter-spacing:3px;}
#main5 .title div.ltxt {font-family:'s-core_dream6_bold';font-size:36px;color:#fff;}
#main5 .title a.more {position:absolute;right:0;top:0;z-index:9999;}
#main5 .main5-visual .item a div.btxt {font-family:'Noto Sans';font-size:18px;font-weight:500;color:#333;margin-top:10px;overflow:hidden;text-overflow:ellipsis;word-wrap:break-word;display:-webkit-box;-webkit-line-clamp:1;-webkit-box-orient:vertical;}

@media all and (max-width:1680px){
	#main5 .main5-top-left{margin-left:35px;}
	#main5 .main5-visual .bookListTop .bx-controls{left:35px;}
	#main5 .main5-bottom-right{margin-right:35px;}
	#main5 .main5-visual .bookListBottom .bx-controls{right:35px;}
	#main5 .main5-visual .main5-bottom{background:url('/resources/homepage/yi/img/main/book02-bg.jpg') no-repeat 150% center;}
}

@media all and (max-width:1600px){
	#main5 .main5-visual .main5-top {position:absolute;top:0;left:0;width:100%;height:100%;z-index:1;}
	#main5 .main5-visual .main5-top:before {display:none;}
	#main5 .main5-visual .main5-bottom {background:none;}
	#main5 .main5-visual .main5-bottom:before {display:none;}
	#main5 .main5-top-left {width:25%;box-sizing:border-box;padding:0 20px;background:url('/resources/common/img/book_type01/book01-bg.jpg') no-repeat 100% center;background-size:cover;margin-left:0;}
	#main5 .main5-visual .bookListTop .bx-controls{left:0;}
	#main5 .main5-top-right {width:75%;}
	#main5 .main5-bottom-left {width:75%;}
	#main5 .main5-bottom-right {width:25%;box-sizing:border-box;padding:0 20px;background:url('/resources/common/img/book_type01/book02-bg.jpg') no-repeat right center;background-size:cover;}
	#main5 .main5-visual .bookListTop .bx-controls, #main5 .main5-visual .bookListBottom .bx-controls {width:23.75%;}
}

@media all and (max-width:1450px){

}

@media all and (max-width:1260px){

}

@media all and (max-width:1024px){
	#main5 .main5-visual {padding-top:0;height:auto;}
	#main5 .main5-visual .main5-top .mid-sections, #main5 .main5-visual .main5-bottom .mid-sections {height:auto;}
	#main5 .main5-visual .main5-top-wrap, #main5 .main5-visual .main5-bottom-wrap {height:auto;}
	#main5 .main5-visual .main5-top {position:relative;top:inherit;left:inherit;width:100%;height:auto;}
	#main5 .main5-visual .main5-bottom {position:relative;top:0inherit;left:inherit;width:100%;height:auto;}
	#main5 .title {margin-top:0;padding:5px 0 15px 0;}
	#main5 .main5-top-left {float:none;width:100%;height:auto;padding-top:20px;}
	#main5 .main5-top-right {float:none;width:100%;height:auto;}
	#main5 .main5-bottom-left {float:none;width:100%;height:auto;}
	#main5 .main5-bottom-right {float:none;width:100%;height:auto;padding-top:20px;}
	#main5 .title div.ltxt {font-size:30px;}
	#main5 .title a.more {top:11px;}
	#main5 .main5-visual .item a div.btxt {font-size:16px;margin-top:5px;margin-bottom:10px;}
	#main5 .main5-visual .bookListTop, #main5 .main5-visual .bookListBottom {padding:15px 0;}
	#main5 .main5-visual .bookListTop .bx-controls {width:100%;height:50px;top:55%;left:0;}
	#main5 .main5-visual .bookListBottom .bx-controls {width:100%;height:50px;top:55%;left:0;}
	#main5 .main5-visual .bookListTop .bx-prev  {width:45px;height:45px;font-size:0;background-image:url("/resources/common/img/book_type01/mbook-prev-btn.png");background-repeat: no-repeat; background-position:0 0;background-size:initial;left:2%;}
	#main5 .main5-visual .bookListTop .bx-next  {width:45px;height:45px;font-size:0;background-image:url("/resources/common/img/book_type01/mbook-next-btn.png");background-repeat: no-repeat; background-position:0 0;background-size:initial;right:2%}

	#main5 .main5-visual .bookListBottom .bx-prev  {width:45px;height:45px;font-size:0;background-image:url("/resources/common/img/book_type01/mbook-prev-btn.png");background-repeat: no-repeat; background-position:0 0;background-size:initial;left:2%;}
	#main5 .main5-visual .bookListBottom .bx-next  {width:45px;height:45px;font-size:0;background-image:url("/resources/common/img/book_type01/mbook-next-btn.png");background-repeat: no-repeat; background-position:0 0;background-size:initial;right:2%;}
}

@media all and (max-width:768px){
	#main5 .title div.ltxt {font-size:19px;}
	#main5 .title a.more {top:4px;}
	#main5 .title a.more img {width:40px;}
	#main5 .main5-visual .item a div.btxt {font-size:15px;}
	#main5 .main5-top-left{padding-top:10px;}
	#main5 .main5-bottom-right{padding-top:10px;}
	#main5 .title div.stxt{display:none;}
}

@media all and (max-width:550px){
	#main5 .title {padding:5px 0 10px 0;}
	#main5 .title div.ltxt {font-size:17px;}
	#main5 .title div.stxt {font-size:12px;padding-left:2px;}
	#main5 .title a.more {top:-2px;}
	#main5 .title a.more img {width:35px;}
	#main5 .main5-visual .item a div.btxt {font-size:14px;}
}

@media all and (max-width:425px){
	#main5 .title div.ltxt {font-size:16px;}
	#main5 .title a.more img {width:30px;}
	#main5 .main5-visual .item a div.btxt {font-size:13px;}
}