@charset "utf-8";	 

/* 스타일 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,address
{font-size:13px}

#wrap>.section{background:url('../img/type18/Bg.gif')}

a:hover,
a:focus{color:#2b74c0}

.section.wrap{overflow:hidden}
#header,
#container{float:left;zoom:1}
#header{width:210px}
#container{width:100%;clear:none;margin-right:-210px;background:url('../img/type18/border.gif') repeat-y 0 0}
#container>.container{margin-right:210px}
.section.wrap{border-left:1px solid #dddfde;border-right:1px solid #dddfde;}

.subpage{border-left:1px solid #ddd;background:#fff}
.subpage .section{width:auto;margin:0 3%}

/* header */
.tnb{overflow:hidden;padding:10px 20px 10px 10px;text-align:right;background:#fff;margin-left:1px}
#header h1{font-size:0;line-height:0;text-align:center;background:#fff;padding:10px 0}
.mmode.curation {width: 35px;height: 35px;float: left;margin-top: -16px;margin-right: 38px;left: 5%;}
.mmode.curation img{width: 35px;height: 35px;}
/* Gnb */
.Gnb{clear:both;text-align:center;position:relative;border-top:1px solid #dddfde;overflow:visible}
.Gnb .gnb-menu{position:relative;text-align:right}
.Gnb .gnb-menu>li{text-align:center;position:relative;display:block;/* margin-right:30% */}
.Gnb .gnb-menu>li>a{border:1px solid #dddfde;margin: -1px 0 0 -1px;background:#f9f9f9 url('../img/type18/gnb1.png') no-repeat center 22px;padding:28px 20px;padding-top:75px;height:20px;border-right-width: 0;}
.Gnb .gnb-menu>li.active>a,
.Gnb .gnb-menu>li>a:focus,
.Gnb .gnb-menu>li>a:hover{color:#fff;background-color:#e97951}
.Gnb .gnb-menu>li:first-child>.SubMenu{border-left: 1px solid #ddd;}
.Gnb .gnb-menu>li>ul{width:220px;display:none;height:auto}
.Gnb .gnb-menu>li>.SubMenu>li{padding-bottom:5px}
.Gnb .gnb-menu>li>.SubMenu a{display:block;word-break:break-all}
.Gnb .gnb-menu>li>.SubMenu>li>a{font-weight:bold;font-size:14px;padding-right:10px;line-height:120%}
.Gnb .gnb-menu>li>.SubMenu>li>ul{display:block;padding:0 0 5px}
.Gnb .gnb-menu>li>.SubMenu>li>ul>li>a{padding-left:25px}
.Gnb .gnb-menu>li>.SubMenu>li.on>a,
.Gnb .gnb-menu>li>.SubMenu>li>a:hover,
.Gnb .gnb-menu>li>.SubMenu>li>a:focus{color:#e97951;background:none;text-decoration:none}
.Gnb .gnb-menu>li.active>ul{display:block;left:100%;top:0;margin-left: 0px;background:#fff;border:1px solid #ddd;padding:15px 0;height:auto;width:200px;}
.Gnb .gnb-menu>li.menu1>a{background-image:url('../img/type18/gnb1.png')}
.Gnb .gnb-menu>li.menu1.active>a,
.Gnb .gnb-menu>li.menu1>a:hover,
.Gnb .gnb-menu>li.menu1>a:focus{background-image:url('../img/type18/gnb1on.png')}
.Gnb .gnb-menu>li.menu2>a{background-image:url('../img/type18/gnb2.png')}
.Gnb .gnb-menu>li.menu2.active>a,
.Gnb .gnb-menu>li.menu2>a:hover,
.Gnb .gnb-menu>li.menu2>a:focus{background-image:url('../img/type18/gnb2on.png')}
.Gnb .gnb-menu>li.menu3>a{background-image:url('../img/type18/gnb3.png')}
.Gnb .gnb-menu>li.menu3.active>a,
.Gnb .gnb-menu>li.menu3>a:hover,
.Gnb .gnb-menu>li.menu3>a:focus{background-image:url('../img/type18/gnb3on.png')}
.Gnb .gnb-menu>li.menu4>a{background-image:url('../img/type18/gnb4.png')}
.Gnb .gnb-menu>li.menu4.active>a,
.Gnb .gnb-menu>li.menu4>a:hover,
.Gnb .gnb-menu>li.menu4>a:focus{background-image:url('../img/type18/gnb4on.png')}
.Gnb .gnb-menu>li.menu5>a{background-image:url('../img/type18/gnb5.png')}
.Gnb .gnb-menu>li.menu5.active>a,
.Gnb .gnb-menu>li.menu5>a:hover,
.Gnb .gnb-menu>li.menu5>a:focus{background-image:url('../img/type18/gnb5on.png')}
.Gnb .gnb-menu>li.menu6>a{background-image:url('../img/type18/gnb6.png');}
.Gnb .gnb-menu>li.menu6.active>a,
.Gnb .gnb-menu>li.menu6>a:hover,
.Gnb .gnb-menu>li.menu6>a:focus{background-image:url('../img/type18/gnb6on.png')}
.Gnb .gnb-menu>li.menu4>ul,
.Gnb .gnb-menu>li.menu5>ul,
.Gnb .gnb-menu>li.menu6>ul{bottom:0;top:inherit}
.Gnb .gnb-menu>li.menu4>ul{bottom:-137px}

.Gnb .mask, .Gnb .gnb-menu > li.menu_112 > .SubMenu{top:-324px;}

.main .qmenu{position:relative;background:#fff;border:1px solid #ddd;border-right-width:0;padding:15px 0;}
.main .qmenu .bx-wrapper{width:auto!important;position:static}
.main .qmenu li{display:inline-block;zoom:1;*display:inline;text-align:center;width:12.5%}
.main .qmenu li a{background:url('../img/qm1.gif') no-repeat center 0;display:block;padding-top:80px;color:#4c4c4c}
.main .qmenu li a span{display:block;background:#fff;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.main .qmenu li a:hover,
.main .qmenu li a:focus{color:#1f5d98;background-position:center -80px}
.main .qmenu .bx-controls{display:none}
.main .qmenu .bx-controls .bx-pager,
.main .qmenu .bx-controls .bx-controls-auto{display:none}
.main .qmenu .bx-controls .bx-prev,
.main .qmenu .bx-controls .bx-next{position:absolute;top:15px;width:40px;font-size:0;line-height:0}
.main .qmenu .bx-controls .bx-prev,
.main .qmenu .bx-controls .bx-next,
.main .qmenu li{height:100px}
.main .qmenu .bx-controls .bx-prev{left:0;background:#fff url('../img/qmenuL.gif') no-repeat center center}
.main .qmenu .bx-controls .bx-next{right:0;background:#fff url('../img/qmenuR.gif') no-repeat center center}

.main h3 strong{color:#0092d1}

.main1{position:relative}
.main1 .bx-wrapper,
.main1 .bx-viewport,
.main1 .bx-controls,
.main1 ul,
.main1 li{width:100%;height:100%}
.main1 li{font-size:0;line-height:0;position:relative;background-position:right top!important}
.main1 .bx-wrapper{position:relative}
.main1 .bx-pager{position:absolute;left:10%;bottom:10%}
.main1 .bx-pager .bx-pager-item{display:inline-block;zoom:1;*display:inline;font-size:0;line-height:0;padding:0 3px}
.main1 .bx-pager a{display:block;border-radius:50%;width:16px;height:16px;background:rgba(255,255,255,0.6)}
.main1 .bx-pager a:hover,
.main1 .bx-pager a:focus{background:#fff}
.main1 .bx-pager a.active{background:rgba(52,144,186,0.9)}
.main1 .bx-controls .bx-prev,
.main1 .bx-controls .bx-next{top:50%;font-size:0;line-height:0;margin-top:-56px;width:56px;height:111px;position:absolute;background:url('/resources/common/img/slider_btn.png') no-repeat 0 0}
.main1 .bx-controls .bx-prev{left:3%}
.main1 .bx-controls .bx-next{right:3%;background-position:-56px 0}
.main1 .bx-controls .bx-prev:focus,
.main1 .bx-controls .bx-prev:hover{background-position:0 -111px}
.main1 .bx-controls .bx-next:focus,
.main1 .bx-controls .bx-next:hover{background-position:-56px -111px}
.main1 .bx-viewport{position:relative;z-index:10}
.main1 .bx-controls{position:absolute;z-index:11;top:0}

.main .popupzone{position:relative}
.main .popupzone li{line-height:0;font-size:0}
.main .popupzone .bx-controls-direction{display:none}
.main .popupzone .bx-pager{position:absolute;z-index:100;left:15px;top:15px;font-size:0;line-height:0}
.main .popupzone .bx-pager-item{padding:0 2px;display:inline-block;zoom:1;*display:inline}
.main .popupzone .bx-pager a{display:block;border-radius:50%;width:12px;height:12px;background:#acacac;font-size:0;line-height:0}
.main .popupzone .bx-pager a.active,
.main .popupzone .bx-pager a:hover,
.main .popupzone .bx-pager a:focus{background:#54acf4}

.main01,
.main02{overflow: hidden;background:#fff;border-left-width: 0;}
.main1{background:#aaa}
.main2,
.main4,
.main .banner-wrap{float:right;width:250px}
.main1,
.main3,
.main5{float:left;width:100%;margin-right:-250px;}
.main1>.box{height:303px;border-left: 1px solid #dddfde;}
.main1>.box,
.main3>.box,
.main5>.box{margin-right:250px;}

.main1,.main2,.main3,.main4{overflow:hidden;}
.main2,
.main4{float:left;width:250px}
.main3>.box{overflow:hidden;background:url('../img/type18/border.gif') repeat-y;}
.main3 .search{margin:0}
.main3 .news{float:left}
.main3 .news>.box{padding:15px 20px}
.main3 .news1{width:60.8%;}
.main3 .news2{width:39.2%}

.main2 li{text-align:center;width:50%;float:left;overflow:hidden}
.main2 li a{color:#4c4c4c}
.main2 li span,
.main2 li a,
.main2 li b{display:block}
.main2 li .box{height:100%}
.main2 li span{padding:30px 0;letter-spacing:-1px}
.main2 li b{font-size:210%;line-height:130%}

.main3 .search-box{position:relative;padding:23px;height:40px;border:1px solid #ddd;border-top-width:0;}
.main3 .search-box h3{position:absolute;top:50px;left:20px;height:38px;line-height:38px;margin-top:-24px;width:110px}
.main3 .search-box fieldset{margin-left:110px;position:relative;border:3px solid #444;background:#fff;padding-left:10px;overflow:hidden}
.main3 .search-box input{border:0;background:#fff;width:100%}
.main3 .search-box input:focus{outline:none}
.main3 .search-box input,
.main3 .search-box button{height:38px;line-height:37px}
.main3 .search-box button{float:right;width:80px;text-align:center;background:#444;color:#fff;margin-right:-3px}
.main3 .search-box .box1{float:left;width:100%;margin-right:-80px}
.main3 .search-box .box2{margin-right:80px}

.main3 ul{padding:5px 0}
.main3 .news{position:relative}
.main3 .news ul{padding-top:10px;clear:both}
.main3 .news li{padding:1px 75px 1px 10px}
.main3 .news h3{padding:0 0 10px}
.main3 .news .snipet{overflow:hidden}
.main3 .news .thumb{font-size:0;line-height:0}
.main3 .news .thumb a{display:block;padding:2px;border:1px solid #e0e0e0}
.main3 .news .thumb,
.main3 .news .item{float:left}
.main3 .news .thumb{width:90px}
.main3 .news .item{width:100%;margin-right:-90px;height:88px}
.main3 .news .item .box{margin-right:90px;padding-left:7px}
.main3 .news>.box{border:1px solid #ddd;margin-top:-1px;border-bottom-width:0;height:215px;}
.main3 .news2>.box{margin-left:-1px}

.main3 .news2 .thumb{width:68px}
.main3 .news2 .item{margin-right:-68px}
.main3 .news2 .item .box{margin-right:68px}
.main3 .news2 .item .t3{padding:3px 0 0}
.main3 .news2 li{padding-right:20px}

.main3 .news .item .box a{display:block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.main3 .news .item span{display:block}
.main3 .news .item span.t2{color:#ec7069;font-size:90%}
.main3 .news .item span.t3{line-height:130%}
.main4 ul{padding-top:18px}
.main3>div,.main4{position:relative;}
.main3 .more,.main4 .more{right:15px;top:15px;font-size:0;line-height:0;position:absolute;background:url('../img/type18/icon_more.gif') no-repeat 0 0;width:23px;height:23px}
.main3 h3,
.main4 h3{font-size:18px;font-weight:bold;line-height:23px}
.main4 .box{padding:15px 20px}
.main4 ul{overflow:hidden}
.main4 li{clear:both;padding:5px 0}
.main4 li.s1 label{color:#1f9782;border-color:#1f9782}
.main4 li.s2 label{color:#0c4c8a;border-color:#1f5d97}
.main4 li.s3 label{color:#f43b40;border-color:#f43b40}
.main4 li label,
.main4 li div{float:left}
.main4 li label{margin-top:-2px;width:46px;font-weight:bold;border:2px solid #000;border-radius:15px;text-align:center;letter-spacing:-1px}
.main4 li div{width:100%;margin-right:-50px}
.main4 li div p{margin-right:50px;padding-left:3px}
.main4 .dayoff{border-top:1px solid #ddd}
.main4 dt{font-size:18px;font-weight:bold;line-height:23px;padding:0 0 10px}
.main4 dd{line-height:0;font-size:0;}
.main4 dd span{margin-right:1px;font-family:tahoma;font-size:11px;display:inline-block;zoom:1;*display:inline;border-radius:50%;width:20px;height:20px;line-height:20px;text-align:center;background:#f43b40;color:#fff;}

.main5>div>ul{font-size:0;line-height:0;border-right:1px solid #ddd}
.main5 li{display:inline-block;zoom:1;*display:inline;text-align:center;width:25%;vertical-align:top}
.main5 li a,
.main5 li a em,
.main5 li a strong,
.main5 li a span{display:block;font-style:normal;line-height:130%}
.main5 li a span{color:#fff}
.main5 li a em .t1{font-size:16px;letter-spacing:-1px}
.main5 li a em .t2{font-weight:bold;letter-spacing:-1px}
.main5 li a strong{font-size:30px;padding:10px 0 0;height:82px}
.main5 li a strong span{line-height:120%}
.main5 li.mb1 a{background:#faaf3c}
.main5 li.mb2 a{background:#3bc3d3 url('../img/type18/mb2Bg.gif') no-repeat right bottom}
.main5 li.mb3 a{background:#a6dae8}
.main5 li.mb4 a{background:#ed9474 url('../img/type18/mb4Bg.gif') no-repeat 0 bottom}

.main5 li a,
.main .banner-wrap{padding: 20px 0;height: 139px;border-bottom: 1px solid #ddd;}

.main .banner-wrap{background:#fff}
.main .banner-wrap>.banner-t{margin-top:-10px}
.main .banner-wrap>.banner-t>h3{font-size:18px;padding:0 10px 0 20px}
.main .banner-wrap .banner-box{padding-top:15px}

#popupLayer{top:48px}
@media all and (max-width:1000px){
	#popupLayer{top:inherit}
}

#footer{clear:both;padding:0 0 20px;border-top:1px solid #e4e4e4;margin-top:-1px;position:relative;z-index:1}
#footer > .section{font-size:0;line-height:0;position:relative;background-position:0 0;background-repeat:no-repeat} 
#footer .info{border-bottom:1px solid #e4e4e4;padding:10px 0}
#footer .info a b{color:#e97951}
#footer .section address{padding:25px 0}
#footer .section .site_link{position:absolute;right:0;top:20px}
#footer .section .site_link > div{margin-bottom:5px}
#footer .section .site_link a.btn{padding:5px 10px;border-radius:0;background:#1f5d97;border-color:#1a518b;color:#fff}
#footer .section .site_link a.btn:hover,
#footer .section .site_link a.btn:focus{background:#1a518b}
#footer .info a,
#footer .info span{vertical-align:middle}
#footer .info .bar{margin:0 3px}
#footer address{padding:5px 0 0;color:#888}
#footer address em{font-style:normal;margin-right:10px}
#footer address span{font-size:12px}

/* 콘텐츠 */
.content,
.doc{margin:0;float:none;width:auto}
.doc-body{min-height:760px;overflow:visible}
.doc-info{border-top:1px solid #ebebeb}

@media screen and (max-width:1160px){
	.section{width:auto;margin:0 3%}
	.main5 li a strong{font-size:27px}
}
@media all and (max-width:1000px){
	h1 img{display:none}
	.main .qmenu .bx-wrapper{margin:0 40px!important}
	.main .qmenu .bx-controls{display:block}

	#header{overflow:hidden;background:#fff}
	#header h1{position:relative;padding:10px 0}
	#header h1 img{display:block;height:90px}
	#header h1 a{display:inline-block}
	.m-menu{position:absolute;top:50%;margin-top:-22px;right:5%;z-index:7}
	.m-menu a{display:inline-block;text-align:center;vertical-align:middle}
	.m-menu a i{font-size:30px;width:45px;height:45px;line-height:45px}
	.main5 li a strong{font-size:30px}

	.section{margin:0}
	.subpage{border-left-width:0}
	.section.wrap{border-right-width:0}
	#footer .section{padding:0 3%}
	.tnb,
	.Gnb{display:none}
	#header,
	#container,
	#container .container{float:none;width:auto;margin:0}

	.mmode{display:block}

	#footer .section{background:none!important}
	#footer .section .site_link{display:none}
	#footer .section address{padding:20px 0}
}
@media all and (max-width:850px){
	.main3,
	.main3>.box,
	.main5,
	.main5>.box{margin:0}
	.main5 li a strong{font-size:27px}
	.main .banner-wrap{display:none}
	.main4{float:none;width:100%;border-top:1px solid #ddd;overflow:hidden}
	.main4>div{float:left}
	.main4>div.day1{width:60.8%}
	.main4>div.day2{width:39.2%}
	.main4 .box{border-top-width:0;border-right:1px solid #ddd;position:relative}
	.main4 .box.dayoff{border-right:0}
}
@media all and (max-width:767px){
	.main1{height:260px}
	.main1 li{background-position:95% 0!important}
	.main1,
	.main1>.box{margin:0}
	.main .popupzone{display:none}
	.main1 li img,
	.main1 .bx-pager{left:10%!important}

	.main1 .bx-controls-direction{display:none}
	.main2 li{width:50%}
	.main2 .mb2 a{background-size:cover}
	.main2 .mb1 .box{border-left:0}
	.main2 .mb4 .box{border-right:0}
	.main3>div{width:100%!important}
	.main3 .search-box h3{width:95px;font-size:16px;letter-spacing:-1px}
	.main3 .search-box fieldset{margin-left:95px}
	.main3>div>div,
	.main4>div{border-left:0;border-right:0;border-bottom:0;margin-top:0!important}
	.main5 li a strong{font-size:25px}
}
@media all and (max-width:580px){
	.main3 .search-box{padding:20px 18px;height:auto}
	.main3 .search-box h3{position:relative;top:0;left:0;margin:0;height:auto;line-height:130%;padding:0 0 5px}
	.main3 .search-box fieldset{margin-left:0}
	.main3 .search-box button{width:70px}
	.main4 .box{border-top-width:1px}
	.main4>div.day1,
	.main4>div.day2,
	.main3 .news{width:100%}
	.main5 li{width:50%}
	.main3 .news>.box,
	.main3 .news .item,
	.main5 li a,
	.main5 li a strong{height:auto}
	.main5 li a strong span{display:inline-block}
}
@media all and (max-width:450px){
	#header h1 img{height:70px;margin:5px 0}
	.main5 li{width:100%}
}