@charset "utf-8";

.tnb{background:#b1b1b1;overflow:hidden}
.tnb ul, .tnb .tnbl{font-size:0;line-height:0;height:45px;}
.tnb .tnbl{float:left;width:50%}
.tnb .tnbl li {width:15%;text-align:center}
.tnb .tnbl, .tnb li, .tnb a, tnb .tnbr li {display:inline-block}
.tnb a{color:#fff;padding-top:10px;line-height:25px}
.tnb .tnbl a {width:100%;padding:10px 0;text-align:center}
.tnb .tnbl a.tnbl01 {background:#c80b29;}
.tnb .tnbl a.tnbl02 {background:#1d4b94;}
.tnb .tnbl a.tnbl03 {background:#f8b62c;}
.tnb>.tnbl>ul>li>a{vertical-align:middle}
.tnb>.tnbl>ul>li{position:relative}
.tnb>.tnbl>ul>li>ul{position:absolute;margin-top:1px;width:100%;overflow-y:auto;height:180px}
.tnb .tnbl li li a{padding:5px 20px;font-size:90%;border-bottom:1px solid #f76767;border-left:0}
.tnb .tnbl li li a, .tnb .tnbl li li{display:block}
.tnb>.tnbl>ul>li>a.fsite{width:130px}
.tnb .tnbl a:hover, .tnb .tnbl a:focus{background:#fff;color:#393939}

.tnb .tnbr{float:right;width:50%;text-align:right;height:45px;}
.tnb .tnbr li {min-width:15%;border-left:1px solid #dbdbdb;text-align:center}
.tnb .tnbr a{width:100%;padding:10px 0}
.tnb .tnbr > a,
.tnb .tnbr > span{vertical-align:middle;display:inline-block}
.tnb .tnbr a:hover{text-decoration:underline}
.tnb .tnbr a.sns{padding:5px 3px;margin-top:5px}
.tnb .tnbr a.sns:hover{text-decoration:none}
.tnb .tnbr i{font-size:13px;width:20px;height:20px;line-height:22px;text-align:center;border-radius:50%}
.tnb .tnbr a img{margin-right:6px}
.tnb .tnbr a img,
.tnb .tnbr a span{vertical-align:middle}
/* .fa-facebook{background:#305fb3}
.tnb .tnbr a.sns:hover .fa-facebook{background:#2a4dbc}
.fa-twitter{background:#00acee}
.tnb .tnbr a.sns:hover .fa-twitter{background:#2e97e7} */
.fa-blog{background:#2db400}
.tnb .tnbr a.sns:hover .fa-blog{background:#4e9b00}
.tnb .fsite i{float:right;margin-top:8px;margin-left:5px;display:inline-block;width:17px;height:8px;background:url('/resources/homepage/geic/img/tnb-drop-down.gif') no-repeat center center}
.tnb .fsite.active i{background-image:url('/resources/homepage/geic/img/tnb-drop-up.gif')}

#header{clear:both}
/*#header *,
#footer *{font-weight:bold}*/
#header,
#footer dd,
#header input,
#header .tnb a,
#header .tnb span{font-size:14px}
.tnb{position:relative;z-index:5}
.Gnb{z-index:4}

/* header */
#header .tnb{margin-bottom:22px}
#header>.section{margin-bottom:5px}
#header h1{display:inline-block;font-size:0;line-height:0}
#header h1 img,
#header h1 span{vertical-align:middle}
#header h1 .txt{margin-left:10px}
#header .search {display:block;}
#header .search,
#header .search input.text,
#header .search button,
#header .search button i{background:none;height:37px;line-height:37px;margin:0;padding:0}
#header .search{border:0;border-radius:0;position:relative;float:right;width:350px;margin-top:20px;top: 0;}
#header .search form{background:#fff;border-bottom:1px solid #c80b29}
#header .search .radios{background:#fff;display:none}
#header .search .radios input,
#header .search .radios label{vertical-align:middle}
#header .search .schs .box{padding:0 10px}
#header .search input.text{border:0;width:93%;}
#header .search input.text::-ms-input-placeholder  { color: #c80b29; }
#header .search input.text::-webkit-input-placeholder  { color: #c80b29; } 
#header .search input.text::-moz-placeholder  { color: #c80b29; }
#header .search input.text:focus{outline:none}
#header .search label{background:none;margin-right:4px}
#header .search button{font-size:0;line-height:0;border:0;background:none;position:absolute;top:0;right:0;color:#333}
#header .search button i{font-size:20px;padding:0 15px;color:#c80b29}
.m-menu2 {display:none}
.w-sns-view {float:right;margin:18px 0;margin-left:3px;width:90px;font-size:0;display:inline-block;cursor:pointer;}
.w-sns-view a {padding-left:4px;}

/* 상단에 붙은 메뉴 */
.menu-fixed #header{position:fixed;background:#fff;width:100%;height:auto;padding-bottom:0;border-top:2px solid #e32b31;box-shadow:0px 0px 10px 0px rgba(0,0,0,0.8)}
.menu-fixed #header .tnb{display:none}
.menu-fixed #header h1{float:left;position:relative;z-index:5}
.menu-fixed #header h1 img{margin:10px 0;height:60px}
.menu-fixed #header .Gnb{height:46px;left:0;border-width:0;top:0;position:relative;clear:both}
.menu-fixed #header .Gnb .gnb-menu>li>a{font-size:15px;height:19px;padding-top:12px}
.menu-fixed #container{padding-top:225px}
.menu-fixed #header .search{margin-top:22px}
.menu-fixed #header input{font-size:13px}

/* Gnb */
#header{height:215px}
.Gnb{position:absolute;top:165px;left:0;overflow:visible;height:51px;text-align:center;width:100%;background:#c80b29}
.Gnb.active, .Gnb.on{border-bottom:1px solid #225aa4}

.Gnb > div {font-size:0;line-height:0;} 
.Gnb .gnb-menu {position:relative;padding:0;margin:0;}
.Gnb .gnb-menu > li {position:relative;width:12.5%;display:inline-block;zoom:1;*display:inline;vertical-align:middle;
-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.Gnb .gnb-menu > li:hover {background-color:#b10621}
.Gnb .gnb-menu > li:hover > a {background-color:#b10621;color:#fff}
.Gnb .gnb-menu > li a.fontactive {background-color:#fff;color:#ef4d38}
.Gnb .SubMenu {text-align:left;background-color:#c80b29}
.Gnb .gnb-menu > li > a {text-decoration:none;padding:15px 0 15px 10px;font-size:19px;color:#eee;font-weight:bold;height:21px;display:block;text-align:center}
.Gnb .gnb-menu > li > .SubMenu {margin-left:-1px;display:none;border:0;width:125%;height:auto;padding:0;}
.Gnb .gnb-menu > li:first-child > .SubMenu {/*border-left:1px solid #ccc*/}

.Gnb .gnb-menu > li > div.SubMenu{display:block;position:fixed;margin-top:-98000px}
.Gnb .gnb-menu > li > div.SubMenu.active{position:absolute;margin-top:0}

.Gnb .gnb-menu > li > .SubMenu.active{display:block}
.Gnb .gnb-menu > li > .SubMenu > ul > li, .Gnb .gnb-menu > li > .SubMenu > li{word-break:keep-all}
.Gnb .gnb-menu > li > .SubMenu{/*box-shadow:0 2px 10px rgba(0,0,0,0.2)*/}
.Gnb .gnb-menu > li.snbGroup2 > div.SubMenu{width:450px;padding:10px 5px}
.Gnb .gnb-menu > li.snbGroup2 > div.SubMenu > ul{float:left;width:50%}
.Gnb .gnb-menu > li >.SubMenu>ul>li,
.Gnb .gnb-menu > li >.SubMenu>li{position:relative;white-space:nowrap}
.Gnb .gnb-menu > li >.SubMenu>li.title{display:none}
.Gnb .gnb-menu > li >.SubMenu>ul>li,
.Gnb .gnb-menu > li >.SubMenu>li,
.Gnb .gnb-menu > li >.SubMenu>ul>li>a,
.Gnb .gnb-menu > li >.SubMenu>li>a{color:#fff}
.Gnb .gnb-menu > li.aa >.SubMenu>ul>li>a,
.Gnb .gnb-menu > li.aa >.SubMenu>li>a{color:#fff;}
.Gnb .gnb-menu > li >.SubMenu>ul>li>a,
.Gnb .gnb-menu > li > .SubMenu > li > a{font-size:13px;display:block;line-height:130%;padding:15px 20px 15px 10px;margin:0;letter-spacing:-1px;border-bottom:1px solid #e02442}
.Gnb .gnb-menu > li >.SubMenu>ul>li>a:hover,
.Gnb .gnb-menu > li >.SubMenu>ul>li>a:focus,
.Gnb .gnb-menu > li >.SubMenu>li>a:hover,
.Gnb .gnb-menu > li >.SubMenu>li>a:focus{background:#b10621;text-decoration:none}
.Gnb .gnb-menu > li.on > a{color:#fff}
.Gnb .gnb-menu > li.active > .SubMenu > li.title{color:#3a6cae}
.Gnb .gnb-menu > li.active.Last{background:none}
.Gnb .gnb-menu > li > .SubMenu > ul > li > ul,
/* .Gnb .gnb-menu>li>.SubMenu>li>ul{display:block;padding:8px 35px} */
.Gnb .gnb-menu > li > .SubMenu > li > ul {display:none;}
.Gnb .gnb-menu > li > .SubMenu > ul > li > ul > li,
.Gnb .gnb-menu > li > .SubMenu > li > ul > li{padding-left:15px;background:url('/resources/homepage/geic/img/gnb_arr.gif') no-repeat 0 center}

.Gnb .mask{width:100%;background:#fff;margin-top:2px}
.Gnb .gnb-menu > li > .SubMenu{letter-spacing:-1px}

.Gnb .gnb-menu{text-align:left}
.Gnb .gnb-menu > li {width:12.5%}

@media all and (max-width:1050px){
	.Gnb .g-menu-all{display:none}
}

@media all and (max-width:1024px){
	.tnb .tnbl li, .tnb .tnbr li {min-width:20%;}
}

.lnb>ul>li{border-bottom-width:0}

#footer .topcont span.web-show {display:block}
#footer .topcont span.mobile-show {display:none;}
#footer{position:relative;background:#063171;color:#fff;padding:0;z-index: 2}
#footer .section{position:relative;font-size:0;line-height:0}
#footer .topcont {background:#125fac;white-space:nowrap;}
#footer .topcont li {display:inline-block;position:relative;padding: 15px 50px;}
#footer .topcont li:first-child {padding-left:0}
#footer .topcont li:before {content:' ';position:absolute;width:1px;height:10px;background:#a6bcd2;right:0;top: 20px;}
#footer .topcont li:last-child:before {display: none;}
#footer .topcont li a{color:#a6bcd2;font-size:14px;}
#footer .topcont li a:hover {color:#fff}
#footer .topcont li p.wh{color:#fff;font-weight:bold}
#footer .topcont span {position:absolute;right: -100px;top:-3px;}

#footer .botcont {padding:30px 0;overflow:hidden}
#footer .botcont .section:first-child {border-bottom:1px solid #1f467f}
#footer .fcont{display:inline-block;vertical-align:top}
#footer .fcont dl{/* padding:0 20px */}
#footer .fcont dt{color:#222;font-size:16px;font-weight:bold;padding:0 0 10px}
#footer .fcont dd p{font-size:90%;padding:10px 0}
#footer .fcont a{color:#333}

#footer .fcont.fc1 dl{padding-left:0}
#footer .fcont.fc1 p{padding:5px 0 3px}
#footer .fcont.fc1 dt{padding:5px 0 0 0;}


#footer .fcont.fc2 label{width:70px;font-weight:400}
#footer .fcont.fc2 label,
#footer .fcont.fc2 span{display:inline-block}
#footer .fcont.fc2 span{margin-right:15px}
#footer .fcont.fc2 dd {line-height:200%;padding-bottom: 25px;}

#footer .fcont.fc3{position:relative}
#footer .site_link > div > div{border-right-width:0}
#footer .fc2 dl dd {line-height: 115%;}

#footer .fcont.fc4{position:relative}
#footer .site_link > div > div{border-right-width:0}
#footer .fc2 dl dd {line-height: 115%;}

#footer .fcont.fc1{width:22%; margin-right:20px;}
#footer .fcont.fc2{width:56%}
#footer .fcont.fc3{width: 100px;float: right;}
#footer .fcont.fc4{width: 65px;float: right;right: 8px;}

#footer .copyright-section {font-size:13px;padding:10px 0 0 0;color:#4c6683;}

.doc,
.lnb{padding-bottom:90px;/* padding-top:5px */}
.doc-body .wrapper-bbs{padding-bottom:0}
.doc-head{position:relative;/* border-bottom:2px solid #333; */margin-bottom: 18px;}
.doc-head ul{position:absolute;right:0;top:33px}
.doc-head ul li{display:inline-block}
.doc-head ul li a{background:#767676;border-color:#fff;line-height:25px;height:25px;color:#fff;margin-top:-1px;padding:0 5px}
.doc-head ul li a i{margin-right:3px}
.doc-head ul li a span{font-size:12px}
.doc-title h3{height:42px;padding: 28px 0 10px;}

@media all and (max-width:1000px){
	.doc-head{border:0}
	.doc-head ul{display:none}
	.doc-title h3{height:auto;padding-top:10px}
}

/* #container.subpage{min-height:528px} */

.subpage > .section{overflow:visible!important}

@media all and (max-width:1000px){
	.subpage .lnb,
	.subpage .content{margin-top:0}
}

.login-box div{font-size:14px}
.login-box,
.login-body .login button{font-weight:bold}
.login-body .tab .call li{font-size:15px}
.login-body .login button span{font-size:20px}

/* CI소개 */
.ci_info{border-top:1px dashed #ddd;padding-top:40px;margin-top:20px}
.ci_info.active{border-top-width:0;padding-top:0}
.ci_info h2{margin-top:30px}
.ci_info h3{background:none;padding:0 0 20px;color:#777}
.ci_info h2.first{margin-top:0}
.ci_info .box{padding:0 3%}
.ci_info ul{font-size:0;line-height:0}
.ci_info li{width:48%;display:inline-block;text-align:center}
.ci_info li.od{margin-right:4%}
.ci_info li.odb{margin-top:25px}
@media all and (max-width:500px){
	.ci_info li{width:100%}
	.ci_info li.od,
	.ci_info li.odb{margin:0}
	.ci_info ul.ci2 li{margin:5px 0}
}
.ci0{overflow:hidden;margin-top:10px;padding:15px 0;border-top:1px solid #e5e5e5}	
.ci0 .img_uio{background:#eef3fa;border-radius:15px;width:180px;overflow:hidden;float:left;text-align:center;font-size:0;line-height:0}
.ci0 .cio_info{float:left;width:100%;margin-right:-180px}
.ci0 .cio_info .box{margin-right:180px}
.ci0 .cio_info h3{color:#333;letter-spacing:0;font-weight:800;padding-top:5px}

@media all and (max-width:500px){
	.ci0 .img_uio{width:100%;float:none}
	.ci0 .cio_info,
	.ci0 .cio_info .box{float:none;margin:0}
}

@media all and (max-width:1280px){
	#footer .topcont span.web-show {display:none}
	#footer .topcont span.mobile-show {display:block;position:absolute;right:0;top:-3px;}
	#footer .topcont ul {   padding-left: 20px;}
	#footer .topcont li {padding:15px 20px;text-align:center;letter-spacing:-1px}
}

@media (max-width: 1024px){
	.Gnb .section{margin:0}
	.Gnb .gnb-menu>li>ul{width:96%;height:auto}
	.Gnb .gnb-menu>li>.SubMenu>li{padding-top:0;padding-bottom:0}

	#footer .topcont {overflow-x:auto;}
	#footer .topcont li:last-child {padding:15px 80px 15px 20px}
	#footer .fcont {padding:0 0 30px 0}
	#footer .fcont.fc1{display:none}
	#footer .fcont.fc2{width: 70%;padding:0;}
	#footer .fcont.fc2 dd {font-size:12px;padding-bottom:20px;}
	#footer .fcont.fc3{width:15%;}
	#footer .fcont.fc3 img {width: 60%;}

}



@media all and (max-width:1000px){
	#header{padding:0;margin-bottom:0;height:auto;overflow:hidden}
	#header .tnb{margin-bottom:0}
	.menu-fixed #header .search,
	#header .search{margin-top:14px}
	h1{float:left}
	h1 img{margin:10px 0 5px 0;}
	h1 img,
	.menu-fixed #header h1 img{height:46px}
	.m-menu{float:right}
	.m-menu a{display:inline-block;margin:21px 10px 0 0;margin-left:10px;text-align:center;vertical-align:middle}
	.mmode{display:block}
	.Gnb{display:none}
	.tnb .tnbr {display:none}
	.tnb .tnbl {float:none;width:100%}
	.tnb .tnbl li {width:33.3%;text-align:center}
	#container{border-top:1px solid #222}
	.doc, .lnb{padding-top:35px}
	#footer .fcont.fc4{display:none}

}

@media all and (max-width:900px){
	#footer .copyright-section {/* text-align:center; */font-size:12px;}
	#footer .topcont ul {   padding-left: 15px;}
}

@media all and (max-width:768px){
	#header{padding:0;margin-bottom:0;height:auto!important}
	.w-sns-view {display:none;}
	.m-menu2 {float:right;margin:18px 0;margin-left:3px;width:85px;height:31px;font-size:0;display:block;cursor:pointer;}
	.m-menu2 a {padding-left:2px;}

	#header .search {display:none;position:relative;z-index:999999;width:100%;box-sizing:border-box;margin:0 0 10px}

}

@media all and (max-width:700px){
	.menu-fixed #header .search,
	#header .search{width:100%;margin:0 0 10px}
}

@media all and (max-width:650px){
	#footer .fcont.fc2{width:78%;}
	#footer .fcont.fc3{width:20%;}
	#footer .fcont.fc4{display:none}
	#footer .copyright-section {font-size: 12px;}
}

@media all and (max-width:520px){
	#footer .fcont.fc2 dd {line-height:150%;padding-bottom: 15px;}
	#footer .copyright-section {/* letter-spacing:-1px; */}
	#footer .topcont ul {   padding-left: 10px;}
    #footer .topcont li a,#footer .topcont li p.wh {font-size:13px}

}
