@charset "utf-8"; 

/* 스타일 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,address
{font-size:13px}

a:hover,
a:focus{color:#2b4195}

/* header */
.tnb{overflow:hidden;padding:25px 0 0}
.tnb h1,
.tnb .search,
.tnb .util{float:left;height:55px}
.tnb .util{float:right}
.tnb h1{width:30%}
.tnb .search{width:40%}
.tnb .util{width:50%;text-align:right}
.tnb .util .box{padding:5px 0 0 10%}
.tnb .util .txt-bar{margin:0 1%}
.tnb .mmode.curation { width: 35px; height: 35px;  float: right; margin-top:  7px;}

#header h1{font-size:0;line-height:0}

/* Gnb */
.Gnb .g-menu{display:inline-block;zoom:1;*display:inline;vertical-align:middle}
.Gnb .g-menu{width:100%}
.Gnb .section{font-size:0;line-height:0}
.Gnb{clear:both;text-align:center;width:100%;height:55px;overflow:inherit;position:relative;background:#2b4195}
.Gnb .gnb-menu{position:relative}
.Gnb .gnb-menu>li{padding:0 4%;background:url('../img/type4/gnb-bar.gif') no-repeat 0 center;text-align:center;position:static}
.Gnb .gnb-menu>li>a{padding:10px 5px;line-height:35px;height:35px;font-size:17px;color:#222;font-weight:bold;color:#fff}
.Gnb .gnb-menu>li>ul{display:none;background:#666;border:0;white-space:nowrap}
.Gnb .gnb-menu>li.active>ul{display:block}
.Gnb .gnb-menu>li>.SubMenu>li{width:auto;padding:0 5px}
.Gnb .gnb-menu>li>.SubMenu>li{display:inline-block;zoom:1;*display:inline}
.Gnb .gnb-menu>li>.SubMenu>li>a{font-size:13px;padding:0 5px;color:#eee}
.Gnb .gnb-menu>li>.SubMenu>li>a:hover,
.Gnb .gnb-menu>li>.SubMenu>li>a:focus{background:none;color:#ffdf06}
.Gnb .gnb-menu>li.on>a,
.Gnb .gnb-menu>li>a:hover,
.Gnb .gnb-menu>li>a:focus{color:#ffdf06}
.Gnb .mask,
.Gnb .gnb-menu>li>ul{width:100%;background:#000}
.Gnb .gnb-menu>li>ul{left:0}
.Gnb .gnb-menu>li.menu3>ul,
.Gnb .gnb-menu>li.menu4>ul{text-align:center}
.Gnb .gnb-menu>li.menu5>ul,
.Gnb .gnb-menu>li.menu6>ul{text-align:right}

#container{clear:both}

/* 팝업존 */
.main .popupzone .bx-controls-direction{display:none}

.main5{background:#ebfffe;clear:both;overflow:hidden}
.main5 > div{float:left;width:50%;height:150px}
.main5 .lt5 {background:#fff;}
.main5 .lt5 ul {position:relative;padding:10px 0 0;}
.main5 .lt5 li {padding-bottom:5px;}
.main5 .lt5 li span {display:inline-block;}
.main5 .lt5 li span.sil {position:absolute;left:0;width:70px;text-align:Center;border-radius:25px;font-weight:bold;}
.main5 .lt5 li span.sil01 {color:#00af7c;border:1px solid #00af7c;}
.main5 .lt5 li span.sil02 {color:#cd831a;border:1px solid #cd831a;}
.main5 .lt5 li span.sil03 {color:#ff4a47;border:1px solid #ff4a47;}
.main5 .lt5 li span.sil-txt {padding-left:80px;}
.main5 .lt6 h3{}
.main5 .lt6 .box{}
.main5 .box {position:relative;padding:20px 6% 0}
.main5 .more{right:6%;top:20px;position:absolute;}

.main1{padding:60px 0;background:url('../img/type4/mainBg.jpg') no-repeat center center}
.main1 .txt{padding:0 0 30px}
.main1 .txt .t1{font-size:200%;letter-spacing:-1px;color:#525252;line-height:130%}
.main1 .txt .t1 p{font-size:110%;letter-spacing:2px;line-height:120%;padding-bottom:15px;margin-bottom:15px;color:#fff;background:url('../img/type4/mainBar.png') no-repeat center bottom}
.main1 .txt .t1 strong{font-size:130%;color:#fff;font-weight:normal}
.main1 .txt .t1 strong span{display:inline-block;color:#ffdf06}
.main1 .txt .t2{color:#fff;padding:10px 0 0;font-size:14px;width:400px;margin:0 auto;padding-left:25px;padding-right:25px}
.main1 .search-box{width:450px;margin:0 auto}
.main1 .search-box fieldset{position:relative;background:#000;background:rgba(0,0,0,0.55);padding-left:4%;overflow:hidden}
.main1 .search-box input{border:0;width:100%;color:#fff;font-size:120%;font-weight:bold}
.main1 .search-box input:focus{outline:none}
.main1 .search-box input,
.main1 .search-box button{height:51px;line-height:50px;background:none}
.main1 .search-box button{float:right;width:70px;text-align:center;color:#fff;background:url('../img/type4/icon-search.png') no-repeat center center}
.main1 .search-box .box1{float:left;width:100%;margin-right:-70px}
.main1 .search-box .box2{margin-right:70px}

.main1.type2{background:#9ed6e1 url('../img/type4/main_type2.png') no-repeat center 70%}
.main1.type2 .txt{padding:0;text-align:left!important}
.main1.type2 .txt .t1,
.main1.type2 .txt .t2{color:#363545;margin:0;padding-left:0;padding-right:0}
.main1.type2 .txt,
.main1.type2 .search-box{padding:0 15px}
.main1.type2 .search-box{margin:0}
.main1.type2 .search-box fieldset{border:3px solid #444;background:#fff;padding-left:10px}
.main1.type2 .search-box input{border:0;background:#fff;color:#666;font-size:110%}
.main1.type2 .search-box input:focus{outline:none}
.main1.type2 .search-box input,
.main1.type2 .search-box button{height:45px;line-height:44px}
.main1.type2 .search-box button{width:88px;background:#444;margin-right:-3px;font-weight:bold}
.main1.type2 .search-box .box1{margin-right:-95px}
.main1.type2 .search-box .box2{margin-right:95px}

.main .qmenu{background:#ffdf06}
.main .qmenu .section{position:relative;padding:15px 0;overflow:hidden;text-align:center}
.main .qmenu .bx-wrapper{width:auto!important;position:static}
.main .qmenu .section,
.main .qmenu li,
.main .qmenu .bx-controls .bx-prev,
.main .qmenu .bx-controls .bx-next{height:80px}
.main .qmenu li{display:inline-block;zoom:1;*display:inline;text-align:center;width:12.5%}
.main .qmenu li a{background:url('../img/type4/qm1.gif') no-repeat center 5px;display:block;padding-top:55px;padding-bottom:5px;color:#4c4c4c}
.main .qmenu li a:hover,
.main .qmenu li a:focus{color:#000}
.main .qmenu li.qm1 a{background-image:url('../img/type4/qm1.gif')}
.main .qmenu .bx-controls{display:none}
.main .qmenu .bx-controls .bx-pager,
.main .qmenu .bx-controls .bx-controls-auto{display:none}
.main .qmenu .bx-controls .bx-prev,
.main .qmenu .bx-controls .bx-next{position:absolute;top:0;width:60px;font-size:0;line-height:0;top:15px}
.main .qmenu .bx-controls .bx-prev{left:0;background:url('../img/type4/qmenuL.gif') no-repeat center center}
.main .qmenu .bx-controls .bx-next{right:0;background:url('../img/type4/qmenuR.gif') no-repeat center center}

.main .lt-wrap{background:#e5e5e5;padding:0 0 50px}
.main2{color:#fff}
.main2>div{float:left;width:25%;}
.main2 .lt1 a span,
.main2 .lt3 a span,
.main2 .lt4 a span{margin:20px}
.main2 .box,
.main3 .box{padding:20px;position:relative;height:210px}
.main5 h3,
.main2 h3,
.main3 h3{font-weight:bold;font-size:23px;height:28px;line-height:28px;padding:0 0 5px}
.main2 .lt2{color:#393939}
.main2 .lt1{background:#14cc96 url('../img/type4/lt1Bg.jpg') no-repeat center bottom}
.main2 .lt2{background:url('../img/type4/lt2Bg.gif')}
.main2 .lt3{background:#ff4a47 url('../img/type4/lt3Bg.jpg') no-repeat 0 bottom}
.main2 .lt4{background:#d6881b url('../img/type4/lt4Bg.jpg') no-repeat 8% bottom}
.main2 .lt1 a,
.main2 .lt3 a,
.main2 .lt4 a{position:absolute;width:100%;bottom:0;left:0;text-align:center;color:#fff;font-size:15px}
.main2 .lt1 a span,
.main2 .lt3 a span,
.main2 .lt4 a span{display:block;border:2px solid #fff;padding:8px}

.main3{background:#eee;clear:both;overflow:hidden}
.main3>div{float:left;width:50%;height:150px}
.main3 .lt5 ul{padding:10px 0 0}
.main3 .lt6 h3{display:none}
.main3 .lt6 .box{padding:0}
.main3 .news .box{padding:20px 6% 0}
.main3 .news .more{right:6%;top:15px;position:absolute}
.main .popupzone{position:relative;background:#f2f2f2}
.main .popupzone li{font-size:0;line-height:0;text-align:center}
.main .popupzone li img{max-width:inherit}
.main .popupzone li a.noImg{display:block}
.main .popupzone li a.noImg img{width:100%;height:150px}
.main .popupzone .bx-controls{position:absolute;top:5px;right:15px;z-index:100}
.main .popupzone .bx-controls-direction{display:none}
.main .popupzone .bx-controls .bx-pager{text-align:center}
.main .popupzone .bx-controls .bx-pager a{border:2px solid #ff0021;width:10px;height:10px;background:#fff;margin:0 3px;border-radius:50%}
.main .popupzone .bx-controls .bx-pager a,
.main .popupzone .bx-controls .bx-pager-item{display:inline-block;zoom:1;*display:inline;font-size:0;line-height:0}
.main .popupzone .bx-controls .bx-pager a.active{background-color:#ff0021}

.main .like_book li a{display:block;text-align:center;padding:0 15px}
.main .like_book li a img{border:1px solid #dedede;margin-top:10px}
.main .like_book li span{font-size:16px;padding-top:5px;display:block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.main .like_book .bx-pager{display:none}
.main .like_book .bx-wrapper{position:relative}
.main .like_book .bx-prev,
.main .like_book .bx-next{top:50%;margin-top:-20px;font-size:0;line-height:0;position:absolute;height:42px;width:25px;background:url('../img/type4/bookbtl.png') no-repeat center center}
.main .like_book .bx-prev{left:-5px}
.main .like_book .bx-next{right:-5px;background-image:url('../img/type4/bookbtr.png')}

.main4{background:#fff;padding:20px 2.5%}

#footer{padding:30px 0 50px;border-top:1px solid #e4e4e4;margin-top:-1px;position:relative;z-index:1}
#footer .section{background-repeat:no-repeat;background-position:0 center}
#footer .section{font-size:0;line-height:0;position:relative}
#footer .section .site_link{position:absolute;right:0;top:0}
#footer .section .site_link > div{margin-bottom:5px}
#footer .section .site_link a.btn{padding:5px 10px;border-radius:0;background:#8f8f8f;border-color:#888;color:#fff}
#footer .section .site_link a.btn:hover,
#footer .section .site_link a.btn:focus{background:#888}
#footer .info a b{color:#ff0021;font-size:105%}
#footer .info a,
#footer .info span{vertical-align:middle}
#footer .info .bar{margin:0 3px}
#footer address em,
#footer address span{font-size:12px}
#footer address{padding:5px 0 0}
#footer address em{font-style:normal;margin-right:10px}
#footer address span{font-size:11px}

@media screen and (max-width:1160px){
	.section{width:auto;margin:0 2%}
}
@media all and (max-width:1000px){
	.section{margin:0}
	.subpage .section,
	#footer .section{padding:0 3%}
	#footer .section{margin:0 3%;padding:0}
	.tnb{padding:10px}
	.tnb .util,
	.tnb .search,
	.Gnb{display:none}
	.mmode{display:block}

	.tnb h1, .tnb .search, .tnb .util{height:auto;width:auto}

	.m-menu{float:right;text-align:center}
	.m-menu a i{font-size:30px;width:45px;height:45px;line-height:45px}
	#header h1{padding-top:7px}

	#wrap{background-position:center 0}

	.main .qmenu .bx-controls{display:block}
	.main .qmenu .bx-wrapper{margin:0 40px!important}

	#footer .section .site_link{display:none}
}
@media all and (max-width:767px){
	.main2 .lt4{background-size:cover;background-position:center bottom}
	.main2>div{width:50%}
	.main3>div{width:100%}
	.main3 .lt6{background:#fff;height:auto}
	.main3 .popupzone li a{display:block;padding:2%}
	.main3 .popupzone li img{max-width:100%}
	.main4{display:none}
	.main .lt-wrap{padding-bottom:0}


	.main5 > div{width:100%;}


	#footer .section{background:none!important}
	#footer .section .info,
	#footer .section address{padding:0}
}
@media all and (max-width:580px){
	.main1 .txt{width:auto}
	.main1 .txt .t1{font-size:22px}
	.main1 .txt .t1 p{font-size:20px}

	.main1.type2 .txt .t1{font-size:34px}
	.main1.type2 .txt .t2{font-size:26px;padding-bottom:20px;line-height:130%}
	.main1.type2 .search-box input,
	.main1.type2 .search-box button{height:40px;line-height:39px}
	.main1.type2 .search-box button{width:73px}
	.main1.type2 .search-box .box1{margin-right:-80px}
	.main1.type2 .search-box .box2{margin-right:80px}

	.main5 > div{height:auto;}
	.main5 .box {padding:20px 6% 20px;}

	#footer .section{background:none;padding-top:0;text-align:center}
}
@media all and (max-width:480px){
	.main1{padding:45px 0}
	.main1 .txt .t2,
	.main1 .search-box{width:auto}
	.main1 .search-box{margin:0 3%}
	.main2>div{width:100%}
}