@charset "utf-8"; 

/* 스타일 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,address
{font-size:13px}

body{background:#505050}
#wrap{background:#fff url('../img/type14/bg.jpg') no-repeat center 30px;position:relative;z-index:7}

a:hover,
a:focus{color:#2b74c0}

/* header */
.tnb{text-align:right;background:#494949}
.tnb a{font-size:12px;color:#ccc;display:inline-block;zoom:1;*display:inline;line-height:30px;height:30px}
.tnb a:hover,
.tnb a:focus{color:#eee}
.mmode.curation {width: 35px;height: 35px;float: right;margin-top: 5px;margin-right: 6px;}

#header h1{position:absolute;z-index:10000;float:left;padding-top:15px}

.color02{color:#4e65c4}

/* Gnb */
.Gnb{clear:both;text-align:center;width:100%;height:80px;overflow:inherit;position:relative;background:rgba(255,255,255,0.7)}
.Gnb .gnb-menu{position:relative;text-align:right}
.Gnb .gnb-menu>li{padding:0 1.5%;text-align:center;position:static}
.Gnb .gnb-menu>li>a{padding:15px 5px;line-height:50px;height:50px;font-size:15px;color:#222;font-weight:bold}
.Gnb .gnb-menu>li>ul{display:none;background:#666;border:0;left:0;white-space:nowrap;text-align:right}
.Gnb .gnb-menu>li.menu1>ul,
.Gnb .gnb-menu>li.menu2>ul{text-align:center}
.Gnb .gnb-menu>li.active>ul{display:block}
.Gnb .gnb-menu>li>.SubMenu>li{width:auto;padding:0 5px}
.Gnb .gnb-menu>li>.SubMenu>li{display:inline-block;zoom:1;*display:inline}
.Gnb .gnb-menu>li>.SubMenu>li>a{font-size:13px;padding:0 5px;color:#eee}
.Gnb .gnb-menu>li>.SubMenu>li>a:hover,
.Gnb .gnb-menu>li>.SubMenu>li>a:focus{background:none;color:#fff}
.Gnb .gnb-menu>li.on>a,
.Gnb .gnb-menu>li>a:hover,
.Gnb .gnb-menu>li>a:focus{color:#03539e}
.Gnb .mask{width:100%;background:url('../img/type14/gnb-bg.gif') repeat-y center 0}
.Gnb .mask,
.Gnb .gnb-menu>li>ul{width:100%}
.Gnb .gnb-menu>li>ul{background:#03539e}

#container{clear:both}

/* 팝업존 */
.main .popupzone .bx-controls-direction{display:none}

.main1 .section{padding:70px 0 0;overflow:hidden}
.main1 .txt{padding:0 0 30px}
.main1 .txt .t1{letter-spacing:-1px;color:#222}
.main1 .txt .t1 p,
.main1 .txt .t1 strong{font-size:42px;line-height:130%}
.main1 .txt .t1 p{line-height:120%;padding-bottom:5px}
.main1 .txt .t1 strong{font-weight:normal}
.main1 .txt .t1 strong span{display:inline-block;font-weight:bold}
.main1 .txt .t2{padding:5px 0 0;font-size:14px;font-weight:bold}
.main1 .sport{overflow:hidden}
.main .popupzone{width:28.5%;position:relative;float:left;zoom:1}
.main .popupzone li,
.main .popupzone li a{font-size:0;line-height:0}
.main .popupzone .bx-controls{position:absolute;top:0;right:5%;z-index:150}
.main .popupzone .bx-pager .bx-pager-item{display:inline-block;zoom:1;*display:inline;font-size:0;line-height:0;padding:0 2px}
.main .popupzone .bx-pager a{display:block;border-radius:50%;width:14px;height:14px;background:rgba(255,255,255,0.8)}
.main .popupzone .bx-pager a:hover,
.main .popupzone .bx-pager a:focus{background:#fff}
.main .popupzone .bx-pager a.active{background:rgba(32,132,212,0.95)}
.main .qmenu{float:left;width:100%;margin-right:-28.5%}
.main .qmenu .box{margin-right:28.5%;padding:0 2%}
.main .qmenu .bx-controls{display:none}
.main .qmenu li{padding-bottom:36px;overflow:hidden}
.main .qmenu li a{width:84px;height:84px;position:relative;zoom:1;display:block;font-size:0;line-height:0;border:8px solid #03539e;margin:61% auto 0;border-radius:50%;
background:rgba(255,255,255,0.6);background-position:center center}
.main .qmenu li a:hover,
.main .qmenu li a:focus{border-color:#01aef0;color:#000;background-color:#fff}
.main .qmenu li span{position:absolute;bottom:-35px;height:20px;line-height:16px;font-size:13px;width:100%;text-align:center;padding-top:10px;font-weight:bold;letter-spacing:-1px}

.main .qmenu.type2 li a{width:98px;height:98px;border-width:7px;background-position:center -5px}
.main .qmenu.type2 li span{bottom:15px}

.main .lt-wrap{background:#fff;clear:both}
.main2{position:relative;float:left;zoom:1;overflow:hidden;margin-bottom:15px}
.main3{clear:both;margin-bottom:15px}
.main2>div{position:relative;float:left;zoom:1}
.main2 .box{padding:15px 18px}
.main2 .more{position:absolute;top:15px;right:18px;background:url('../img/type14/lt-more1.gif') no-repeat center center;font-size:0;line-height:0;width:30px;height:30px;border:1px solid #aaa;border-radius:50%}
/*.main2 .lt3 .more{background-image:url('../img/type14/lt-more2.gif');background-color:#fff;border-color:#fff}*/
.main2 .lt2,
.main2 .lt5 {width:36%}

.main2 .lt3,
.main2 .lt6 {width:35.5%}
.main2 .lt1,
.main2 .lt4 {width:28.5%}

.main2 .lt1,.main2 .lt2,.main2 .lt3{height:215px}
.main2 .lt3 {box-sizing:border-box;}
.main2 h3{font-size:24px}
.main2 .lt1 .bx-controls{display:none}
.main2 em{font-style:normal}
.main2 h3{height:32px}
.main2 h3,
.main3 h3{padding:0 0 8px;color:#232323}
.main3 h3{padding:0}
.main2 .lt1{background:#f6f6f6}
.main2 .lt1 ul{padding:5px 0 0}
.main2 .lt1 li{padding-right:1px}
.main2 .lt1 .box{border:1px solid #e3e3e3;border-top-width:0;height:184px;overflow:hidden}
.main2 .lt1 .bx-viewport{height:auto!important}
.main2 .lt1 span b,
.main2 .lt1 span em,
.main2 .lt1 span,
.main2 .lt1 a{display:block;overflow:hidden}
.main2 .lt1 img{float:left;width:87px}
.main2 .lt1 span{float:left;width:100%;margin-right:-87px}
.main2 .lt1 span b,
.main2 .lt1 span em{margin-right:87px;padding-left:7px}

.main2 .lt2 .box{padding-left:0;padding-right:0;border-right:1px solid #e3e3e3;overflow:hidden}
.main2 .lt2 h3,
.main2 .lt2 .snipet{padding-left:18px;padding-right:18px}
.main2 .lt2 .snipet{line-height:140%;padding-bottom:18px}
.main2 .lt2 .snipet a,
.main2 .lt2 .snipet span{display:block}
.main2 .lt2 .snipet .t2{color:#4cb3db;font-weight:bold}
.main2 .lt2 .snipet .t3{color:#888;width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.main2 .lt2 ul{padding:10px 0;position:absolute;bottom:0;left:0;width:100%;border-top:1px solid #e3e3e3;border-bottom:1px solid #e3e3e3;border-right:1px solid #e3e3e3;box-sizing:border-box;}
.main2 .lt2 li{background:url('../img/type14/arr-01.gif') no-repeat 18px center;padding:2px 93px 2px 28px}
.main2 .lt2 li span{right:18px}

.main2 .lt3 {background:none;}
.main2 .lt3 .box{padding-left:0;padding-right:0;border-right:1px solid #e3e3e3;overflow:hidden}
.main2 .lt3 h3,
.main2 .lt3 .snipet{padding-left:18px;padding-right:18px}
.main2 .lt3 .snipet{line-height:140%;padding-bottom:18px}
.main2 .lt3 .snipet a,
.main2 .lt3 .snipet span{display:block}
.main2 .lt3 .snipet .t2{color:#4cb3db;font-weight:bold}
.main2 .lt3 .snipet .t3{color:#888;width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.main2 .lt3 ul{padding:10px 0;position:absolute;bottom:0;left:0;width:100%;border-top:1px solid #e3e3e3;border-bottom:1px solid #e3e3e3;border-right:1px solid #e3e3e3;box-sizing:border-box;}
.main2 .lt3 li{background:url('../img/type14/arr-01.gif') no-repeat 18px center;padding:2px 93px 2px 28px}
.main2 .lt3 li span{position:absolute;right:18px}

/*
.main2 .lt3{background:#4cb3db url('../img/type14/main2-lt3-bg.gif')}
.main2 .lt3,
.main2 .lt3 h3,
.main2 .lt3 a{color:#fff}
.main2 .lt3 a:hover,
.main2 .lt3 a:focus{text-decoration:underline;color:#fff}
.main2 .lt3 ul{padding:10px 0}

.main2 .lt3 .lt_photo{text-align:center;font-size:0;line-height:0;margin:0 -5px}
.main2 .lt3 .lt_photo li{display:inline-block;zoom:1;*display:inline;width:33%;vertical-align:top}
.main2 .lt3 .lt_photo li a{display:block;margin:0 5px}
.main2 .lt3 .lt_photo li img{width:100%}
.main2 .lt3 .lt_photo li.lt-gall4,
.main2 .lt3 .lt_photo li.lt-gall5{display:none}

.main2 .lt3 .lib-info li{background:url('../img/type14/arr-02.gif') no-repeat 0 9px;padding:2px 10px;line-height:140%}
.main2 .lt3 .lib-info li b{letter-spacing:-1px;margin-right:3px}
.main2 .lt3 .lib-info li span{position:static;white-space:nowrap}
.main2 .lt3 .lib-info dl{border-top:1px solid #97d3ea;padding:10px 0;font-weight:800}
.main2 .lt3 .lib-info dt{color:#ffd800}
*/

.main2 .lt4,.main2 .lt5,.main2 .lt6,.main3{margin-top:15px}
.main2 .lt4 .box,.main2 .lt5 .box,.main2 .lt6 .box,
.main2 .search-box{padding:18px;border:1px solid #e3e3e3;margin-left:-1px;height:50px}
.main2 .lt4 .box{margin-left:0}
.main2 .lt4 a{background:url('../img/type14/main3-1arr.gif') no-repeat right bottom}
.main2 .lt6 a,
.main2 .lt6 b,
.main2 .lt6 span,
.main2 .lt4 a,
.main2 .lt4 b,
.main2 .lt4 span{display:block;line-height:130%}
.main2 .lt6{background:url('../img/type14/main3-lt3-bg.jpg') no-repeat right center}
.main2 a:hover,
.main2 a:focus{color:#000}
.main2 .lt6 em{font-style:normal;color:#4cb3db}
.main2 .lt6 b,
.main2 .lt4 b{font-size:24px}
.main2 .search-box{background:#f5fdff;padding:23px;height:40px}
.main2 .search-box fieldset{position:relative;zoom:1;border:3px solid #444;background:#fff;padding-left:10px;overflow:hidden}
.main2 .search-box input{border:0;background:#fff;width:100%}
.main2 .search-box input:focus{outline:none}
.main2 .search-box input,
.main2 .search-box button{height:38px;line-height:37px}
.main2 .search-box button{float:right;width:80px;text-align:center;background:#444;color:#fff;margin-right:-3px}
.main2 .search-box .box1{float:left;width:100%;margin-right:-80px}
.main2 .search-box .box2{margin-right:80px}

.main3{border:1px solid #ddd;padding:15px}

#footer{background:#505050;padding-top:25px}
#footer,
#footer a{color:#b5b5b5}

#footer address em{font-style:normal}
#footer address p,
#footer address span{display:block;padding-right:15%}
#footer address span{color:#8a8a8a;font-size:90%;line-height:140%;padding-top:3px}
#footer address{width:33%}
#footer .info{width:18%}
#footer address,
#footer .info,
#footer .site_link{float:left;padding-bottom:25px}
#footer .site_link{width:49%;float:right;margin-top:25px}

#footer .site_link{text-align:right}
#footer .site_link div{display:inline-block;zoom:1;*display:inline;margin:0 0 7px 10px}
#footer .site_link div span{text-align:left}
#footer .site_link a.btn{background:#888;border-color:#888;color:#fff;border-radius:0;padding:5px 10px}
#footer .site_link > div > div > a > span > i{border-color:#ccc transparent transparent transparent}
#footer .site_link > div > div > a.active > span > i{border-color:transparent transparent #ccc transparent}
#footer .info a:hover,
#footer .info a:focus,
#footer .info a b,
#footer address b{color:#ccc}
#footer .info a b{color:#ff8992;font-size:105%}

/* 인사말 */
.greeting{background:url('../img/contents/body/greeting.jpg') no-repeat right bottom}
.greeting_intro{background:url('../img/contents/body/greeting_intro.png') no-repeat 0 0}
.greeting .t1{font-size:190%;letter-spacing:-1px;padding:20px 0 25px 35px;border-bottom:1px solid #cdcdcd;width:400px}
.greeting .t1 span{font-size:50%;color:#85cbd3;letter-spacing:0.5px;display:block;line-height:120%;padding:10px 0 0}
.greeting .box{padding:20px 260px 0px 0}
.greeting .gtxt{padding:20px;background:url('../img/contents/body/greeting_bottom.png') no-repeat right bottom}
.greeting .txt p{padding:0 0 10px;font-size:105%;line-height:180%}
.greeting .sign{padding:15px 100px 0 0;font-size:120%}
.greeting .sign span{color:#888;display:inline-block;zoom:1;*display:inline;vertical-align:middle;line-height:130%;margin:3px 0}
.greeting .sign span.name{margin-left:5px}
@media all and (max-width:900px){
	.greeting .box{padding-right:35%}
}
@media all and (max-width:767px){
	.greeting{background:none}
	.greeting .t1{width:auto}
	.greeting .box{padding-right:5%;background:none}
}
@media all and (max-width:400px){
	.greeting .t1{padding:20px 0 25px 25px}
	.greeting .gtxt{padding:2%}
}

@media all and (min-width:1140px){
	#footer .site_link > div > div{width:180px!important}
}
@media all and (max-width:1000px){
	.mmode{display:block}
	.tnb,
	.g-menu{display:none}
	.m-menu{float:right}
	.m-menu a i{font-size:30px;width:45px;height:45px;line-height:45px}
	#header h1{padding-top:3px}
	.Gnb{height:auto;padding:7px 0}

	#wrap{background-position:center 0}
	.main1 .section{position:relative;padding-top:50px}
	.main .popupzone{width:325px}
	.main .qmenu{margin-right:-325px}
	.main .qmenu .box{margin-right:325px}
	.main .qmenu li a{margin-top:70px}
	.main .qmenu.type2 li a{width:94px;height:94px}

	.main2 .lt1,
	.main2 .lt2,
	.main2 .lt3,
	.main2 .lt4,
	.main2 .lt5,
	.main2 .lt6{width:50%}
	.main2 .lt4,
	.main2 .lt5,
	.main2 .lt6{margin:0}
	.main2 .lt4 .box,
	.main2 .lt6 .box,
	.main2 .search-box{padding:12px 18px}
	.main2 .lt4 .box,
	.main2 .lt6 .box{border-top-width:0}
	.main2 .lt4 .box{border-bottom-width:0}
	.main2 .lt5 .search-box,
	.main2 .lt6 .box{margin:0}
	.main2 .lt2 .box,
	.main2 .lt2 ul{border-right:1px solid #e3e3e3}
	.main2 .lt2 ul{margin-left:-1px}
	.main3{float:left}

	.main2 .lt3 .box{border-right:0;border-left:1px solid #e3e3e3;}
	.main2 .lt3 ul{border-right:0;border-left:1px solid #e3e3e3;}

	#footer address{width:40%}
	#footer .info{width:20%}
	#footer .site_link{width:40%}
}
@media all and (max-width:850px){
	#footer .site_link{display:none}
	#footer address{width:70%}
	#footer .info{width:30%}
}
@media all and (max-width:767px){
	.subpage .section{padding:0 3%}
	.main1 .txt .t1 p,
	.main1 .txt .t1 strong{font-size:38px}
	.main3{display:none}
}

@media all and (max-width:695px){
	.main1 .txt{height:162px}
	.main .qmenu,
	.main .qmenu .box{margin:0;float:none}
	.main .qmenu li a{margin-top:20px;margin-bottom:10px}

	.main2 .lt1 .box {border-bottom-width:0}
	.main2 .lt1 .box {border-top:1px solid #ddd}
	.main2 .lt2 .box {border-top:1px solid #ddd}
	.main2 .lt3 .box {border-top:0}
	.main2 .lt3 {border-top:1px solid #ddd}
}

@media all and (max-width:580px){
	.main1 .txt{width:100%}
	.main1 .sport{width:100%}
	.main1 .popupzone,
	.main1 .popupzone li{background-size:cover}

	.main2,
	.main2>div{float:none;clear:both}
	.main2 .lt1,
	.main2 .lt2,
	.main2 .lt3,
	.main2 .lt4,
	.main2 .lt5,
	.main2 .lt6{width:100%}
	.main2 .lt1 .box,
	.main2 .lt1, .main2 .lt2, .main2 .lt3{height:auto}
	.main2 .lt2 .box{border-left:1px solid #e3e3e3;border-right:1px solid #e3e3e3}
	.main2 .lt2 ul{margin:0;position:static;border-right:0}
	.main2 .lt2 .box{padding-bottom:0}
	.main2 .lt3 ul{margin:0;position:static;border-right:0}
	.main2 .lt4 .box, .main2 .lt6 .box, .main2 .search-box{padding:18px}
	.main2 .lt3 {border-top:0;}
	.main2 .lt3 .box{border-right:1px solid #e3e3e3;border-left:1px solid #e3e3e3;}
	.main2 .lt3 ul{border-right:0;border-left:0;}

	#footer address,
	#footer .info{width:100%}
}

@media all and (max-width:350px){
	.main1 .popupzone{width:100%}
	.main2 .lt2 .box{border-top-width:0}
}