@charset "utf-8";	 

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,address
{font-size:13px}

/* header */
.tnb{overflow:hidden;padding:15px 0}
.tnb h1,
.tnb .util{float:left}
.tnb .util{float:right;padding-top:5px}
.tnb h1{width:30%}
.tnb .util{width:38%;text-align:right}
.tnb .util .box{padding:10px 0 0 10%}
.tnb .util .txt-bar{margin:0 1%}
.mmode.curation {width: 35px;height: 35px;float: right;margin-top: 6px;margin-right: 5px;}
.mmode.curation img{width: 35px;height: 35px;}
#header h1{font-size:0;line-height:0}

/* Gnb */
.Gnb{clear:both;text-align:center;width:100%;height:55px;overflow:inherit;position:relative;background:#5081dd}
.Gnb .gnb-menu{position:relative}
.Gnb .gnb-menu>li{width:16.5%;padding:0px 0;text-align:center;position:static}
.Gnb .gnb-menu>li>a{padding:0 5px;line-height:54px;height:54px;font-size:15px;color:#222;font-weight:bold;color:#fff}
.Gnb .gnb-menu>li>ul{display:none;margin-top:0px;background:#666;border:0;white-space:nowrap}
.Gnb .gnb-menu>li.active>ul{display:block}
.Gnb .gnb-menu>li>.SubMenu>li{width:auto;padding:0 5px}
.Gnb .gnb-menu>li>.SubMenu>li{display:inline-block;zoom:1;*display:inline}
.Gnb .gnb-menu>li>.SubMenu>li>a{font-size:13px;padding:0 5px}
.Gnb .gnb-menu>li>.SubMenu>li>a:hover,
.Gnb .gnb-menu>li>.SubMenu>li>a:focus{background:none;color:#1f5d98}
.Gnb .gnb-menu>li.on>a,
.Gnb .gnb-menu>li>a:hover,
.Gnb .gnb-menu>li>a:focus{color:#18f2fe}
.Gnb .gnb-menu>li.ss>a{font-size:14px}
.Gnb .mask,
.Gnb .gnb-menu>li>ul{background:#e5e5e5}
.Gnb .gnb-menu>li.menu3>ul,
.Gnb .gnb-menu>li.menu4>ul{text-align:center}
.Gnb .gnb-menu>li.menu5>ul,
.Gnb .gnb-menu>li.menu6>ul{text-align:right}

.main .search_con{width:100%}
.main .search_con .search{border:0;margin:0 auto;text-align:center;padding:15px 0;background:none}
.main .search_con .search h3{font-size:19px;font-weight:bold;color:#393939;padding-right:2%;letter-spacing:-1px}
.main .search_con .search h3,
.main .search_con .search .search-box{display:inline-block;zoom:1;*display:inline;vertical-align:middle}
.main .search_con .search legend{display:none}
.main .search_con .search input,
.main .search_con .search button,
.main .search_con .search button i{background:none;margin:0;padding:0}
.main .search_con .search input,
.main .search_con .search button,
.main .search_con .search button i{height:37px;line-height:37px}
.main .search_con .search-box{border:3px solid #444;padding-left:10px;overflow:hidden;width:53%;background:#fff}
.main .search_con .search input{border:0;width:85%;float:left}
.main .search_con .search input:focus{outline:none}
.main .search_con .search button{width:13%;padding:0;background:#444;color:#fff;float:right;border-radius:0;border:0}
.main .search_con .search button i{font-size:20px;padding:0 15px}

.main{border-top:1px solid #ddd}

.main1{position:absolute;width:100%;height:230px}
.main1 .bx-wrapper,
.main1 .bx-viewport,
.main1 .bx-controls,
.main1 ul,
.main1 li{width:100%;height:100%}
.main1 li .box{width:40%;letter-spacing:-2px;font-size:320%;color:#fff;line-height:120%;margin:40px auto 0;padding-left:18%}
@media all and (min-width:1160px){
	.main1 li .box{padding-left:25%}
}
.main1 li .t02{display:block;font-size:29%;letter-spacing:0.5px;margin-top:-10px;font-weight:bold}
.main1 li{position:relative}
.main1 .bx-pager{display:block!important;position:relative;left:0;top:0;margin:0 auto}
.main1 .bx-pager .bx-pager-item{display:inline-block;zoom:1;*display:inline;font-size:0;line-height:0;padding:0 3px}
.main1 .bx-pager a{display:block;border-radius:50%;width:10px;height:10px;background:#fff;border:2px solid #fff}
.main1 .bx-pager a:hover,
.main1 .bx-pager a:focus{border:2px solid #fff;background:none}
.main1 .bx-pager a.active{width:10px;height:10px;border-radius:50%;border:2px solid #fff;background:none}
.main1 .bx-controls .bx-prev,
.main1 .bx-controls .bx-next{display:none;top:0;font-size:0;line-height:0;margin-top:-56px;width:56px;height:111px;position:absolute}
.main1 .bx-controls .bx-prev{left:3%}
.main1 .bx-controls .bx-next{right:3%;background-position:-56px 0}
.main1 .bx-controls .bx-prev:focus,
.main1 .bx-controls .bx-prev:hover{background-position:0 -111px}
.main1 .bx-controls .bx-next:focus,
.main1 .bx-controls .bx-next:hover{background-position:-56px -111px}
.main1 .bx-viewport{position:relative;z-index:10}
.main1 .bx-controls{position:relative;z-index:11;margin:-60px auto 0;width:48%;text-align:center}

.main .popupzone{float:right;width:285px;height:230px;position:relative;z-index:55;background:#fff}
.main .popupzone li a{display:block;float:right;width:100%;height:100%;color:#285494;text-align:center;font-weight:bold}
.main .popupzone .bx-controls{position:absolute;top:0;right:10px;z-index:150}
.main .popupzone .bx-controls .bx-prev,
.main .popupzone .bx-controls .bx-next{display:none}
.main .popupzone .bx-pager .bx-pager-item{display:inline-block;zoom:1;*display:inline;font-size:0;line-height:0;padding:0 1px}
.main .popupzone .bx-pager a{display:block;width:10px;height:10px;background:#767676;border-radius:50px}
.main .popupzone .bx-pager a:hover,
.main .popupzone .bx-pager a:focus{background:#e16f00}
.main .popupzone .bx-pager a.active{background:#ff4c3c}

.main .qmenu .section{position:relative;margin:0 auto;padding:19px 0;height:130px;overflow:hidden;text-align:center}
.main .qmenu .bx-wrapper{width:auto!important;margin:0 0px!important;position:static}
.main .qmenu li{display:inline-block;zoom:1;*display:inline;text-align:center;width:14%}
.main .qmenu li a{background:url('../img/qm1.gif') no-repeat center 0;display:block;padding-top:108px;color:#4c4c4c;font-weight:bold;font-size:14px}
.main .qmenu li a:hover,
.main .qmenu li a:focus{color:#1f5d98}
.main .qmenu li.qm1 a{background-image:url('../img/qm1.gif')}
.main .qmenu .bx-controls{display:none}
.main .qmenu .bx-controls .bx-pager,
.main .qmenu .bx-controls .bx-controls-auto{display:none}
.main .qmenu .bx-controls .bx-prev,
.main .qmenu .bx-controls .bx-next{position:absolute;top:0;width:60px;font-size:0;line-height:0}
.main .qmenu .bx-controls .bx-prev,
.main .qmenu .bx-controls .bx-next,
.main .qmenu li{height:130px}
.main .qmenu .bx-controls .bx-prev{left:0;background:#fff url('../img/qmenuL.gif') no-repeat center center}
.main .qmenu .bx-controls .bx-next{right:0;background:#fff url('../img/qmenuR.gif') no-repeat center center}

.main1,.main2,.main3,.main4{overflow:hidden;clear:both}
.main2{width:100%;height:250px;margin-bottom:20px}

.main2 .mbr,
.main2 .mbr1{float:left;width:25%;box-sizing:border-box;height:250px;position:relative;border:1px solid #e4e4e4;border-right-width:0;border-left-width:0}
.main2 .mbr1{margin-left:-1px}
.main2 .mbr .calendar,
.main2 .mbr1 .lt3{height:100%;border:1px solid #e4e4e4;border-top-width:0;border-bottom-width:0}
.main2 .mbr .calendar{border-right-width:0}
.main2 .mbr1 .lt3{border-left-width:0}

.main .calendar h3{position:absolute;top:20px;left:20px;font-size:20px;font-weight:bold;letter-spacing:-1px}
.main .today{position:absolute;bottom:20px;left:20px;width:20%}
.main .today span{display:block;font-size:10px;margin-bottom:-10px}
.main .today p{display:block;font-size:35px;font-weight:bold}
.main .today i{clear:both;font-style:normal;display:block;float:left;border-radius:50%;width:9px;height:9px;margin:5px 5px 0 0}
.main .today i.t01{background:#b8b8b8}
.main .today i.t02{background:#ff6600}
.main .today i.t03{background:#76cde1}
.main .today em{font-style:normal;display:block;float:left;font-size:11px}
.main #calendar{padding:15px 20px}
.main #calendar .cal-func{width:75%;margin:3px 0 10px;float:right;text-align:right}
.main #calendar .cal-func a,
.main #calendar .cal-func b,
.main #calendar .cal-func b span,
.main #calendar .cal-func b em{vertical-align:middle;display:inline-block;zoom:1;*display:inline;font-style:normal;color:#282c31;font-size:18px!important;letter-spacing:-1px}
.main #calendar .cal-func b em{color:#f26532!important;margin:0 3px}
.main #calendar .cal-tbl{width:75%;border:0;float:right}
.main #calendar .cal-tbl thead th{border-top-width:0px;border-bottom:0;border-right-width:0px;border-left:0px;color:#818181}
.main #calendar .cal-tbl th,
.main #calendar .cal-tbl td{text-align:center;font-family:'vardana',arial;font-size:9px;font-weight:normal;padding:2px 0px;border:0}
.main #calendar table th{font-size:7px!important;letter-spacing:0}
.main #calendar table td div{font-size:10px!important;letter-spacing:0px}
.main #calendar table td  div,
.main #calendar table td  a{color:#818181}
.main #calendar table td.active{background:#b8b8b8}
.main #calendar table td.active div{color:#fff!important}
.main #calendar table th.sun{color:#ff6600!important;font-size:7.5px!important}
.main #calendar table th.sat{color:#2a5d9a!important;font-size:7.5px!important}
.main #calendar table td.point1 div{color:#ff6600;font-size:9px!important}
.main #calendar table td.point2 div{color:#76cde1;font-size:10px!important}

.main #calendar .cal-func .btn{font-size:30px!important;font-weight:bold;height:30px;padding:0 0 0 4px;margin-left:0px;color:#d3d3d3;background:#fff;font-weight:bold;border:0px;-webkit-border-radius:3px;-moz-border-radius:3px}
.main #calendar .cal-func .btn:active{border:0px solid #0059ac;background:#1f6db6;color:#818181}
.main #calendar #planList{width:65%;padding:7px 5%;color:#818181;margin-top:10px;float:right;background:#efefef}
.main #calendar #planList p{font-size:11px!important}
.main #calendar #planList .date1 span{border-radius:4px;background:#8c8383;font-weight:bold;color:#fff;padding:2px 5px;margin-right:5px;font-size:10px}
.main #calendar #planList .date2{color:#f26532;padding-top:2px}

.main2 .mb{width:50%;float:left}
.main2 .mb li{position:relative;width:50%;height:250px;float:left;overflow:hidden}
.main2 .mb li a{color:#fff}
.main2 .mb li span,
.main2 .mb li a,
.main2 .mb li b{display:block}
.main2 .mb li p{font-size:220%;line-height:120%;letter-spacing:-1px}
.main2 .mb li span{font-size:12px;letter-spacing:0;line-height:130%;font-weight:bold;padding:7px 0 0 0}
.main2 .mb li em{display:block;font-style:normal;font-size:140%;letter-spacing:-1px;padding:0 0 10px 0}
.main2 .mb1 a{background:url('../img/type19/mb2bg.jpg') no-repeat}
.main2 .mb1 a:focus,.main2 .mb1 a:hover{background-image:url('../img/type19/mb2bgon.jpg')}
.main2 .mb2 a{background:url('../img/type19/mb1bg.jpg') no-repeat; }
.main2 .mb2 a:focus,.main2 .mb2 a:hover{background-image:url('../img/type19/mb1bgon.jpg')}
.main2 .mb1 i,.main2 .mb2 i{display:block;position:absolute;bottom:40px;left:30px;width:130px;padding:8px 0px 8px 40px;border:1px solid #fff;background:rgba(38,20,0,0.6) url('../img/type19/more_arr.png') no-repeat 80% center;font-style:normal}
.main2 .mb1 a,
.main2 .mb2 a{color:#fff}
.main2 .mb2 p.movie_title {font-size:190%;line-height:120%;letter-spacing:-1px;padding:21px 0 20px 15px}
.main2 .lt3{position:relative;width:100%;color:#000;height:250px}
.main2 .lt3 li{font-size:100%;padding:2px 0}
.main2 .lt3 li b{letter-spacing:-1px;background:url('../img/type19/guide_arr01.png') no-repeat 0 center;padding:20px 0px}
.main2 .lt3 li span{color:#434c5e;position:static;white-space:nowrap;background:url('../img/type19/guide_arr.png') no-repeat 0 center;padding:4px 10px}
.main2 .lt3 h3{color:#000;font-size:20px;padding:0 0 6px 0;letter-spacing:-2px}
.main2 .lt3 .more{position:absolute;bottom:0;right:0;width:52px;height:52px;background:url('../img/type19/more_bt01.png') no-repeat;font-style:normal;font-size:0}

.main2 .mb li .box,
.main2 .lt3 .box,
.main3 .box{padding:20px 25px 0}
.main2 .mb li .box{height:230px}

.main3 ul{padding:15px 0 0}
.main3 h3{font-size:23px;font-weight:bold;line-height:23px}
.main3>div{float:left;position:relative;box-sizing:border-box}
.main3>div>div{border:1px solid #e4e4e4;border-right:0;height:220px}

.main3 .like_book{width:25%}
.main3 .like_book .bx-viewport{height:auto!important}
.main3 .like_book ul{padding-top:20px}
.main3 .like_book li a{display:block;text-align:center;margin:0 30px}
.main3 .like_book li span{display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;resize:horizontal}
.main3 .like_book .bx-pager{display:none}
.main3 .like_book .bx-wrapper{position:relative}
.main3 .like_book .bx-prev,
.main3 .like_book .bx-next{top:0;font-size:0;line-height:0;position:absolute;height:100%;width:20px;background:#fff url('../img/type19/bookbtl.gif') no-repeat center center}
.main3 .like_book .bx-prev{left:-5px;padding-left:15px}
.main3 .like_book .bx-next{right:-5px;padding-right:15px;background-image:url('../img/type19/bookbtr.gif')}

.main3 .news{width:25%}
.main3 .news li{padding:2px 75px 2px 10px}
.main3 .news h3{border-bottom:1px solid #e4e4e4;padding-bottom:20px}
.main3 .more_{right:20px;top:23px;font-size:0;line-height:0;position:absolute;background:url('../img/type19/more_bt.png') no-repeat 0 0;width:26px;height:26px}

.main3 .banner{width:25%}
.main3 .banner-wrap{padding:20px 20px 0;position:relative}
.main3 .banner-wrap>.banner-t>h3{float:none;font-size:23px;font-weight:bold;line-height:24px}
.main3 .banner-wrap>.banner-t>.control{position:absolute;right:25px;top:13px}
.main3 .banner-wrap>.banner-t>.control a{width:19px;height:19px;line-height:18px;margin-left:-1px}
.main3 .banner-wrap>.banner-box{padding-top:10px}

.main3 .mb3{width:25%;background:url('../img/type19/guide_bg.jpg') repeat}
.main3 .mb3 .box{padding:20px 10% 0;background:url('../img/type19/quick02_icon01.png') no-repeat right bottom}
.main3 .mb3 p{display:block;font-size:130%;line-height:80%;letter-spacing:-1px}
.main3 .mb3 span{display:block;font-size:230%}
.main3 .mb3 em{display:block;font-style:normal;font-size:100%;letter-spacing:-1px}
.main3 .mb3 .more{position:absolute;bottom:0;right:0;width:52px;height:52px;background:url('../img/type19/more_bt01.png') no-repeat;font-style:normal;font-size:0}

#footer{padding:30px 0 50px;margin-top:-1px;position:relative;z-index:1}
#footer .section{font-size:0;line-height:0;position:relative}
#footer .section .site_link{position:absolute;right:0;top:0}
#footer .section .site_link div div{width:200px}
#footer .section .site_link > div{margin-bottom:5px}
#footer .section .site_link a,
#footer .section .site_link span{border-radius:0}
#footer .section .site_link span{line-height:30px}
#footer .section .site_link a.btn{padding:5px 10px;background:#8f8f8f;border-color:#8f8f8f;color:#fff}
#footer .section .site_link a.btn:hover,
#footer .section .site_link a.btn:focus{background:#4f4f4f}
#footer .info a,
#footer .info span{vertical-align:middle}
#footer .info a b{color:#429aff;font-size:105%}
#footer .info .bar{margin:0 3px}
#footer address em,
#footer address span{font-size:11px}
#footer address{padding:5px 0  0 0}
#footer address em{font-style:normal;margin-right:10px}
#footer address span{font-size:11px}

@media all and (max-width:1000px){
	.tnb{padding:8px 0}
	.tnb .section{position:relative}
	h1{position:absolute;top:0;left:0;width:50px}
	h1 img{display:none}
	.main .qmenu .bx-controls{display:block}
	
	#header h1{position:relative;height:auto}
	#header h1 img{display:block}
	#header h1,
	#header h1 a{width:auto}
	.m-menu{float:right}
	.m-menu a{display:inline-block;text-align:center;vertical-align:middle}
	.m-menu a i{font-size:30px;width:45px;height:45px;line-height:45px}
	
	.subpage .section,
	#footer .section{padding:0 3%}
	.tnb .util,
	.tnb .search,
	.banner,
	.search_con .search h3,
	.Gnb{display:none}
	.mmode{display:block}
	
	.main .search_con .search-box{width:85%}
	.main1 .popupzone{width:100%}
	.main1 li .box{width:50%;letter-spacing:-2px;font-size:320%;color:#fff;line-height:120%;margin:40px 0 0;padding-left:30px}
	.main1 .bx-controls{position:relative;z-index:11;margin:-60px 0 0 30px;width:50%;text-align:left}
	.main .qmenu .bx-wrapper{margin:0 50px!important}
	
	.main2 .mbr{float:left;width:50%;height:250px;position:relative}
	.main2 .mb{width:100%;float:left}	
	.main2 .mbr1{position:relative;width:50%;color:#000;height:250px;float:right;margin-top:-500px;border-left:0px}
	.main2{height:auto;margin-bottom:0}
	.main2 .mb1 a,
	.main2 .mb2 a{background-size:cover}
	.main3 .like_book{width:50%;border-right:1px solid #e4e4e4}
	.main3 .news{width:50%}
	.main1,
	.main2,
	.main3,
	.main4{width:100%}
	.main3 .mb3{width:100%}
	.main3>div>div{border-top-width:0}
	.main3 .mb3 .box{padding:5%;width:90%;height:150px}
	.main2 .mbr .calendar,
	.main2 .mbr1 .lt3{border-right-width:1px}
	.main2 .mbr1 .lt3{margin-left:-1px}
	
	.main .calendar h3{font-size:23px}
	.main #calendar .cal-func{margin:5px 0 10px}
	.main #calendar .cal-func .btn{font-size:30px!important;padding:0 0 0 4px}
	
	#footer .section .site_link{display:none}
	#footer .section{background:none}
	#footer address{padding:5px 0 0 0}
	#footer .info{padding:0}
}

@media all and (max-width:600px){
	.main1 li .box{width:100%;font-size:300%;padding-left:20px}
	.main2 .mbr{float:left;width:100%}
	.main2 .mb{width:100%;float:left}	
	.main2 .mb li{width:100%}
	.main2 .mbr1{width:100%;margin-top:0px;border:1px solid #e4e4e4;border-right-width:0}
	.main3{margin-top:-1px}
	.main3 .like_book{width:100%;border-right:1px solid #e4e4e4;margin-top:-1px}
	.main3 .news{width:100%;border-right:1px solid #e4e4e4}
	.main .popupzone{width:100%;margin-top:230px;border-bottom:1px solid #e4e4e4;background:none;height:auto}
	.main .popupzone img{margin-bottom:-10px}
	.main3 .mb3 .box{height:80%}
}
@media all and (max-width:400px){
	#header h1 img{height:40px;margin:5px 0}
}

/* 영주도서관 메인 */
.main2yj .news {float:left;width: 25%; box-sizing: border-box;height: 250px;position: relative;border: 1px solid #e4e4e4;}
.main2yj .box {padding: 20px 25px 0;}
.main2yj .news h3 {border-bottom: 1px solid #e4e4e4;padding-bottom: 20px;}
.main2yj .more_ {right: 20px; top: 23px;font-size: 0;line-height: 0;position: absolute;background: url(../img/type19/more_bt.png) no-repeat 0 0;width: 26px;height: 26px;}
.main2yj h3 {font-size: 23px; font-weight: bold;line-height: 23px;}
.main2yj ul.conyj {padding: 20px 0 0;}
@media (max-width: 1000px) {
	.main2yj .news {float: left;width: 50%;height: 250px;position: relative;}
}
@media (max-width: 600px) {
	.main2yj .news {float: left;width: 100%;}
	.main2 .lt3 .more {margin-bottom: 20px;}
}



.main3yj {width: 100%; margin-bottom: 20px;}
.main3yj .mbr {float: left;width: 25%;box-sizing: border-box;height: 241px;position: relative;border: 1px solid #e4e4e4;border-right-width: 0;border-left-width: 0;}
.main3yj .mbr .calendar { border-right-width: 0; border-top-width:0; height: 100%; }
.main3yj>div>div{height: 219px;}
.main .main3yj #calendar {padding: 7px 20px;}
@media (max-width: 1000px) {
	.main3yj .mbr {width: 50%;}
}
@media (max-width: 600px) {
	.main3yj .mbr {width: 100%; border-top-width: 0px;border-right: 1px solid #e4e4e4;}
}