@charset "utf-8"; 

/* 스타일 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,address
{font-size:13px}

a:hover,
a:focus{color:#2b74c0}

#header h1{position:absolute;font-size:0;line-height:0;padding:45px 0 0}

/* header */
.tnb{z-index:5;background:url('../img/type21/tnb_bg.jpg') no-repeat center 0}
.tnb .util{width:100%;height:25px;padding-top:5px;text-align:right}
.tnb .util a{color:#fff;font-size:11px}
.tnb .util .box_l{float:left;padding-left:2%}
.tnb .util .box_r{float:right}
.tnb .mmode.curation {width: 35px;height: 35px;float: right;margin-top: -44px;margin-right: 39px; z-index: 9999999;}
.tnb .mmode.curation img{width: 35px;height: 35px;}
/* Gnb */
.Gnb{text-align:right;width:100%;height:78px;overflow:inherit;position:relative}
.Gnb .gnb-menu{position:relative;padding:0;margin:0}
.Gnb .gnb-menu>li{padding:0 1.5%;text-align:center;position:static}
.Gnb .gnb-menu>li:first-child{background:none}
.Gnb .gnb-menu>li>a{padding:28px 5px 20px;height:30px;line-height:30px;font-size:16px;color:#222;font-weight:bold}
.Gnb .gnb-menu>li>ul{display:none;margin-top:0px;background:#444;text-align:right;border:0;width:auto;padding-right:1%}
.Gnb .gnb-menu>li>ul{right:0}
.Gnb .gnb-menu>li>ul>li{white-space:nowrap}
.Gnb .gnb-menu>li.active>ul{display:block}
.Gnb .gnb-menu>li>.SubMenu>li{width:auto}
.Gnb .gnb-menu>li>.SubMenu>li,
.Gnb .gnb-menu>li>.SubMenu>li>a{color:#fff;display:inline-block;zoom:1;*display:inline}
.Gnb .gnb-menu>li>.SubMenu>li>a{font-size:13px}
.Gnb .gnb-menu>li>.SubMenu>li>a:hover,
.Gnb .gnb-menu>li>.SubMenu>li>a:focus{background:none;color:#333}
.Gnb .gnb-menu>li.active>a,
.Gnb .gnb-menu>li>a:hover,
.Gnb .gnb-menu>li>a:focus{color:#019986}
.Gnb .mask,
.Gnb .gnb-menu>li>ul{background:#48baac}
.Gnb .gnb-menu>li.menu1>ul,
.Gnb .gnb-menu>li.menu2>ul,
.Gnb .gnb-menu>li.menu3>ul,
.Gnb .gnb-menu>li.menu4>ul{text-align:center}
.Gnb .gnb-menu>li.menu3>ul>li.first{margin-left:10%}
.Gnb .gnb-menu>li.menu4>ul>li.first{margin-left:15%}

.main{background:url('/resources/homepage/adys/img/main_bg.jpg') no-repeat center -10px;padding-top:70px}
.main.ad{background:url('/resources/homepage/ad/img/main_bg.jpg') no-repeat center -10px;padding-top:70px}
.maini{border-right:1px solid #ddd;clear:both;overflow:hidden}

.main .lts{width:16.6%;float:left} 
.main .lt{width:50%;float:left}
.main .lta{width:50%;float:left}
.main .ltm{width:33.4%;float:left}
.main .ltr{width:50%;float:left}
.main .ltb{position:relative;float:left;box-sizing:border-box;background:#fff!important}
.main .ltm span{display:block}
.main .lta .t1{font-size:28px;letter-spacing:-2px;line-height:32px;padding-top:5px}
.main .lts .t1{font-size:22px;letter-spacing:-1px}
.main .lta .t2,.main .lts .t2{letter-spacing:-1px;font-weight:bold}
.main .lta a span,.main .lts a span{display:block;line-height:140%;color:#fff}
.main .lta.converse .t1{padding-top:0;line-height:30px}
.main .lta .closed_day{margin-top:5px}

.main1,
.main .mb1,
.main .mb2,
.main .mb3,
.main .mb4,
.main .search,
.main .q-Menu{height:160px;background:#fff}

.main .box{height:120px;padding:20px;display:block}

.main1{padding-top:10px;background:none!important}

.main .mb1 a{background:#f0f0f0 url('../img/type21/quick02_icon01.png') no-repeat 90% 90%}
.main .mb1 a:hover{background-color:#fcfcfc}
.main .mb1 a span{color:#373636}
.main .mb2 a{background:#2a96bd url('../img/type21/quick02_icon02.png') no-repeat 90% 85%}
.main .mb2 a:hover{background-color:#258db6}
.main .mb3 a{background:#006abe url('../img/type21/quick02_icon03.png') no-repeat 90% 85%}
.main .mb3 a:hover{background-color:#0061b7}
.main .mb4 .box{background:url('../img/type21/quick02_bg04.jpg') no-repeat center center;background-size:cover;color:#fff}

.main .popupzone{position:relative;height:320px;padding:0;background:#f0f0f0}
.main .popupzone li{text-align:center;z-index:9!important;font-size:0;line-height:0}
.main .popupzone .bx-pager{position:absolute;right:15px;top:20px;font-size:0;line-height:0;z-index:10!important}
.main .popupzone .bx-controls-direction{display:none}
.main .popupzone .bx-pager-item{padding:0 2px;display:inline-block;zoom:1;*display:inline}
.main .popupzone .bx-pager a{display:block;border-radius:50%;width:12px;height:12px;background:#6f6f6f;font-size:0;line-height:0}
.main .popupzone .bx-pager a.active,
.main .popupzone .bx-pager a:hover,
.main .popupzone .bx-pager a:focus{background:#006abe}

.main .search{float:left;width:50%;background:url('../img/type21/search_bg.jpg') repeat;border:0;border-radius:0;padding:0;margin:0}
.main .search h3{font-size:20px;letter-spacing:-1px;font-weight:bold;color:#3e3e3e;background:url('../img/type21/search_icon.png') no-repeat 0 25px;padding:15px 0 10px 20px}
.main .search-box{width:100%}
.main .search-box fieldset{position:relative;zoom:1;border:3px solid #525252;background:#fff;padding-left:10px;overflow:hidden}
.main .search-box input{border:0;background:#fff;width:100%}
.main .search-box input:focus{outline:none}
.main .search-box input,
.main .search-box button{height:38px;line-height:30px}
.main .search-box button{float:right;width:80px;text-align:center;background:#525252;border-color:#525252;color:#fff;margin-right:-3px;border-radius:0}
.main .search-box .box1{float:left;width:100%;margin-right:-80px}
.main .search-box .box2{margin-right:80px}

.main .q-Menu .box{padding:0;height:auto;border-bottom:1px solid #ddd}
.main .q-Menu ul{overflow:hidden;font-size:0;line-height:0}
.main .q-Menu li{width:25%;display:inline-block;zoom:1;*display:inline}
.main .q-Menu li a{display:block;border:1px solid #ddd;border-width:0 0 1px 1px;text-align:center;background-position:center 30%;background-repeat:no-repeat;height:79px!important}
.main .q-Menu li.qm1 a,
.main .q-Menu li.qm5 a{border-left-width:0}
.main .q-Menu li.qm5 a,
.main .q-Menu li.qm6 a,
.main .q-Menu li.qm7 a,
.main .q-Menu li.qm8 a{border-bottom-width:0}
.main .q-Menu li a span{font-size:13px;display:block;position: relative;top: 63%;color:#6d6d6d}
.main .q-Menu li a:hover span{color:#006abe}

.main .ltb h3{font-size:20px;letter-spacing:-1px;font-weight:bold;margin-top:-5px}
.main .ltb .box{height:150px;border:1px solid #ddd;}
.main .news .box{border-width:0 0 0 0}
.main .like_book .box{border-width:0 1px 0 1px}
.main .ltb.last .box{border-width:0 0 0 1px}

.main .news{width:39%}
.main .news li{background-image:url('../img/type21/arr_news.gif');padding-top:1px}
.main .news h3{padding-bottom:15px}
.main .more_{right:20px;top:23px;font-size:0;line-height:0;position:absolute;background:url('../img/type21/more_bt.png') no-repeat 0 0;width:16px;height:16px}

.main .like_book{width:36%}
.main .like_book .bx-viewport{height:auto!important}
.main .like_book ul{padding:10px 0 0}
.main .like_book li a{display:block;text-align:center;margin:10px 13px 0}
.main .like_book li img{height:auto;border:1px solid #ebece6}
.main .like_book li span{display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis}
.main .like_book .bx-pager{display:none}
.main .like_book .bx-wrapper{position:relative}
.main .like_book .bx-prev,
.main .like_book .bx-next{display:none}

.main .ltb.last{width:25%}
/*
.main .banner-wrap>.banner-t{float:left;width:95%;line-height:0;padding:0 0 30px 0}
.main .banner-wrap h3{float:left;height:22px;line-height:22px;padding-top:-10px}
.main .banner-wrap>.banner-t>.control{float:right;padding-top:0}
.main .banner-wrap>.banner-t>.control a{width:19px;height:19px;line-height:18px;margin-left:1px;border-radius:50px}
*/
.main .lib-info li{background:url('../img/type21/arr_news.gif') no-repeat 0 9px;padding-left:9px;line-height:150%}
.main .lib-info li strong,
.main .lib-info li p{font-size:12px}
.main .lib-info li p{line-height:130%}

.main .lib-info ul.lib-info-box {padding-top:2%}
.main .lib-info ul.lib-info-box li {background:none;padding:0;margin-top:3px;}
.main .lib-info ul.lib-info-box li a{text-align:left;padding-left:12%;display:block;font-size:120%;font-weight:bold;line-height:320%;color:#fff;background:url('/resources/common/img/type8/bbtn.png') no-repeat 90% center}
.main .lib-info ul.lib-info-box li.a1 a{background-color:#263c9f}
.main .lib-info ul.lib-info-box li.a1 a:hover{background-color:#233893}
.main .lib-info ul.lib-info-box li.a2 a{background-color:#f55e61}
.main .lib-info ul.lib-info-box li a2 a:hover{background-color:#e8585b}

.main6{position:relative;border-left:1px solid #ddd;border-right:1px solid #ddd;padding:15px;background:#fff}

#footer{padding:0 0 40px;position:relative;z-index:1;margin-top:-1px}
#footer .section{position:relative}
#footer .section .site_link{position:absolute;right:0;top:25px}
#footer .section .site_link div div{width:200px}
#footer .section .site_link > div{margin-bottom:5px}
#footer .section .site_link a b{color:#07954e}
#footer .section .site_link a,
#footer .section .site_link span{border-radius:0}
#footer .section .site_link span{line-height:30px}
#footer .section .site_link a.btn{padding:5px 10px;background:#1f5d97;border-color:#063866;color:#fff}
#footer .section .site_link a.btn:hover,
#footer .section .site_link a.btn:focus{background:#063866}
#footer .info{width:100%;border-top:1px solid #ddd;border-bottom:1px solid #ddd;padding:9px 0}
#footer .info a b{color:#2b74c0}
#footer .info .bar{margin:0 3px}
#footer address{padding:25px 0 0}
#footer address em{font-style:normal}
#footer address em,
#footer address .bar{margin-right:8px}

/* 현재교육장 정보 */
.edu_box {position:relative;/* width:740px; */border: 1px solid #ccc;box-sizing:border-box;padding:20px;overflow:hidden;margin:20px 1% 10px; background:url("/images/template/01616/sub/edu_box_bg.png") no-repeat right bottom #f2fbff;border-top:3px solid #0867c2;}
.edu_box .intro_img {width:110px;height:140px;float:left;margin-right:30px;border:none;}
.edu_box .intro_img img { width:100%; height:100%;border:1px solid #ddd; }
.edu_box dl {width: 500px;height:100%;float:left;padding:10px 0;letter-spacing: -1px;}
.edu_box dt {font-size:21px;color:#222;margin-bottom:20px;}
.edu_box dt span.fs_blue {color: #0867c2;}
.edu_box dd {font-size:15px;color: #444;line-height:1.4;}

/* 역대교육장 정보 */
.edu_list {overflow:hidden;}
.edu_list li {width: 48%;float:left; min-height:190px; border:1px solid #ddd;padding:20px;margin: 2% 1% 0 1%;box-sizing:border-box;border-top:1px solid #0867c2; list-style-type: none!important;}
.edu_list li .edu_img {width:110px;height:140px;float:left;margin-right: 20px;border:1px solid #ddd;}
.edu_list li .edu_img img {width:100%; height:100%;}
.edu_list li dl {float:left;width: 170px;}
.edu_list li dl dt  {font-size:18px;color:#222; margin-bottom:20px; letter-spacing: -1px;}
.edu_list li dd.name {font-size:18px;color: #000;margin-bottom:20px;} /* 이름 */
.edu_list li dd.term {font-size:14px;color:#222; line-height:1.4;} /* 재임기간 */
.edu_list li dd.term span {display:block; font-size:16px;font-weight:bold; color:#004ba8; letter-spacing: -1px;}  /* 재임기간 */


@media all and (max-width:1160px){
	.tnb{background-position:38% 0}
}
@media all and (max-width:1000px){
	.tnb .section{position:relative}
/* 	h1{position:absolute;top:0;left:0;width:50px} */
	h1 img{display:none}
	#header h1{position:relative;height:auto;padding:0;margin:0 0 0 1%}
	#header h1 img{display:block}
	#header h1,
	#header h1 a{width:65%;}
	#header .section{margin:0}
	.m-menu{float:right;margin-top:-48px}
	.m-menu a{display:inline-block;text-align:center;vertical-align:middle}
	.m-menu a i{font-size:30px;width:45px;height:45px;line-height:45px}
	.tnb{padding:10px;background:none}
	.tnb .util, .main6,
	.Gnb{display:none}
	.mmode{display:block}
	.mmenu .menu,
	.mmenu,
	.main .search{width:100%}
	.main .search{height:auto}
	.main .search .box{border:1px solid #ddd;border-width:1px 0 1px 1px}
	
	.main{background-position:center 0;padding-top:25px}
	.main .lts{width:30%} 
	.main .lt{width:100%}
	.main .ltm{width:70%}
	.main .ltr{width:100%}
	.main .lta{width:50%}
	.main .ltb{position:relative;box-sizing:border-box;width:50%}
	.main .lt .t1{font-size:28px;letter-spacing:-2px}
	.main .lts .t1{font-size:22px;letter-spacing:-1px}
	.main .lt .t2,.main .lts .t2{font-size:13px;letter-spacing:-1px;font-weight:bold}
	.main .lt a span,.main .lts a span{display:block;line-height:140%;color:#fff}
	
	.main .news .box{border-width:0 0 1px 0}

	.main .ltb.last{width:100%}
	.main .ltb.last .box{height:auto}
	.main .ltb.last ul{overflow:hidden;padding:5px 0 0}
	.main .ltb.last li{display:inline-block;vertical-align:top;padding-right:3%;margin-top:5px}
	.main .ltb.last li strong,
	.main .ltb.last li p{font-size:inherit}
	.main .ltb.last li p{padding-top:3px}
	.main .ltb.last li strong{color:#333;font-size:110%}

	.main .like_book .box{border-bottom-width:1px}
	.main .q-Menu .box{border-left:1px solid #ddd}
	.main .popupzone{background:#fff}
	.main1{padding-top:0px;padding-bottom:50px}
	.main1 li{padding-bottom:20px}

	.main .lib-info ul.lib-info-box li {width:100%;}

	#footer address{padding-top:15px}
	#footer .section .site_link{display:none}
}
@media all and (max-width:767px){
	.main .ltm{width:100%}
	.main .lta{width:50%}
	.main .lts{width:100%} 
	.main .ltm{width:100%}
	.main .ltb{width:100%}
	.main .like_book{height:auto}
	.main .like_book .box{border-width:0 0 1px 1px}
	.main .news .box{border-left-width:1px}

	/* 현재교육장 정보 */
	.edu_box {width:100%; margin: 0 1%;}
	.edu_box .intro_img {width:35%; height:140px; float:left; margin-right:3%;}
	.edu_box .intro_img img { width:auto; height:170px;}
	.edu_box dl {width:60%;}
	.edu_box dt {font-size:24px; line-height:1.4;}
	/* 역대교육장 정보 */
	.edu_list li {width: 48%; margin: 2% 1% 0 1%; }
	.edu_list li .edu_img {width:35%; height:140px; margin-right:3%; }
	.edu_list li .edu_img img {width:100%; height:100%;}
	.edu_list li dl {float:right; width:60%;}
}
@media all and (max-width:640px) {
	/* 현재교육장 정보 */
	.edu_box {width:100%; margin:20px 0 10px; text-align:center;}
	.edu_box .intro_img {width:100%; height:170px; float:none; margin-right: 0;}
	.edu_box .intro_img img {width:auto; height:170px;}
	.edu_box dl {width: 100%;}
	.edu_box dt {font-size:24px; line-height:1.4;}
	.edu_box dd {font-size:15px;font-family: "Nanum";color:#555;line-height:  1.4;}

	/* 역대교육장 정보 */
	.edu_list li {width:100%; margin: 2% 0 1%;}
}
@media all and (max-width:580px){
	.main1{padding-top:0px;padding-bottom:30px}
}
@media all and (max-width:480px){
	/* 역대교육장 정보 */
	.edu_list li dd.term {font-size:13px;}
}
@media all and (max-width:400px){
	#header h1 img{height:40px;margin:5px 0}
	.main .q-Menu{height:320px}
	.main .q-Menu li{width:50%}
	.main .like_book ul{margin-left:-10px}
	
	.main .q-Menu li.qm1 a,
	.main .q-Menu li.qm3 a,
	.main .q-Menu li.qm5 a,
	.main .q-Menu li.qm7 a{border-left-width:0}
	.main .q-Menu li.qm5 a,
	.main .q-Menu li.qm6 a{border-bottom-width:1px}
}
@media all and (max-width:320px){
	.main1{padding-top:0px;padding-bottom:0px}
	.main .lta{width:100%}
	.main .like_book li a{margin:10px auto 0;width:60px}
}