@charset "utf-8";
@import url("../../../common/css/type-center.css");

/* 스타일 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,address {font-family:'Malgun Gothic',Helvetica,Arial,Verdana,Geneva,sans-serif;font-size:14px}
.doc-body{font-weight:normal}
#wrap{width:100%}
/*.Gnb .gnb-menu>li.menu1{width:14.5%}
.Gnb .gnb-menu>li.menu2{width:15%}
.Gnb .gnb-menu>li.menu3{width:16.3%}
.Gnb .gnb-menu>li.menu4{width:14%}
.Gnb .gnb-menu>li.menu5{width:17%}
.Gnb .gnb-menu>li.menu6{width:14%}
.Gnb .gnb-menu>li.menu7{width:12.2%}*/

.Gnb .gnb-menu>li.menu1{width:14%}
.Gnb .gnb-menu>li.menu2{width:14%}
.Gnb .gnb-menu>li.menu3{width:16%}
.Gnb .gnb-menu>li.menu4{width:14%}
.Gnb .gnb-menu>li.menu5{width:17%}
.Gnb .gnb-menu>li.menu6{width:12.5%}
.Gnb .gnb-menu>li.menu7{width:12.5%}

#main-spot {position:relative;background:url('/resources/homepage/geic/img/visual02.jpg') repeat-x center center;height:575px;overflow:hidden;}
#main-spot .section {position:relative}

@media all and (max-width:750px){
#main-spot {position:relative;background:url('/resources/homepage/geic/img/visual02.jpg') repeat-x center center;height:520px;overflow:hidden;}

}


.main-img{width:480px;height:287px;margin:70px auto 0;background-color:rgba(0,0,0,0.3);box-sizing:border-box;padding:30px}
.main-img ul {vertical-align:middle;}
.main-img li{width:100%;text-align:center}

.main-img .main_notice_title {text-align:center;font-size: 35px;color:#fff;line-height:125%;letter-spacing:-1px;}
.main-img .main_notice_schedule {font-size: 17px;color:#fff;margin:20px 0 0 0;}
.main-img a.main-img-btn {border:1px solid #fff;font-size: 15px;color:#fff;padding:10px 30px;}
.main_notice_more_btn {margin:40px 0 0 0}
.main_notice_more_btn .read_more{position:relative;display:inline-block;padding:10px 50px 11px 35px;font-size: 15px;line-height:20px;color:#fff;letter-spacing:-1px;border:3px solid #fff;}
.main_notice_more_btn .read_more:after{display:inline-block;position:absolute;right:-33px;top:50%;width:58px;height:11px;margin-top:-6px;content:'';background:url(https://www.gist.ac.kr/kr/img/main/interview_arrow.png) left top no-repeat;transition:all 400ms ease-in-out}
.main_notice_more_btn .read_more:hover:after{right:-58px}

.main-img .bx-controls .bx-controls-direction a {position:absolute;width:70px;height:70px;font-size:0;z-index:101}
.main-img .bx-controls .bx-controls-direction a.bx-prev{left:0;top:50%;background:url('../img/main-prev.png') no-repeat center center;}
.main-img .bx-controls .bx-controls-direction a.bx-next{right:0;top:50%;background:url('../img/main-next.png') no-repeat center center;}

.main .qmenu{width:100%;position:absolute;bottom:0;background-color:#000;background-color:rgba(0,0,0,0.5);}
.main .qmenu ul{text-align:center;overflow:hidden}
.main .qmenu ul,
.main .qmenu li{font-size:0;line-height:0;}
.main .qmenu li{display:inline-block;padding:5px 0}
.main .qmenu li span,
.main .qmenu li b,
.main .qmenu li a{display:block;height:20px;line-height:20px}
.main .qmenu li a{font-size:16px;height:30px;margin:0 auto}
.main .qmenu li a{background:url('../img/qm1.gif') no-repeat center 20px;display:block;padding:95px 0 10px;color:#fff}
.main .qmenu li a:hover,
.main .qmenu li a:focus{}

.main .qmenu .control{border-top:2px solid #000;text-align:center}
.main .qmenu .control a{display:none;width:249px;color:#fff;font-size:13px;height:40px;line-height:38px;background:url('../img/qmenu-btn.gif') no-repeat 0 0}
.main .qmenu .control a.active{display:block;margin:0 auto}

.main .qmenu .bx-controls{display:none}
.main .qmenu .bx-controls .bx-prev,
.main .qmenu .bx-controls .bx-next{position:absolute;top:0;width:43px;height:145px;font-size:0;line-height:0;background: url('../img/qmenu_prev.png') no-repeat 0 center}
.main .qmenu .bx-controls .bx-prev{left:0;background-position:right center}
.main .qmenu .bx-controls .bx-next{right:0;background-image:url('../img/qmenu_next.png')}

.title_ment {font-size:35px;color:#000;font-weight:800;text-align:center;padding:0 0 20px 0;}
.main1 {background:#f3f4f6}
.main1 .section {padding: 55px 0;}
.main1 .news{float:left;position:relative;width:33.33%;height:310px}
.main1 .news h3{padding:0 0 2% 2%;text-align:left;height:34px;letter-spacing:-1px;}
.main1 .news .box{box-sizing:border-box;padding:20px}
.main1 .news1, .main1 .news3 {background:#fff}

.main1 .news1 .box{margin:0}
.main1 .news2 .box{margin:0}
.main1 .news3 .box{margin:0}
.main1 .news h3 a{font-size:20px;color:#2b2b2b;font-weight:bold}
.main1 .news h3 a:hover{color:#2d64a6}
.main1 .news h3,
.main1 .news h3 a.active{font-size: 20px;color:#333;font-weight: bold;}
.main1 .news h3 a,
.main1 .news h3 span{display:inline-block;vertical-align:middle}
.main1 .news h3 span{background:#bbb;height:14px}
.main1 .news p{text-align:center}
.main1 .news1 ul{padding:0 0 10px}
.main1 .news1 li{background:none;padding:5px 0 5px 10px;background:url('../img/gnb_arr2.gif') no-repeat left 16px;}
.main1 .news1 li a{position:relative;z-index:2;display:block;color:#424242;font-size:15px;}
.main1 .news1 li a:hover,
.main1 .news1 li a:focus{color:#f43b40}
.main1 .news1 li a,
.main1 .news1 li span{height:20px;line-height:20px}
.main1 .news1 li span{width:20px;font-size:0;line-height:0;z-index:1;top:5px;background:url('/resources/homepage/geic/img/new.png') no-repeat center center}
.main1 .news div.news-title {position:relative;border-bottom:1px solid #e5e5e5;margin-bottom:15px}
.main1 .news div.news-title.notice {display:none}

.gallery-list {position:relative;width:380px;}
.main1 .news2 ul.gallery-list li {position:relative;height:310px;background:none;padding:0;margin:0}
.galleryZones ul.gallery-list li > div {position:absolute;bottom:0;width:100%;height:110px;background-color:rgba(0,0,0,0.5)}
.galleryZones ul.gallery-list li > div > p {display:block;color:#fff;text-align:center}
.galleryZones ul.gallery-list li > div > p.gallery-more {width:50%;margin:0 auto;padding:7px 0;background:#1d4b94}
.galleryZones ul.gallery-list li > div > p.gallery-more img {vertical-align:middle}
.galleryZones ul.gallery-list li > div > p > a{color:#fff;font-size:15px}
.galleryZones ul.gallery-list li > img {height:320px}
.galleryZones .bx-controls .bx-controls-direction a {position:absolute;width:35px;height:35px;top:64.5%;font-size:0px;z-index:101}
.galleryZones .bx-controls .bx-controls-direction a.bx-prev { background:url("../img/gallery-prev.png") no-repeat center center;left:0}
.galleryZones .bx-controls .bx-controls-direction a.bx-next { background:url("../img/gallery-next.png") no-repeat center center;right:0}

.main1 .news3 ul{padding:5px 0 0 10px}
.main1 .news3 li{background:none;padding:0 0 0 10px;background:url('../img/gnb_arr2.gif') no-repeat left 11px;position:relative;z-index:2;display:block;color:#424242;font-size:14px;letter-spacing:-1px;line-height:135%;}
.main1 .news3 li span{height:20px;line-height:13px;color:#838383;padding:0 10px 0 0;letter-spacing:0}
.main1 .news3 .calendars {position:relative;border-bottom:1px solid #e5e5e5;padding-bottom:15px}
.main1 .news3 .calendars .cal-img {float:left;position:relative;width:110px;height:93px;background:url('../img/cal-bg.png') no-repeat center center}
.main1 .news3 .calendars .cal-img span {position:absolute;z-index:10000;width:22px;height:22px;bottom:20%}
.main1 .news3 .calendars .cal-img span.prev {left:0}
.main1 .news3 .calendars .cal-img span.next {right:0}
.main1 .news3 .calendars .cal-img .cal-year-section {text-align:center;color:#fff;padding:7px 0 0 0;}
.main1 .news3 .calendars .cal-img .cal-month-section {text-align:center;color:#b7b7b7;padding:3px 0 0 0;font-size:40px;font-weight:800}
.main1 .news3 .calendars .cal-holiday {position:absolute;width:210px;padding-left:125px;}
.main1 .news3 .calendars .cal-holiday h4 {font-size:15px;font-weight:bold;color:#f80f05}
.main .more{position:absolute;top:8px;right:0px;display:inline-block;background:url('/resources/homepage/geic/img/more2.gif') no-repeat right center;padding-right:20px}

/*IT교육센터*/
.main2 .section {overflow:hidden;padding: 40px 0 60px 0;}
.main2 .news{/* float:left; */position:relative;width:31.7%;margin-right:2%;display: inline-table;}
.main2 .news:last-child{margin-right:0}
.main2 .news p {text-align:center;font-weight: bold;font-size:20px;color:#000;padding:0 0 20px 0;}
.main2 .news p.mobileTitle {display:none}
.main2 .news .box {display:block;background:#f5f5f5;}
.main2 .news .box dt {display:block;height:auto}
.main2 .news .box dd {display:block;font-size:15px;height:60px;color:#424242;padding:17px 17px 15px 17px;}

/*큐레이션*/
.main3 {background:url('../img/infoBg.jpg') no-repeat center center;background-size:cover}
.main3 .section{overflow:hidden;position:relative;width:100%;padding:60px 0;}
.main3 .curation-list-section {position:relative;overflow:hidden}
.main3 div.curation-list-section ul.curationRolling {}
.main3 .curation-list-section li {display:inline-block;background:#fff;box-sizing:border-box;border-radius:10px;padding:20px 0}
.main3 .curation-list-section li div.curation_txt_section {/*border-top:1px solid #c0c2c3;border-bottom:1px solid #c0c2c3;*/}
.main3 .curation-list-section li div.curation_txt_section h3.book-title {font-size:11px;font-weight:600;color:#000;padding:10px 15px;border-bottom:1px solid #c0c2c3}
.main3 .curation-list-section li div.curation_txt_section p.book-desc {font-size:11px;font-weight:200;padding:10px 15px}
span.curated-info, span.date-info {font-size:11px;font-weight:200;display:block;text-align:right;padding:0 15px}
.main3 .bx-controls {}
.main3 .bx-controls .bx-controls-direction a.bx-prev {position:absolute;left:0;bottom:50%;width:100px;height:33px;background:url('../img/cu_prev.png') left center no-repeat;text-indent:-999999px}
.main3 .bx-controls .bx-controls-direction a.bx-next {position:absolute;right:0;bottom:50%;width:100px;height:33px;background:url('../img/cu_next.png') left center no-repeat;text-indent:-999999px}
.curation-more-btn {text-align:center;padding:30px 0 0 0}

/*배너*/
.main4 {background:#e6e6e7;}
.main4 .section {overflow:hidden;position:relative;padding:35px 0;}
.main4 .bx-controls .bx-controls-direction{display:none}
.main4 .bx-viewport ul li {margin-right:15px;}

/**/
.sub-visual {position:relative;height:170px;background:url('../img/sub_visual.jpg') no-repeat center 0;text-align:center;color:#fff}
.sub-visual p.sv1{padding-top:30px}
.sub-visual p.sv2{padding-top:10px;padding-bottom:30px}
.sub-visual p.sv1{font-size:200%}
.sub-visual p.sv2{font-size:110%}

/* 콘텐츠 */
.doc-body h3{background-position:0 14px}
.doc-body h4.step{padding-left:60px;background:url('../img/contents/step1.gif') no-repeat 0 14px;color:#555;font-size:110%;letter-spacing:-1px}
.doc-body h4.step.s2{background-image:url('../img/contents/step2.gif')}
.doc-body h4.step.s3{background-image:url('../img/contents/step3.gif')}
.doc-body .txt-box.infoOpen{min-height:100px;padding:20px 15px 20px 180px;background-color:#fefefe;background-image:url("../img/contents/infoOpen1.gif");background-repeat:no-repeat;background-position:0 15px}
.doc-body .txt-box.infoOpen.iO2{padding-bottom:30px;background-image:url("../img/contents/infoOpen2.gif")}

/*.lnb{padding:0 0 60px}*/
/*
.lnb>h2,
.lnb>ul{margin-right:40px}
*/
.lnb>ul{overflow:hidden}
.lnb > h2{border-bottom:1px solid #000;text-align:center}
.lnb h2 b{margin-bottom:-3px;display:block;font-size:30px;color:#000;padding: 40px 0;display:block;margin-right:0;border-bottom:0;}

.lnb li.s a{position:relative}
.lnb li.s img{position:absolute;top:50%;right:15px;}
.lnb li.s li i.fa-external-link{position:relative;right:0;top:0;margin:0 0 0 5px}
.lnb li.s li i{color:#aaa}
.lnb li.s li a:hover i,
.lnb li.s li a:focus i{color:#2b74c0}
.lnb a{display:block;color:#4c4c4c}
.lnb a span{display:inline-block;zoom:1;*display:inline}
.lnb > ul > li{}
.lnb>ul>li>a{font-size:14px;font-weight:bold;border-bottom:1px solid #dddddd}
.lnb>ul>li>a img {margin:0 5px 0 0;color:#aaa;position:absolute;line-height:14px;right:5%;top:50%;}
.lnb>ul>li>ul{padding:5px 0 10px}
.lnb>ul>li>ul>li>ul{padding:0 0 10px}
.lnb>ul>li>a{padding:12px 20px 10px 15px;position:relative}
.lnb>ul>li>a img {position:absolute;top:50%;right:15px;}
.lnb>ul>li>ul>li>a{padding:5px 20px 5px 30px;background:url('../img/lnb-arr.gif') no-repeat 20px 13px}
.lnb>ul>li>ul>li.active>a{background-image:url('../img/lnb-arr-white.gif')}
.lnb>ul>li>ul>li>ul>li>a{padding:5px 20px 4px 35px}
.lnb>ul>li>ul{display:none}
.lnb>ul>li.active>ul{display:block}
.lnb li li ul{display:none}
.lnb li li.active ul{display:block}
.lnb a.newWin>span{display:inline-block;zoom:1;*display:inline;padding-right:15px}
.lnb>ul>li.s>a>i.fa-angle-right{display:none}
.lnb>ul>li>ul{background:#f7f7f7;padding:5px 0 10px}
.lnb ul li.active > a,
.lnb ul li > a:hover{font-weight:bold}
.lnb ul li.active > a{background-color:#c80b29;color:#fff;position:relative}
.lnb ul li.active > a:hover{color:#fff}
.lnb ul ul li.active > a{background-color:#c80b29;color:#fff}
.lnb ul li > a:hover,
.lnb ul ul ul li.active > a,
.lnb ul ul ul li.active > a:hover{color:#c80b29}
.lnb ul ul ul li.active > a{background-color:#ddd;}

/* 본문 */
.doc-head{overflow:hidden}
/*.doc-title h3{display:inline-block;zoom:1;*display:inline;word-break:break-all;font-size:28px;letter-spacing:-1px;padding:20px 0;font-weight:bold;color:#333}*/
.doc-info {width:100%;position:absolute;bottom:0;z-index:100000;box-sizing:border-box;overflow:hidden;}
.doc-info:before{height:65px;background: rgba(0,0,0,0.5);content:"";margin-left: -600px;position:absolute;top: -2px;left:50%;right:0;}
.doc-info li {display:inline-block;zoom:1;*display:inline;vertical-align:middle;padding:15px 0}
.doc-info li a{display:block;}
.doc-info ul {float:right}
.doc-info ol {float:left;font-size:0}
.doc-info ol li{padding-left:30px;background:url('../img/doc_arrow.png') no-repeat 7px center;margin-left:0;}
.doc-info ol li:nth-child(2) {background:none}
.doc-info li,
.doc-info ol li .fa-home,
.doc-info li a{height:33px;line-height:33px;font-size:15px;color:#fff;position: relative;}
.doc-info ol li.first{padding:15px 26px;background:none;border-right:1px solid #696969;}
.doc-info ol li a{color:#fff}
.doc-info ol li.on a{color:#1f5d97;font-weight:bold}
.doc-info ul li {float:left;/*padding:15px 20px;*/border-left:1px solid #696969;}
.doc-info ul li img {margin:0 1px 0 1px;}
.doc-info ul li:last-child {border-right:1px solid #696969}
.doc-info ul li a{padding:0;color:#aaa}
.doc-info ul li a,
.doc-info ul li a span{display:inline-block;zoom:1;*display:inline;vertical-align:middle;}
.doc-info ul li a.font{padding-right:0}
.doc-info ul li a.font span{color:#fff;background:#aaa;line-height:16px;height:16px;padding:0 2px;border-radius:3px;}
.doc-info ul li a.font.s span{font-family:dotum;font-size:11px;line-height:17px}
.doc-info ul li a:hover{color:#fff;}
.doc-info ul li a.font:hover span{background:#777}
.doc-info span{vertical-align:middle}
.doc-info ul li a{line-height:32px;height:32px;color:#fff;margin-top:-1px}
.doc-info  ul li.modify{line-height:30px;padding:15px 20px;}
.doc-info  ul li.print,.doc-info  ul li.sns,.doc-info  ul li.cord{line-height:36px;width:60px;}
.doc-info  ul li a .snsBtn{line-height:30px;}

@media all and (max-width:767px){
	.doc-body .txt-box.infoOpen{background-size:24% auto;padding-left:24%}
	.title_ment {font-size:25px;padding:0 0 20px 0;}
    .main1 .news h3 {padding: 0 0 2% 0;}
	.main4 .section {overflow:hidden;position:relative;padding:20px 0;}
}

.doc-body .txt-box h4{color:#1f5d97}
.doc-body .txt-box.block{padding:5px 20px 20px}

.btn_area{border-top:1px solid #ddd;padding-top:20px;margin-top:20px;clear:both}
.btn_area .btn{padding:8px 18px 10px;letter-spacing:-1px;font-size:110%}
.doc-body a.brownBU{color:#b48154;border-bottom:1px solid #b48154}
.doc-body a.brownBU i{color:#555;font-size:85%}
.doc-body a.brownBU:hover,
.doc-body a.brownBU:focus,
.doc-body a.brownBU:hover i,
.doc-body a.brownBU:focus i{color:red;border-color:red}

.auto-scroll.border{border:1px solid #ddd}
h4 b{vertical-align:middle}
h4 a.btn.baro{font-size:80%}
a.btn.baro{padding:2px 10px;letter-spacing:-1px;font-weight:normal}
a.btn.baro.newWin i{display:inline;font-size:90%;margin:0 0 0 5px}
.large{font-size:115%}
b.large{font-weight:800;vertical-align:middle}
.txt-box b.large{font-size:120%;font-weight:normal;border-bottom:3px solid #fafafa;display:inline-block;color:#333}

/* 재해복구센터 안내 */
.cont312{text-align:center;background:#f6f6f6;padding:1%}
.cont312 dl{width:30%;display:inline-block;margin:1%}
.cont312 dt,
.cont312 dd{border-radius:5px}
.cont312 dt{background:#4c7dac;color:#fff;font-size:120%;font-weight:bold;padding:5px}
.cont312 dd{border:1px solid #ccc;border-top-width:0;border-left-color:#ddd;padding:10px;background:#fff}

@media all and (max-width:650px){
	.cont312 dl{display:block;width:auto}
}

/* 교육청 기관홈페이지 백업 */
.cont372{padding:3%;margin-top:10px;background:#f6f6f6}
.cont372 table,
.cont372 table th,
.cont372 table td{border:0;padding:0;background:none!important}
.cont372 table tbody td.ar{vertical-align:middle}
.cont372 tbody td div{border:2px solid #4c7dac;padding:3%;margin:3%;border-radius:10px;background:#fff}
.cont372 tbody td em{display:block;font-style:normal;color:red}
.cont372 tbody td img{margin:5px 0}
.cont372 tbody td i{display:block;font-size:150%;font-weight:800;color:#4c7dac}

/* 조직도 */
.features-list{font-size:0;line-height:0;text-align:center}
.features-list li{font-size:13px;line-height:130%}
.features-list>li{vertical-align:middle;padding:0}
.features-list>li,
.features-list>li>ul>li{background:#fff url('../img/contents/org-bg-line.gif') repeat-y center 0}
.features-list>li>ul>li{padding-top:15px}
.features-list li a{display:block;margin:0 auto;border-radius:5px;padding:15px 0}
.features-list>li>ul,
.features-list li a{width:60%}
.features-list li a.bin{cursor:default}
.features-list>li>a{font-size:115%;background:#005799;color:#fff}
.features-list>li>ul{position:relative;margin:15px auto;border-top:1px solid #ddd;background:#fff}
.features-list>li>ul>li{width:60%}
.features-list>li>ul>li.R{background-position:58% 0}
.features-list>li>ul>li.L{background-position:42% 0}
.features-list>li>ul>li.L{float:left;margin-left:-25%}
.features-list>li>ul>li.R{float:right;margin-right:-25%}
.features-list>li>ul>li p{padding:5px 10px}
.features-list>li>ul>li p,
.features-list>li>ul>li table{background:#fff;border:2px solid #005799}
.features-list>li>ul>li table th,
.features-list>li>ul>li table td{padding:4px}

/* 상담안내 */
.con1-5 ul{font-size:0;line-height:0}
.con1-5 li{display:inline-block;width:25%;text-align:center}

@media screen and (max-width:900px){
	.con1-5 li{width:50%}
}

@media screen and (max-width:450px){
	.con1-5 li{width:100%}
}

.tBlue2B{color:#1f5d97;font-weight:bold}
.con4-1-2{background:url('../img/contents/con4-1-2bg.jpg') no-repeat right 10px}

@media all and (max-width:500px){
	.con4-1-2{background-size:80% auto}
	.main_notice_more_btn .read_more{font-size: 14px;padding: 10px 30px 11px 30px;}
    .main_notice_more_btn .read_more:after{display:inline-block;position:absolute;right:-33px;top:50%;width:58px;height:11px;margin-top:-6px;content:'';background:url('../img/interview_arrow.png') left top no-repeat;transition:all 400ms ease-in-out}
    .main_notice_more_btn .read_more:hover:after{right:-58px}
}

/* 정보공개제도 */
table.eminwon th{border-color:#a8b7ce;background:#a8b7ce;color:#fff;text-align:center}
table.eminwon th{width:135px}
table.eminwon td{border-left:0;border-right-width:1px}
table.eminwon tr.ga td{border-right-width:0}
table.eminwon tr.first th{background:#aac98c}
table.eminwon2 tbody th{text-align:center;vertical-align:middle;background:#fafafa}
.doc-body .eminwon ul.con2{padding:5px}
.doc-body .eminwon ul.con2>li{padding:0 0 0 10px}
.doc-body .eminwon ul.con2>li.nobu{padding:0;background:none}
.eminwon{padding:0 0 5px}
.eprocessBox{clear:both;width:722px;height:361px;margin:0 auto 20px;background:url('../img/contents/bg_tab2_step1.gif') left top no-repeat;font-size:11px;position:relative}
.eprocessBox span,
.eprocessBox li{font-size:13px}
.eprocessBox ul li{background:url('../img/contents/bu_gray.gif') 0 6px no-repeat;padding-left:5px;line-height:14px}
.eprocessBox span.step01{top:140px;left:31px;position:absolute;z-index:10}
.eprocessBox span.step02{top:30px;left:137px;position:absolute;z-index:11}
.eprocessBox ul.step03{clear:both;width:134px;top:88px;left:132px;position:absolute;z-index:12}
.eprocessBox span.step04{width:134px;height:32px;top:41px;left:262px;position:absolute;z-index:13}
.eprocessBox span.step05{width:134px;height:32px;top:187px;left:262px;position:absolute;z-index:14;vertical-align:top}
.eprocessBox span.step06{top:272px;left:347px;position:absolute;z-index:15}
.eprocessBox span.step07{top:39px;left:444px;position:absolute;z-index:16}
.eprocessBox span.step08{top:108px;left:421px;position:absolute;z-index:17}
.eprocessBox ul.step09{top:152px;left:417px;position:absolute;z-index:18}
.eprocessBox ul.step10{top:230px;left:417px;position:absolute;z-index:19}
.eprocessBox span.step11{top:322px;left:410px;position:absolute;z-index:20}
.eprocessBox span.step12{width:134px;height:32px;top:40px;left:548px;position:absolute;z-index:21}
.eprocessBox span.step13{width:134px;height:32px;top:113px;left:548px;position:absolute;z-index:22}
.eprocessBox span.step14{width:134px;height:32px;top:187px;left:548px;position:absolute;z-index:23}
.eprocessBox span.step15{width:134px;height:32px;top:289px;left:548px;position:absolute;z-index:24}
table tbody td.nob{background:url('../img/contents/tarr.gif') no-repeat center 0;height:13px}

ul li a.noBox{background: none;}
.doc-info ul li a {background: none;}

/* 인사말 */
.greeting p.tit{text-align:center;font-size:150%}
.greeting p.tit strong{color:#225aa4}
.greeting p.pic,
.greeting .txt{padding:15px 0 0}
.greeting .txt p{padding:0 0 15px}
.greeting .sign{color:#4172af}
.greeting .sign b{color:#333;font-size:120%}

/* 연혁 */
.history .history-head{background:url('../img/contents/historyBg.gif') no-repeat 0 0;padding:5% 15px 15px 21%}
.history .history-head .t1{color:#ef4d38}
.history .history-head .t2{font-size:120%}
.history .history-head .t2,
.history .history-head .t2 strong{font-weight:normal;letter-spacing:0}
.history_wrap .history_con .box ul{padding:15px 0}
.history_wrap .history_year{font-size:230%}
.history_wrap .history_year span{color:#999}
.history_wrap .history_con .box ul li span.fb1{color:#09479a}
.history_wrap .history_con .box ul li span.fb2 span{padding-left:8px}

@media screen and (max-width:1000px){
	.history_wrap .history_con .box ul{padding-top:0}
	.history .history-head{background-size:140px auto;background-position:right 0;padding:3% 10% 3% 2%}
}

@media screen and (max-width:360px){
	.history .history-head{background-size:120px auto}
}

/* 조직도 */
.org-wrap table th.first,
.org-wrap table td.first,
.org-wrap table th.last,
.org-wrap table td.last{border-left-width:1px;border-right-width:1px}
.org1{width:250px;margin:0 auto;padding:0 0 30px;background:url('../img/contents/orgarr.gif') no-repeat center bottom}
.org1 th,
.org1 td{font-size:110%}

.org-wrap .info{overflow:hidden;border-radius:10px;border:1px solid #ddd;font-size:0;line-height:0;background:url('../img/contents/orgBg2.gif') no-repeat right bottom}
.org-wrap .info .pic{float:left;width:346px;font-size:0;line-height:0}
.org-wrap .info .infow{float:left;width:100%;margin-right:-346px;background:url('../img/contents/orgBg1.gif') no-repeat -30% 0}
.org-wrap .info .infow dl{margin-right:346px;padding:20px 2% 20px 4%;height:190px}
.org-wrap .info .infow dt{font-weight:bold;display:inline-block;background:#9daecc;border-radius:5px;color:#fff;padding:7px 10px;margin:0 0 15px}
.org-wrap .info .infow dd{padding:1px 0}
.org-wrap .tabmenu li a{font-size:115%;padding:10px 22px}
.org-wrap .tabCon{padding-top:0}
.org-wrap .tabCon table thead th{border-top-color:#1a518b}

@media all and (max-width:650px){
	.org-wrap .info .pic{float:none;width:auto;text-align:center;padding:4%}
	.org-wrap .info .infow dl,
	.org-wrap .info .infow{float:none;width:auto;margin:0}
}

.og_hd{border:1px solid #e6e6e6;padding:15px 30px;border-radius:6px;-webkit-border-radius:6px;line-height:30px}
.og_hd strong{color:#000;font-size:16px !important;padding:0 40px 0 10px;display:inline-block;line-height:30px}
.og_hd .tel{color:#999;font-weight:bold;background:url('../img/contents/ico_tel.gif') no-repeat;padding:0 0 0 40px;line-height:30px;height:30px;display:inline-block}

/* 시설이용 */
.roomGuide{overflow:hidden;padding:20px 0 0}
.roomGuide .popupzone{float:left;width:258px}
.roomGuide .info{float:left;width:100%;margin-right:-258px}
.roomGuide .info .box{margin-right:258px;padding-left:3%}
.roomGuide .info2{clear:both;padding:10px 0 0}

@media all and (max-width:650px){
	.roomGuide .popupzone{float:none;margin:0 auto 10px}
	.roomGuide .info,
	.roomGuide .info .box{margin:0;padding:0}
}

.roomGuide h4 a.btn{padding:1px 10px}
.roomGuide h4 a.btn span{font-size:80%;font-weight:normal;letter-spacing:-1px}
.roomGuide h4 a.btn i{margin:0 0 0 5px}
.roomGuide .popupzone{width:240px;padding:9px 9px 20px;background:url('../img/contents/bg_facility_photo.gif') no-repeat 0 0}
.roomGuide .popupzone li{font-size:0;line-height:0}
.roomGuide .bx-pager{text-align:right}
.roomGuide .bx-pager-item,
.roomGuide .bx-pager-item a{display:inline-block}
.roomGuide .bx-controls-direction{display:none}
.roomGuide .bx-pager-item a{border:1px solid #fff;font-size:11px;margin:0 1px;line-height:16px;height:16px;width:16px;text-align:center;border-radius:2px}
.roomGuide .bx-pager-item a.active{background:#72b628;color:#fff;border-color:#5e9c1a}
.roomGuide ol{margin-left:18px}
.roomGuide ol li{list-style:outside decimal;font-weight:800}
.roomGuide ol li p{font-weight:normal;padding:0 0 5px}
.roomGuide ol li em{font-style:normal}
.roomGuide ol li em b{border:1px solid #ccc;background:#fff;display:inline-block;padding:1px 2px}

/* 시설안내 */
.floor{padding-bottom:50px;display:block;
/* background:url('http://www.info.go.kr/geic/images/intro/bg_floor.jpg') no-repeat */}
.floorR,
.floorL{width:50%;float:left;display:block}
.floorL{background:#5f849e;border-radius:8px}
.floorL>div{position:relative;margin:5px;border:3px solid #cecece;border-radius:5px;padding:40px 0;text-align:center;background:#f9f9f9}
.floorL>div>em{position:absolute;font-size:28px;font-weight:bold;font-style:normal;color:#587e98;left:5%;top:25px}
.floorTag{position:absolute;top:241px;left:369px}
p.floor_notice{margin-top:10px;display:block;font-size:90%;background:#eee;padding:10px}
ul.floorList{padding:10px 0}
ul.floorList li{display:block;padding:5px 0 3px 10px;border-bottom:1px solid #e6e5e4;font-weight:bold}
ul.floorList li.boNo{border-bottom:0}
ul.floorList>li>a,
ul.floorList>li>span{display:inline-block;vertical-align:middle}
ul.floorList>li>span{margin-left:3px}
ul.map li{margin-top:10px;line-height:0px;font-size:0px}
.map{width:722px;float:left}
.map .mapImg{width:720px;float:left;border:1px solid #d0d0c8}
.map .mapImg ul{width:720px;height:47px;float:left}
.map .mapImg ul li{float:left}
.map p{width:722px;float:left;line-height:0px;font-size:0px}
.map h3{width:722px;float:left;line-height:0px;font-size:0px}

@media all and (max-width:767px){
	p.floor_notice{height:auto}
	.floorL{padding:0 0 20px}
	.floorL,
	.floor,
	.floorR{width:auto;float:none;margin:0}
	.floorR{clear:both}
}

/* 강사은행제 */
.doc-body .txt-box.hi48{background:#f9f9f9 url('../img/contents/hicon48.jpg') no-repeat 3% 50%;padding-left:120px}
.doc-body .txt-box.hi48 h2{margin:0;padding-top:0;background:none}
.doc-body .txt-box.hi48 strong{color:#225aa4}

@media all and (max-width:600px){
	.doc-body .txt-box.hi48{background-image:none;padding:2%}
}

/* 금빛봉사단 */
.con50 .box{background:#ffd068;color:#333;padding:1% 2%;border-radius:5px}
.con50 .box h3{background:none;padding-left:0}
.con50 .box p{padding-bottom:15px;color:#756441}
.con50 .img_uio{float:right;margin-top:-150px;padding-right:4%}

@media all and (max-width:500px){
	.con50 .img_uio{width:33%;margin-top:-110px}
}

/* 교무업무종합상담서비스 */
.con13 .box{background:url('../img/contents/con13_img1.jpg') no-repeat 0 5px;padding:3% 3% 90px;padding-left:220px}

@media all and (max-width:600px){
	.con13 .box{background-image:none;padding:0}
}

/* IT체험관 */
.con15 .txt-box{background:#f9f9f9 url('../img/contents/icon15.jpg') no-repeat 15px center;padding:3%;padding-left:200px}
.con15 .cont .img_uio{float:right;margin:5px 0 15px 20px}
.con15 .cont .img_uio .caption{font-weight:normal;font-size:90%}
.con15 .cont p{margin:0 0 19px;text-align:justify}

@media all and (max-width:600px){
	.con15 .txt-box{background-image:none;padding-left:3%}
}

/* DVD가족석 */
.con16 .box{overflow:hidden}
.con16 .box1{float:left;width:50%}
.con16 .img_uio{float:right;width:45%}
.con16 ul.con{border-top:1px solid #aaa;padding-top:15px}
.con16 ol{margin:15px 0 15px 15px}
.con16 ol li{white-space:nowrap;font-weight:800;color:#789bb9;padding:0 0 10px;overflow:hidden}
.con16 ol li em{font-size:35px;font-style:normal;float:left;width:50px;display:block;line-height:33px}
.con16 ol li.odd em{color:#e2857d}
.con16 ol li div{float:left;width:100%;margin-right:-50px;font-size:20px}
.con16 ol li div p{margin-right:50px}
.con16 ol li div p.t1{font-size:20px;letter-spacing:-1px}
.con16 ol li div{color:#4c4c4c;display:inline-block;white-space:normal;vertical-align:top}
.con16 ol li p.t2{color:#888;font-size:14px;font-weight:normal}

@media all and (max-width:767px){
	.con16 .box1,
	.con16 .img_uio{float:none;width:100%}
	.con16 .img_uio{text-align:center}
}

/* 재능기부동아리 */
/* .con37{background:url('../img/contents/icon37.jpg') no-repeat right 0} */

/* 호스팅사이트 */
.doc-body .hosting{overflow:hidden}
.doc-body .hosting h4{float:left;width:180px;height:164px;padding:0;background:url('../img/contents/host01.jpg') no-repeat 0 0;font-size:0;line-height:0}
.doc-body .hosting.t2 h4{background-image:url('../img/contents/host02.jpg')}
.doc-body .hosting.t3 h4{background-image:url('../img/contents/host03.jpg')}
.doc-body .hosting ul{float:left;width:100%;margin-right:-180px;padding:3.5% 0}
.doc-body .hosting ul li{margin-right:180px}

@media all and (max-width:450px){
	.doc-body .hosting h4{width:50%;background-size:90% auto}
	.doc-body .hosting ul{margin-right:-50%}
	.doc-body .hosting ul li{margin-right:50%}
}

@media all and (max-width:380px){
	.doc-body .hosting h4{width:40%}
	.doc-body .hosting ul{margin-right:-40%}
	.doc-body .hosting ul li{margin-right:40%}
}

/* 교육행정포털서비스 */
.doc-body .con2_1{background:url('../img/contents/icon2_1.jpg') no-repeat 90% 90%}
.doc-body .con2_1 ul{padding-right:280px}
.doc-body .con2_2{overflow:hidden;border-top:1px solid #ddd;padding-top:15px}
.doc-body .con2_2 div p{text-align:center;padding-top:10px}

@media all and (max-width:1000px){
	.doc-info ul li.sns{padding: 15px 0;border-left:0}
	.doc-body .con2_1 ul{padding-right:200px}
}

@media all and (max-width:580px){
	.doc-body .con2_1{background:none}
	.doc-body .con2_1 ul{padding-right:0}
}

/* 주요사업 */
.geicService{background:url('../img/contents/bg_works.gif') no-repeat right bottom}

@media all and (max-width:1000px){
	.geicService{background-size:25% auto}
}

/* 접속기록안내 */
#memberInfo{position:absolute;width:22%;left:98%;top:20%;background:#fff;margin-left:-25%;box-shadow:0px 1px 7px 0px rgba(0,0,0,0.5);z-index: 9;}
#memberInfo .inbox{position:relative;border:1px solid #ccc;padding:10px;}
#memberInfo .inbox dt{font-weight:bold;font-family:verdana;padding-bottom: 10px;}
#memberInfo .inbox dd{padding:3px 0}
a#closeMemberInfo{position:absolute;right:7px;top:5px;font-size:120%}
#line{width: 160px;}
div.loginInfo{padding-top: 8px;padding-bottom: 15px;}
span.fontRed{color: red;}
span.fontBlue{color: rgb(27,104,199);font-weight: bold;}
div.memberCon{background-color: rgb(240,240,240);border-radius: 1em;}
div.memberCon2{padding-top: 12px;padding-left: 10px;padding-right: 10px; padding-bottom: 28px;}
a.btnStyle{float: right;margin-top: 6px;}
#loginIcon{padding-top: 13px;padding-left:10px;}
.boxnImg{ float: left; }
.box2_1 { float: left; width: 34%; }
.box3_1 { float: left; width: 38%; border-left: 1px solid #ddd; }
.boxn { padding-top: 1%; padding-bottom: 1%; padding-left: 5%; }

/*서브페이지 공유버튼*/
div#shareBtnArea{position: fixed;background:#fff;margin:20px 0 0 -90px;z-index: 10000;width:auto;box-shadow:none;}
/*div.doc-head{margin-top: -22px;}
div.lnb{margin-top: -22px;}*/

/* 서브페이지 공유버튼 */
li.sns-link {width:62px;background:url('../img/sns_over.png') no-repeat center center; }
div.shareAllBtn ul.shareBox {position:relative}
div.shareAllBtn ul.shareBox > li {border:0;padding:0;width:30px;height:30px;margin:3px;display:inline-block;}
div.shareAllBtn ul.shareBox img.shareIcon { margin-top:-1px;}

@media all and (max-width:1280px){
	.main1 .news3 .calendars .cal-img {}
	.main1 .news3 .calendars .cal-holiday {width:50%;}
}

@media screen and (min-width:1160px){
	.section{width:1200px}
}

@media all and (max-width:1024px){
	.main .qmenu{white-space:nowrap}
	.main1 .section{margin:0 15px}
	.main3 .section, .topcont .section {margin:0}
	
	.main .qmenu .section{width:auto}

	.main1 .news3 .calendars .cal-img {}
	.main1 .news3 .calendars .cal-holiday {width:55%;}

	.galleryZones ul.gallery-list img {height:auto}
}

@media all and (max-width:980px){
	.main1 .news h3{height:30px}
	.main1 .news h3 a{font-size:18px}
	.main1 .news h3,
	.main1 .news h3 a.active{font-size:19px}

	.main1 .news3 .calendars .cal-img {}
	.main1 .news3 .calendars .cal-holiday {width:50%;}
}

@media all and (max-width:950px){
	.main .qmenu .bx-wrapper{width:auto!important;margin:0 40px!important}
	.main .qmenu .bx-controls{display:block}
    .main1 .section{padding:  0;}
	.main3 .section {padding: 40px 0;}
	.main1 .news{float:none;display:block;width:100%;height:auto;margin:15px 0 0 0}

	.galleryZones {width:100%;height:auto}
	.galleryZones ul.gallery-list li > div > p.gallery-more {display:none}
	.galleryZones ul.gallery-list li > div {height:auto}
	.galleryZones ul.gallery-list li > div > p {padding:20px 0}
	.galleryZones .bx-controls .bx-controls-direction a {top:85%;}
	.galleryZones .bx-controls .bx-controls-direction a.bx-prev {left:20px}
	.galleryZones .bx-controls .bx-controls-direction a.bx-next {right:20px}

	.main1 .news div.news-title.notice {display:block}
	.main1 .news2 {width:100%;height:auto;float:none;padding:20px;box-sizing:border-box;background:#fff}
	.main1 .news2 ul.gallery-list li {width:100%;height:auto}
	.main1 .news2 ul.gallery-list li img {width:100%;}

	.main1 .news3{margin-bottom:15px}
	.main1 .news3 .calendars .cal-img {}
	.main1 .news3 .calendars .cal-holiday {width:55%;}
}

@media all and (max-width:768px){
	.main-img {width:75%;height:auto;margin: 50px auto 0;background-color:rgba(0,0,0,0.5);box-sizing:border-box;padding:30px;}
	.main-img li {width:100%;text-align:center}

	.main-img .main_notice_title {font-size:28px;}
	.main-img .main_notice_schedule {font-size:15px;color:#fff;font-weight:200;margin:20px 0 0 0}
	.main-img a.main-img-btn {border:1px solid #fff;font-size:14px;color:#fff;padding:10px 30px}
	.main_notice_more_btn {margin:40px 0 0 0}

	.main-img .bx-controls .bx-controls-direction a {position:absolute;width:70px;height:70px;font-size:0;z-index:101}
	.main-img .bx-controls .bx-controls-direction a.bx-prev{left:0;}
	.main-img .bx-controls .bx-controls-direction a.bx-next{right:0;}

	.main .qmenu li a span {font-size:13px}
	
	.main2 {background:#f3f4f6;padding-bottom:20px;}
	.main2 .section {padding:20px 0;margin:0 15px;background:#fff}
	.main2 .news{float:none;position:relative;width:94%;margin:0 auto;}
	.main2 .news:last-child {margin:0 auto}
	.main2 .news p {display:none;}
	.main2 .news p.mobileTitle {display:block;text-align:center;font-size:18px;font-weight:200;color:#fff;padding:15px 0;background:#1d4b94 url('../img/it_open_btn.png') no-repeat 97% center;margin-bottom:1px}
	.main2 .news .box {display:none;padding:20px}
	.main2 .news .box dt {display:block;height:auto}
	.main2 .news .box dt img {width:100%;}
	.main2 .news .box dd {display:block;font-size:15px;height: 35px;font-weight:200;color:#424242;padding:17px 17px 15px 17px;}

	.main3 .bx-controls {padding:0 0 40px 0}
	.main3 .bx-controls .bx-controls-direction a.bx-prev, .main3 .bx-controls .bx-controls-direction a.bx-next {bottom:66%;z-index:900000}
	.curation-more-btn {padding:0}
}

@media all and (max-width:650px){
	.galleryZones .bx-controls .bx-controls-direction a {top:75%;}

	.photo-list li{width:100%}
	.photo-list li.pl3{display:none}
	.photo-list li span.snipet{display:none}
	.news-photo .more{margin-top:15px}

}

@media all and (max-width:425px){
	.main-img .main_notice_title {font-size:20px;}
	.main1 .news3 .calendars .cal-img {}
	.main1 .news3 .calendars .cal-holiday {width:60%;}
	.main1 .news3 .ment li {font-size:12px}


}

@media all and (max-width:375px){
	.main1 .news3 .calendars .cal-holiday {width:45%;}
}

@media screen and (max-width:1000px){
	.doc-body ul.con.col li{width:30%}
	/*.doc-info {display:none}*/
	.doc-info li a{font-size:13px;}

}
@media screen and (max-width:450px){
	.doc-body ul.con.col li{width:45%}
	.doc-info ol li{padding:0 5px}
	.doc-info ol li.first{padding: 15px 5px; border-right: 0;}
	.doc-info ol li {background: url(../img/doc_arrow.png) no-repeat -10px center;}

}

@media all and (max-width:767px){
	.sub-visual{display:block}
	.doc-info{border-top:0}
}

@media all and (max-width:1000px){
	.doc-info ul{display:block}
	.doc-info ul li.sns{padding: 15px 0;border-left:0}
	ul li.modify,ul li.print,ul li.cord{display:none}
}

#container.subpage > .section{padding-top:0;}