@charset "utf-8";
@import url("/resources/common/css/font-style.css")

/* 스타일 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,address
{font-size:13px}

/* header */
.libSite {position:absolute;top:0;z-index:96;height:44px;line-height:44px;overflow:hidden;}
.libSite ul li {display:inline-block;float:left;padding:0;margin:0;}
.libSite ul li a {display:block;font-size:16px;text-align:center;line-height:44px;letter-spacing:-1px;padding:0 15px 0 21px;}
.libSite ul li a.ico01 {background:url('/resources/homepage/jcge/img/m-icon-01.png') no-repeat left center;color:#1f3e7b;}
.libSite ul li a.ico02 {background:url('/resources/homepage/jcge/img/m-icon-02.png') no-repeat left center;color:#782e84;}
.libSite ul li a.ico03 {background:url('/resources/homepage/jcge/img/m-icon-03.png') no-repeat left center;color:#f05431;}

.tnb {position:relative;margin:0 auto;overflow:hidden;box-sizing:border-box;z-index:999999;}
.tnb .util {float:right;padding:11px 0;}
.tnb .util a {font-size:16px;color:#fff;font-weight:normal;display:inline-block;margin-top:0;}
.tnb .util b {color:#fff;}
.tnb .l-util ul li.mobile-version {display:none;}

h1.web-logo a {display:block;background:url('/resources/homepage/jcge/img/logo_w.png') no-repeat center center;width:318px;height:50px;font-size:0;}
h1.mobile-logo {display:none;width:230px;height:50px;}
.Gnb .g-menu a.last-box_w{display:block;}
.Gnb .g-menu a.last-box_b{display:none;}

#header.background-white .libSite ul li a {}
#header.background-white .tnb .util a {color:#000;}
#header.background-white .tnb .util b {color:#000;}
#header.background-white h1.web-logo a {display:block;background:url('/resources/homepage/jcge/img/logo_b.png') no-repeat center center;}
#header.background-white .tnb {background:#fff;}
#header.background-white .Gnb {background:#fff;}
#header.background-white .Gnb .g-menu a.last-box_w{display:none;}
#header.background-white .Gnb .g-menu a.last-box_b{display:block;top:24px !important;}
#header.background-white .Gnb .gnb-menu > li > a {}

#header .head {position:relative;z-index:20;clear:both;border-bottom:1px solid #e4e4e4;}
#header h1.web-logo {position:absolute;z-index:10000;top:7px;}

.popupWrap{z-index:6}

#container.subpage{padding-top:114px;}
.content{text-align:left;}
.home-up {display:none;position:absolute;}

/* Gnb */
.Gnb {clear:both;text-align:center;width:100%;height:70px;overflow:inherit;position:relative;box}
.Gnb .g-menu {position:relative;}
.Gnb .g-menu a.last-box_b, .Gnb .g-menu a.last-box_w{position:absolute;right:0;top:21px;}
.Gnb .gnb-menu {position:relative;text-align:right;margin-right: 30px;}
.Gnb .gnb-menu > li {padding:0 1.8%;text-align:right;position:static}
.Gnb .gnb-menu > li:last-child{padding-right:20px;}
.Gnb .gnb-menu > li > a {padding:0;line-height:70px;height:70px;font-size:20px;color:#000;font-weight:bold;}
.Gnb .gnb-menu > li > ul {display:none;background:#666;border:0;left:0;white-space:nowrap;text-align:right}
.Gnb .gnb-menu > li.active > ul{display:block}
.Gnb .gnb-menu > li > .SubMenu > li {width:auto;padding:0 1px;}
.Gnb .gnb-menu > li > .SubMenu > li {display:inline-block}
.Gnb .gnb-menu > li > .SubMenu > li > a{font-size:14px;padding:0 5px;color:#eee;}
.Gnb .gnb-menu > li > .SubMenu > li > a:hover,
.Gnb .gnb-menu > li > .SubMenu > li > a:focus{background:none;color:#ff8d12;}
.Gnb .mask,
.Gnb .gnb-menu > li > ul {width:100%;background: #333;}
.Gnb .gnb-menu > li.menu1 > ul,
.Gnb .gnb-menu > li.menu2 > ul,
.Gnb .gnb-menu > li.menu3 > ul{text-align:center}
.Gnb .gnb-menu > li.menu3 > ul{margin-left:150px;}
.Gnb .mask,
.Gnb .gnb-menu>li>ul{background: #333;}
.Gnb .gnb-menu>li.on>a,
.Gnb .gnb-menu>li>a:hover,
.Gnb .gnb-menu>li>a:focus{color: #333;}

.Gnb .mask, .Gnb .gnb-menu>li>.SubMenu{}
.tnb{z-index:5}

.Gnb .mask,
.Gnb .gnb-menu>li>ul{background:#6883a2}
.Gnb .gnb-menu>li>ul>li.active>a,
.Gnb .gnb-menu>li>ul>li>a:hover,
.Gnb .gnb-menu>li>ul>li>a:focus{color:#ffd054!important}


.banner-box{padding:20px 0;}
.banner-wrap .banner-box5 .bx-wrapper .bx-viewport{height:55px !important;margin-top:5px;}
.banner-wrap .banner-box5 .bx-wrapper .bx-viewport ul.banner-roll li img{border:1px solid #e5e5e5;width:168px;}

.banner-wrap .banner-t5 .control{padding:15px 0 15px;}
.banner-wrap .banner-t5 .control a{top:10px !important;width:30px;height:30px;margin-right:10px;}
.banner-wrap .banner-t5 .control a.next, .banner-wrap .banner-t5 .control a.prev{line-height:35px;}
.banner-wrap .banner-t5 .control a.more{margin-right:20px;}

.banner-wrap > .banner-t5 {float:left;width:175px;padding-right:15px;padding-left:0;}
.banner-wrap > .banner-t5 > h3 {float:left;font-size:20px;font-weight:bold;letter-spacing:-1px}
.banner-wrap > .banner-box5 {float:left;width:100%;margin-right:-200px}
.banner-wrap .banner-box5 > div {margin:0!important;margin-right:200px!important}
.banner-wrap .banner-box5 .banner-roll li{height:50px;}
.banner-wrap .banner-box5 .banner-roll li,
.banner-wrap .banner-box5 .banner-roll span,
.banner-wrap .banner-box5 .banner-roll a{font-size:0;line-height:0}
.banner-wrap .banner-box5 .banner-roll i{display:none}
.banner-wrap .banner-t5 .control{font-size:0;padding:0;float:right}
.banner-wrap .banner-t5 .control a {display:inline-block;zoom:1;*display:inline;text-align:center;vertical-align:middle;width:44px;height:44px;margin-left:2px;}
.banner-wrap .banner-t5 .control a.stop,
.banner-wrap .banner-t5 .control a.play{display:none}
.banner-wrap .banner-t5 .control a.stop.active,
.banner-wrap .banner-t5 .control a.play.active{display:inline-block;zoom:1;*display:inline}

/* 상단박스이미지 */
.b_img {background:url('/resources/homepage/jcge/img/contents/bgConsult_icon1.gif') no-repeat 0 0;padding:0px 0 0px 90px;height:63px}
@media all and (max-width:1000px){
.b_img {background:none;padding:0px;height:auto}
}

/* 시설현황 */
.floor li{padding:0 0 10px}
.floor li,
.floor li p{font-size:0;line-height:0;display:inline-block;zoom:1;*display:inline}
.floor li p{border:1px solid #d8d3c4}

/* 실별안내 */
#photo_list{overflow:hidden;background:#f7f7f7;padding:3%}
#photo_list .pic{float:left;width:226px}
#photo_list .data_info{float:left;width:100%;margin-right:-226px}
#photo_list .data_info .box{margin-right:226px;padding-left:15px}
@media all and (max-width:580px){
	#photo_list .pic{width:100%;text-align:center}
	#photo_list .data_info,
	#photo_list .data_info .box{margin:0;padding:0}
}

/* 인사말 */
.greeting .t1{font-size:190%;letter-spacing:-1px;padding: 20px 0 25px 35px;border-bottom: 1px solid #cdcdcd;width: 400px;}
.greeting .t1 span{font-size:50%;color:#9ac4e4;letter-spacing:0.5px;}
.greeting .box{padding:20px 260px 0px 0;background:url('/resources/homepage/jc/img/contents/greeting.jpg') no-repeat right bottom}
.greeting .gtxt{padding:20px;background:url('/resources/homepage/jc/img/contents/introd_botm_bg.jpg') no-repeat right bottom}
.greeting .txt p{padding:0 0 10px;font-size:105%;line-height:180%;}
.greeting .sign{padding:15px 0 0;font-size:120%}
.greeting .sign span{color:#888;display:inline-block;zoom:1;*display:inline;vertical-align:middle}
.greeting .sign span.name{margin-left:5px}
@media all and (max-width:767px){
	.greeting .t1{background-position:right 0;background-size:15%}
	.greeting .box{padding-right:5%;background:none;}
}
@media all and (max-width:400px){
	.greeting .t1{background-position:right bottom;background:none;}
}
.greeting{background:url('/resources/common/img/contents/introd_bg.gif') no-repeat left top}


/* 연혁 */
.history_wrap{overflow:hidden;border-bottom:1px solid #dbdbdb;}
.history_wrap #history_tit{overflow:hidden;float:left;width:200px;margin-top:20px}
.history_wrap #history_tit h2{font-size:20px;width:150px;height:33px;line-height:33px;padding:0px;background:url('/resources/homepage/jc/img/contents/history_bg.jpg') repeat-x ;color:#fff;text-align:center;font-weight:bold;border-radius:50px;margin-bottom:15px}
.history_wrap .history_con{float:left;width:100%;margin-right:-200px;margin-top:10px;}
.history_wrap .history_con .box{position:relative;margin-right:10px;padding-left:80px;line-height:130%;}
.history_wrap .history_con .box li{background:none}
.history_wrap .history_con .box .fb{position:absolute;left:0;display:block;padding-right:10px;color:#3875b9}
@media screen and (max-width:1000px){
	.history_wrap #history_tit{width:100%}
	.history_wrap #history_tit h2{margin-bottom:0px}
	.history_wrap .history_con{margin-right:-0%;}
	.history_wrap .history_con .box{margin-right:0%;margin-top:0px}
}

/* 공무원헌장 */
.civil-wrap{border:1px solid #ddd;padding:3%}
.civil-box{background:#f5f9fc url('/resources/homepage/ycgh/img/contents/civil_bg_bottom.jpg') no-repeat right bottom;border-radius:5px;overflow:hidden}
.civil-wrap .box{background:url('/resources/homepage/ycgh/img/contents/civil_bg_top.jpg') no-repeat 0 0;padding:10% 7%;color:#222}
.civil-wrap ul{padding:0 0 15px}
.civil-wrap li{font-size:110%;padding:3px 0;line-height:130%}
.civil-wrap ol li{font-size:120%;background:url('/resources/homepage/ycgh/img/contents/hana.png') no-repeat 0 center;padding:3% 0 3% 55px;background-size:50px 50px}

/* 학습동아리 */
.club-photo{background:#f5f5f5;padding:3%;overflow:hidden;border-radius:5px;border:1px solid #eee}
.club-photo .box{float:left;width:50%;text-align:center}
.club-photo .box p{font-size:0;line-height:0;padding:1%}

/* 독서문화행사 */
.club-photo.party{text-align:center}
.club-photo.party .box{width:33.33%}
.club-photo.party .tit{background:#fff;border:1px solid #e9e9e9;border-radius:5px;margin-bottom:10px;padding:5px}
.club-photo.party .tit p{display:inline-block;zoom:1;*display:inline;font-size:20px;line-height:40px;height:40px;letter-spacing:-1px;padding-left:75px;background:url('/resources/homepage/jcge/img/contents/event_photo_icon.gif') no-repeat 0 center}
.club-photo.party .tit p b{color:#5c8e11}
.club-photo.party .tit p b,
.club-photo.party .tit p span{font-weight:800}
.tabCon{padding-top:5px}
.tabCon.event>div>table>tbody>tr>td>ul>li{background:url('/resources/homepage/jcge/img/arr-new-list.gif') no-repeat 0 8px;padding:2px 0 2px 8px;line-height:130%}
.tabCon.event tbody td.tdst,
.tabCon.event tbody td.tdst2{background:#ffffef}
.tabCon.event ul.con{padding:0 0 10px}
.tabCon.event td.item{text-align:center}

/* 자원봉사 */
.go_youth{text-align:center}
.go_youth .box{display:inline-block;zoom:1;*display:inline;margin:2%;width:277px;height:190px;background:url('/resources/homepage/ycgh/img/contents/btn_go_youth.gif') no-repeat 0 0}
.go_youth .box.yc{background-image:url('/resources/homepage/ycgh/img/contents/btn_go_yc.jpg')}
.go_youth .box a.btn{margin-top:125px}

/* 메인 다국어 동화구연*/
.main2 .mb2 .storytelling strong {padding-top: 7px;}
.main2 .mb2 .storytelling span {padding-top: 25px;}

/* 접속기록안내 */
#memberInfo{position:absolute;width:22%;left:98%;top:42%;background:#fff;margin-left:-32%;box-shadow:0px 1px 7px 0px rgba(0,0,0,0.5);z-index: 99;}
#memberInfo .inbox{position:relative;border:1px solid #ccc;padding:10px;}
#memberInfo .inbox dt{font-weight:bold;font-family:verdana;padding-bottom: 10px;}
#memberInfo .inbox dd{padding:3px 0}
a#closeMemberInfo{position:absolute;right:7px;top:5px;font-size:120%}
#line{width: 160px;}
div.loginInfo{padding-top: 8px;padding-bottom: 15px;}
span.fontRed{color: red;}
span.fontBlue{color: rgb(27,104,199);font-weight: bold;}
div.memberCon{background-color: rgb(240,240,240);border-radius: 1em;}
div.memberCon2{padding-top: 12px;padding-left: 10px;padding-right: 10px; padding-bottom: 28px;}
div.memberCon2 ol li{text-align:left;}
a.btnStyle{float: right;margin-top: 6px;}
#loginIcon{padding-top: 13px;padding-left:10px;}
.boxnImg{ float: left; }
.box2_1 { float: left; width: 34%; }
.box3_1 { float: left; width: 38%; border-left: 1px solid #ddd; }
.boxn { padding-top: 1%; padding-bottom: 1%; padding-left: 5%; }


/* 기타 */
.myUtil a.rightBtn{width:120px !important;}
.appDataSub.appDataSub2{width:74% !important;}
.userInfo .recordValue span.title, span.title2{font-size:14px !important;letter-spacing:0 !important;}
ul.recordValue1{margin-top:2% !important;}
ul.recordValue2{margin-top:5% !important;}
.planView {top:15% !important;}

.btn.btn1 i{display:none;}

.serial-wrap .search-results .row .item a.name{font-size:125% !important;line-height:140%;padding-top:0 !important;height:2.4em !important;}


/* 도서관 둘러보기 */
.libView{padding:0 0 10px}
.libView strong{display:block;color:#004c92}

@media (max-width:1000px){
	.libView{text-align:center}
}

h2.tit{font-size:120%;background:url('/resources/homepage/cs/img/contents/text01.jpg') no-repeat 0 0;height:80px;padding:20px 0;padding-left:120px;margin-top:0;margin-bottom:20px}
h2.tit span{display:block;border-bottom:1px solid #e5e5e5;margin-bottom:15px;padding:5px 10px 5px}
h2.tit02{background-image:url('/resources/homepage/cs/img/contents/text02.jpg')}
h2.tit03{background-image:url('/resources/homepage/cs/img/contents/text03.jpg')}
h2.tit04{background-image:url('/resources/homepage/cs/img/contents/text04.jpg')}
h2.tit05{background-image:url('/resources/homepage/cs/img/contents/text05.jpg')}
h2.tit06{background-image:url('/resources/homepage/cs/img/contents/text06.jpg')}
h2.tit07{background-image:url('/resources/homepage/cs/img/contents/text07.jpg')}

/* 콘텐츠 */
.color1{color:#095077}
.color2{color:#337a82}

/* 자료검색 */
.ws-filter h4{border-bottom:none !important;}

@media (max-width:550px){
	table.color-set > tbody > tr,
	table.color-set > tbody > tr > td{display:block}
}


@media all and (max-width:1024px){
	.tnb {height:70px;padding:10px 0;}

	#header .head{border-bottom:none;}

	.doc-info ul li:nth-child(2), .doc-info ul li:last-child{display:none;}

	h1.mobile-logo {display:block;padding:0 0 0 10px;}
	h1.mobile-logo a {display:block;background:url('/resources/homepage/jcge/img/logo_b.png') no-repeat center left !important;background-size:80% !important;width:230px;height:50px;font-size:0;}

	.onbook_box{top:3px;right:60px;}

	#container.subpage{padding-top:65px;}
}

@media all and (max-width:767px){
	.home-up {display:block;bottom:20px;}
}

@media all and (max-width:550px){

}

@media all and (max-width:500px){

}

@media all and (max-width:425px){
	.onbook_box{display:none;}
	.onbook_box_m{display:block;background:#ffba00;padding:8px 0;border-radius:7px;width:50%;text-align:center;}
	.onbook_box_m i{display:none !important;}
	.onbook_btn{font-size:12px !important;padding:0 10px;}

	/*.mm-panels .mmode{height:145px !important;}
	.mm-panels>.mm-panel>.mm-listview:first-child, .mm-panels>.mm-panel>.mm-navbar+.mm-listview{margin-top:60px !important;}*/

	.home-up{bottom:300px}
}

@media all and (max-width:375px){
}

@media all and (max-width:330px){

}