@charset "utf-8";

#container.subpage {position:relative;}

@media all and (max-width:1024px){
	#container.subpage {padding-top:60px;}
}

@media all and (min-width: 1025px) and (max-width: 1260px) {
	html,body{width:1260px;margin:0 auto;}
	.tnb, .Gnb {width:1260px;margin:0 auto;}
}