@charset "utf-8"; 
@import "/resources/common/css/common_inc.css";

/* 스타일 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,address
{font-family:'Noto Sans';}

#wrap {position:relative;z-index:7;}
#container {clear:both;}
#main0, #main1, #main2, #main3, #main4 {position:relative;width:100%;overflow:hidden;background:#fff;}

.Gnb .gnb-menu > li.menu1 > .SubMenu{left:0;}
.Gnb .gnb-menu > li.menu2 > .SubMenu{left:100px;}
.Gnb .gnb-menu > li.menu3 > .SubMenu{left:-440px;}
.Gnb .gnb-menu > li.menu4 > .SubMenu{left:-80px;}
.Gnb .gnb-menu > li.menu5 > .SubMenu{left:-70px;}
.Gnb .gnb-menu > li.menu6 > .SubMenu{left:0;}

@media all and (max-width:1024px){
	.web-br {display:none;}
}

@media all and (max-width:768px){

}

@media all and (max-width:695px){

}

@media all and (max-width:550px){

}

@media all and (max-width:425px){

}