<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.go.gbelib.app.cms.module.elib.member.ElibMemberDao">
	
	<select id="getMemberById" resultType="kr.go.gbelib.app.cms.module.elib.member.ElibMember">
		SELECT
			user_idx, user_dt, seq_no, p_id,
			member_id, library_code, sex, birth_day
		FROM
			ELIB_MEMBER
		WHERE
			member_id = #{member_id}
	</select>
	
	<insert id="addMember">
		INSERT INTO ELIB_MEMBER (
			user_idx, user_dt, seq_no, p_id,
			member_id, library_code, sex, birth_day
		) VALUES (
			ELIB_MEMBER_SEQ.NEXTVAL, SYSDATE, #{seq_no}, #{p_id},
			#{member_id}, #{library_code}, #{sex}, #{birth_day}
		)
	</insert>
	
	<update id="modifyMember">
		UPDATE ELIB_MEMBER SET
			seq_no = #{seq_no},
			library_code = #{library_code},
			p_id = #{p_id},
			sex = #{sex},
			birth_day = #{birth_day}
		WHERE
			member_id = #{member_id}
	</update>
	
	<select id="getMemberList" resultType="kr.go.gbelib.app.cms.module.elib.member.ElibMember">
		SELECT
			user_idx, user_dt, seq_no, p_id,
			member_id, library_code, sex, birth_day
		FROM
			ELIB_MEMBER
	</select>
	
</mapper>