<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.go.gbelib.app.cms.module.training.trainingCode.TrainingCodeDao">
    
    <sql id="field">
		large_code, mid_code, small_code, code_name, remark, 
		print_seq, add_date, add_id, mod_date, mod_id
    </sql>
    
    <select id="getLargeCodeList" resultType="kr.go.gbelib.app.cms.module.training.trainingCode.TrainingCode">
   		SELECT
   			<include refid="field" />
   		FROM
   			TRAINING_CODE
   		WHERE
   			mid_code = '--'
   		AND	small_code = '--'
   		ORDER BY
   			print_seq
    </select>
    
    <select id="getMidCodeList" resultType="kr.go.gbelib.app.cms.module.training.trainingCode.TrainingCode">
   		SELECT
   			<include refid="field" />
   		FROM
   			TRAINING_CODE
   		WHERE
   			large_code = #{large_code}
   		ANd	mid_code != '--'
   		ANd	small_code = '--'
   		ORDER BY
   			print_seq
    </select>
    
    <select id="getSmallCodeList" resultType="kr.go.gbelib.app.cms.module.training.trainingCode.TrainingCode">
   		SELECT
   			<include refid="field" />
   		FROM
   			TRAINING_CODE
   		WHERE
   			large_code = #{large_code}
   		AND	mid_code = #{mid_code}
   		ANd	small_code != '--'
   		ORDER BY
   			print_seq
    </select>
    
    <insert id="addTrainingCode">
    	<selectKey keyProperty="print_seq" order="BEFORE" resultType="int">
    		SELECT NVL(MAX(print_seq), 0)+1 FROM TRAINING_CODE
    		<if test="mid_code != '--' and small_code == '--'">
    		WHERE
    			large_code = #{large_code}
    		AND	mid_code != '--'
    		</if>
    		<if test="mid_code != '--' and small_code != '--'">
    		WHERE
    			large_code = #{large_code}
    		AND	mid_code = #{mid_code}
    		AND	small_code != '--'
    		</if>
    	</selectKey>
    	INSERT INTO
    		TRAINING_CODE
    	(
	    	large_code, mid_code, small_code, code_name, remark, 
			print_seq, add_date, add_id, mod_date, mod_id
    	)
    		VALUES
    	(
    		#{large_code}, #{mid_code}, #{small_code}, #{code_name}, #{remark},
			#{print_seq}, SYSDATE, #{cud_id}, SYSDATE, #{cud_id}
    	)
    </insert>
    
    <update id="modifyTrainingCode">
    	UPDATE
    		TRAINING_CODE
    	SET
    		code_name = #{code_name},
    		mod_date = SYSDATE,
    		mod_id = #{cud_id}
    	WHERE
    		large_code = #{large_code}
    	AND	mid_code = #{mid_code}
    	AND	small_code = #{small_code}
    </update>
    
    <delete id="deleteTrainingCode">
    	DELETE FROM
    		TRAINING_CODE
    	WHERE
    		large_code = #{large_code}
    	AND	mid_code = #{mid_code}
    	AND	small_code = #{small_code}
    </delete>
    
    <update id="modifyPrintSeq">
    	UPDATE
    		TRAINING_CODE
    	SET
    		print_seq = #{print_seq},
    		mod_date = SYSDATE,
    		mod_id = #{cud_id}
    	WHERE
    		large_code = #{large_code}
    	AND	mid_code = #{mid_code}
    	AND	small_code = #{small_code}
    </update>
    
    <select id="getCodeInfo" resultType="int">
    	SELECT
    		COUNT(*)
    	FROM
    		TRAINING_CODE
    	WHERE
    		large_code = #{large_code}
   		AND	mid_code = #{mid_code}
   		AND	small_code = #{small_code}
    </select>
    
</mapper>