@charset "utf-8";
/*메인타입 - 02 import*/
@import url("/resources/common/css/layout/main_type02.css");

/*팝업존+공지타입 - 02 import*/
@import url("/resources/common/css/layout/notice_type02.css");

/*일정+행사타입 - 02 import
@import url("/resources/common/css/layout/culture_type02.css");*/

/*큐레이션타입 - 04 import*/
@import url("/resources/common/css/layout/curation_type04.css");

.blind{position:absolute;top:0;left:0;width:0;height:0;overflow:hidden;font-size:0;line-height:0;text-indent:-999px}

#main0 .main0-top .search-box .main-box button{background:#007e59 url('/resources/homepage/sjhr/img/main/srch-icon.png') no-repeat center center;}

#main0 .main0-bottom .qmenu li{width:270px;margin:0 9px;}
#main0 .main0-bottom .qmenu li a:hover,
#main0 .main0-bottom .qmenu li a:focus {background:#007e59;}

#main1 .main1_wrap .main1-left-box .list ul li div{background:#fff;border:1px solid #ddd;}
#main1 .main1_wrap .main1-left-box .list ul li div strong{color:#000;}
#main1 .main1_wrap .main1-left-box .list ul li div span{color:#555;}
#main1 .main1_wrap .main1-left-box .list ul li:hover div{background:#007e59;border:1px solid #007e59;}
#main1 .main1_wrap .main1-left-box .list ul li:hover div strong{color:#fff;}
#main1 .main1_wrap .main1-left-box .list ul li:hover div span{color:#fff;}

#main2 {position:relative;height:1200px;background:#e3f7de;;background-size:cover;}
#main2 .main2-wrap{margin-top:100px;}
#main2 .calendar-box-wrap{float:left;width:500px;}
#main2 .calendar-box-wrap .title{position:relative;}
#main2 .calendar-box-wrap .title h3{font-family:'S-Core Dream 6';color:#222;font-size:30px;letter-spacing:-1px;}
#main2 .calendar-box-wrap .title a{position:absolute;top:7px;right:0;}

.calendar-wrap{position:relative;background:#fff;box-sizing:border-box;padding-bottom:20px;margin-top:20px;}
.cal-func2{position:relative;width:140px;margin:0 auto;padding-top:30px;text-align:center;}
.cal-func2 p{font-size:23px;color:#333;font-family:'GmarketSansMedium';}
.cal-func2 b{font-size:24px;}
.cal-func2 .btn{position:absolute;background:none;padding:0;margin:0;border:none;}
.cal-func2 .btn.prev{top:30px;left:-30px;}
.cal-func2 .btn.next{top:30px;right:-30px;}
.calendar-info{position:absolute;top:15px;right:20px;}
.calendar-info span{font-size:14px;font-weight:500;}
.calendar-info span.hu{color:#ff3333;}
.calendar-info span.ev{color:#3368ff;}
.cal-tbl{position:relative;margin:0 auto;width:90%;margin-top:20px;border-top:none;border-bottom:none;}
.cal-tbl th, .cal-tbl td{font-size:15px;color:#333;border:none;text-align:center;font-weight:500;padding:0;}
.cal-tbl td div{font-size:15px;padding:10px 0;font-weight:500;}
.cal-tbl td div span{font-size:15px;color:#333;padding-top:6px;font-weight:500;}
.cal-tbl td .hu{color:#ff3333;}
.cal-tbl td .ev{color:#3368ff;}

.planView {position:relative;height:235px;overflow-y:scroll;border-top:1px solid #ddd;background:#fff;}
.planView .inbox {position:relative;box-sizing:border-box;padding:25px 30px;}
.planView .inbox ul {font-size:0;}
.planView .inbox li.planList {position:relative;display:inline-block;vertical-align:top;width:100%;padding-bottom:8px;}
.planView .inbox li:nth-child(2n) {margin-right:0;}
.planView .inbox li.planList div.schedule-title {width:90px;font-family:"GmarketSansMedium";display:inline-block;position:absolute;left:0;padding:10px 0 8px;font-size:15px;}
.planView .inbox li.planList div.schedule-title.cul {border:1px solid #3368ff;color:#3368ff;}
.planView .inbox li.planList div.schedule-title.hol {border:1px solid #e85050;color:#e85050;}
.planView .inbox li.planList div.schedule-contents {display:block;overflow:hidden;text-align:left;padding-left:110px;}
.planView .inbox li.planList p.title {font-size:14px;text-align:left !important;padding-bottom:0 !important;}
.planView .inbox li.planList p.datetime {font-weight:bold;color:#333;}
.planView .inbox li.planList p.title {margin-bottom:5px;}
.planView .inbox li.planList p.title em {display:block;word-break:break-all;overflow:hidden;text-overflow:ellipsis;font-style:normal;color:#666;height:20px;}

table caption {font-size:0;text-indent:-9999px;width:0;height:0;}

#main2 .book-box{float:right;width:calc(100% - 550px);padding-top:15px;}
#main2 .book-box .title{position:relative;z-index:99999;}
#main2 .book-box .title ul{position:relative;}
#main2 .book-box .title ul li{display:inline-block;}
#main2 .book-box .title ul li:first-child{padding-right:30px;}
#main2 .book-box .title ul li:last-child{padding-left:20px;}
#main2 .book-box .title ul li a{font-family:'S-Core Dream 4';color:#444;font-size:30px;letter-spacing:-1px;}
#main2 .book-box .title ul li:first-child{background:url('/resources/common/img/book_type03/book-line.png')no-repeat right top;}
#main2 .book-box .title ul li.on a{font-family:'S-Core Dream 6';color:#222;}
#main2 .book-box .title .more-btn{position:absolute;top:-2px;right:0;}
#main2 .book-box .list-box{position:relative;margin-top:26px;background:#fff;padding:50px 0 75px;height:450px;}
#main2 .book-box .list-box .arr-btn{position:absolute;width:100%;z-index:9;top:250px;}
#main2 .book-box .list-box .arr-btn ul li img{}
#main2 .book-box .list-box .arr-btn ul li:first-child{position:absolute;left:35px;}
#main2 .book-box .list-box .arr-btn ul li:last-child{position:absolute;right:35px;}
#main2 .book-box .list-box .list{position:relative;margin:40px 0 0 0;text-align:center;}
#main2 .book-box .list-box .list ul li{display:inline-block;margin:0 10px;}
#main2 .book-box .list-box .list ul li:first-child{margin-left:0;}
#main2 .book-box .list-box .list ul li:last-child{margin-right:0;}
#main2 .book-box .list-box .list ul li .img-box{text-align:center;}
#main2 .book-box .list-box .list ul li .img-box img{width:245px;height:345px;}
#main2 .book-box .list-box .list ul li .txt-box{position:relative;margin:0 auto;text-align:center;width:220px;}
#main2 .book-box .list-box .list ul li .txt-box h3{padding:20px 0 0;font-size:20px;font-weight:600;color:#222;line-height:1.3;overflow:hidden;text-overflow:ellipsis;word-wrap:break-word;display:-webkit-box;-webkit-line-clamp:1;-webkit-box-orient:vertical;}

#main2 .bookListTop .bx-controls {position:relative;width:101%;height:50px;top:0;z-index:99998;margin:0 auto;margin-top:-200px;}
#main2 .bookListTop .bx-prev  {position:absolute;width:14px;height:26px;font-size:0;background-image:url("/resources/common/img/book_type02/book-prev-btn-b.png");background-repeat: no-repeat; background-position:0 0;background-size:initial;left:-30px;}
#main2 .bookListTop .bx-next  {position:absolute;width:14px;height:26px;font-size:0;background-image:url("/resources/common/img/book_type02/book-next-btn-b.png");background-repeat: no-repeat; background-position:0 0;background-size:initial;right:-30px;}

#main2 .bookListBottom .bx-controls {position:relative;width:101%;height:50px;top:0;z-index:99998;margin:0 auto;margin-top:-200px;}
#main2 .bookListBottom .bx-prev  {position:absolute;width:14px;height:26px;font-size:0;background-image:url("/resources/common/img/book_type02/book-prev-btn-b.png");background-repeat: no-repeat; background-position:0 0;background-size:initial;left:0;}
#main2 .bookListBottom .bx-next  {position:absolute;width:14px;height:26px;font-size:0;background-image:url("/resources/common/img/book_type02/book-prev-btn-b.png");background-repeat: no-repeat; background-position:0 0;background-size:initial;right:0;}

#main0 .main0-bottom .qmenu .bx-prev {display:none;position:absolute;width:14px;height:26px;font-size:0;left:-25px;top:55%;background:url("/resources/common/img/main_type02/book_arr.png") no-repeat 0 0;}
#main0 .main0-bottom .qmenu .bx-next {display:none;position:absolute;width:14px;height:26px;font-size:0;top:55%;right:-25px;background:url("/resources/common/img/main_type02/book_arr.png") no-repeat right 0;}

@media all and (max-width:1770px){
	#main2 .book-box{width:70%;}
	#main2 .book-box .list-box .list ul li{margin:0 0.2%;}
}

@media all and (max-width:1670px){
	#main2 .book-box{width:65%;}
	#main2 .book-box .list-box .list ul li:last-child{display:none;}
	#main2 .book-box .list-box .arr-btn ul li:first-child{left:65px;}
	#main2 .book-box .list-box .arr-btn ul li:last-child{right:65px;}
}

@media all and (max-width:1460px){
	#main0 .main0-bottom .qmenu li{width:19%;margin:0 0.3%;}

	#main2 .book-box{width:60%;}
	#main2 .book-box .list-box .list ul li:nth-child(3){display:none;}
	#main2 .book-box .list-box .arr-btn ul li:first-child{left:65px;}
	#main2 .book-box .list-box .arr-btn ul li:last-child{right:65px;}
}

@media all and (max-width:1310px){
	#main2 .book-box{width:55%;}
}

@media all and (max-width:1310px){
	#main0 .main0-bottom .qmenu li div.image{margin-top:0;}
	#main0 .main0-bottom .qmenu li div.qtxt1{font-size:19px;}
	#main0 .main0-bottom .qmenu li div.qtxt2{display:none;}

	#main2 .book-box{width:50%;}
	#main2 .book-box .list-box .list ul li:nth-child(2){display:none;}
	#main2 .book-box .list-box .arr-btn ul li:first-child{left:65px;}
	#main2 .book-box .list-box .arr-btn ul li:last-child{right:65px;}
}

@media all and (max-width:1024px){
	#header h1{width:170px;}
	
	#main0 .main0-bottom .qmenu{padding-top:50px;}
	#main0 .main0-bottom .qmenu li{height:250px;}	
	#main0 .main0-bottom .qmenu li div.qtxt1{font-size:17px;}
	#main0 .main0-bottom .qmenu .bx-prev, #main0 .main0-bottom .qmenu .bx-next {display:block;}

	#main2{height:auto;padding:10px 0 30px;}
	#main2 .main2-wrap{margin-top:10px;}
	#main2 .calendar-box-wrap{position:relative;float:none;margin:0 auto;}
	#main2 .book-box{position:relative;float:none;width:500px;margin:0 auto;margin-top:20px;}
	#main2 .calendar-box-wrap .title a{top:5px;}
	#main2 .book-box .title .more-btn{top:-9px;}	
}

@media all and (max-width:768px){
	#main0 .main0-bottom .qmenu li div.qtxt1{width:70%;margin:0 auto;}

	#main1 .main1_wrap .main1-left-box .list ul li div{border-top:none !important;border-bottom:none !important;}

	#main2 .calendar-box-wrap .title h3, #main2 .book-box .title ul li a{font-size:25px;}
	#main2 .book-box .list-box{margin-top:20px;padding:20px 0;}
	#main2 .book-box .list-box .list{margin:0;}
	#main2 .book-box .list-box .list ul li .txt-box h3{font-size:18px;padding:10px 0 0;}
	#main2 .book-box .list-box .arr-btn{top:50%;}
}

@media all and (max-width:650px){
	#main2 .bookListTop .bx-controls{width:20%;top:230px;}
}

@media all and (max-width:600px){
	#main0 .main0-bottom .qmenu li div.qtxt1{font-size:15px;}

	#main2 .calendar-box-wrap,
	#main2 .book-box{width:97%;}
	#main2 .calendar-box-wrap .title h3, #main2 .book-box .title ul li a{font-size:19px;}
	#main2 .calendar-box-wrap .title a{width:25px;top:3px;}
	#main2 .book-box .title .more-btn{width:25px;top:-3px;}
	#main2 .book-box .list-box .list ul li .txt-box h3{font-size:14px;}
	#main2 .book-box .list-box .list ul li .img-box img{width:100%;}
}

@media all and (max-width:550px){
	#main0 .main0-bottom .qmenu{padding-top:10px;}
	#main0 .main0-bottom .qmenu li{display:block;width:88%;height:60px;margin:0 auto;margin-bottom:5px;}
	#main0 .main0-bottom .qmenu li a{background:#007e59}
	#main0 .main0-bottom .qmenu li div.image{display:none;}
	#main0 .main0-bottom .qmenu li div.qtxt1{font-size:14px;padding-top:0;color:#fff;}
	#main0 .main0-bottom .qmenu li div.qtxt3{display:none !important;}
	#main0 .main0-bottom .qmenu li:last-child{margin:0 auto;}

	#main0 .main0-bottom .qmenu li a:hover,
	#main0 .main0-bottom .qmenu li a:focus {margin-top:0;}
}