<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.whalesoft.app.board.boardComment.boardCommentFile.BoardCommentFileDao">

	<select id="getBoardCommentFile" resultType="kr.co.whalesoft.app.board.boardComment.boardCommentFile.BoardCommentFile">
		SELECT
			comment_idx, comment_file_idx, real_file_name, file_name, file_ext_name,
			file_size
		FROM
			CMS_BOARD_COMMENT_FILE
		WHERE
			comment_idx = #{comment_idx}
		ORDER BY
			add_date ASC
	</select>
	
	<select id="getBoardCommentFileOne" resultType="kr.co.whalesoft.app.board.boardComment.boardCommentFile.BoardCommentFile">
		SELECT
			comment_idx, comment_file_idx, real_file_name, file_name, file_ext_name,
			file_size
		FROM
			CMS_BOARD_COMMENT_FILE
		WHERE
			comment_idx = #{comment_idx} AND
			comment_file_idx = #{comment_file_idx}
	</select>
	
	<insert id="addBoardCommentFile">
		<selectKey keyProperty="comment_file_idx" resultType="int" order="BEFORE">
			SELECT CMS_BOARD_COMMENT_FILE_IDX_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO CMS_BOARD_COMMENT_FILE
		(
			comment_idx, comment_file_idx, real_file_name, file_name, file_ext_name,
			file_size, add_date
		) VALUES
		(
			#{comment_idx}, #{comment_file_idx}, #{real_file_name}, #{file_name}, #{file_ext_name},
			#{file_size}, SYSDATE
		)
	</insert>
	
	<update id="addBoardCommentFileCount">
		UPDATE CMS_BOARD_COMMENT_FILE SET
			file_down_count = file_down_count + 1
		WHERE
			comment_file_idx = #{comment_file_idx}
	</update>
	
	<delete id="deleteBoardCommentFile">
		DELETE FROM CMS_BOARD_COMMENT_FILE 
		WHERE 
			comment_idx = #{comment_idx} 
	</delete>
	
</mapper>