<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.whalesoft.app.cms.accessIp.AccessIpDao">

	<select id="getAccessIp" resultType="kr.co.whalesoft.app.cms.accessIp.AccessIp">
		SELECT
			access_idx, access_ip, use_yn, remark, add_date, add_id
		FROM
			ACCESS_IP
		ORDER BY
			add_date DESC
	</select>	
	
	<select id="getAccessIpOne" resultType="kr.co.whalesoft.app.cms.accessIp.AccessIp">
		SELECT
			access_idx, access_ip, use_yn, remark, add_date, add_id
		FROM
			ACCESS_IP
		WHERE
			access_idx = #{access_idx}
	</select>
	
	<insert id="addAccessIp">
		<selectKey keyProperty="access_idx" resultType="int" order="BEFORE">
		    SELECT NVL(MAX(access_idx),0)+1 FROM ACCESS_IP
		</selectKey>
		
		INSERT INTO ACCESS_IP
		(
			access_idx, access_ip, use_yn, remark, add_date, add_id
		) VALUES
		(
			#{access_idx}, #{access_ip}, #{use_yn}, #{remark}, SYSDATE, #{add_id}
		)
	</insert>
	
	<update id="modifyAccessIp">
		UPDATE 
			ACCESS_IP 
		SET
			access_ip = #{access_ip},
			use_yn = #{use_yn},
			remark = #{remark},
			mod_date = SYSDATE,
			mod_id = #{mod_id}
		WHERE
			access_idx = #{access_idx}
	</update>
	
	<delete id="deleteAccessIp">
		DELETE FROM ACCESS_IP WHERE access_idx = #{access_idx} 
	</delete>
	
</mapper>