@charset "utf-8";
/* noto-sans-kr-regular - korean_latin */
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/noto-sans-kr-v11-regular.eot'); /* IE9 Compat Modes */
    src: local('Noto Sans KR Regular'), local('NotoSansKR-Regular'),
            url('../../fonts/noto-sans-kr-v11-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('../../fonts/noto-sans-kr-v11-regular.woff2') format('woff2'), /* Super Modern Browsers */
            url('../../fonts/noto-sans-kr-v11-regular.woff') format('woff'), /* Modern Browsers */
            url('../../fonts/noto-sans-kr-v11-regular.ttf') format('truetype'), /* Safari, Android, iOS */
            url('../../fonts/noto-sans-kr-v11-regular.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-500 - korean_latin */
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    src: url('../../fonts/noto-sans-kr-v11-500.eot'); /* IE9 Compat Modes */
    src: local('Noto Sans KR Medium'), local('NotoSansKR-Medium'),
            url('../../fonts/noto-sans-kr-v11-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('../../fonts/noto-sans-kr-v11-500.woff2') format('woff2'), /* Super Modern Browsers */
            url('../../fonts/noto-sans-kr-v11-500.woff') format('woff'), /* Modern Browsers */
            url('../../fonts/noto-sans-kr-v11-500.ttf') format('truetype'), /* Safari, Android, iOS */
            url('../../fonts/noto-sans-kr-v11-500.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-700 - korean_latin */
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    src: url('../../fonts/noto-sans-kr-v11-700.eot'); /* IE9 Compat Modes */
    src: local('Noto Sans KR Bold'), local('NotoSansKR-Bold'),
            url('../../fonts/noto-sans-kr-v11-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('../../fonts/noto-sans-kr-v11-700.woff2') format('woff2'), /* Super Modern Browsers */
            url('../../fonts/noto-sans-kr-v11-700.woff') format('woff'), /* Modern Browsers */
            url('../../fonts/noto-sans-kr-v11-700.ttf') format('truetype'), /* Safari, Android, iOS */
            url('../../fonts/noto-sans-kr-v11-700.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}

* {
	touch-action: manipulation
}

/* settings */
.dSecuKpdMain * {box-sizing: border-box;-webkit-text-size-adjust: none;}
.dSecuKpdMain ul {list-style: none;}
.dSecuKpdMain input {padding: 5px;}
.dSecuKpdMain input[type=checkbox] {border: none;}
.dSecuKpdMain label {display: inline-block;cursor: pointer;}
.dSecuKpdMain button {border: none;cursor: pointer;background: #fff;cursor: pointer;}
.dSecuKpdMain .clFix:after {content: '';clear: both;display: table;}
.dSecuKpdMain .vSecuKpd_blind {border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px}
.dSecuKpdMain span,
.dSecuKpdMain ul,
.dSecuKpdMain li,
.dSecuKpdMain p {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}
.dSecuKpdMain input[type=text],
.dSecuKpdMain input[type=tel],
.dSecuKpdMain input[type=password],
.dSecuKpdMain input[type=email],
.dSecuKpdMain input[type=search],
.dSecuKpdMain textarea { -webkit-border-radius:0; -webkit-appearance:none;}

/* character */
.dSecuKpdMain {position: relative;z-index:10; font-family: 'Noto Sans KR', '맑은고딕', 'Malgun Gothic', sans-serif;}
div[id^=dSecuKpdWrap] {width:350px;position: relative;margin: 0 auto 20px;overflow: hidden;border-radius: 10px;padding: 5px;box-shadow: -4px 11px 10px -11px rgba(0,0,0,0.46)}
div[id^=dSecuKpdWrap] .vSecuKpd_tit {width:auto !important;padding: 10px 0 14px 5px !important;margin: 0 0 10px 0 !important;font-weight: 500;font-size: 18px;letter-spacing: -0.5pt;}
div[id^=dSecuKpdWrap] li {float: left !important;width: 25px !important;height: 42px !important;border-radius: 4px;margin: 0 3px 3px 0;}
div[id^=dSecuKpdWrap] li button {display: block;text-align: center;width: 100%;height: 100%;font-family: 'Noto Sans KR';font-weight: 500;font-size: 19px;border-radius: 4px;color: #fff;overflow: hidden;padding: 0;}
div[id^=dSecuKpdWrap] li.vSecuKpd_empty {opacity: 0.5 !important;}
div[id^=dSecuKpdWrap] li.vSecuKpd_cha {position: relative;}
div[id^=dSecuKpdWrap] li.vSecuKpd_cha button {padding: 0;color: #333;}
div[id^=dSecuKpdWrap] li.vSecuKpd_cha.vSecuKpd_space button,
div[id^=dSecuKpdWrap] li.vSecuKpd_ctrl button,
div[id^=dSecuKpdWrap] li.vSecuKpd_cha.vSecuKpd_all_clear button {font-size: 15px;font-weight: 600;}
div[id^=dSecuKpdWrap] li.vSecuKpd_cha span {display: block;width: 100%;font-size: 17px;font-weight: 700;margin-top: 0;}
div[id^=dSecuKpdWrap] li.vSecuKpd_cha span >span {display: inline-block;vertical-align: middle;margin-top: -12px;}
div[id^=dSecuKpdWrap] li.vSecuKpd_cha .vSecuKpd_kor {font-size: 14px;margin-top: -12px;}
div[id^=dSecuKpdWrap] li.vSecuKpd_cha.vSecuKpd_space {width: 112px !important; }
div[id^=dSecuKpdWrap] li.vSecuKpd_ctrl button {font-weight: 400;line-height: 110%;}
div[id^=dSecuKpdWrap] li.vSecuKpd_double_width {width: 61px !important;}
div[id^=dSecuKpdWrap] li.vSecuKpd_ctrl.vSecuKpd_clear {width: 50px !important;}
div[id^=dSecuKpdWrap] li.vSecuKpd_ctrl.vSecuKpd_clear button {background: url('../../images/ico_keypad_s.png') 50% 50% no-repeat;}
div[id^=dSecuKpdWrap] li.vSecuKpd_ctrl span.vSecuKpd_capital {width: 6px;height: 17px;display: inline-block;background: #fff;position: relative;margin-top: 2px;}
div[id^=dSecuKpdWrap] li.vSecuKpd_ctrl span.vSecuKpd_capital:after {content: '';width: 0;height: 0;border: 8px solid transparent;border-bottom: 10px solid #fff;position: absolute;top: -12px;left: -5px;}
div[id^=dSecuKpdWrap] li.vSecuKpd_cha.vSecuKpd_all_clear {width: 50px !important;}
div[id^=dSecuKpdWrap] li.vSecuKpd_cha.vSecuKpd_all_clear button {color: #333;letter-spacing: -0.5pt;}
div[id^=dSecuKpdWrap] li.vSecuKpd_enter {width: 86px !important;}
div[id^=dSecuKpdWrap] li.vSecuKpd_enter {width: 86px !important;}
div[id^=dSecuKpdWrap] li.vSecuKpd_enter button {font-size: 16px;font-weight: 500;}
div[id^=dSecuKpdWrap] button.vSecuKpd_close {width: 22px;height: 22px;position: absolute;right: 10px;top: 15px;border-radius: 50%;font-size: 27px;padding: 0;}
div[id^=dSecuKpdWrap] button.vSecuKpd_close:before {content: '×';display: inline-block;position: absolute;left: 50%;top: 50%;-webkit-transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);transform: translate(-50%, -50%);}
div[id^=dSecuKpdWrap] li.vSecuKpd_line_end {margin-right: 0;}
div[id^=dSecuKpdWrap] li.vSecuKpd_line_last {margin-bottom: 0;}
/* character > 특수문자 */
div[id^=dSecuKpdWrap] #vSecuKpd_chaSpecial li.vSecuKpd_cha button {padding-bottom: 4px;font-weight: 700;}
div[id^=dSecuKpdWrap] #vSecuKpd_chaSpecial li.vSecuKpd_cha.vSecuKpd_space button,
div[id^=dSecuKpdWrap] #vSecuKpd_chaSpecial li.vSecuKpd_cha.vSecuKpd_all_clear button {padding: 0;}
#vSecuKpd_chaSpecial {display: none;}

/* basicGrey */
div[id^=dSecuKpdWrap].vSecuKpd_basicGrey {background: #efefef;border: 1px solid #bbb;}
div[id^=dSecuKpdWrap].vSecuKpd_basicGrey .vSecuKpd_tit {border-bottom: 1px solid #ddd;color: #333;}
div[id^=dSecuKpdWrap].vSecuKpd_basicGrey li.vSecuKpd_num.vSecuKpd_empty,
div[id^=dSecuKpdWrap].vSecuKpd_basicGrey li.vSecuKpd_num button {background-color: #93969e; border: 1px solid #878d9c;}
div[id^=dSecuKpdWrap].vSecuKpd_basicGrey li.vSecuKpd_cha.vSecuKpd_empty,
div[id^=dSecuKpdWrap].vSecuKpd_basicGrey li.vSecuKpd_cha button {background: #fff;border: 1px solid #bbb;}
div[id^=dSecuKpdWrap].vSecuKpd_basicGrey li.vSecuKpd_cha .vSecuKpd_eng {color: #333;}
div[id^=dSecuKpdWrap].vSecuKpd_basicGrey li.vSecuKpd_cha .vSecuKpd_kor {color: #666;font-weight: normal;}
div[id^=dSecuKpdWrap].vSecuKpd_basicGrey li.vSecuKpd_cha.vSecuKpd_space button {color: #333;}
div[id^=dSecuKpdWrap].vSecuKpd_basicGrey li.vSecuKpd_ctrl button {border: 1px solid #454d62;background-color: #67686e;}
div[id^=dSecuKpdWrap].vSecuKpd_basicGrey li.vSecuKpd_ctrl.vSecuKpd_on button {border: 1px solid #292c36;background-color: #282b35;}
div[id^=dSecuKpdWrap].vSecuKpd_basicGrey li.vSecuKpd_enter button {background-color: #008490;border: 1px solid #016980;}
div[id^=dSecuKpdWrap].vSecuKpd_basicGrey button.vSecuKpd_close {background-color: #efefef;color: #989ba2;/*border: 1px solid #b3b5ba;*/}
div[id^=dSecuKpdWrap].vSecuKpd_basicGrey button.vSecuKpd_close:active {background-color: #efefef !important;border-color:#525764 !important;color: #525764 !important;}

/* darkBlue */
div[id^=dSecuKpdWrap].vSecuKpd_darkBlue {background-color: #253560;border: 1px solid #16244a;}
div[id^=dSecuKpdWrap].vSecuKpd_darkBlue .vSecuKpd_tit {border-bottom: 1px solid #3b4a70;color: #fff;}
div[id^=dSecuKpdWrap].vSecuKpd_darkBlue li.vSecuKpd_num.vSecuKpd_empty,
div[id^=dSecuKpdWrap].vSecuKpd_darkBlue li.vSecuKpd_num button {background-color: #434f75;border: 1px solid #1e253e;}
div[id^=dSecuKpdWrap].vSecuKpd_darkBlue li.vSecuKpd_cha.vSecuKpd_empty,
div[id^=dSecuKpdWrap].vSecuKpd_darkBlue li.vSecuKpd_cha button {background-color: #fff;border: 1px solid #1e253e;}
div[id^=dSecuKpdWrap].vSecuKpd_darkBlue li.vSecuKpd_cha .vSecuKpd_eng {color: #333;}
div[id^=dSecuKpdWrap].vSecuKpd_darkBlue li.vSecuKpd_cha .vSecuKpd_kor {color: #666;font-weight: normal;}
div[id^=dSecuKpdWrap].vSecuKpd_darkBlue li.vSecuKpd_cha.vSecuKpd_space button {color: #333;}
div[id^=dSecuKpdWrap].vSecuKpd_darkBlue li.vSecuKpd_ctrl button {background-color: #434f75 !important;border: 1px solid #232c49;}
div[id^=dSecuKpdWrap].vSecuKpd_darkBlue li.vSecuKpd_ctrl.vSecuKpd_on button {background-color: #15244c;border: 1px solid #686f87;}
div[id^=dSecuKpdWrap].vSecuKpd_darkBlue li.vSecuKpd_enter button {background-color: #fd5c63;border: 1px solid #f04c53;}
div[id^=dSecuKpdWrap].vSecuKpd_darkBlue button.vSecuKpd_close {background-color: #253560;color: #7c86a0;/*border: 1px solid #7a849e;*/}
div[id^=dSecuKpdWrap].vSecuKpd_darkBlue button.vSecuKpd_close:active {border-color:#fff;color: #fff;}

/* number */
div[id^=dSecuKpdWrap].vSecuKpd_number {width: 360px;}
div[id^=dSecuKpdWrap].vSecuKpd_number li {width: 54px;height: 50px;margin: 0 4px 4px 0;}
div[id^=dSecuKpdWrap].vSecuKpd_number li button {font-size: 22px;}
div[id^=dSecuKpdWrap].vSecuKpd_number li.vSecuKpd_all_clear,
div[id^=dSecuKpdWrap].vSecuKpd_number li.vSecuKpd_clear,
div[id^=dSecuKpdWrap].vSecuKpd_number li.vSecuKpd_enter {width: 111px;}
div[id^=dSecuKpdWrap].vSecuKpd_number li.vSecuKpd_ctrl button,
div[id^=dSecuKpdWrap].vSecuKpd_number li.vSecuKpd_enter button {font-size: 18px;}
div[id^=dSecuKpdWrap].vSecuKpd_number li.vSecuKpd_double_width {width: 112px;}
div[id^=dSecuKpdWrap].vSecuKpd_number.vSecuKpd_darkBlue li button {border: 1px solid #1e253e;}
div[id^=dSecuKpdWrap].vSecuKpd_number.vSecuKpd_darkBlue li.vSecuKpd_num.vSecuKpd_empty,
div[id^=dSecuKpdWrap].vSecuKpd_number.vSecuKpd_darkBlue li.vSecuKpd_num button {background-color: #fff;color: #333;font-weight: 600;}
div[id^=dSecuKpdWrap].vSecuKpd_number.vSecuKpd_basicGrey li.vSecuKpd_num button {background-color: #7b8192;border: 1px solid #61687d;}
div[id^=dSecuKpdWrap].vSecuKpd_number.vSecuKpd_basicGrey li.vSecuKpd_ctrl button {border: 1px solid #454d62;background-color: #484a5a;}
div[id^=dSecuKpdWrap].vSecuKpd_number li.vSecuKpd_clear button {background: url('../../images/ico_keypad_s.png') 50% 50% no-repeat;}

/* div[id^=dSecuKpdWrap].vSecuKpd_number.vSecuKpd_basicGrey li.vSecuKpd_ctrl button {background-color: #484a5a;} */


/* 반응형 */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 1024px)
/* and (orientation : portrait) */ {
  /* character */
  div[id^=dSecuKpdWrap] {width: 96%;max-width:756px;padding: 1.5%;}
  div[id^=dSecuKpdWrap] li {width: 8.18%;margin-right: 1%;margin-bottom: 1%;}
  div[id^=dSecuKpdWrap] li.vSecuKpd_line_end,
  div[id^=dSecuKpdWrap].vSecuKpd_number li.vSecuKpd_line-end {margin-right: 0 !important;}
  div[id^=dSecuKpdWrap] li.vSecuKpd_line_last,
  div[id^=dSecuKpdWrap].vSecuKpd_number li.vSecuKpd_line_last {margin-bottom: 0;}
  div[id^=dSecuKpdWrap] li.vSecuKpd_double_width {width: 17.38%;}
  div[id^=dSecuKpdWrap] li.vSecuKpd_cha.vSecuKpd_space {width: 35.72%;}
  div[id^=dSecuKpdWrap] li.vSecuKpd_enter {width: 26.52%;}
  .dSecuKpdMain button:active {background-color: #247fdc !important;}
  .dSecuKpdMain button:active, .dSecuKpdMain button:active span {color: #fff !important;}
  div[id^=dSecuKpdWrap].vSecuKpd_basicGrey button:active {border: 1px solid #1973ce !important;}
  div[id^=dSecuKpdWrap].vSecuKpd_darkBlue li.vSecuKpd_ctrl.vSecuKpd_on button:active,
  div[id^=dSecuKpdWrap].vSecuKpd_darkBlue li.vSecuKpd_enter button:active {background-color: #247fdc;border: 1px solid #232c49;}

  /* number */
  div[id^=dSecuKpdWrap].vSecuKpd_number {width: 96%;max-width:756px;}
  div[id^=dSecuKpdWrap].vSecuKpd_number li {width: 15.83%;margin-right: 1%;margin-bottom: 1%;}
  div[id^=dSecuKpdWrap].vSecuKpd_number li.vSecuKpd_double_width {width: 32.66%;}
}
@media screen and (max-device-width:640px) {
  #contWrap form input {padding: 10px;}
  #contWrap form .login {padding: 13px 0;}
}
@media screen and (max-device-width:375px) {
  div[id^=dSecuKpdWrap].vSecuKpd_number {padding: 2%;}
  div[id^=dSecuKpdWrap].vSecuKpd_number li {width: 15%;margin-right: 2%;margin-bottom: 2%;}
  div[id^=dSecuKpdWrap].vSecuKpd_number li.vSecuKpd_double_width {width: 32%;}
}
@media screen and (max-device-width:360px) {
  #contWrap h2 {font-size: 20px;}
  div[id^=dSecuKpdWrap] li.vSecuKpd_cha.vSecuKpd_space button,
  div[id^=dSecuKpdWrap] li.vSecuKpd_ctrl button,
  div[id^=dSecuKpdWrap] li.vSecuKpd_cha.vSecuKpd_all_clear button {font-size: 13px;}
  div[id^=dSecuKpdWrap] li.vSecuKpd_enter button {font-size: 14px;}
}
@media screen and (max-device-width:320px) {
  #contWrap .choose_theme p, #contWrap .choose_theme label {font-size: 16px;}
}