<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.go.gbelib.app.cms.module.untactBook.untactBookReservation.UntactBookReservationDao">
	
	<sql id="where">
		<if test="start_date != null and start_date != '' and end_date != null and end_date != ''">
			AND TO_CHAR(request_date,'yyyy-MM-dd') BETWEEN #{start_date} AND #{end_date}
		</if>
    	<if test="search_type != null and search_type != '' and search_text != null and search_text != ''">
			AND ${search_type} LIKE '%'||#{search_text}||'%'
		</if>
		<if test="reservation_step != null and reservation_step != ''">
			AND reservation_step LIKE '%'||#{reservation_step}||'%'
		</if>
    </sql>
	
	<select id="getUntactBookReservationListCount" resultType="int">
		SELECT
			COUNT(*)
		FROM
			UNTACT_BOOK_RESERVATION
		WHERE
			homepage_id = #{homepage_id}
		AND cancel_yn = 'N'
		<include refid="where"/>
	</select>
	
	<select id="getUntactBookReservationList" resultType="kr.go.gbelib.app.cms.module.untactBook.untactBookReservation.UntactBookReservation">
		${pagingTop}
			SELECT
				homepage_id, locker_number, request_number, member_id, member_name,
				TO_CHAR(request_date,'yyyy-MM-dd HH24:MI:SS') AS request_date, locker_password, reservation_step, reg_no, book_regno,
				book_isbn, book_name, loan_date, cancel_yn, cancel_reason,
				cancel_id, cancel_ip, sms_send_yn, sms_send_date, vAccNo,
				vLoca, seqNo, vUserId, member_phone
			FROM
				UNTACT_BOOK_RESERVATION
			WHERE
				homepage_id = #{homepage_id}
			AND cancel_yn = 'N'
			<include refid="where"/>
			ORDER BY request_number DESC
		${pagingBottom}	
	</select>
	
	<select id="getUntactBookReservationExcelListNow" resultType="kr.go.gbelib.app.cms.module.untactBook.untactBookReservation.UntactBookReservation">
		SELECT
			homepage_id, locker_number, request_number, member_id, member_name,
			TO_CHAR(request_date,'yyyy-MM-dd HH24:MI:SS') AS request_date, locker_password, reservation_step, reg_no, book_regno,
			book_isbn, book_name, loan_date, cancel_yn, cancel_reason,
			cancel_id, cancel_ip, sms_send_yn, sms_send_date, vAccNo,
			vLoca, seqNo, vUserId
		FROM
			UNTACT_BOOK_RESERVATION
		WHERE
			homepage_id = #{homepage_id}
		AND cancel_yn = 'N'
		<!-- AND TO_CHAR(request_date,'YY/MM/DD') = TO_CHAR(SYSDATE,'YY/MM/DD') -->
		<include refid="where"/>
		ORDER BY request_number DESC
	</select>
	
	<select id="getUntactBookReservationExcelList" resultType="kr.go.gbelib.app.cms.module.untactBook.untactBookReservation.UntactBookReservation">
		SELECT
			homepage_id, locker_number, request_number, member_id, member_name,
			TO_CHAR(request_date,'yyyy-MM-dd HH24:MI:SS') AS request_date, locker_password, reservation_step, reg_no, book_regno,
			book_isbn, book_name, loan_date, cancel_yn, cancel_reason,
			cancel_id, cancel_ip, sms_send_yn, sms_send_date, vAccNo,
			vLoca, seqNo, vUserId
		FROM
			UNTACT_BOOK_RESERVATION
		WHERE
			homepage_id = #{homepage_id}
		AND cancel_yn = 'N'
		<!-- AND TO_CHAR(request_date,'YY/MM/DD') = TO_CHAR(SYSDATE,'YY/MM/DD') -->
		<include refid="where"/>
		ORDER BY request_number DESC
	</select>
	
	<select id="getUntactBookReservationListNow" resultType="kr.go.gbelib.app.cms.module.untactBook.untactBookReservation.UntactBookReservation">
		${pagingTop}
			SELECT
				homepage_id, locker_number, request_number, member_id, member_name,
				TO_CHAR(request_date,'yyyy-MM-dd HH24:MI:SS') AS request_date, locker_password, reservation_step, reg_no, book_regno,
				book_isbn, book_name, loan_date, cancel_yn, cancel_reason,
				cancel_id, cancel_ip, sms_send_yn, sms_send_date, vAccNo,
				vLoca, seqNo, vUserId, member_phone
			FROM
				UNTACT_BOOK_RESERVATION
			WHERE
				homepage_id = #{homepage_id}
			AND cancel_yn = 'N'
			<!-- AND TO_CHAR(request_date,'YY/MM/DD') = TO_CHAR(SYSDATE,'YY/MM/DD') -->
			<include refid="where"/>
			ORDER BY request_number DESC
		${pagingBottom}	
	</select>
	
	<insert id="addUntactBookReservation">
		<selectKey keyProperty="request_number" resultType="int" order="BEFORE">
		    SELECT NVL(MAX(request_number),0)+1 FROM UNTACT_BOOK_RESERVATION WHERE homepage_id = #{homepage_id}
		</selectKey>
		INSERT INTO UNTACT_BOOK_RESERVATION
		(
			homepage_id, locker_number, request_number, member_id, member_name,
			request_date, locker_password, reservation_step, reg_no, book_regno,
			book_isbn, book_name, loan_date, cancel_yn, cancel_reason,
			cancel_id, cancel_ip, sms_send_yn, sms_send_date, member_address, 
			member_email, member_phone, vAccNo, vLoca, seqNo, vUserId
		) VALUES (
			#{homepage_id}, #{locker_number}, #{request_number}, #{member_id}, #{member_name},
			SYSDATE, #{locker_password}, '접수', #{reg_no}, #{book_regno},
			#{book_isbn}, #{book_name}, #{loan_date}, 'N', #{cancel_reason},
			#{cancel_id}, #{cancel_ip}, #{sms_send_yn}, #{sms_send_date}, #{member_address},
			#{member_email}, #{member_phone}, #{vAccNo}, #{vLoca}, #{seqNo}, #{vUserId}
		)
	</insert>
	
	<select id="getUntactBookReservationCount" resultType="int">
		SELECT
			COUNT(*)
		FROM
			UNTACT_BOOK_RESERVATION
		WHERE
			homepage_id = #{homepage_id}
		AND cancel_yn = 'N'
		AND TO_CHAR(request_date,'YY/MM/DD') = TO_CHAR(SYSDATE,'YY/MM/DD')
	</select>
	
	<select id="getUntactBookReservationLockerNumber" resultType="int">
		SELECT
			MIN(locker_number)
		FROM
			UNTACT_BOOK_LOCKER_SETTING
		WHERE
			locker_number IN
				(
					SELECT	
						locker_number
					FROM
						UNTACT_BOOK_LOCKER_SETTING
					WHERE
						homepage_id = #{homepage_id}
					and locker_type = '도서대출'
					MINUS
					SELECT
						locker_number
					FROM
						UNTACT_BOOK_RESERVATION
					WHERE
						homepage_id = #{homepage_id}
					AND cancel_yn = 'N'
					AND TO_CHAR(request_date, 'yyyy-MM-dd') = TO_CHAR(SYSDATE, 'yyyy-MM-dd')
				)
	</select>
	
	<select id="getUntactBookReservationOne" resultType="kr.go.gbelib.app.cms.module.untactBook.untactBookReservation.UntactBookReservation">
		SELECT
			homepage_id, locker_number, request_number, member_id, member_name,
			TO_CHAR(request_date,'yyyy-MM-dd HH24:MI:SS') AS request_date, locker_password, reservation_step, reg_no, book_regno,
			book_isbn, book_name, loan_date, cancel_yn, cancel_reason,
			cancel_id, cancel_ip, sms_send_yn, sms_send_date, member_address, 
			member_email, member_phone, vAccNo, vLoca, seqNo, vUserId
		FROM
			UNTACT_BOOK_RESERVATION
		WHERE
			homepage_id = #{homepage_id}
		AND cancel_yn = 'N'
		AND member_id = #{member_id}
		AND member_name = #{member_name}
		AND request_number = #{request_number}
	</select>
	
	<update id="changeReservationStep">
		UPDATE
			UNTACT_BOOK_RESERVATION
		SET
			locker_type = #{locker_type}
		WHERE
			homepage_id = #{homepage_id}
		AND member_id = #{member_id}
		AND reservation_step = #{reservation_step}
		AND TO_CHAR(request_date, 'yyyy-MM-dd') = TO_CHAR(SYSDATE, 'yyyy-MM-dd')
	</update>
	
	<update id="deleteAllReservation">
		UPDATE
			UNTACT_BOOK_RESERVATION
		SET
			cancel_yn = 'Y',
			cancel_reason = '관리자취소',
			cancel_id = #{cancel_id},
			cancel_ip = #{cancel_ip},
			cancel_date = SYSDATE
		WHERE
			homepage_id = #{homepage_id}
		AND cancel_yn = 'N'
		AND request_number IN
		<foreach collection="request_number_arr" item="i" open="(" close=")" separator=",">
		${i}
		</foreach>
	</update>
	
	<select id="getNonPasswordList" resultType="kr.go.gbelib.app.cms.module.untactBook.untactBookReservation.UntactBookReservation">
		SELECT
			homepage_id, request_number
		FROM
			UNTACT_BOOK_RESERVATION
		WHERE
			homepage_id = #{homepage_id}
		AND locker_password = 0
		AND cancel_yn = 'N'
		<!-- AND TO_CHAR(request_date, 'yyyy-MM-dd') = TO_CHAR(SYSDATE, 'yyyy-MM-dd') -->
		<if test="start_date != null and start_date != '' and end_date != null and end_date != ''">
			AND TO_CHAR(request_date,'yyyy-MM-dd') BETWEEN #{start_date} AND #{end_date}
		</if>
	</select>
	
	<update id="insertPassword">
		UPDATE
			UNTACT_BOOK_RESERVATION
		SET
			locker_password = #{locker_password}
		WHERE
			homepage_id = #{homepage_id}
		AND request_number = #{request_number}
		AND cancel_yn = 'N'
		AND locker_password = 0
		<!-- AND TO_CHAR(request_date, 'yyyy-MM-dd') = TO_CHAR(SYSDATE, 'yyyy-MM-dd') -->
		<if test="start_date != null and start_date != '' and end_date != null and end_date != ''">
			AND TO_CHAR(request_date,'yyyy-MM-dd') BETWEEN #{start_date} AND #{end_date}
		</if>
	</update>
	
	<update id="modifyReservationStep">
		UPDATE
			UNTACT_BOOK_RESERVATION
		SET
			reservation_step = #{reservation_step},
			loan_date = SYSDATE
		WHERE
			homepage_id = #{homepage_id}
		AND member_id = #{member_id}
		AND request_number = #{request_number}
		<!-- AND TO_CHAR(request_date, 'yyyy-MM-dd') = TO_CHAR(SYSDATE, 'yyyy-MM-dd') -->
		<if test="start_date != null and start_date != '' and end_date != null and end_date != ''">
			AND TO_CHAR(request_date,'yyyy-MM-dd') BETWEEN #{start_date} AND #{end_date}
		</if>
	</update>
	
	<update id="cancelReservationStep">
		UPDATE
			UNTACT_BOOK_RESERVATION
		SET
			cancel_yn = 'Y',
			cancel_reason = #{cancel_reason},
			cancel_id = #{cancel_id},
			cancel_ip = #{cancel_ip},
			cancel_date = SYSDATE
		WHERE
			homepage_id = #{homepage_id}
		AND member_id = #{member_id}
		AND cancel_yn = 'N'
		AND request_number = #{request_number}
	</update>
	
	<select id="getCancelReservationList" resultType="kr.go.gbelib.app.cms.module.untactBook.untactBookReservation.UntactBookReservation">
		SELECT
			cancel_reason, cancel_id, cancel_ip, cancel_date
		FROM
			UNTACT_BOOK_RESERVATION
		WHERE
			homepage_id = #{homepage_id}
		AND cancel_yn = 'Y'
		<include refid="where"/>
	</select>
	
	<select id="checkPassword" resultType="int">
		SELECT
			COUNT(*)
		FROM
			UNTACT_BOOK_RESERVATION
		WHERE
			homepage_id = #{homepage_id}
		AND member_id = #{member_id}
		<!-- AND TO_CHAR(request_date, 'yyyy-MM-dd') = TO_CHAR(SYSDATE, 'yyyy-MM-dd') -->
		AND locker_password = 0
		<if test="start_date != null and start_date != '' and end_date != null and end_date != ''">
			AND TO_CHAR(request_date,'yyyy-MM-dd') BETWEEN #{start_date} AND #{end_date}
		</if>
	</select>
	
	<select id="checkPasswordCount" resultType="int">
		SELECT
			COUNT(*)
		FROM
			UNTACT_BOOK_RESERVATION
		WHERE
			homepage_id = #{homepage_id}
		<!-- AND TO_CHAR(request_date, 'yyyy-MM-dd') = TO_CHAR(SYSDATE, 'yyyy-MM-dd') -->
		<if test="start_date != null and start_date != '' and end_date != null and end_date != ''">
			AND TO_CHAR(request_date,'yyyy-MM-dd') BETWEEN #{start_date} AND #{end_date}
		</if>
		AND cancel_yn = 'N'
	</select>
	
	<select id="checkNonPasswordCount" resultType="int">
		SELECT
			COUNT(*)
		FROM
			UNTACT_BOOK_RESERVATION
		WHERE
			homepage_id = #{homepage_id}
		<!-- AND TO_CHAR(request_date, 'yyyy-MM-dd') = TO_CHAR(SYSDATE, 'yyyy-MM-dd') -->
		<if test="start_date != null and start_date != '' and end_date != null and end_date != ''">
			AND TO_CHAR(request_date,'yyyy-MM-dd') BETWEEN #{start_date} AND #{end_date}
		</if>
		AND cancel_yn = 'N'
		AND locker_password = 0
	</select>
	
	<select id="reservationCount" resultType="int">
		SELECT
			COUNT(*)
		FROM
			UNTACT_BOOK_RESERVATION
		WHERE
			homepage_id = #{homepage_id}
		AND TO_CHAR(request_date, 'yyyy-MM-dd') = TO_CHAR(SYSDATE, 'yyyy-MM-dd')
		AND cancel_yn = 'N'
		AND member_id = #{member_id}
	</select>
	
	<select id="getUntactBookReservationInfoCount" resultType="int">
		SELECT
			COUNT(*)
		FROM
			UNTACT_BOOK_RESERVATION
		WHERE
			homepage_id = #{homepage_id}
		AND member_id = #{member_id}
	</select>
	
	<select id="getUntactBookReservationInfo" resultType="kr.go.gbelib.app.cms.module.untactBook.untactBookReservation.UntactBookReservation">
		${pagingTop}
			SELECT
				homepage_id, locker_number, request_number, member_id, member_name,
				TO_CHAR(request_date,'yyyy-MM-dd HH24:MI:SS') AS request_date, locker_password, reservation_step, reg_no, book_regno,
				book_isbn, book_name, loan_date, cancel_yn, cancel_reason,
				cancel_id, cancel_ip, sms_send_yn, sms_send_date, vAccNo,
				vLoca, seqNo, vUserId
			FROM
				UNTACT_BOOK_RESERVATION
			WHERE
				homepage_id = #{homepage_id}
			AND member_id = #{member_id}
			ORDER BY request_number DESC
		${pagingBottom}
	</select>
	
	<update id="cancelReserve">
		UPDATE
			UNTACT_BOOK_RESERVATION
		SET
			cancel_yn = 'Y',
			cancel_reason = '사용자본인취소',
			cancel_id = #{member_id},
			cancel_ip = #{cancel_ip},
			cancel_date = SYSDATE
		WHERE
			homepage_id = #{homepage_id}
		AND member_id = #{member_id}
		AND cancel_yn = 'N'
		AND request_number = #{request_number}
	</update>
	
	<select id="getReservationList" resultType="kr.go.gbelib.app.cms.module.untactBook.untactBookReservation.UntactBookReservation">
		SELECT
			homepage_id, locker_number, request_number, member_id, member_name,
			TO_CHAR(request_date,'yyyy-MM-dd HH24:MI:SS') AS request_date, locker_password, reservation_step, reg_no, book_regno,
			book_isbn, book_name, loan_date, cancel_yn, cancel_reason,
			cancel_id, cancel_ip, sms_send_yn, sms_send_date, vAccNo,
			vLoca, seqNo, vUserId, member_phone
		FROM
			UNTACT_BOOK_RESERVATION
		WHERE
			homepage_id = #{homepage_id}
		AND request_number IN
		<foreach collection="request_number_arr" item="i" open="(" close=")" separator=",">
		${i}
		</foreach>
		<if test="start_date != null and start_date != '' and end_date != null and end_date != ''">
			AND TO_CHAR(request_date,'yyyy-MM-dd') BETWEEN #{start_date} AND #{end_date}
		</if>
	</select>
</mapper>