<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.go.gbelib.app.cms.module.facility.FacilityDao">
	
	<select id="getFacilityListAll" resultType="kr.go.gbelib.app.cms.module.facility.Facility">
			SELECT
				HOMEPAGE_ID, FACILITY_IDX, FACILITY_NAME, FACILITY_DESC, USE_DATE, START_TIME, END_TIME, LIMIT_COUNT, 
				APPLY_START_DATE, APPLY_END_DATE, APPLY_START_TIME, APPLY_END_TIME, 
				USE_YN, DELETE_YN, ADD_DATE, ADD_ID, MOD_DATE, MOD_ID, BLACKBOARD_USE_YN
			FROM
				FACILITY_MANAGE
			WHERE HOMEPAGE_ID = #{homepage_id} AND DELETE_YN = 'N'
				<if test="search_type != null and search_type != '' and search_text != null and search_text != ''">
					AND	${search_type} LIKE '%'||#{search_text}||'%'
				</if>
			ORDER BY
				FACILITY_IDX DESC
	</select>
	
	<select id="getFacilityList" resultType="kr.go.gbelib.app.cms.module.facility.Facility">
		SELECT
			HOMEPAGE_ID, FACILITY_IDX, FACILITY_NAME, FACILITY_DESC, USE_DATE, START_TIME, END_TIME, LIMIT_COUNT, 
			APPLY_START_DATE, APPLY_END_DATE, APPLY_START_TIME, APPLY_END_TIME, 
			USE_YN, DELETE_YN, ADD_DATE, ADD_ID, MOD_DATE, MOD_ID, BLACKBOARD_USE_YN,
			(SELECT COUNT(*) FROM FACILITY_REQ WHERE HOMEPAGE_ID = a.HOMEPAGE_ID AND FACILITY_IDX = a.FACILITY_IDX AND DELETE_YN = 'N') AS APPLY_COUNT
		FROM
			FACILITY_MANAGE a
		WHERE HOMEPAGE_ID = #{homepage_id} AND DELETE_YN = 'N' 
			AND USE_DATE like #{plan_date}||'%'
			<if test="facilityType != null and facilityType != ''">
				AND	facility_name LIKE '%'||#{facilityType}||'%'
			</if>
		ORDER BY
			USE_DATE, START_TIME
		<if test="homepage_id == 'h19'">
			,FACILITY_NAME,START_TIME,END_TIME
		</if>
	</select>
	
	<select id="getFacilityListByExcel" resultType="kr.go.gbelib.app.cms.module.facility.Facility">
		SELECT
			HOMEPAGE_ID, FACILITY_IDX, FACILITY_NAME, FACILITY_DESC, USE_DATE, START_TIME, END_TIME, LIMIT_COUNT, 
			APPLY_START_DATE, APPLY_END_DATE, APPLY_START_TIME, APPLY_END_TIME, 
			USE_YN, DELETE_YN, ADD_DATE, ADD_ID, MOD_DATE, MOD_ID, BLACKBOARD_USE_YN,
			(SELECT COUNT(*) FROM FACILITY_REQ WHERE HOMEPAGE_ID = a.HOMEPAGE_ID AND FACILITY_IDX = a.FACILITY_IDX AND DELETE_YN = 'N') AS APPLY_COUNT
		FROM
			FACILITY_MANAGE a
		WHERE HOMEPAGE_ID = #{homepage_id} AND DELETE_YN = 'N' 
			<if test="excel_type != 'FULL'">
				AND USE_DATE like #{plan_date}||'%'
			</if>
		ORDER BY
			USE_DATE
	</select>
	
	<select id="getFacilityListByUser" resultType="kr.go.gbelib.app.cms.module.facility.Facility">
		SELECT
			HOMEPAGE_ID, FACILITY_IDX, FACILITY_NAME, FACILITY_DESC, USE_DATE, START_TIME, END_TIME, LIMIT_COUNT, 
			APPLY_START_DATE, APPLY_END_DATE, APPLY_START_TIME, APPLY_END_TIME, 
			USE_YN, DELETE_YN, ADD_DATE, ADD_ID, MOD_DATE, MOD_ID, BLACKBOARD_USE_YN,
			(SELECT COUNT(*) FROM FACILITY_REQ WHERE HOMEPAGE_ID = a.HOMEPAGE_ID AND FACILITY_IDX = a.FACILITY_IDX AND DELETE_YN = 'N' AND APPLY_STATUS != '3') AS APPLY_COUNT,
			CASE 
				WHEN SYSDATE BETWEEN TO_DATE(a.APPLY_START_DATE || ' ' || a.APPLY_START_TIME, 'yyyy-mm-dd hh24:mi') AND TO_DATE(a.APPLY_END_DATE || ' ' || a.APPLY_END_TIME, 'yyyy-mm-dd hh24:mi')
				THEN 'Y'
				WHEN TO_CHAR(SYSDATE, 'YYYY-MM-DD') > USE_DATE 
				THEN 'N'
				ELSE 'N'	
			END AS APPLY_YN
		FROM
			FACILITY_MANAGE a
		WHERE HOMEPAGE_ID = #{homepage_id} AND DELETE_YN = 'N' AND USE_YN = 'Y'
			AND USE_DATE like #{plan_date}||'%'
			<if test="facilityType != null and facilityType != ''">
				AND	facility_name LIKE '%'||#{facilityType}||'%'
			</if>
		ORDER BY
			USE_DATE
			<if test="homepage_id == 'h19'">
				,START_TIME, END_TIME
			</if>
	</select>
	
	<select id="getFacilityOne" resultType="kr.go.gbelib.app.cms.module.facility.Facility">
		SELECT
			HOMEPAGE_ID, FACILITY_IDX, FACILITY_NAME, FACILITY_DESC, USE_DATE, START_TIME, END_TIME, LIMIT_COUNT, 
			APPLY_START_DATE, APPLY_END_DATE, APPLY_START_TIME, APPLY_END_TIME, 
			USE_YN, DELETE_YN, ADD_DATE, ADD_ID, MOD_DATE, MOD_ID, BLACKBOARD_USE_YN
		FROM
			FACILITY_MANAGE
		WHERE HOMEPAGE_ID = #{homepage_id} AND FACILITY_IDX = #{facility_idx}
			<if test="search_type != null and search_type != '' and search_text != null and search_text != ''">
				AND	${search_type} LIKE '%'||#{search_text}||'%'
			</if>
	</select>
	
	<insert id="addFacility" parameterType="HashMap">
		INSERT ALL 
		<foreach collection="list" item="i" separator=" " index="index">
			INTO FACILITY_MANAGE
			(HOMEPAGE_ID, FACILITY_IDX, FACILITY_NAME, FACILITY_DESC, USE_DATE, START_TIME, END_TIME, LIMIT_COUNT, 
				APPLY_START_DATE, APPLY_END_DATE, APPLY_START_TIME, APPLY_END_TIME, 
				USE_YN, DELETE_YN, ADD_DATE, ADD_ID, BLACKBOARD_USE_YN
			) VALUES (#{i.homepage_id}, (select NVL(MAX(FACILITY_IDX),0) + 1 from FACILITY_MANAGE where homepage_id = #{i.homepage_id}) + ${index}, #{i.facility_name}, #{i.facility_desc}, #{i.use_date}, #{i.start_time}, #{i.end_time}, #{i.limit_count}, 
			#{i.apply_start_date}, #{i.apply_end_date}, #{i.apply_start_time}, #{i.apply_end_time}, 
			#{i.use_yn}, 'N', SYSDATE, #{i.add_id}, #{i.blackboard_use_yn})
		</foreach>
		SELECT * FROM DUAL
	</insert>
	
	<update id="modifyFacility">
		UPDATE 
			FACILITY_MANAGE 
		SET			
			FACILITY_NAME 		= #{facility_name}
			, FACILITY_DESC		= #{facility_desc}
			, START_TIME		= #{start_time}
			, END_TIME			= #{end_time}
			, LIMIT_COUNT		= #{limit_count}
			, APPLY_START_DATE	= #{apply_start_date}
			, APPLY_END_DATE	= #{apply_end_date}
			, APPLY_START_TIME	= #{apply_start_time}
			, APPLY_END_TIME	= #{apply_end_time}
			, USE_YN 			= #{use_yn}
			, MOD_DATE 			= SYSDATE
			, MOD_ID 			= #{mod_id}
			, BLACKBOARD_USE_YN = #{blackboard_use_yn}
		WHERE
			HOMEPAGE_ID = #{homepage_id} AND FACILITY_IDX = #{facility_idx}
	</update>
	
	<delete id="deleteFacility">
		UPDATE
			FACILITY_MANAGE
		SET 
			DELETE_YN = 'Y'
		WHERE
			HOMEPAGE_ID = #{homepage_id} AND FACILITY_IDX = #{facility_idx}
	</delete>

	<delete id="deleteAllFacility">
		UPDATE FACILITY_MANAGE
		SET DELETE_YN = 'Y'
		WHERE FACILITY_IDX IN (
											SELECT FACILITY_IDX
											FROM FACILITY_MANAGE a
											WHERE HOMEPAGE_ID = #{homepage_id}
												AND DELETE_YN = 'N'
												AND USE_DATE like #{plan_date}||'%'
												AND (
															SELECT COUNT(*)
															FROM FACILITY_REQ
															WHERE HOMEPAGE_ID = a.HOMEPAGE_ID
																	AND FACILITY_IDX = a.FACILITY_IDX
																	AND DELETE_YN = 'N'
															) &lt; 1
														)
	</delete>

	<!--시설물 일별 통계 -->
	<select id="getFacilityStatus" resultType="kr.co.whalesoft.app.cms.module.calendarStatus.CalendarStatus">
		SELECT 
			START_DATE, SUM(IMSI_V1) AS IMSI_V1
		FROM 
			(
			SELECT 
				TO_CHAR(START_DATE, 'YYYY-MM-DD') AS START_DATE, SUM(IMSI_V1) AS IMSI_V1
			FROM (
				SELECT (START_DATE + LEVEL -1) AS START_DATE, IMSI_V1
					FROM (
						SELECT
							TO_DATE(A.START_DATE, 'YYYY-MM-DD') AS START_DATE,
							TO_DATE(A.END_DATE, 'YYYY-MM-DD') AS END_DATE,
							(SELECT COUNT(*) FROM FACILITY_REQ B WHERE A.HOMEPAGE_ID = B.HOMEPAGE_ID AND A.FACILITY_IDX = B.FACILITY_IDX AND B.DELETE_YN = 'N') AS IMSI_V1	
						FROM FACILITY A
						WHERE
						A.DELETE_YN = 'N' AND
						A.HOMEPAGE_ID = #{homepage_id} AND
						TO_DATE(A.START_DATE, 'YYYY-MM-DD') BETWEEN TO_DATE(#{start_date},'YYYY-MM-DD') AND TO_DATE(#{end_date}, 'YYYY-MM-DD')
					)
				CONNECT BY START_DATE + LEVEL -1	<![CDATA[ <= ]]>	END_DATE
				order by start_date desc
				) 
			GROUP BY  START_DATE
			)
		GROUP BY ROLLUP (START_DATE)
		ORDER BY START_DATE DESC
	</select>
	
	<!--시설물 월별 통계 -->
	<select id="getFacilityMonthStatus" resultType="kr.co.whalesoft.app.cms.module.calendarStatus.CalendarStatus">
		SELECT 
			START_DATE, SUM(IMSI_V1) AS IMSI_V1
		FROM (
			SELECT
				TO_CHAR(TO_DATE(A.START_DATE, 'YYYY-MM-DD'),'YYYY') AS YEAR,
				TO_CHAR(TO_DATE(A.START_DATE, 'YYYY-MM-DD'),'YYYY-MM') AS START_DATE,
				TO_CHAR(TO_DATE(A.END_DATE, 'YYYY-MM-DD'),'YYYY-MM') AS END_DATE,
				(SELECT COUNT(*) FROM FACILITY_REQ B WHERE A.HOMEPAGE_ID = B.HOMEPAGE_ID AND A.FACILITY_IDX = B.FACILITY_IDX AND B.DELETE_YN = 'N') AS IMSI_V1	
			FROM 
				FACILITY A
			WHERE
				A.DELETE_YN = 'N' AND
				A.HOMEPAGE_ID = #{homepage_id}
			)
		WHERE
			YEAR = #{start_year}
		GROUP BY  ROLLUP (START_DATE)
		ORDER BY START_DATE DESC
	</select>
	
	<!--시설물 연도별 통계 -->
	<select id="getFacilityYearStatus" resultType="kr.co.whalesoft.app.cms.module.calendarStatus.CalendarStatus">
		SELECT 
			START_DATE, SUM(IMSI_V1) AS IMSI_V1
		FROM (
			SELECT			
				TO_CHAR(TO_DATE(A.START_DATE, 'YYYY-MM-DD'),'YYYY') AS START_DATE,
				TO_CHAR(TO_DATE(A.END_DATE, 'YYYY-MM-DD'),'YYYY') AS END_DATE,
				(SELECT COUNT(*) FROM FACILITY_REQ B WHERE A.HOMEPAGE_ID = B.HOMEPAGE_ID AND A.FACILITY_IDX = B.FACILITY_IDX AND B.DELETE_YN = 'N') AS IMSI_V1	
			FROM 
				FACILITY A
			WHERE
				A.DELETE_YN = 'N' AND
				A.HOMEPAGE_ID = #{homepage_id}
			)
		WHERE
			START_DATE BETWEEN #{start_year} and #{end_year}
		GROUP BY  ROLLUP (START_DATE)
		ORDER BY START_DATE DESC
	</select>
	
	<select id="getCalendar" resultType="kr.go.gbelib.app.cms.module.facility.Facility">
		SELECT
			MIN( DECODE( TO_CHAR(DAYS, 'D'), 1, TO_CHAR(DAYS, 'FMDD'))) as SUN,
			MIN( DECODE( TO_CHAR(DAYS, 'D'), 2, TO_CHAR(DAYS, 'FMDD'))) as MON,
			MIN( DECODE( TO_CHAR(DAYS, 'D'), 3, TO_CHAR(DAYS, 'FMDD'))) as TUE,
			MIN( DECODE( TO_CHAR(DAYS, 'D'), 4, TO_CHAR(DAYS, 'FMDD'))) as WED,
			MIN( DECODE( TO_CHAR(DAYS, 'D'), 5, TO_CHAR(DAYS, 'FMDD'))) as THU,
			MIN( DECODE( TO_CHAR(DAYS, 'D'), 6, TO_CHAR(DAYS, 'FMDD'))) as FRI,
			MIN( DECODE( TO_CHAR(DAYS, 'D'), 7, TO_CHAR(DAYS, 'FMDD'))) as SAT,
			#{plan_date} AS PLAN_DATE
		FROM
			(
				SELECT
					TO_DATE(#{plan_date}, 'yyyy-MM') + LEVEL - 1 AS DAYS,
					TRUNC(TO_DATE(#{plan_date}, 'yyyy-MM') + LEVEL - 1, 'D') - TRUNC(TO_DATE(#{plan_date}, 'yyyy-MM'), 'D') + 1 AS WEEK_NUM
				FROM DUAL
					CONNECT BY LEVEL <![CDATA[ <= ]]> LAST_DAY(TO_DATE(#{plan_date}, 'yyyy-MM')) - TO_DATE(#{plan_date}, 'yyyy-MM') + 1
			)
		GROUP BY WEEK_NUM
		ORDER BY WEEK_NUM
	</select>

	<select id="getFacilityListByExcelChoice" resultType="kr.go.gbelib.app.cms.module.facility.Facility">
		SELECT
		HOMEPAGE_ID, FACILITY_IDX, FACILITY_NAME, FACILITY_DESC, USE_DATE, START_TIME, END_TIME, LIMIT_COUNT,
		APPLY_START_DATE, APPLY_END_DATE, APPLY_START_TIME, APPLY_END_TIME,
		USE_YN, DELETE_YN, ADD_DATE, ADD_ID, MOD_DATE, MOD_ID, BLACKBOARD_USE_YN,
		(SELECT COUNT(*) FROM FACILITY_REQ WHERE HOMEPAGE_ID = a.HOMEPAGE_ID AND FACILITY_IDX = a.FACILITY_IDX AND DELETE_YN = 'N') AS APPLY_COUNT
		FROM
		FACILITY_MANAGE a
		WHERE HOMEPAGE_ID = #{homepage_id} AND DELETE_YN = 'N'
		AND substr(USE_DATE,0,7) in
		<foreach item="i" collection="choice_Month" open="(" close=")" separator=",">
			EXTRACT(YEAR from sysdate) || '-' || #{i}
		</foreach>
		ORDER BY
		USE_DATE
	</select>
	
</mapper>
