@charset "utf-8";	

/* 스타일 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,address
{font-size:13px;font-family:Nanum Gothic}

#wrap{background:#fcfcfc url('../img/winter.png') no-repeat 50% 120px}

h1{font-size:160%}
h2{font-size:140%}
h3{font-size:120%}

a:hover,
a:focus{color:#2b74c0;ouline-style:outset;position:relative}
.lt select:focus,
.lt button:focus,
.lt a:focus{ouline-style:solid;outline-color:#fff}
.lt select:focus{box-shadow:0 0 3px 2px #fff}

nav{display:none}

.mmode{display:none}
.txt-bar{width:1px;height:9px;margin:0 5px;background:#ccc}
.txt-bar,
.tnb a,
.slider .box .control .pager a,
.control a,
#footer .info a{vertical-align:middle;display:inline-block;zoom:1;*display:inline}

#header{clear:both}
.tnb{position:relative;z-index:5;background:#fff}
.Gnb{z-index:4}

.section{width:1000px;margin:0 auto} /* 기준 */

/* header */
.tnb{text-align:right;}
.tnb a{font-size:12px;color:#4d4d4d;font-weight:bold;display:inline-block;zoom:1;*display:inline;line-height:70px;height:70px}
.tnb a:hover,
.tnb a:focus{color:#03539e}

#header h1{position:absolute;z-index:10000;float:left;background:url('../img/logo_img.jpg') no-repeat 270px 20px;width:430px;text-align:left;padding-top:14px}

/* Gnb */
.Gnb{clear:both;text-align:center;width:100%;height:48px;overflow:inherit;position:relative;border-top:1px solid #bfbfbf;border-bottom:1px solid #e1e1e1;background:#fff}
.Gnb .gnb-menu{position:relative;}
.Gnb .gnb-menu>li{width:16.6%;text-align:center;position:static}
.Gnb .gnb-menu>li:first-child{background:none}
.Gnb .gnb-menu>li:last-child{padding-right:0;}
.Gnb .gnb-menu>li>a{padding:0;line-height:48px;height:48px;font-size:17px;color:#525252;font-weight:bold}
.Gnb .gnb-menu>li>ul{display:none;margin-top:0px;background:#666;border:0;left:0;white-space:nowrap}
.Gnb .gnb-menu>li.active>ul{display:block}
.Gnb .gnb-menu>li>.SubMenu>li{width:auto;padding:0 3px}
.Gnb .gnb-menu>li>.SubMenu>li{display:inline-block;zoom:1;*display:inline}
.Gnb .gnb-menu>li>.SubMenu>li>a{font-size:13px;padding:0 5px;color:#eee}
.Gnb .gnb-menu>li>.SubMenu>li>a:hover,
.Gnb .gnb-menu>li>.SubMenu>li>a:focus{background:none;color:#fff}
.Gnb .gnb-menu>li.on>a,
.Gnb .gnb-menu>li>a:hover,
.Gnb .gnb-menu>li>a:focus{color:#03539e}
.Gnb .gnb-menu>li.ss>a{font-size:14px}
.Gnb .mask{width:100%;background:#3d6198}
.Gnb .mask,
.Gnb .gnb-menu>li>ul{height:35px;line-height:35px}
.Gnb .gnb-menu>li>ul{background:#3d6198}

.qmenu {position:absolute;top:350px;z-index:5;width:1000px;}
.qmenu .section{position:relative;height:80px;overflow:hidden;text-align:center;margin:0 auto}
.qmenu .bx-wrapper{width:auto!important;margin:0 0px;position:static}
.qmenu li{display:inline-block;zoom:1;*display:inline;text-align:center;width:11.1%;}
.qmenu li a{width:100%;height:30px;background: no-repeat center 0px;display:block;padding-top:45px;margin:0 auto;font-size:12px;color:#444;font-weight:bold;letter-spacing:-1px;}
.qmenu li a:hover,
.qmenu li a:focus{color:#000;}
.qmenu li.qm1 a{background-image:url('../img/qm1.png')}
.qmenu .bx-controls{display:none}
.qmenu .bx-controls .bx-pager,
.qmenu .bx-controls .bx-controls-auto{display:none}
.qmenu .bx-controls .bx-prev,
.qmenu .bx-controls .bx-next{position:absolute;top:0;width:60px;font-size:0;line-height:0}
.qmenu .bx-controls .bx-prev,
.qmenu .bx-controls .bx-next,
.qmenu li{height:80px}
.qmenu .bx-controls .bx-prev{left:0;background:#fff url('../img/qmenuL.gif') no-repeat center center}
.qmenu .bx-controls .bx-next{right:0;background:#fff url('../img/qmenuR.gif') no-repeat center center}

.calendar{position:absolute;top:0px;z-index:5;width:1000px;}
.calendar .section{position:relative;overflow:hidden;text-align:center;margin:20px 20px;width:310px;float:right;,}
.calendar .box{width:310px;margin-right:20px}
.calendar h3 {font-size:16px;height:40px;color:#323232;font-weight:bold;line-height:40px;text-align:left;float:left;padding-top:13px}
#calendar table,
#calendar table th,
#calendar table td{border:0;padding:0}
#calendar .btn{border:0;background:none}
#planList h3{padding:10px 20px 0 0;float:left;display:block;}
#planList span{float:left;margin:19px 3px -5px;width:25px;height:25px;font-weight:bold;line-height:25px;display:block;background-color:#ee882c;color:#fff;border-radius:100%;}
.cal-func{text-align:right;padding:20px 0 10px}
.cal-func a.btn{padding:5px;color:#888}
.cal-func a.btn:focus,
.cal-func a.btn:hover{color:#222}
.cal-func a,
.cal-func b{height:18px;line-height:18px}
.cal-func b{font-size:120%}
.cal-func b em{color:#67940a}
#calendar .cal-tbl{margin-top:10px}
#calendar .cal-tbl th{font-size:11px;text-align:left!important;}
#calendar .cal-tbl td{font-size:11px;padding:1% 0;white-space:nowrap}
#calendar .cal-tbl td div{margin:0 10%;width:20px;height:20px;line-height:20px;}
#calendar .cal-tbl td a{display:block;background:#0080f2;color:#fff;border-radius:100%;}
#calendar .cal-tbl td a.type-r{background-color:#0080f2;}
#calendar .cal-tbl td a.type-e{background-color:#ee882c}

.main_bg{width:100%; }
.main_line{width:100%;}

.main1{position:relative;height:312px;border:1px solid #c9c9c9;background:#fff;margin:10px 0;}
.main1 .bx-wrapper,
.main1 .bx-viewport,
.main1 .bx-controls,
.main1 ul,
.main1 li{width:100%;height:100%;}
.main1 li{font-size:0;line-height:0;position:relative}
.main1 .bx-pager{position:absolute;left:0;bottom:28%}
.main1 .bx-pager .bx-pager-item{display:inline-block;zoom:1;*display:inline;font-size:0;line-height:0;padding:0 2px}
.main1 .bx-pager a{display:none;border-radius:50%;width:11px;height:11px;background:rgba(114,114,114,0.4)}
.main1 .bx-pager a:hover,
.main1 .bx-pager a:focus{background:#fff}
.main1 .bx-pager a.active{background:#007dd1;width:44px;border-radius:5px;}
.main1 .bx-controls .bx-prev,
.main1 .bx-controls .bx-next{display:none;}
.main1 .bx-viewport{position:relative;z-index:10}
.main1 .bx-controls{position:absolute;z-index:11;top:0}

.search-box {position:absolute;top:239px;left:29px;width:426px;z-index:11}
.search-box fieldset{position:relative;border:3px solid #f27719;background:#fff;padding-left:10px;overflow:hidden}
.search-box input{border:0;background:#fff;width:100%;}
.search-box input:focus{outline:none}
.search-box input,
.search-box button{height:38px;line-height:38px}
.search-box button{float:right;width:73px;text-align:center;background:#f27719;color:#fff;margin-right:-3px;font-weight:bold;}
.search-box .box1{float:left;width:100%;margin-right:-90px}
.search-box .box2{margin-right:90px}

.main1,.main2,.main3,.main4,.main5,.main6,.main7{overflow:hidden}
.main7 h3{padding:0 0 8px;color:#232323}
.main7 h3{padding:0}
.main6 .lt1{width:33.4%}
.main6 .lt2,
.main6 .lt3{width:33.3%}
.main6 .lt1,.main6 .lt2,.main6 .lt3{float:left}

.main3,.main4,.main5 {padding-top:90px;border:1px solid #c9c9c9;background:#fff;height:223px;}
.main3{float:left;width:318px;margin-right:10px}
.main4{float:left;width:328px;}
.main5{float:right;width:328px;position:relative;}
.main3>div,.main4>div,.main5>div{position:relative}
.main3 .more,.main5 .more{right:20px;top:10px;position:absolute;color:#fff;letter-spacing:-0.5px;font-size:11px}
.main3 h3,
.main4 h3,
.main5 h3{font-size:16px;height:40px;color:#fff;font-weight:bold;line-height:40px;padding:0 20px}
.main3 h3{background: #ed8529 url('../img/pattern.png') no-repeat;}
.main4 h3{background: #45a44f  url('../img/pattern.png') no-repeat;}
.main5 h3{background: #5375a8 url('../img/pattern.png') no-repeat;}

.main3 .news{width:100%}
.main3 .news li a{color:#333}
.main3 .news li{padding:4px 75px 4px 0px;background:none }
.main3 ul{padding:20px;}

.main4 .popupzone li a{display:block;text-align:center;vertical-align: middle;}
.main4 .popupzone .bx-controls{position:absolute;top:-40px;right:10px;z-index:150}
.main4 .popupzone .bx-pager .bx-pager-item{display:inline-block;zoom:1;*display:inline;font-size:0;line-height:0;padding:0 2px}
.main4 .popupzone .bx-pager a{display:block;width:14px;height:14px;background:#949494;border-radius:100%}
.main4 .popupzone .bx-pager a:hover,
.main4 .popupzone .bx-pager a:focus{background:#bfffc6}
.main4 .popupzone .bx-pager a.active{background:#fff}
.main4 .bx-controls .bx-prev,
.main4 .bx-controls .bx-next{display:none;}


.main5 h3 a{color:#e9f2ff;font-size:16px;height:40px;font-weight:bold;line-height:40px;padding:0 8px}
.main5 h3 a.active{color:#fff}
.main5 h3 span.bar{border-left:1px solid #d5d5d5;font-size:0;line-height:0;height:10px;margin:0 5px}
.main5 h3 a,
.main5 h3 span{display:inline-block;zoom:1;*display:inline;vertical-align:middle}
.main5 ul li{display:none}
.main5 ul li.active{display:block}
.main5 em,.main5 i {font-style:normal}
.main5 ul {padding:20px}
.main5 .bx-viewport{height:auto!important}
.main5 span b,
.main5 span i,
.main5 span em,
.main5 span,
.main5 a{display:block;overflow:hidden;font-size:11px;}
.main5 img{float:left;width:87px}
.main5 span{float:left;width:100%;margin-right:-87px}
.main5 span b,
.main5 span i,
.main5 span em{margin-right:87px;padding-left:15px}
.main5 span b,
.main5 span i {display:block;white-space:nowrap;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;font-weight:normal;padding-bottom:8px}
.main5 span b{color:#000}

.main6{padding:15px 0}
/* 배너모음 */
.banner-wrap{overflow:hidden;margin-right:-140px}
.banner-wrap>.banner-t{float:left;width:85px;}
.banner-wrap>.banner-t>h3{font-size:14px;font-weight:bold;letter-spacing:-1px;color:#101010;height:19px;line-height:15px}
.banner-wrap>.banner-box{float:left;width:100%;margin-right:-140px}
.banner-wrap .banner-box .banner-roll{margin-right:140px}
.banner-wrap .banner-box .banner-roll li,
.banner-wrap .banner-box .banner-roll span,
.banner-wrap .banner-box .banner-roll a{font-size:0;line-height:0}
.banner-wrap .banner-box .banner-roll i{display:none}
.banner-wrap>.banner-t>.control{font-size:0;padding:0 0 0 1px;float:left;}
.banner-wrap>.banner-t>.control a{font-size:12px;display:inline-block;zoom:1;*display:inline;text-align:center;vertical-align:middle;width:19px;height:19px;line-height:19px;border:1px solid #d5d5d5;background:#fff;margin-left:-1px}
.banner-wrap>.banner-t>.control a.stop,
.banner-wrap>.banner-t>.control a.play{display:none}
.banner-wrap>.banner-t>.control a.stop.active,
.banner-wrap>.banner-t>.control a.play.active{display:inline-block;zoom:1;*display:inline}
.banner-wrap>.banner-t>.control a i.fa{font-size:10px}
.banner-wrap>.banner-t>.control a i.fa-navicon{font-size:11px}

#footer{padding:10px 0 30px;position:relative;}

#footer .section{font-size:0;line-height:0;position:relative;}
#footer .section .site_link{position:absolute;right:0;top:60px}
#footer .section .site_link div{float:left;margin-left:10px}
#footer .section .site_link div div{width:160px}
#footer .section .site_link > div{margin-bottom:5px}
#footer .section .site_link a,
#footer .section .site_link span{border-radius:0}
#footer .section .site_link span{line-height:30px}
#footer .section .site_link a.btn{padding:5px 10px;background:#1f5d97;border-color:#1a518b;color:#fff}
#footer .section .site_link a.btn:hover,
#footer .section .site_link a.btn:focus{background:#1a518b}

#footer .info {border:1px solid #d7d7d7;width:100%;height:40px;line-height:40px;background:#f9f9f9;}
#footer .info b {color:#000;margin-left:16px}
#footer .info a,
#footer .info span{vertical-align:middle}
#footer .info .bar{margin:0 3px}
#footer .total {float:right;}
#footer .total span {float:left;margin-right:20px;color:#000;font-size:11px;height:40px;line-height:40px;}
#footer .total span b {font-weight:normal;color:#204c92;margin-left:0px}
#footer address em,
#footer address span{font-size:12px;}
#footer address{padding:20px 0 0;}
#footer address em{font-style:normal;margin-right:10px}
#footer address span{font-size:10.5px;text-transform: uppercase}

.subpage>.section {border:1px solid #c7c7c7;margin-top:10px;background:#fff url('../img/contents/lnb_bg.gif') repeat-y;position:relative}

/* 서브페이지 */
.sub-visual{height:177px;background:url('../img/contents/sub_visual1.png') no-repeat 95% bottom;text-align:left;color:#585858;border-bottom:1px solid #c7c7c7;letter-spacing:-2px;}
.sub-visual p.sv1{padding-top:33px;padding-left:230px;padding-bottom:-10px;font-weight:normal;color:#6e6e6e}
.sub-visual p.sv2{padding-top:0px;padding-bottom:10px;padding-left:230px;}
.sub-visual p.sv1{font-size:200%;}
.sub-visual p.sv2{font-size:240%}
.sub-visual p.sv2 b{color:#f27719}

#container.subpage{background:none}
.lnb{position:relative;width:199px;float:left;margin-top:-168px;height:100%;}
.content{margin-right:-200px;width:100%;float:right;}
.doc{margin-right:230px;margin-left:30px}
.lnb>h2,
.lnb>ul{margin-right:0px;}
.lnb>h2{background:url('../img/h2-bg.gif') repeat-x 0 bottom;text-align:center;color:#0074cf;width:100%;}
.lnb h2 b{display:block;font-size:22px;padding:123px 0 0;display:block;border-bottom:1px solid #c7c7c7;height:44px;width:100%;background:#fff url('../img/contents/sub_tit_bg.png') no-repeat center 20px;}

.main5{position:relative}
.lnb li.s i{position:absolute;top:50%;right:15px;margin-top:-7px;display:none;}
.lnb>ul>li{border-bottom:1px solid #c8c8c8}
.lnb>ul>li>a{font-size:14px;font-weight:bold;background:url('../img/contents/snb_arr2.png') no-repeat 95% center}
.lnb>ul>li.active>a{color:#000;position:relative;background:url('../img/contents/snb_arr1.png') no-repeat 95% center}
.lnb>ul>li>ul>li>ul>li.active>a{color:#000}
.lnb>ul>li.active>a,
.lnb>ul>li>a:hover i,
.lnb>ul>li>a:focus i,
.lnb>ul>li>a:hover,
.lnb>ul>li>a:focus{text-decoration:none;color:#000;background:#fafafa url('../img/contents/snb_arr1.png') no-repeat 95% center}
.lnb>ul>li>ul{background:#fff;padding:5px 0 10px}

/* 본문 */
.doc-info{position:absolute;padding:0;overflow:visible;width:770px;right:0;border:0;top:120px}
.doc-info ol li{font-size:13px;padding-left:13px;margin-left:8px;background:url('../img/contents/ico_arrowdp.png') no-repeat 0 14px}
.doc-info ol li.on a{color:#585858;font-weight:bold}
.doc-info ul{padding:20px 10px 0 0}

/* 콘텐츠 */
.doc-body{color:#666}
.doc-body table caption{display:none}
.doc-body table thead th{background:#f0f8fd}
.doc-body table tbody td.item{background:#f9f9f9}
.doc-body h2{font-size:140%;font-weight:bold;color:#313131;padding:15px 0 8px;letter-spacing:-1px}
.doc-body h2 span.sdate2{font-size:80%;font-weight:normal;color:#666}
.doc-body h4{font-size:115%;font-weight:bold;color:#4c4c4c;padding:10px 0 5px}
.doc-body ul.con{padding-left:1%}
.doc-body ul.con>li{background:url('/resources/common/img/doc-arr2.gif') no-repeat 0 10px;padding:3px 0 4px;padding-left:13px}
.doc-body ul.con>li>ul{padding:3px 0}
.doc-body ul.con2>li,
.doc-body ul.con>li>ul>li{background:url('/resources/common/img/doc-arr3.gif') no-repeat 0 10px;padding:2px 0 2px 10px}
.doc-body ul.con3>li,
.doc-body ul.con>li>ul>li>ul>li{background:url('/resources/common/img/doc-arr4.gif') no-repeat 0 9px;padding-left:10px}
.doc-body ul.con .btn_bg{padding:3px 0 5px}
.doc-body ul.con table{margin:5px 0}
.doc-body ul.con2{padding-left:13px}
.doc-body li .txt-box{margin:5px 0}

.doc-body .faq-wrap ul.con2>li{padding:0 0 0 10px;background-position:0 8px}
.doc-body .faq-wrap ul.con2{padding-left:0}

.btn_area{border-top:1px solid #ddd;padding-top:20px;margin-top:20px;clear:both}
.btn_area .btn{padding:8px 18px 10px;letter-spacing:-1px;font-size:110%}

.lpad01{padding:0 0 15px 15px}
.text-indent p{text-indent:10px}
.fb{font-weight:bold}
.orange{color:orange}
.btn img{vertical-align:middle}
.btn img.icon{margin-right:3px}


/* 콘텐츠 */
.color1{color:#095077}
.color2{color:#f27719}

/* 인사말 */
/*.greeting .t1{font-size:190%;letter-spacing:-1px;background:url('../img/contents/greeting_bg.jpg') no-repeat right bottom}*/
.greeting .t1{font-size:190%;letter-spacing:-1px;padding: 20px 0 25px 35px;border-bottom: 1px solid #cdcdcd;width: 400px;}
.greeting .box{padding:20px 260px 60px 0;background:url('/resources/homepage/qm/img/contents/library01.png') no-repeat right 40%}

/*.greeting .gtxt{border:1px solid #ddd;border-radius:5px;background:#fcfcfc;padding:20px;}*/
.greeting .gtxt{padding:20px;}
.greeting .txt p{padding:0 0 10px;font-size:105%}
.greeting .sign{padding:15px 0 0;font-size:120%}
.greeting .sign span{color:#000;display:inline-block;zoom:1;*display:inline;vertical-align:middle}
.greeting .sign span.name{margin-left:5px}
@media all and (max-width:767px){
	.greeting .t1{background-position:right 0;background-size:15%}
	.greeting .box{padding-right:5%;background:none;}
}
@media all and (max-width:400px){
	.greeting .t1{background-position:right bottom;background:none;}
}

/* 인사말 추가 20170114hjh*/
.greeting{background:url('/resources/homepage/qm/img/contents/introd_bg.gif') no-repeat left top;}

/*컨텐츠 배경이미지 */
.guide_bg {background:url('../img/contents/usedata_background.jpg') no-repeat right top;}
.room01_bg {background:url('../img/contents/topicon_1.jpg') no-repeat right top;}
.room0101_bg {background:url('../img/contents/jhpark.jpg') no-repeat right top;}
.room02_bg {background:url('../img/contents/topicon_children.jpg') no-repeat right top;}
.room03_bg {background:url('../img/contents/topicon_3.jpg') no-repeat right top;}
.room04_bg {background:url('../img/contents/topicon_4.jpg') no-repeat right top;}
.room05_bg {background:url('../img/contents/bus_library.png') no-repeat right top;}
.room06_bg {background:url('../img/contents/topicon_6.jpg') no-repeat right top;}
.room07_bg {background:url('../img/contents/topicon_7.jpg') no-repeat right top;}
.room0701_bg {background:url('../img/contents/dokdo_pictures.png') no-repeat right top;}
.room0701_bg img {margin-top:70px}
.service_s_bg {background:url('../img/contents/booksea.png') no-repeat right top;padding:0 200px 40px 0;height:130px }
.class_bg {background:url('../img/contents/lifelong_bg.png') no-repeat right 15%;}
@media screen and (max-width:1000px){
.room0101_bg {background:url('../img/contents/jhpark.jpg') no-repeat left bottom;padding-bottom:130px}
.room01_bg,.room02_bg,.room03_bg,.room04_bg,.room05_bg,.room06_bg,.room07_bg,.room0701_bg,.class_bg,.service_s_bg {background:none;padding:0;height:auto}
.room0701_bg img {margin-top:0}
}

/* 시설현황 */
#guide_img,
.guide_wrap{overflow:hidden}
.guide_wrap #guide_img{float:left;width:500px;margin-top:40px}
.guide_wrap .guide_con{float:left;width:100%;margin-right:-500px;margin-top:40px}
.guide_wrap .guide_con .box{margin-right:250px;padding-left:30px}
@media screen and (max-width:1000px){
	.guide_wrap #guide_img{width:100%}
	.guide_wrap .guide_con{margin-right:-0%;margin-top:0px}
	.guide_wrap .guide_con .box{margin-right:0%;margin-top:0px}
}


/*희망도서신청*/
.book_top{background:url('../img/contents/top.png') no-repeat 20px;padding:10px 0 10px 100px}
@media all and (max-width:400px){
.book_top{background:none;padding:0px}
}

/*이용안내*/
.guide_top{background:url('../img/contents/guide_top.gif') no-repeat 20px;padding:5px 0 5px 230px}
@media all and (max-width:760px){
.guide_top{background:none;padding:0px}
}

/*연혁*/
.history_wrap .history_con .box ul li span.fb1{width:130px}
.history_wrap .history_con .box ul li span.fb2{margin-right:-130px}


/* 배너모음*/
.banner_more {text-align:center;}
.banner_more li{display:inline-block;margin:10px 5px;width:150px}
.banner_more li img{border:1px solid #ccc;}

.lpad03{padding-bottom:15px}

@media screen and (max-width:1160px){
}
@media all and (max-width:1000px){
	.tnb{border-bottom:2px solid #1f5d98;height:45px}
	.tnb .section{position:relative}
	h1 img{display:none}
	.qmenu .bx-controls{display:block}

	#header h1{position:relative;height:auto;position:absolute;top:0;left:0;width:60px;padding:0}
	#header h1 img{display:block}
	#header h1,
	#header h1 a{width:auto}
	.m-menu{float:right}
	.m-menu a{display:inline-block;zoom:1;*display:inline;text-align:center;vertical-align:middle}
	.m-menu a i{font-size:30px;width:45px;height:45px;line-height:45px}

	.section{margin:0;width:auto;}
	.subpage .section{padding:0}
	#footer .section{padding:0 2%}
	.tnb{padding:10px}
	.tnb .util,
	.Gnb,
	.main7{display:none}
	.mmode{display:block}
	
	.search-box {top:-60px;left:0;width:80%;margin:0 10%;height:60px;}
	
	.main1{height:auto;border:0;margin:60px 0 0;width:100%;border-top:1px solid #c9c9c9;overflow:visible}
	
	.main1 li img {width:100%;height:100%}

	.qmenu{position:relative;width:100%;border-top:1px solid #c9c9c9;border-bottom:1px solid #c9c9c9;background:#fff;padding:15px 0 10px;height:70px;top:0px}
	.qmenu .bx-wrapper{margin:0 50px!important}
	.qmenu .bx-controls .bx-prev,
	.qmenu .bx-controls .bx-next,
	.qmenu li{height:70px}

	.calendar{position:relative;top:0px;margin:0;overflow:visible;float:left;width:47%;}
	.calendar .section{margin:0;width:100%;overflow:visible!important}
	.calendar .box{width:90%;float:left;padding:0 5% 0;height:240px;border:1px solid #c9c9c9;background:#fff;}
	#planList {position:absolute;top:-180px}
	#planList h3{padding:10px 10px 0 0;letter-spacing:-2px}

	.main_line {position:relative;top:0px;margin:2%;overflow:visible}
	.main_line .section{overflow:visible!important}
	.main3,.main4,.main5 {padding-top:0;border:1px solid #c9c9c9;background:#fff;height:240px;float:left;width:47%;}
	.main3{float:left;margin:0;margin-left:2%}
	.main4{float:left;margin:0;margin-top:2%}
	.main5{float:left;margin:0;position:relative;margin-left:2%;margin-top:2%}

	.banner-wrap{display:none;margin:0 2%;margin-right:0px!important}
	
	#footer .section .site_link,
	#footer .total {display:none}
	
	#footer address {text-align:center;}

	.subpage>.section {border:0;background:none;}
	
	.content{margin-right:0px;width:96%;float:right;border-top:1px solid #c9c9c9;padding:0 2%}

	.doc{margin-right:0px;margin-left:0px;}
	.doc-info{position:relative;padding:0 0 0 20px;overflow:visible;width:100%;right:0;border:0;top:0;}
	.doc-info ol li{font-size:13px;padding-left:25px;margin-left:8px;background:url('../img/contents/doc-infoLo.gif') no-repeat 0 0}
	.doc-info ol li.on a{color:#585858;font-weight:bold}
	.doc-info ul{padding:20px 10px 0 0}

	.sub-visual p.sv1{padding-left:25px;}
	.sub-visual p.sv2{padding-left:25px;}
}

@media all and (max-width:767px){
}
@media all and (max-width:580px){

	.calendar{width:100%;}
	.calendar .box{height:280px;border:0;}
	#planList {position:relative;top:0px}
	#planList h3{width:auto;}
	.main_line {position:relative;top:0px;margin:0;overflow:visible}
	.main_line .section{overflow:visible!important}
	.main3,.main4,.main5 {padding-top:0;border:0;height:210px;float:left;width:100%;}
	.main3{margin-left:0}
	.main4{margin-top:0}
	.main5{margin-left:0;margin-top:0;border-bottom:1px solid #c9c9c9;}

	#footer{padding:0 0 30px;}
	#footer .info {border:0;width:100%;height:auto;line-height:20px;background:#fcfcfc;margin-bottom:10px}
	#footer address{padding:0px 0 0;text-align:left;}
	#footer .info b {margin-left:0}
}
@media all and (max-width:400px){
	#header h1 img{height:38px;}

}
@media all and (max-width:320px){
}