<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.go.gbelib.app.cms.module.elib.best.BestDao">

	<sql id="search">
		<if test="type != null and type != ''">
		AND type = #{type}
		</if>
		<if test=" search_type != null and search_type != '' and search_text != '' and search_text != '' "> 
		AND	UPPER(REPLACE(${search_type}, ' ')) LIKE '%'||UPPER(REPLACE(#{search_text}, ' '))||'%'
		</if>
		<if test="parent_id != null and parent_id != ''">
		AND parent_id = #{parent_id}
		</if>
		<if test="cate_id != null and cate_id != ''">
		AND cate_id = #{cate_id}
		</if>
		<if test="com_code != null and com_code != ''">
		AND com_code = #{com_code}
		</if>
		<if test="library_code != null and library_code != ''">
		AND library_code = #{library_code}
		</if>
	</sql>
	
	<sql id="sort">
		<choose>
		<when test="sortField != null and sortField != ''">
		ORDER BY ${sortField} ${sortType} NULLS LAST, a.book_idx DESC
		</when>
		<otherwise>
		ORDER BY
			lend_cnt * lend_weight
			+ reserve_cnt * reserve_weight
			+ comment_cnt * comment_weight
			+ recommend_cnt * recommend_weight
			+ audio_view_cnt * audiobook_weight
			+ elearn_view_cnt * elearning_weight
			DESC
		</otherwise>
		</choose>
	</sql>

	<select id="getBestBookListCnt" resultType="int">
		SELECT COUNT(*) AS cnt FROM ELIB_BESTBOOK
	</select>
	
	<select id="getMainBestBookList" resultType="kr.go.gbelib.app.cms.module.elib.book.Book">
		SELECT
			bestbook_idx, book_idx, print_seq, add_id, add_date,
			book_name, book_pubname, author_name, book_image, type, book_info
		FROM (
			SELECT
				b.bestbook_idx, b.book_idx, b.print_seq, b.add_id, b.add_date,
				NULL AS book_name, NULL AS book_pubname, NULL AS author_name, NULL AS book_image, NULL AS type, NULL AS book_info
			FROM
				ELIB_BESTBOOK b
			WHERE
				b.book_idx = 0
			UNION ALL
			SELECT
				b.bestbook_idx, b.book_idx, b.print_seq, b.add_id, b.add_date,
				a.book_name, a.book_pubname, a.author_name, a.book_image, a.type, c.book_info
			FROM
				ELIB_BESTBOOK b,
				ELIB_BOOK a,
				ELIB_BOOKINFO c
			WHERE
				b.book_idx = a.book_idx
			AND b.book_idx = c.book_idx
		)
		ORDER BY bestbook_idx
	</select>
	
		
	<select id="getMainBestRandomOne" resultType="kr.go.gbelib.app.cms.module.elib.book.Book">
		SELECT 
			* 
		FROM (
			SELECT
				bestbook_idx, book_idx, print_seq, add_id, add_date,
				book_name, book_pubname, author_name, book_image, type, book_info
			FROM (
				SELECT
					b.bestbook_idx, b.book_idx, b.print_seq, b.add_id, b.add_date,
					NULL AS book_name, NULL AS book_pubname, NULL AS author_name, NULL AS book_image, NULL AS type, NULL AS book_info
				FROM
					ELIB_BESTBOOK b
				WHERE
					b.book_idx = 0
				UNION ALL
				SELECT
					b.bestbook_idx, b.book_idx, b.print_seq, b.add_id, b.add_date,
					a.book_name, a.book_pubname, a.author_name, a.book_image, a.type, c.book_info
				FROM
					ELIB_BESTBOOK b,
					ELIB_BOOK a,
					ELIB_BOOKINFO c
				WHERE
					b.book_idx = a.book_idx
				AND b.book_idx = c.book_idx
			)
			ORDER BY DBMS_RANDOM.RANDOM
		)
		WHERE ROWNUM = 1
	</select>
	
	
	<select id="getBestBookListCms" resultType="kr.go.gbelib.app.cms.module.elib.best.BestBook">
		SELECT
			bestbook_idx, book_idx, print_seq, add_id, add_date,
			book_name, book_pubname, author_name, book_image, type,
			parent_name, cate_name, library_name, comp_name,
			lend_cnt, reserve_cnt, comment_cnt, recommend_cnt, audio_view_cnt, elearn_view_cnt, 
			(
				lend_cnt * lend_weight
				+ reserve_cnt * reserve_weight
				+ comment_cnt * comment_weight
				+ recommend_cnt * recommend_weight
				+ audio_view_cnt * audiobook_weight
				+ elearn_view_cnt * elearning_weight
			) AS rank_index
		FROM (
			SELECT
				b.bestbook_idx, b.book_idx, b.print_seq, b.add_id, b.add_date,
				NULL AS book_name, NULL AS book_pubname, NULL AS author_name, NULL AS book_image, NULL AS type,
				NULL AS date_range, NULL AS types, NULL AS lend_weight, NULL AS reserve_weight, NULL AS comment_weight, NULL AS recommend_weight, NULL AS audiobook_weight, NULL AS elearning_weight,
				NULL AS parent_name, NULL AS cate_name, NULL AS library_name, NULL AS comp_name,
				0 AS lend_cnt, 0 AS reserve_cnt, 0 AS comment_cnt, 0 AS recommend_cnt, 0 AS audio_view_cnt, 0 AS elearn_view_cnt
			FROM
				ELIB_BESTBOOK b
			WHERE
				b.book_idx = 0
			UNION ALL
			SELECT
				b.bestbook_idx, b.book_idx, b.print_seq, b.add_id, b.add_date,
				a.book_name, a.book_pubname, a.author_name, a.book_image, a.type,
				a.date_range, a.types, a.lend_weight, a.reserve_weight, a.comment_weight, a.recommend_weight, a.audiobook_weight, a.elearning_weight,
				(SELECT z.cate_name FROM ELIB_CATEGORY z WHERE z.cate_id = a.parent_id) AS parent_name,
				(SELECT z.cate_name FROM ELIB_CATEGORY z WHERE z.cate_id = a.cate_id) AS cate_name,
				CASE WHEN a.library_code = '9999999'
					THEN '통합'
					ELSE (SELECT z.homepage_name FROM CMS_HOMEPAGE z WHERE a.library_code = SUBSTR(Z.homepage_code, 1, 8))
				END AS library_name,
				(SELECT z.comp_name FROM ELIB_COMPANY z WHERE INSTR(z.com_code, a.com_code) > 0) AS comp_name,
			   (SELECT COUNT(*) FROM elib_lend z WHERE A.book_idx = z.book_idx AND (SYSDATE - lend_dt) &lt;= a.date_range) AS lend_cnt,
			   (SELECT COUNT(*) FROM elib_reserve z WHERE A.book_idx = z.book_idx AND (SYSDATE - reserve_dt) &lt;= a.date_range) AS reserve_cnt,
			   (SELECT COUNT(*) FROM elib_comment z WHERE A.book_idx = z.book_idx AND (SYSDATE - regdt) &lt;= a.date_range) AS comment_cnt,
			   (SELECT COUNT(*) FROM elib_recommend z WHERE a.book_idx = z.book_idx AND (SYSDATE - regdt) &lt;= a.date_range) AS recommend_cnt,
			   (SELECT COUNT(*) FROM elib_audio_stat z WHERE a.book_idx = z.book_idx AND (SYSDATE - reg_dt) &lt;= a.date_range) AS audio_view_cnt,
			   (SELECT COUNT(*) FROM elib_elearn_stat z WHERE a.book_idx = z.book_idx AND (SYSDATE - reg_dt) &lt;= a.date_range) AS elearn_view_cnt
			FROM
				ELIB_BESTBOOK b,
				(
		          SELECT
		            book_idx, book_name, book_pubname, author_name, book_image, TYPE, parent_id, cate_id, library_code, com_code,
		            (SELECT value FROM elib_config WHERE name = 'date_range') AS date_range,
		            (SELECT value FROM elib_config WHERE name = 'types') AS types,
		            (SELECT value FROM elib_config WHERE name = 'lend_weight') AS lend_weight,
		            (SELECT value FROM elib_config WHERE name = 'reserve_weight') AS reserve_weight,
		            (SELECT value FROM elib_config WHERE name = 'comment_weight') AS comment_weight,
		            (SELECT value FROM elib_config WHERE name = 'recommend_weight') AS recommend_weight,
		            (SELECT value FROM elib_config WHERE name = 'audiobook_weight') AS audiobook_weight,
		            (SELECT value FROM elib_config WHERE name = 'elearning_weight') AS elearning_weight
		          FROM
		            ELIB_BOOK
		        ) a
			WHERE
				b.book_idx = a.book_idx
		)
		ORDER BY bestbook_idx
	</select>
	
	<select id="getBestBookDupCnt" resultType="int">
		SELECT COUNT(*) AS cnt FROM ELIB_BESTBOOK WHERE book_idx = #{book_idx}
	</select>
	
	<select id="getLowerBestBook" resultType="kr.go.gbelib.app.cms.module.elib.book.Book">
		SELECT
			bestbook_idx, book_idx, print_seq
		FROM
			ELIB_BESTBOOK
		WHERE
			bestbook_idx = #{bestbook_idx} + 1
	</select>
	
	<select id="getHigherBestBook" resultType="kr.go.gbelib.app.cms.module.elib.book.Book">
		SELECT
			bestbook_idx, book_idx, print_seq
		FROM
			ELIB_BESTBOOK
		WHERE
			bestbook_idx = #{bestbook_idx} - 1
	</select>
	
	<insert id="addBestBook">
		UPDATE ELIB_BESTBOOK SET
			book_idx = #{book_idx},
			add_id = #{add_id},
			add_date = SYSDATE
		WHERE
			bestbook_idx = #{bestbook_idx}
	</insert>
	
	<delete id="deleteBestBook">
		UPDATE ELIB_BESTBOOK SET
			ADD_ID = NULL,
			ADD_DATE = NULL,
			BOOK_IDX = 0
		WHERE book_idx = #{book_idx}
	</delete>
	
	<delete id="deleteBestBookByPrintSeq">
		DELETE FROM ELIB_BESTBOOK WHERE print_seq = #{print_seq}
	</delete>
	
	<update id="modifyBestBookBookIdx">
		UPDATE ELIB_BESTBOOK SET
			book_idx = #{book_idx}
		WHERE
			bestbook_idx = #{bestbook_idx}
	</update>
	
	<sql id="getNewBookListSql">
		FROM
			ELIB_BOOK a,
			ELIB_BOOKINFO b
		WHERE
			a.book_idx = b.book_idx
		AND a.use_yn = 'Y'
		AND a.type IN ('EBK', 'ADO')
		ORDER BY a.book_idx DESC
	</sql>
	
	<select id="getNewBookListCnt" resultType="int">
		SELECT COUNT(*) AS cnt
		<include refid="getNewBookListSql"/>
	</select>
	
	<select id="getNewBookList" resultType="kr.go.gbelib.app.cms.module.elib.book.Book">
		${pagingTop}
		SELECT
			a.book_idx, a.book_code, a.book_name, a.author_name, a.book_pubname, a.book_image,
			a.book_pubdt, a.book_regdt, a.add_date, a.use_yn, b.book_info, a.type
		<include refid="getNewBookListSql"/>
		${pagingBottom}
	</select>
	
	<select id="getCategoryBestBookList" resultType="kr.go.gbelib.app.cms.module.elib.book.Book">
		SELECT
			a.cat_bestbook_idx, a.book_code, a.print_seq, a.add_id, a.add_date,
			b.book_idx, b.book_name, b.book_pubname, b.author_name, b.book_image,
			a.parent_id, a.cate_id, b.lend_total,
			(SELECT z.cate_name FROM ELIB_CATEGORY z WHERE z.cate_id = a.parent_id) AS parent_name,
			(SELECT z.cate_name FROM ELIB_CATEGORY z WHERE z.cate_id = a.cate_id) AS cate_name
		FROM
			ELIB_CATEGORY_BESTBOOK a,
			ELIB_BOOK b
		WHERE
			a.book_code = b.book_code
		AND a.parent_id = #{parent_id}
		ORDER BY a.print_seq
	</select>
	
	<insert id="addCategoryBestBook">
		<selectKey keyProperty="cat_bestbook_idx" order="BEFORE" resultType="int">
			SELECT NVL(MAX(cat_bestbook_idx),0)+1 FROM ELIB_CATEGORY_BESTBOOK
		</selectKey>
	
		INSERT INTO ELIB_CATEGORY_BESTBOOK (
			cat_bestbook_idx, book_code, parent_id, cate_id, add_id, add_date, print_seq
		) VALUES (
			#{cat_bestbook_idx}, #{book_code}, #{parent_id}, #{cate_id}, #{add_id}, SYSDATE,
			(SELECT NVL(MAX(print_seq),0)+1 FROM ELIB_CATEGORY_BESTBOOK WHERE parent_id = #{parent_id} AND cate_id = #{cate_id})
		)
	</insert>
	
	<delete id="deleteCategoryBestBook">
		DELETE FROM ELIB_CATEGORY_BESTBOOK WHERE book_code = #{book_code}
	</delete>
	
	<select id="getLowerCategoryBestBook" resultType="kr.go.gbelib.app.cms.module.elib.book.Book">
		SELECT
			cat_bestbook_idx, book_code, print_seq, parent_id, cate_id
		FROM
			ELIB_CATEGORY_BESTBOOK
		WHERE
			print_seq =
			(
				SELECT NVL(MIN(print_seq),0)
				FROM ELIB_CATEGORY_BESTBOOK
				WHERE print_seq &gt; #{print_seq}
				AND parent_id = #{parent_id}
			)
		AND parent_id = #{parent_id}
		AND ROWNUM = 1
	</select>
	
	<select id="getHigherCategoryBestBook" resultType="kr.go.gbelib.app.cms.module.elib.book.Book">
		SELECT
			cat_bestbook_idx, book_idx, print_seq, parent_id, cate_id
		FROM
			ELIB_CATEGORY_BESTBOOK
		WHERE
			print_seq =
			(
				SELECT NVL(MAX(print_seq),0)
				FROM ELIB_CATEGORY_BESTBOOK
				WHERE print_seq &lt; #{print_seq}
				AND parent_id = #{parent_id}
			)
		AND parent_id = #{parent_id}
		AND ROWNUM = 1
	</select>
	
	<update id="modifyCategoryBestBookPrintSeq">
		UPDATE ELIB_CATEGORY_BESTBOOK SET
			print_seq = #{print_seq}
		WHERE
			book_code = #{book_code}
		AND parent_id = #{parent_id}
	</update>
	
	<select id="getCategoryBestBookDupCnt" resultType="int">
		SELECT COUNT(*) AS cnt
		FROM ELIB_CATEGORY_BESTBOOK
		WHERE book_code = #{book_code}
		AND parent_id = #{parent_id}
	</select>
	
	<sql id="getBookListSql">
		SELECT
		  	type, book_idx, book_name, book_pubname, author_name,
		  	parent_name, cate_name, library_name, comp_name,
			lend_cnt, reserve_cnt, comment_cnt, recommend_cnt, audio_view_cnt, elearn_view_cnt,
			(
				lend_cnt * lend_weight
				+ reserve_cnt * reserve_weight
				+ comment_cnt * comment_weight
				+ recommend_cnt * recommend_weight
				+ audio_view_cnt * audiobook_weight
				+ elearn_view_cnt * elearning_weight
			) AS rank_index
		FROM (
		  SELECT
		    a.book_idx, a.book_name, a.book_pubname, a.author_name, a.book_image, a.type,
		    a.library_code, a.com_code,
		    a.date_range, a.types, a.lend_weight, a.reserve_weight, a.comment_weight, a.recommend_weight, a.audiobook_weight, a.elearning_weight,
			(SELECT z.cate_name FROM ELIB_CATEGORY z WHERE z.cate_id = a.parent_id) AS parent_name,
			(SELECT z.cate_name FROM ELIB_CATEGORY z WHERE z.cate_id = a.cate_id) AS cate_name,
			CASE WHEN a.library_code = '9999999'
				THEN '통합'
				ELSE (SELECT z.homepage_name FROM CMS_HOMEPAGE z WHERE a.library_code = SUBSTR(Z.homepage_code, 1, 8))
			END AS library_name,
			(SELECT z.comp_name FROM ELIB_COMPANY z WHERE INSTR(z.com_code, a.com_code) > 0) AS comp_name,
		    (SELECT COUNT(*) FROM elib_lend z WHERE A.book_idx = z.book_idx AND (SYSDATE - lend_dt) &lt;= a.date_range) AS lend_cnt,
		    (SELECT COUNT(*) FROM elib_reserve z WHERE A.book_idx = z.book_idx AND (SYSDATE - reserve_dt) &lt;= a.date_range) AS reserve_cnt,
		    (SELECT COUNT(*) FROM elib_comment z WHERE A.book_idx = z.book_idx AND (SYSDATE - regdt) &lt;= a.date_range) AS comment_cnt,
		    (SELECT COUNT(*) FROM elib_recommend z WHERE a.book_idx = z.book_idx AND (SYSDATE - regdt) &lt;= a.date_range) AS recommend_cnt,
		    (SELECT COUNT(*) FROM elib_audio_stat z WHERE a.book_idx = z.book_idx AND (SYSDATE - reg_dt) &lt;= a.date_range) AS audio_view_cnt,
		    (SELECT COUNT(*) FROM elib_elearn_stat z WHERE a.book_idx = z.book_idx AND (SYSDATE - reg_dt) &lt;= a.date_range) AS elearn_view_cnt
		  FROM (
	          SELECT
	            book_idx, book_name, book_pubname, author_name, book_image, TYPE, parent_id, cate_id, library_code, com_code,
	            (SELECT value FROM elib_config WHERE name = 'date_range') AS date_range,
	            (SELECT value FROM elib_config WHERE name = 'types') AS types,
	            (SELECT value FROM elib_config WHERE name = 'lend_weight') AS lend_weight,
	            (SELECT value FROM elib_config WHERE name = 'reserve_weight') AS reserve_weight,
	            (SELECT value FROM elib_config WHERE name = 'comment_weight') AS comment_weight,
	            (SELECT value FROM elib_config WHERE name = 'recommend_weight') AS recommend_weight,
	            (SELECT value FROM elib_config WHERE name = 'audiobook_weight') AS audiobook_weight,
	            (SELECT value FROM elib_config WHERE name = 'elearning_weight') AS elearning_weight
	          FROM
	            ELIB_BOOK
		  ) a
		  WHERE
		  	INSTR(#{types}, a.type) &gt; 0
		) a
		WHERE 1=1
		<include refid="search"/>
		<include refid="sort"/>
	</sql>
	
	<select id="getBookListCnt" resultType="int">
		SELECT COUNT(*) FROM (<include refid="getBookListSql"/>)
	</select>
	
	<select id="getBookList" resultType="kr.go.gbelib.app.cms.module.elib.best.BestBook">
		${pagingTop}
		<include refid="getBookListSql"/>
		${pagingBottom}
	</select>
	
</mapper>