<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.whalesoft.app.cms.module.excursions.apply.ApplyDao">

	<!-- 견학신청자 컬럼  -->
	<sql id="field">
		homepage_id, apply_idx, excursions_idx, agency_name, agency_tel,
		agency_address, applicant_name, applicant_tel, applicant_email, age,
		guide_name, guide_tel, start_date, start_time, end_date,
		end_time, personnel, apply_state, ip, remarks,
		add_date, apply_id, applicant_member_id, member_key, self_info_yn
	</sql>

	<!-- 견학신청자 list -->
	<select id="getApply" resultType="kr.co.whalesoft.app.cms.module.excursions.apply.Apply">
		SELECT
			b.homepage_id, b.apply_idx, b.excursions_idx, b.agency_name, b.agency_tel,
			b.agency_address, b.applicant_name, b.applicant_tel, b.applicant_email, b.age,
			b.guide_name, b.guide_tel, a.start_date, a.start_time, a.end_date,
			a.end_time, b.personnel,b. apply_state, ip, b.remarks,
			b.add_date, b.apply_id, b.applicant_member_id, b.member_key, b.self_info_yn,
			(SELECT COUNT(*) FROM BLACKLIST WHERE HOMEPAGE_ID = b.HOMEPAGE_ID AND MEMBER_KEY = b.MEMBER_KEY AND INSTR(BLACK_TYPE, '40') != 0) as isBlackList
		FROM
			CMS_EXCURSIONS a, CMS_EXCURSIONS_APPLY b
		WHERE
			a.homepage_id = b.homepage_id
		AND	a.excursions_idx = b.excursions_idx
		AND	b.homepage_id = #{homepage_id}
		<if test="excursions_idx > 0">
		AND	b.excursions_idx = #{excursions_idx}
		</if>
		<if test="plan_date != null and plan_date != ''">
	 		AND a.START_DATE <![CDATA[>=]]> #{plan_date} AND a.END_DATE <![CDATA[<=]]> #{plan_date}
		</if>
		ORDER BY a.add_date
	</select>

	<select id="getApplyMonth" resultType="kr.co.whalesoft.app.cms.module.excursions.apply.Apply">
		SELECT
			b.homepage_id, b.apply_idx, b.excursions_idx, b.agency_name, b.agency_tel,
			b.agency_address, b.applicant_name, b.applicant_tel, b.applicant_email, b.age,
			b.guide_name, b.guide_tel, a.start_date, a.start_time, a.end_date,
			a.end_time, b.personnel,b. apply_state, ip, b.remarks,
			b.add_date, b.apply_id, b.applicant_member_id, b.member_key, b.self_info_yn
		FROM
			CMS_EXCURSIONS a, CMS_EXCURSIONS_APPLY b
		WHERE
			a.homepage_id = b.homepage_id
		AND	a.excursions_idx = b.excursions_idx
		AND	b.homepage_id = #{homepage_id}
		<if test="start_date != null and start_date != '' and end_date != null and end_date != ''">
		AND b.START_DATE <![CDATA[>=]]> #{start_date} AND b.END_DATE <![CDATA[<=]]> #{end_date}
		</if>
		ORDER BY a.start_date ASC, a.start_time ASC, b.apply_idx ASC
	</select>

	<!-- 사용자 신청내역 list -->
	<select id="getUserApply" resultType="kr.co.whalesoft.app.cms.module.excursions.apply.Apply">
		SELECT
			b.homepage_id, b.apply_idx, b.excursions_idx, b.agency_name, b.agency_tel,
			b.agency_address, b.applicant_name, b.applicant_tel, b.applicant_email, b.age,
			b.guide_name, b.guide_tel, a.start_date, a.start_time, a.end_date,
			a.end_time, b.personnel,b. apply_state, ip, b.remarks,
			b.add_date, b.apply_id, b.applicant_member_id, b.member_key, b.self_info_yn
		FROM
			CMS_EXCURSIONS a, CMS_EXCURSIONS_APPLY b
		WHERE
			a.homepage_id = b.homepage_id
		AND	a.excursions_idx = b.excursions_idx
		AND	b.homepage_id = #{homepage_id}
		AND b.member_key = #{member_key}
		order by a.start_date desc, a.start_time desc
	</select>

	<select id="getApplyOne" resultType="kr.co.whalesoft.app.cms.module.excursions.apply.Apply">
		SELECT
			<include refid="field" />
		FROM
			CMS_EXCURSIONS_APPLY
		WHERE
			HOMEPAGE_ID = #{homepage_id} AND apply_idx = #{apply_idx}
	</select>

	<select id="checkApply" resultType="int">
		SELECT
			COUNT(*)
		FROM
			CMS_EXCURSIONS_APPLY
		WHERE HOMEPAGE_ID = #{homepage_id} AND EXCURSIONS_IDX = #{excursions_idx} AND MEMBER_KEY = #{member_key}
	</select>

	<!-- 견학신청자 등록 -->
	<insert id="addApply">
		INSERT INTO CMS_EXCURSIONS_APPLY (
		   		<include refid="field" />
	   )VALUES (
	   		#{homepage_id}, (SELECT NVL(MAX(apply_idx),0)+1 FROM CMS_EXCURSIONS_APPLY), #{excursions_idx}, #{agency_name}, #{agency_tel},
	   		#{agency_address}, #{applicant_name}, #{applicant_tel}, #{applicant_email}, #{age},
	   		#{guide_name}, #{guide_tel}, #{start_date}, #{start_time}, #{start_date},
	   		#{end_time}, #{personnel}, '1', #{ip}, #{remarks},
	   		SYSDATE, #{apply_id}, #{applicant_member_id}, #{member_key}, #{self_info_yn}
		)
	</insert>

	<update id="modifyApply">
		UPDATE
			CMS_EXCURSIONS_APPLY
		SET
			agency_name = #{agency_name},
			agency_tel = #{agency_tel},
			agency_address = #{agency_address},
			applicant_name = #{applicant_name},
			applicant_tel = #{applicant_tel},
			applicant_email = #{applicant_email},
			age = #{age},
			guide_name = #{guide_name},
			guide_tel = #{guide_tel},
			start_time = #{start_time},
			end_time = #{end_time},
			personnel = #{personnel}
		WHERE
		 	HOMEPAGE_ID = #{homepage_id} AND apply_idx = #{apply_idx}
	</update>

	<update id="modifyApplyState">
		UPDATE
			CMS_EXCURSIONS_APPLY
		SET
			apply_state = #{apply_state}
		WHERE
		 	HOMEPAGE_ID = #{homepage_id} AND apply_idx = #{apply_idx}
	</update>

	<delete id="deleteApply">
		DELETE FROM
			CMS_EXCURSIONS_APPLY
		WHERE
		 	HOMEPAGE_ID = #{homepage_id} AND apply_idx = #{apply_idx}
	</delete>

	<delete id="deleteApplyAll">
		DELETE FROM
			CMS_EXCURSIONS_APPLY
		WHERE
			homepage_id = #{homepage_id}
		AND	excursions_idx = #{excursions_idx}
	</delete>

	<!-- 견학신청자 list -->
	<select id="getOkApply" resultType="kr.co.whalesoft.app.cms.module.excursions.apply.Apply">
		SELECT
			A.START_DATE, A.END_DATE, A.AGENCY_NAME, A.APPLY_IDX, A.EXCURSIONS_IDX, B.DATE_TYPE,
			(SELECT CODE_NAME FROM CMS_CODE C WHERE B.HOMEPAGE_ID = C.HOMEPAGE_ID AND C.CODE_ID = B.DATE_TYPE AND C.GROUP_ID = 'H0001') AS CODE_NAME,
			A.APPLICANT_MEMBER_ID, A.MEMBER_KEY, A.HOMEPAGE_ID
		FROM
			CMS_EXCURSIONS_APPLY A,
			CMS_EXCURSIONS B
		WHERE
			A.EXCURSIONS_IDX = B.EXCURSIONS_IDX AND
			A.HOMEPAGE_ID = B.HOMEPAGE_ID AND
			A.HOMEPAGE_ID = #{homepage_id} AND A.APPLY_STATE = '3'
		<if test="plan_date != null and plan_date != ''">
	 		AND (substr(A.START_DATE,1,7) = #{plan_date}
	 		OR substr(A.END_DATE,1,7) = #{plan_date})
		 </if>
	</select>

	<select id="getOkApplyIct" resultType="kr.co.whalesoft.app.cms.module.excursions.apply.Apply">
		SELECT
			A.START_DATE, A.END_DATE, A.AGENCY_NAME, A.APPLY_IDX, A.EXCURSIONS_IDX, B.DATE_TYPE,
			(SELECT CODE_NAME FROM CMS_CODE C WHERE B.HOMEPAGE_ID = C.HOMEPAGE_ID AND C.CODE_ID = B.DATE_TYPE AND C.GROUP_ID = 'H0001') AS CODE_NAME,
			A.APPLICANT_MEMBER_ID, A.MEMBER_KEY, A.HOMEPAGE_ID
		FROM
			CMS_EXCURSIONS_APPLY A,
			CMS_EXCURSIONS B
		WHERE
			A.EXCURSIONS_IDX = B.EXCURSIONS_IDX
		AND A.HOMEPAGE_ID = B.HOMEPAGE_ID
		AND A.HOMEPAGE_ID = #{homepage_id}
		AND A.APPLY_STATE = '3'
		AND A.START_DATE >= TO_DATE(#{start_date}, 'YYYY-MM-DD')
        AND A.START_DATE &lt; TO_DATE(#{end_date}, 'YYYY-MM-DD') + 1
	</select>
</mapper>