<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.go.gbelib.app.cms.module.statistics.ModuleStatisticsDao">
	
	<select id="getLockerStatistics" resultType="kr.go.gbelib.app.cms.module.statistics.ModuleStatistics">
		SELECT 
			LOCKER_PRE_IDX, LOCKER_PRE_NAME, LOCKER_PRE_TYPE, START_DATE, END_DATE
			, (SELECT COUNT(*) FROM LOCKER WHERE HOMEPAGE_ID = a.HOMEPAGE_ID AND LOCKER_PRE_IDX = a.LOCKER_PRE_IDX AND DELETE_YN = 'N') AS LOCKER_COUNT
			, (SELECT COUNT(*) FROM LOCKER_REQ WHERE HOMEPAGE_ID = a.HOMEPAGE_ID AND LOCKER_PRE_IDX = a.LOCKER_PRE_IDX AND DELETE_YN = 'N') AS LOCKER_REQ_COUNT
			, (SELECT COUNT(*) FROM LOCKER_REQ WHERE HOMEPAGE_ID = a.HOMEPAGE_ID AND LOCKER_PRE_IDX = a.LOCKER_PRE_IDX AND DELETE_YN = 'N' AND (LOCKER_IDX > 0)) AS LOCKER_USE_COUNT
		FROM 
			LOCKER_PRE a
		WHERE 
			HOMEPAGE_ID = #{homepage_id} AND DELETE_YN = 'N'
		ORDER BY START_DATE
	</select>
	
	<select id="getExcursionsStatistics" resultType="kr.go.gbelib.app.cms.module.statistics.ModuleStatistics">
		SELECT EXCURSIONS_IDX, START_DATE
			, (SELECT COUNT(*) FROM CMS_EXCURSIONS_APPLY WHERE HOMEPAGE_ID = a.HOMEPAGE_ID AND EXCURSIONS_IDX = a.EXCURSIONS_IDX) AS APPLY_COUNT
			, (SELECT COUNT(*) FROM CMS_EXCURSIONS_APPLY WHERE HOMEPAGE_ID = a.HOMEPAGE_ID AND EXCURSIONS_IDX = a.EXCURSIONS_IDX AND APPLY_STATE = 3) AS APPLY_OK_COUNT
		FROM CMS_EXCURSIONS a
		WHERE HOMEPAGE_ID = #{homepage_id}
			AND START_DATE BETWEEN #{start_date} AND #{end_date}
		ORDER BY START_DATE
	</select>
	
	<select id="getExcursionsStatisticsMonth" resultType="kr.go.gbelib.app.cms.module.statistics.ModuleStatistics">
		SELECT START_DATE, COUNT(*) AS EXCURSIONS_COUNT, SUM(APPLY_COUNT) AS APPLY_COUNT, SUM(APPLY_OK_COUNT) AS APPLY_OK_COUNT 
		FROM (
			SELECT EXCURSIONS_IDX, SUBSTR(START_DATE, 1, 7) START_DATE
				, (SELECT COUNT(*) FROM CMS_EXCURSIONS_APPLY WHERE HOMEPAGE_ID = a.HOMEPAGE_ID AND EXCURSIONS_IDX = a.EXCURSIONS_IDX) AS APPLY_COUNT
				, (SELECT COUNT(*) FROM CMS_EXCURSIONS_APPLY WHERE HOMEPAGE_ID = a.HOMEPAGE_ID AND EXCURSIONS_IDX = a.EXCURSIONS_IDX AND APPLY_STATE = 3) AS APPLY_OK_COUNT
			FROM CMS_EXCURSIONS a
			WHERE HOMEPAGE_ID = #{homepage_id}
				AND START_DATE BETWEEN #{start_date} AND #{end_date}
			ORDER BY START_DATE
			) A
		GROUP BY START_DATE
		ORDER BY START_DATE
	</select>
	
	<select id="getExcursionsStatisticsYear" resultType="kr.go.gbelib.app.cms.module.statistics.ModuleStatistics">
		SELECT START_DATE, COUNT(*) AS EXCURSIONS_COUNT, SUM(APPLY_COUNT) AS APPLY_COUNT, SUM(APPLY_OK_COUNT) AS APPLY_OK_COUNT 
		FROM (
			SELECT EXCURSIONS_IDX, SUBSTR(START_DATE, 1, 4) START_DATE
				, (SELECT COUNT(*) FROM CMS_EXCURSIONS_APPLY WHERE HOMEPAGE_ID = a.HOMEPAGE_ID AND EXCURSIONS_IDX = a.EXCURSIONS_IDX) AS APPLY_COUNT
				, (SELECT COUNT(*) FROM CMS_EXCURSIONS_APPLY WHERE HOMEPAGE_ID = a.HOMEPAGE_ID AND EXCURSIONS_IDX = a.EXCURSIONS_IDX AND APPLY_STATE = 3) AS APPLY_OK_COUNT
			FROM CMS_EXCURSIONS a
			WHERE HOMEPAGE_ID = #{homepage_id}
				AND START_DATE BETWEEN #{start_date} AND #{end_date}
			ORDER BY START_DATE
			) A
		GROUP BY START_DATE
		ORDER BY START_DATE
	</select>
	
	<select id="getFacilityStatistics" resultType="kr.go.gbelib.app.cms.module.statistics.ModuleStatistics">
		SELECT FACILITY_NAME, USE_DATE, LIMIT_COUNT
			, (SELECT COUNT(*) FROM FACILITY_REQ WHERE HOMEPAGE_ID = a.HOMEPAGE_ID AND FACILITY_IDX = a.FACILITY_IDX) AS APPLY_COUNT
		FROM FACILITY_MANAGE a
		WHERE HOMEPAGE_ID = #{homepage_id} AND DELETE_YN = 'N'
			AND USE_DATE BETWEEN #{start_date} AND #{end_date}	
		ORDER BY USE_DATE
	</select>
		
	<select id="getFacilityStatisticsMonth" resultType="kr.go.gbelib.app.cms.module.statistics.ModuleStatistics">
		SELECT USE_DATE, SUM(LIMIT_COUNT) AS LIMIT_COUNT, SUM(APPLY_COUNT) AS APPLY_COUNT, COUNT(*) AS FACILITY_COUNT
		FROM (
			SELECT HOMEPAGE_ID, FACILITY_NAME, SUBSTR(USE_DATE, 1, 7) AS USE_DATE, LIMIT_COUNT
				, (SELECT COUNT(*) FROM FACILITY_REQ WHERE HOMEPAGE_ID = a.HOMEPAGE_ID AND FACILITY_IDX = a.FACILITY_IDX) AS APPLY_COUNT
			FROM FACILITY_MANAGE a
			WHERE HOMEPAGE_ID = #{homepage_id} AND DELETE_YN = 'N'	
				AND USE_DATE BETWEEN #{start_date} AND #{end_date}
			ORDER BY USE_DATE
		)
		GROUP BY USE_DATE
	</select>
	
	<select id="getFacilityStatisticsYear" resultType="kr.go.gbelib.app.cms.module.statistics.ModuleStatistics">
		SELECT USE_DATE, SUM(LIMIT_COUNT) AS LIMIT_COUNT, SUM(APPLY_COUNT) AS APPLY_COUNT, COUNT(*) AS FACILITY_COUNT
		FROM (
			SELECT HOMEPAGE_ID, FACILITY_NAME, SUBSTR(USE_DATE, 1, 4) AS USE_DATE, LIMIT_COUNT
				, (SELECT COUNT(*) FROM FACILITY_REQ WHERE HOMEPAGE_ID = a.HOMEPAGE_ID AND FACILITY_IDX = a.FACILITY_IDX) AS APPLY_COUNT
			FROM FACILITY_MANAGE a
			WHERE HOMEPAGE_ID = #{homepage_id} AND DELETE_YN = 'N'	
				AND USE_DATE BETWEEN #{start_date} AND #{end_date}
			ORDER BY USE_DATE
		)
		GROUP BY USE_DATE
	</select>
	
</mapper>