@charset "utf-8";
@import url("../../../common/css/type14_yd.css");

#wrap{background-image:url('../img/bg.jpg')}

.main1 .txt{height:123px;padding-bottom:28px}
.main1 .txt .t1,
.main1 .txt .t1 strong{font-size:28px}
.main1 .txt .t1 strong{color:#f05015}

.main2 .lt3{position:relative;overflow:hidden}
/*
.main2 .lt3 .more{background:url('/resources/common/img/type14/lt-more1.gif') no-repeat center center;border-color:#aaa}
.main2 .lt3{background:#04539e}
.main2 .lt3{position:relative;overflow:hidden}
.main2 .lt3 h3{padding:15px 18px 13px;color:#232323;border-left:1px solid #e3e3e3;border-right:1px solid #e3e3e3;background:#fff}
.main2 .lt3 .box{padding:0}
.main2 .lt3 .bx-pager{display:none}
.main2 .lt3 ul.lt_photo{padding-top:0;margin:0}
.main2 .lt3 ul.lt_photo li{width:auto;display:block;text-align:center}
.main2 .lt3 ul.lt_photo li a{margin:0}
.main2 .lt3 ul.lt_photo li span{background:#04539e;color:#fff;left:0}
.main2 .lt3 ul.lt_photo li span,
.main2 .lt3 .bx-controls-direction{top:125px;position:absolute;width:100%;height:30px;line-height:30px}
.main2 .lt3 .bx-controls-direction{top:185px;z-index:999}
.main2 .lt3 .bx-controls-direction a{display:block;font-size:0;line-height:0;width:30px;height:30px;background:#04539e url('../img/lt3bt.gif') no-repeat 0 0}
.main2 .lt3 .bx-controls-direction a.bx-prev{float:left}
.main2 .lt3 .bx-controls-direction a.bx-next{float:right;background-position:-30px 0}
*/

@media all and (max-width:1000px){
	.main2 .lt3 h3{border-right-width:0}
}
@media all and (max-width:695px){
	.main2 .lt3 h3{border-top:1px solid #e3e3e3}
}
@media all and (max-width:580px){
	.main2 .lt3 h3{border-right-width:1px;border-top-width:0}
	/*.main2 .lt3 ul.lt_photo li span,
	.main2 .lt3 .bx-controls-direction{top:inherit;bottom:0}*/
}

/* 인사말 수정20170115 */
.greeting{background:url('../img/contents/greetingBg.jpg') no-repeat 0 10px;background-size:45% auto}
.greeting .box{padding:2%}
.greeting p{padding:0 0 20px}

/*.greeting p.tit strong{font-size:190%;color:#4c8cbc;padding:0 0 5px;line-height:120%}*/
.greeting p.tit strong{font-size:210%;color:#4c8cbc;padding:0 0 5px;line-height:120%}

.greeting p.tit strong,
.greeting p.tit span{display:block}
/*.greeting p.tit span{font-size:12px;line-height:140%;letter-spacing:-1px}*/
.greeting p.tit span{font-size:16px;line-height:143%;letter-spacing:-0.03em;color: #333;padding-left: 3px;}

/*.greeting p.sign{font-size:110%;text-align:right;padding-top:10px}
.greeting p.sign b{font-size:120%;color:#333;letter-spacing:-1px}*/
.greeting .sign{padding:15px 0 0;font-size:110%;text-align:right;}
.greeting .sign span{color:#888;display:inline-block;zoom:1;*display:inline;vertical-align:middle}
.greeting .sign span.name{margin-left:5px}
.greeting .txt{padding-left:46%}
@media all and (max-width:565px){
	.greeting{background-size:250px auto;background-position:center 0}
	.greeting .txt{padding:160px 0 0}
}
@media all and (max-width:405px){
	.greeting{background-position:center 20px}
	.greeting .txt{padding:130px 0 0}
}
/* 연혁 */
.history-head{background:url('../img/contents/history_bg.gif') no-repeat 0 0;padding-left:22%}
.history-head .t1{color:#4c8cbc}
@media all and (max-width:767px){
	.history-head{padding-left:0;padding-right:20%;background-position:right 0;background-size:120px auto}
}

/* CI 로고 */
.ciInfo1 .txt-box{margin-bottom:10px}
.ciInfo1 .txt-box .inBox{overflow:hidden}
.ciInfo1 .txt-box p{width:50%;float:left}
.ciInfo1 p{text-align:center}
.ciInfo1 p img,
.ciInfo1 p strong,
.ciInfo1 p span{display:inline-block;zoom:1;*display:inline;vertical-align:bottom}
.ciInfo1 p strong{padding-left:10px}
.ciInfo1 p strong,
.ciInfo1 p span{padding-bottom:10px}

/* 실별안내 */
.roomGuideTab{background:url('/resources/homepage/yd/img/contents/sofa.jpg') no-repeat 0 center;padding-left:33%}


/* 도서관협력망서비스 20170114hjh*/
.info_bg01{ border: 1px solid #ddd;background: url(/resources/homepage/yd/img/contents/new_hjh/libco01_01tbg.gif) no-repeat left top;
padding:20px 15px 20px 215px; margin-bottom:25px;height:90px;}
.info_stit01{color: #0668b3 !important;background: url(/resources/homepage/yd/img/contents/new_hjh/libco01_02ico.gif) no-repeat 0px;padding-left: 30px !important;}
.info_prod{background-color: #f8f8f8; padding: 20px 0 11px; margin: 0 auto 0px 30px;}

.info_bg02{ border: 1px solid #ddd;background: url(/resources/homepage/yd/img/contents/new_hjh/libco02_01tbg.gif) no-repeat left top;
padding:20px 15px 20px 215px; margin-bottom:25px;}
.info_stit02{color: #f37200 !important;background: url(/resources/homepage/yd/img/contents/new_hjh/libco02_02ico.gif) no-repeat 0px;padding-left: 30px !important;}

.info_bg03{ border: 1px solid #ddd;background: url(/resources/homepage/yd/img/contents/new_hjh/libco03_01tbg.gif) no-repeat left top;
padding:20px 15px 20px 215px; margin-bottom:25px;}
.info_stit03{color: #4f8c05 !important;background: url(/resources/homepage/yd/img/contents/new_hjh/libco03_02ico.gif) no-repeat 0px;padding-left: 30px !important;}

.libco_sp40{margin-left:35px;}



/* 도서관서비스 20170115hjh*/
.circle_tbg01{ border: 1px solid #ddd;background: url(/resources/homepage/yd/img/contents/new_hjh/circle_tbg.jpg) no-repeat left top;
padding:20px 15px 20px 215px; margin-bottom:25px}

/* 전자자료 20170115hjh*/
.edata_tbg01{ border: 1px solid #ddd;background: url(/resources/homepage/yd/img/contents/new_hjh/edata_tbg.jpg) no-repeat left top;
padding:20px 15px 20px 215px; margin-bottom:25px}


@media screen and (max-width:1000px){
	.roomGuideTab{background-size:75% auto}
}
@media screen and (max-width:767px){
	.roomGuideTab{background-size:90% auto;background-position:center 0;padding:10% 0 0;margin-bottom:20px}
}

.doc-body .txt-box.bookj1{background-image:url('/resources/homepage/yd/img/contents/bookj1.jpg');
background-repeat:no-repeat;background-position:10px center;padding-left:150px}
.doc-body .txt-box.bookj1 ul{margin-top:5px}
@media screen and (max-width:450px){
	.doc-body .txt-box.bookj1{background-position:center 15px;padding-left:3%;padding-top:100px}
}

.cont262{background:url('/resources/homepage/yd/img/contents/img262.jpg') no-repeat 0 0;padding-left:220px}
.cont263{background:url('/resources/homepage/yd/img/contents/img263.jpg') no-repeat 0 0;padding-left:220px}
.cont264{background:url('/resources/homepage/yd/img/contents/img264.jpg') no-repeat 0 0;padding-left:220px}
@media screen and (max-width:767px){
	.cont262,
	.cont263,
	.cont264{background:none;padding:0}
}

/* 자료실안내 */
.room-pic{font-size:200%;line-height:100%}
/* 독서회 */
.aura{background:url('../img/contents/cm_bg.png') no-repeat right bottom}

/* 접속기록안내 */
#memberInfo{position:absolute;width:22%;left:98%;top:27%;background:#fff;margin-left:-35%;box-shadow:0px 1px 7px 0px rgba(0,0,0,0.5);z-index: 9;}
#memberInfo .inbox{position:relative;border:1px solid #ccc;padding:10px;}
#memberInfo .inbox dt{font-weight:bold;font-family:verdana;padding-bottom: 10px;}
#memberInfo .inbox dd{padding:3px 0}
a#closeMemberInfo{position:absolute;right:7px;top:5px;font-size:120%}
#line{width: 160px;}
div.loginInfo{padding-top: 8px;padding-bottom: 15px;}
span.fontRed{color: red;}
span.fontBlue{color: rgb(27,104,199);font-weight: bold;}
div.memberCon{background-color: rgb(240,240,240);border-radius: 1em;}
div.memberCon2{padding-top: 12px;padding-left: 10px;padding-right: 10px; padding-bottom: 28px;}
a.btnStyle{float: right;margin-top: 6px;}
#loginIcon{padding-top: 13px;padding-left:10px;}
.boxnImg{ float: left; }
.box2_1 { float: left; width: 34%; }
.box3_1 { float: left; width: 38%; border-left: 1px solid #ddd; }
.boxn { padding-top: 1%; padding-bottom: 1%; padding-left: 5%; }



@media screen and (max-width:1000px){
	.aura{background-size:40% auto}
}
/* 이메일무단수집거부 */
.emailno{padding-left:23%!important;background-image:url('../img/contents/emainno.jpg');background-position:3% 15px;background-repeat:no-repeat}
@media all and (max-width:1000px){
	.emailno{background-size:17% auto}
}
@media all and (max-width:1000px){
	#header h1{width:150px}
}
@media all and (max-width:767px){
	.main1 .txt .t1{line-height:110%}
}

@media all and (max-width:695px){
	.main1 .txt{height:164px}
}