@charset "utf-8";
@import url('/survey/resources/css/paging.css');

body.survey{background:#fff}
#wrap{width:100%}
#contArea{padding:0 2%;margin:0 auto}
#contArea.wid800{padding:0;background:#fff}

#contArea .viewPage{background-position:right top;padding-bottom:5px}
#contArea .editPage{background-position:right top;padding-bottom:10px}

/* topArea */
#contArea .brdTop{width:100%;background-size:cover}
#contArea .brdTop h1{color:#009bdf;font-weight:bold;font-size:30px;padding:20px 0}
#contArea .brdTop .description{width:100%;line-height:140%}
#contArea .brdTop .txt1{border:1px solid #fff;height:25px;float:left;padding:0 5px}
#contArea .brdTop .btn_search{display:inline-block;*display:inline;zoom:1;width:53px;height:27px;font-size:0;line-height:0;background:url('/survey/resources/img/btn_search.gif') no-repeat}
#contArea .brdTop .em{color:#6a68cf}

#contArea .brdTop_01{height:40px}
#contArea .brdTop_01 h1{color:#fff;font-weight:bold;font-size:23px;padding:13px 0 13px 20px}
#contArea .brdTop_02{width:100%;min-height:449px;margin:0 0 10px;background:url('/survey/resources/img/bg_top_03.jpg');background-color:#73b8fd;background-repeat:no-repeat;background-position:center top;background-size:100% 449px;overflow:hidden}
#contArea .brdTop_02 h1{height:40px;color:#3b8bd2;font-weight:bold;font-size:23px;padding:30px 0 10px 0;margin:0 20px;border-bottom:2px solid #73b8fd}

@media screen and (max-width:650px){
    #contArea .brdTop h1{color:#009bdf;font-weight:bold;font-size:18px;padding:20px 0}
    #contArea .brdTop_01 h1{font-size:18px}
    #contArea .brdTop_02 h1{font-size:18px}
}


/* -------------------------------------
*   Board 
* -------------------------------------- */
/* Board List */
.boardList .list{
width:100%;background:url('/survey/resources/img/bg_brd.gif') left top no-repeat;margin-bottom:20px;
-webkit-box-shadow: 3px 3px 3px -1px rgba(170,204,233,1);-moz-box-shadow: 3px 3px 3px -1px rgba(170,204,233,1);box-shadow:3px 3px 3px -1px rgba(170,204,233,1);
}
.boardList .list thead th{font-family:'NanumGothic';color:#fff;padding:10px 0 9px;text-align:center;position:relative;*background:none;height:27px;vertical-align:top}
.boardList .list thead th span{position:absolute;top:14px}
.boardList .list thead th span a{padding:5px 3px;display:block}
.boardList .list tbody td{background:#fff;border-bottom:1px solid #f9fcfe;text-align:center;padding:11px 0 8px 0;vertical-align:top;white-space:nowrap;word-break:break-all !important;color:#a0a0a0}
.boardList .list tbody td .ico_notice{display:inline-block;width:39px;height:19px;font-size:0}
.boardList .list tbody td.aL{text-align:left;padding-left:10px}
.boardList .list tbody td a{text-decoration:none}
.boardList .list tbody td a:hover{color:#9168cf}
.boardList .list tbody td label{margin-right:10px}

/* Board View */
.boardView{position:relative;float:left;width:750px;z-index:1;background:url('/survey/resources/img/bg_brd.gif') left top no-repeat;padding:8px 0 0}
.boardView .view{width:100%;background:#fff;-webkit-box-shadow: 3px 3px 3px -1px rgba(170,204,233,1);-moz-box-shadow: 3px 3px 3px -1px rgba(170,204,233,1);box-shadow:3px 3px 3px -1px rgba(170,204,233,1)}
.boardView .view tbody th, td{border-bottom:1px solid #f9fcfe;text-align:center;padding:11px 0 8px 0;vertical-align:top;white-space:nowrap;word-break:break-all !important;color:#a0a0a0}
.boardView .view tbody th{color:#333;background:url('/survey/resources/img/vline.gif') no-repeat right 16px !important}
.boardView .view tbody td{border-bottom:1px solid #f9fcfe}
.boardView .view tbody td.aL{text-align:left;padding-left:20px}
.boardView .view tbody td .address{color:#20b6ee}
.boardView .view tbody td .btn_copyUrl{display:inline-block;*display:inline;zoom:1;width:76px;height:21px;font-size:0;line-height:0;vertical-align:middle;background:url('/survey/resources/img/btn_copy_url.gif') no-repeat;margin-left:15px}

/* Board > Button */
.brdBtn{clear:both;width:100%;text-align:center;padding:10px 0 20px;position:relative;z-index:0}
.brdBtn a.button{color:#fff;background:#2052a5;font-size:1.1em;text-decoration:none;padding:4px 12px 4px;position:relative;display:inline-block;
-webkit-transition:border-color .218s;-moz-transition:border .218s;-o-transition:border-color .218s;transition:border-color .218s;
-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;margin:0 2px;letter-spacing:-0.2pt}
.brdBtn a.button:hover{background:#76a4f2}
.brdBtn a.button:active{background:#2052a5}
.brdBtn a.button.sky{background:#0f8eef}
.brdBtn a.button.sky:hover{background:#0fb2ef}
.state{display:inline-block;*display:inline;zoom:1;width:62px;height:24px;font-size:0;line-height:0;vertical-align:middle}
.state.ing{background:url('/survey/resources/img/btn_ing.gif') no-repeat}
.state.over{background:url('/survey/resources/img/btn_over.gif') no-repeat}

/* Board Edit */
.boardEdit{position:relative;float:left;width:750px;z-index:1;background:url('/survey/resources/img/bg_brd.gif') left top no-repeat;padding:5px 0 0}
.boardEdit .edit{width:100%;background:#fff;border-bottom:2px solid #6d95d1;-webkit-box-shadow: 3px 3px 3px -1px rgba(170,204,233,1);-moz-box-shadow: 3px 3px 3px -1px rgba(170,204,233,1);box-shadow:3px 3px 3px -1px rgba(170,204,233,1)}
.boardEdit .edit input[type="text"], .boardEdit .edit input[type="password"]{background:#e1f0fc;border:1px solid #c1d8eb;padding-left:7px;height:22px}
.boardEdit .edit tbody th, td{border-bottom:1px solid #f9fcfe;text-align:center;padding:11px 0 8px 0;vertical-align:top;white-space:nowrap;word-break:break-all !important;color:#a0a0a0}
.boardEdit .edit tbody th{color:#333;background:url('/survey/resources/img/vline.gif') no-repeat right 16px !important}
.boardEdit .edit tbody td{border-bottom:1px solid #f9fcfe}
.boardEdit .edit tbody td.aL{text-align:left;padding-left:20px}
.boardEdit .edit tbody td .em{clear:both;color:#20b6ee}
.boardEdit .edit tbody td label{float:left;margin-right:20px}
.boardEdit .edit input[type="radio"]{float:left;height:22px;margin-right:3px}
.boardEdit .edit .item .i_text{width:708px;border:1px solid #ccc}


/* -------------------------------------
*   Survey Manage 
* -------------------------------------- */
.surveyManage{background:url('/survey/resources/img/bg_manage.gif') no-repeat}
.surveyManage h2{color:#fff;font-size:17px;padding:10px 0 9px 45px}
.surveyManage .items{background:#fff;padding:10px 0 20px;-webkit-box-shadow: 3px 3px 3px -1px rgba(170,204,233,1);-moz-box-shadow: 3px 3px 3px -1px rgba(170,204,233,1);box-shadow:3px 3px 3px -1px rgba(170,204,233,1)}
.surveyManage .inManage{width:100%}
.surveyManage .inManage tbody th, td{border:none;padding:11px 0 8px 0}
.surveyManage .inManage tbody td.aL{text-align:left}
.surveyManage .inManage tbody td .number{color:#8e8e8e;margin-right:5px;vertical-align:middle}

/*  Survey Manage > Button */
.surveyManage .manage{display:inline-block;*display:inline;zoom:1;font-size:0;line-height:0;vertical-align:middle}
.surveyManage .btn_view{width:104px;height:29px;background:url('/survey/resources/img/btns.gif') no-repeat}
.surveyManage .btn_view:hover{background-position:-144px top}
.surveyManage .btn_edit{width:104px;height:29px;background:url('/survey/resources/img/btns.gif') left -49px no-repeat;margin-left:3px}
.surveyManage .btn_edit:hover{background-position:-144px -49px}
.surveyManage .btn_analysis{width:119px;height:29px;background:url('/survey/resources/img/btns.gif') left -98px no-repeat}
.surveyManage .btn_analysis:hover{background-position:-144px -98px}
.surveyManage .btn_change{width:100px;height:24px;background:url('/survey/resources/img/btns.gif') -319px top no-repeat;margin-left:3px}
.surveyManage .btn_check{width:100px;height:24px;background:url('/survey/resources/img/btns.gif') -319px -44px no-repeat;margin-left:3px}

/* -------------------------------------
*   Guide 
* -------------------------------------- */
#contArea .guide{clear:both;border:3px solid #63ade8;background:#fff;border-radius:10px}
#contArea .guide ul{margin:15px 18px}
#contArea .guide ul li{font-family:'Dotum';font-size:12px;background:url('/survey/resources/img/ico_list.gif') no-repeat left 2px;padding-left:19px;line-height:140%;margin-bottom:9px}
#contArea .guide ul li em{font-weight:bold;color:#1fa4f0}
#contArea .guide .inBox{background:#ebf5fd;border:1px solid #e7eff5;width:710px;margin:0 auto;overflow:auto;*padding-bottom:10px}
#contArea .guide .inBox .tit{float:left;margin:13px 0 0 16px}
#contArea .guide .inBox .under{margin-top:3px}
#contArea .guide .inBox ul.list{float:left;margin:10px 0 0 13px}
#contArea .guide .inBox ul.list li{float:left;width:88px;height:27px;padding:0;margin:0 3px 5px 0;line-height:200%;text-align:center}
#contArea .guide .inBox ul.QType li{background:url('/survey/resources/img/bg_Qtype.gif') no-repeat}
#contArea .guide .inBox ul.AType{margin:0 0 8px 13px}
#contArea .guide .inBox ul.AType li{background:url('/survey/resources/img/bg_Atype.gif') no-repeat}
#contArea .guide .inBox a{color:#fff;font-weight:bold;text-decoration:none;display:block}

/* -------------------------------------
*   MySurvey
* -------------------------------------- */
#contArea .mysurvey_list li{margin-bottom:5px;font-size:13px;color:#767676}
.mysurvey .list{background:url('/survey/resources/img/bg_brd_01.gif') left top no-repeat}
.mysurvey .list tbody th{background:#63bcec;border-bottom:1px solid #d9e4ec;color:#fff}
.mysurvey .list tbody td{vertical-align:middle;border-bottom:1px solid #eaf1f6}
.mysurvey .list tbody td.aL{padding-left:20px}
.mysurvey .list tbody td.move span{margin:0 2px}
.priority{margin-bottom:10px}
.priority span{color:#3fb376;font-weight:bold}
.priority select{margin-right:14px}
.mysurvey .list input[type="text"], .boardList input[type="password"]{background:#e1f0fc;border:1px solid #c1d8eb;padding-left:7px;height:22px}
.mysurvey .list input[type="checkbox"]{border:none;height:22px;margin:0 5px 0 0}
.mysurvey .list input[type="radio"]{height:22px;margin-right:3px}
.mysurvey .list .current_type{width:460px;overflow:hidden;white-space:normal;word-break:break-all;color:#038bd5;background:url('/survey/resources/img/ico_current.gif') no-repeat left 3px;padding-left:20px;font-weight:bold;margin:6px 0 10px}
.mysurvey .list .thumb img{max-width:470px;margin-bottom:8px}

/* MySurvey > smartEditor */
.boardEdit.mysurvey{background:url('/survey/resources/img/bg_brd_01.gif') left top no-repeat;padding:5px 0 0}
.boardEdit.mysurvey .edit .i_text{clear:both;width:628px;border:1px solid #ccc}
.boardEdit.mysurvey .edit #attach_area .fileUploader .fileListArea{width:290px}
.boardEdit.mysurvey .edit input[type="checkbox"]{float:left;border:none;height:22px;margin:0 5px 0 0}

/* MySurvey > in 테이블 */
.mysurvey .list .in_tbl{margin-bottom:10px;border-collapse:collapse}
.mysurvey .list .in_tbl thead th{color:#666;background:#f9f9f9;border:1px solid #e9e9e9;padding:5px 0 3px}
.mysurvey .list .in_tbl tbody td{border:1px solid #e9e9e9;padding:5px 0 3px;font-size:11px}

/* MySurvey > 세부항목작성 */
.boardEdit.mysurvey .edit .btn{display:inline-block;*display:inline;zoom:1;vertical-align:middle;margin-left:5px}
.boardEdit.mysurvey .edit .before_click{padding-bottom:4px}
.boardEdit.mysurvey .edit .after_click{clear:both;padding-bottom:30px}
.boardEdit.mysurvey .edit .after_click input{float:left}
.boardEdit.mysurvey .edit .after_click input[type="checkbox"]{margin:0px 3px 0 10px}
.boardEdit.mysurvey .edit tbody th{vertical-align:middle;background-position:right 50% !important}

/* MySurvey > 사용자화면 */
.brdTop_02 .survey_info_wrap{width:92%;margin:25px auto}
.brdTop_02 .survey_info{width:100%;min-height:350px;text-align:center;filter:alpha(opacity=85);-webkit-box-shadow:inset 2px 3px 10px 0px rgba(187,187,187,1);-moz-box-shadow:inset 2px 3px 10px 0px rgba(187,187,187,1);box-shadow:inset 2px 3px 10px 0px rgba(187,187,187,1);background:rgba(255,255,255,0.85);Filter:shadow(color=black,direction=135)}
.brdTop_02 .survey_info .description{min-height:230px;color:#454545;padding:15px;font-size:13px;line-height:20px;overflow:hidden;white-space:normal;word-break:break-all;margin-bottom:12px;text-align:justify;border-radius:10px;-webkit-border-radius:10px;-moz-border-radius:10px;-o-border-radius:10px}
.brdTop_02 .contact{display:block;width:303px;height:36px;margin:0 auto;color:#fff;text-align:center;line-height:180%;background:url('/survey/resources/img/bg_tell.png') left top no-repeat}
.brdTop_02 .contact span{display:block;padding:5px 0 0 25px;letter-spacing:-0.05em}
.brdTop_02 .contact img{vertical-align:middle;margin-bottom:3px}

@media screen and (max-width:650px){
     .brdTop_02 .survey_info .contact{font-size:14px}
}

.surveyList{display:block;padding:20px;margin:20px auto;background:#f7f7f7 url('/survey/resources/img/bg_poll_line.gif') left top repeat-y;background-size:100% auto}
.surveyList .list{width:100%;overflow:hidden;border:0}
.surveyList .list tbody td{padding-bottom:20px;word-break:break-all;white-space:normal;border:0}
.surveyList .list tbody td.qustionNum{min-width:50px;font-size:18px;line-height:18px;
font-weight:bold;background:url('/survey/resources/img/bg_circle_question.png') no-repeat;color:#fff;padding:16px 0}
.surveyList .list tbody td.qustion{text-align:left;padding-left:10px;padding-bottom:0;color:#009ae1;font-weight:bold;font-size:14px;border-top:1px dashed #f0f0f0;line-height:120%}
.surveyList .list tbody td.aL{text-align:left;padding-left:10px}
.surveyList .list tbody td input[type="text"]{background:#e1f0fc;border:1px solid #c1d8eb;padding-left:7px;height:22px}

.surveyList .list tbody td .in_tbl{width:100%;margin-bottom:10px;border-collapse:collapse}
.surveyList .list tbody td .in_tbl thead th{font-size:14px;color:#666;background:#f9f9f9;border:1px solid #e9e9e9;padding:5px 0 3px;text-align:center}
.surveyList .list tbody td .in_tbl tbody td{border:1px solid #e9e9e9;padding:5px 3px 3px;font-size:12px;color:#767676}
.surveyList .list tbody td .in_tbl tbody td.aL{text-align:left}
.surveyList .list tbody td .in_tbl tbody td input[radio]{font-size:11px}

.clrB{clear:both}
.screen_out{font-size:0;line-height:0}