@charset "utf-8";
@import url("../../../common/css/type27.css");

/* 시설현황 */
.floor li{padding:0 0 10px}
.floor li,
.floor li p{font-size:0;line-height:0;display:inline-block;zoom:1;*display:inline}
.floor li p{border:1px solid #d8d3c4}

/* 실별안내 */
#photo_list{overflow:hidden;background:#f7f7f7;padding:3%}
#photo_list .pic{float:left;width:230px;padding-top:20px}
#photo_list .data_info{float:left;width:100%;margin-right:-230px}
#photo_list .data_info .box{margin-right:230px;padding-left:40px}
@media all and (max-width:580px){
	#photo_list .pic{width:100%;text-align:center}
	#photo_list .data_info,
	#photo_list .data_info .box{margin:0;padding:0}
}

/* 인사말 */
/*.greeting .t1{font-size:190%;letter-spacing:-1px;background:url('../img/contents/greeting_bg.jpg') no-repeat right bottom}*/
.greeting .t1{font-size:190%;letter-spacing:-1px;padding: 20px 0 25px 35px;border-bottom: 1px solid #cdcdcd;width: 400px}
.greeting .box{padding:20px 260px 60px 0;background:url('/resources/homepage/cg/img/contents/greeting_bg.jpg') no-repeat right 40%}

/*.greeting .gtxt{border:1px solid #ddd;border-radius:5px;background:#fcfcfc;padding:20px}*/
.greeting .gtxt{padding:20px}
.greeting .txt p{padding:0 0 10px;font-size:105%;line-height:200%}
.greeting .sign{padding:15px 0 0;font-size:120%}
.greeting .sign span{color:#888;display:inline-block;zoom:1;*display:inline;vertical-align:middle}
.greeting .sign span.name{margin-left:5px}
@media all and (max-width:767px){
	.greeting .t1{background-position:right 0;background-size:15%}
	.greeting .box{padding-right:5%}
}
@media all and (max-width:600px){
	.greeting .t1{background-position:right bottom;background:none}
	.greeting .box{background:url('/resources/homepage/cg/img/contents/greeting_bg.jpg') no-repeat right bottom;background-size:100%}
}

/* 인사말 추가 20170114hjh*/
.greeting{background:url('/resources/homepage/cg/img/contents/introd_bg.gif') no-repeat left top}

/* 뷰어다운로드 */
.viewer_down li div{padding:7px 0 0}

/* 콘텐츠 */
.color1{color:#095077}
.color2{color:#729c35}

/* 접속기록안내 */
#memberInfo{position:absolute;width:22%;left:98%;top:40%;background:#fff;margin-left:-37%;box-shadow:0px 1px 7px 0px rgba(0,0,0,0.5);z-index: 9;}
#memberInfo .inbox{position:relative;border:1px solid #ccc;padding:10px;}
#memberInfo .inbox dt{font-weight:bold;font-family:verdana;padding-bottom: 10px;}
#memberInfo .inbox dd{padding:3px 0}
a#closeMemberInfo{position:absolute;right:7px;top:5px;font-size:120%}
#line{width: 160px;}
div.loginInfo{padding-top: 8px;padding-bottom: 15px;}
span.fontRed{color: red;}
span.fontBlue{color: rgb(27,104,199);font-weight: bold;}
div.memberCon{background-color: rgb(240,240,240);border-radius: 1em;}
div.memberCon2{padding-top: 12px;padding-left: 10px;padding-right: 10px; padding-bottom: 28px;}
a.btnStyle{float: right;margin-top: 6px;}
#loginIcon{padding-top: 13px;padding-left:10px;}
.boxnImg{ float: left; }
.box2_1 { float: left; width: 34%; }
.box3_1 { float: left; width: 38%; border-left: 1px solid #ddd; }
.boxn { padding-top: 1%; padding-bottom: 1%; padding-left: 5%; }


/*20211012 일정 부분 추가*/
.calendar_box {position:absolute;border-top:1px solid #e4e4e4;border-bottom:1px solid #e4e4e4;margin-top:-1px}
.inBox1 div.title, .inBox1 div.contents{float:left}
.inBox1 div.title {width:204px;color:#fff;font-size:17px;background:#909090;text-align:center;padding:10px 0}
.inBox1 div.contents dl.info {padding:8px 0 4px 20px}
.inBox1 div.contents dl.info span {display:inline-block;font-weight:bold;font-size:13px;padding:5px 8px;border-radius:15px;background:#f43b40;color:#fff}

@media all and (max-width:1165px){
	.main .banner-wrap .banner-t h3{letter-spacing:-1px}
	.main .banner-wrap .banner-t .control a.next{display:none}
}
@media all and (max-width:1000px){
	.main1,.main2,.main3,.main4{overflow:visible}
	.main3{width:auto;float:none}
	.main3 .lt1{display:none}
	.main3 .lt2{width:100%}
	.main3 .lt3 .box{border-top-width:0}
	.main3 .lt3,
	.main4{width:50%;margin-top:-1px;margin-top:0}

	.main3 .lt2 .box{border-left-width:0;border-right-width:0}
	.main4 .box{border-width:0;border-left-width:1px}
}
@media all and (max-width:767px){
	.main4{width:100%}
	.main3 .box,
	.main4 .box{height:auto}
	.main4 .box ul{margin:0}
	.main3 .lt2 .box{border-right-width:0}
	.inBox1 div.title, .inBox1 div.contents{float:none}
	.inBox1 div.title {width:100%;}
	.inBox1 div.contents {text-align:center}
	.inBox1 div.contents dl.info {padding:6px 0 4px 0}
}
@media all and (max-width:550px){
	.main3 .lt2 .box{margin-left:0}
}


/* 211026 검색바 추가 */
.search-box{position:absolute;top:485px;right:39%;width:426px;z-index:1000}
.search-box fieldset{position:relative;border:3px solid #f27719;background:#fff;padding-left:10px;overflow:hidden}
.search-box input{border:0;background:#fff;width:100%}
.search-box input:focus{outline:none}
.search-box input,
.search-box button{height:38px;line-height:38px}
.search-box button{float:right;width:90px;text-align:center;background:#f27719;color:#fff;margin-right:-3px;font-weight:bold}
.search-box .box1{float:left;width:100%;margin-right:-90px}
.search-box .box2{margin-right:90px}

@media all and (max-width:1000px){
	.search-box{top:300px;right:20px;left:auto;}
}

@media all and (max-width:767px){
	.search-box{top:490px;left:12px;width:calc(100% - 24px);}
}