@charset "utf-8";
/*메인타입 - 04 import*/
@import url("/resources/common/css/layout/main_type04.css");

/*팝업존+공지타입 - 01 import*/
@import url("/resources/common/css/layout/notice_type01.css");

/*일정+행사타입 - 01 import*/
@import url("/resources/common/css/layout/culture_type02.css");

/*도서타입 - 01 import*/
@import url("/resources/common/css/layout/book_type01.css");

/*큐레이션타입 - 01 import*/
@import url("/resources/common/css/layout/curation_type03.css");

.blind{position:absolute;top:0;left:0;width:0;height:0;overflow:hidden;font-size:0;line-height:0;text-indent:-999px}

#header h1{padding-top:18px;}

#main0 .main-visual .swiper-slide.mvimg03 {background: url('/resources/homepage/ad/img/main/main0-bg3.jpg') no-repeat -170px bottom;background-size:cover;}
#main0 .main-visual .swiper-slide.mvimg02 {background: url('/resources/homepage/ad/img/main/main0-bg2.jpg') no-repeat center bottom;background-size:cover;}
#main0 .main-visual .swiper-slide.mvimg01 {background: url('/resources/homepage/ad/img/main/main0-bg1.jpg') no-repeat center bottom;background-size:cover;}

#main0 .main-visual .search-area .main-box .search-box{border:3px solid #54c8ff;}
#main0 .main-visual .search-area .main-box button{background:#54c8ff url('/resources/common/img/main_type04/srch-icon.png') no-repeat 70% center;}

#main0 .main-txt-area{top:28%;}
#main0 .main-visual .search-area{top:48%;}
#main0 .main-visual .quickmenu-box{top:62%;}

#main0 .main-visual .quickmenu-box .main-box .qmenu li{width:20%;}

#main0 .main-txt-area .main-txt .txt03 {font-family:'S-Core Dream 4';font-size:45px;color:#fff;line-height:80px;letter-spacing:-0.25px;}
#main0 .main-txt-area .main-txt .txt04 {font-family:'S-Core Dream 2';font-size:45px;color:#fff;line-height:60px;}

#main1 .main1_wrap:before{background:#dbf0f7;}
#main1 .main1_wrap .main1-right-box .news .box.notice-list .bx-prev  {background-image:url("/resources/homepage/ad/img/main/notice-prev-btn.png");background-repeat: no-repeat;background-size:cover;bottom:0;left:0;}
#main1 .main1_wrap .main1-right-box .news .box.notice-list .bx-next  { background-image:url("/resources/homepage/ad/img/main/notice-next-btn.png");background-repeat: no-repeat;background-size:cover;bottom:0;left:55px;}
#main1 .main1_wrap .main1-right-box .news .box ul li a:hover {background:#017cb0;}

#main2 .event-box .list ul li div p b{color:#c95001;}
#main2 .event-box .list ul li:first-child:hover div{background:#c95001 url('/resources/common/img/culture_type02/event-icon01-hover.png')no-repeat center 80px;}
#main2 .event-box .list ul li:nth-child(2):hover div{background:#c95001 url('/resources/common/img/culture_type02/event-icon02-hover.png')no-repeat center 80px;}
#main2 .event-box .list ul li:last-child:hover div{background:#c95001 url('/resources/common/img/culture_type02/event-icon03-hover.png')no-repeat center 80px;}

#main6{background:#e5d7b4 url('/resources/homepage/ad/img/main/curation3-bg.jpg') no-repeat center bottom;}

@media all and (max-width:1200px){
	#main2 .event-box .list ul li:first-child:hover div{background:#c95001 url('/resources/common/img/transparent.png')no-repeat !important;}
	#main2 .event-box .list ul li:nth-child(2):hover div{background:#c95001 url('/resources/common/img/transparent.png')no-repeat !important;}
	#main2 .event-box .list ul li:last-child:hover div{background:#c95001 url('/resources/common/img/transparent.png')no-repeat !important;}
}

@media all and (max-width:1024px){
	#header h1{padding-top:4px;}
	.web-br {display:none;}

	#main0 .main-txt-area{top:15%;}
	#main0 .main-visual .search-area{top:34%;}
	#main0 .main-visual .quickmenu-box{top:50%;}

	#main0 .main-txt-area .main-txt .txt03 {font-family:'S-Core Dream 4';font-size:30px;color:#fff;line-height:50px;}
	#main0 .main-txt-area .main-txt .txt04 {font-family:'S-Core Dream 3';font-size:30px;color:#fff;line-height:50px;}
}

@media all and (max-width:550px){
	#main0 .main-txt-area{top:17%;}
	#main0 .main-txt-area .main-txt .txt03, #main0 .main-txt-area .main-txt .txt04 {font-size:25px;line-height:30px;}
}

@media all and (max-width:425px){
	#main0 .main-txt-area{top:20%;}
	#main0 .main-txt-area .main-txt .txt03, #main0 .main-txt-area .main-txt .txt04 {font-size:19px;line-height:21px;}
}