@charset "utf-8";
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{font-size:16px;position:relative;height:100%;color:#000;-webkit-text-size-adjust:none}
html{height:100%}
#wrap{min-height:100%;_height:100%}
#wrap.k-index{margin-bottom:-60px;}
.end {clear:both}

.nav{text-align:center}
.nav li{display:inline-block;zoom:1;*display:inline}

#wrap.subpage{background:#fff}
#wrap.subpage #bodyWrap{padding-bottom:20px;}
#wrap.subpage #footer{height:60px;text-align:center;font-style:normal;padding:100px 0}

.k-index {background:url('/resources/common/img/background_image.jpg') repeat center center;background-size:cover;color:#fff;text-align:center;}

.k-index .web_section {width:1496px;margin:0 auto;}
.k-index #header {/* position:relative; */width:100%;padding:120px 0 0 0;}
.k-index #header h3{font-size:50px;color:#fff;font-family:'GmarketSansMedium';}
.k-index #header span {display:inline-block;padding: 0 4%;}
.k-index #header span.main_logo {/* width: 300px; */}
.k-index #header span img {width:100%;}
.k-index #header span.symbol01 img {}
.k-index #header span.symbol02 img {width: 250px;}
.k-index #container{position:relative;padding:80px 0 0 0}
.k-index #container ul li{display:inline-block;width:27%;padding:0;margin:0 3%;zoom:1;}
.k-index #container ul li img {}
.k-index #container ul li.bg{background:url('/resources/common/img/bt.png') no-repeat center center;background-size:cover}
.k-index #footer {position:relative;padding:100px 0}
.k-index #footer address {color:rgba(255,255,255,0.5);}

.k-index #header .tnb {display:none;width:100%;position:absolute;top:0;right:10px;z-index:10;text-align:right;}
.k-index #header .tnb a{display:inline-block;zoom:1;*display:inline;vertical-align:middle;}
.k-index #header .tnb a {border:2px solid #fff;border-radius:35px;padding:15px;color:#fff;margin:0 0 0 15px;font-size:22px;transition:all .3s ease}
.k-index #header .tnb a.yel {border:1px solid #feb628;}
.k-index #header .tnb a.yel span.yel {color:#feb628;}
.k-index #header .tnb a img {vertical-align:middle;}
.k-index #header .tnb .box{padding:18px 0}
.k-index #header .tnb .box span.txtBox1, .k-index #header .tnb .box span.txtBox2, .k-index #header .tnb .box span.txtBox3 {width:none;padding:0 10px;transition:all .3s ease;}
.k-index #header .tnb .box span.txtBox {transition:all .3s ease;vertical-align:middle;}
.mobileViewimg {display:none}

@media all and (max-width:1024px){
	.k-index #header h3{font-size:35px;}
}

@media all and (max-width:768px){
	.k-index #header h3{font-size:25px;}
}

@media all and (max-width:500px){
	.k-index #header h3{font-size:20px;}
}



/*서브페이지*/
.subpage #header h1{white-space:nowrap;margin:40px 0;}
.subpage #header h1 a{font-size:40px;color:#fff;font-family:'GmarketSansMedium';}

@media screen and (max-width:1024px){
	.subpage #header h1 a{font-size:30px;}
}

@media screen and (max-width:768px){
	.subpage #header h1 a{font-size:25px;}
}

@media screen and (max-width:500px){
	.subpage #header h1 a{font-size:20px;}
}

.subpage #top {width:100%;background:#014e9e;}
.subpage #header {position:relative;overflow:hidden;border-bottom: 1px solid #036bb3;line-height:0;padding:0;margin:0;}
.subpage #header .gnb{width:1800px;margin:0 auto;padding:10px 0 0 0;text-align:center;}

.subpage #header h1 .box {/* position:absolute; *//* top:22px; */z-index:1000;}
.subpage #header h1 .box img{transition:all .3s ease;}
.mobileViewimg {display:none}

.subpage #container{position:relative;width:1260px;margin:0 auto}

.nav {/* width:1800px; */margin:0 auto;padding:0;text-align:center;white-space:nowrap;}
.nav ul.navbox{font-size:0;}
.nav li{display:inline-block;height:100%;zoom:1;width:15%;font-size:16px;}
.nav li:first-child {background:none;border-left:0;}
.nav li:last-child {border-right:0;}
.nav li a{margin:0 1px;padding:5px 15px 30px;color:#fff;border-top:10px solid transparent;transition: all .3s ease;}
.nav li a,
.nav li em, .nav li span{display:block;text-align:center}
.nav li span{font-size: 150%;letter-spacing: -0.5px;padding-top:20px;}
.nav li div {font-size: 100%;line-height: 200%;font-weight: normal;/* letter-spacing:-1px; */}
/*.nav li a:hover,.nav li a:active,.nav li a:focus{color:#fab000;border-top: 10px solid #fab000;}*/
.nav li a:hover,.nav li a:active,.nav li a:focus{color:#fab000;}
.nav li a {display:block; text-align:center; text-decoration:none;}
.nav li a span {display:inline-block;vertical-align:top;/* height:65px; */padding:0px 0 0px 0;/*line-height:30px;*/color:#fafafa;font-weight:600;position:relative;}
.nav li a span:after {content:"";display:block;height:8px;width:0;position:absolute;bottom:128px;left:50%;}
.nav li a.ov span, .nav li a:hover span{color:#fab000;transition: all .3s ease;}
.nav li a.ov span:after, .nav li a:hover span:after, .nav li a:active span:after {width:50%;height:7px;background:#fab000;left:0;padding-left:50%;opacity:1;-webkit-opacity:1;filter:alpha(opacity=100);transition: all ease-out 0.2s}
.nav li a span.skyblue, .nav li a div.skyblue {color:#00e4f8}
.nav li a:hover span.skyblue, .nav li a:hover div.skyblue{color:#fab000;}

.nav .bx-controls { display: none;}
.nav .bx-controls .bx-prev,
.nav .bx-controls .bx-next{position:absolute;top:0;width:10%;font-size:0;line-height:0}
.nav .bx-controls .bx-prev,
.nav .bx-controls .bx-next,

.nav .bx-controls .bx-prev{left:0;background:url('../../img/navL.png') no-repeat center center}
.nav .bx-controls .bx-next{right:0;background:url('../../img/navR.png') no-repeat center center}
.nav .bx-controls .bx-prev,
.nav .bx-controls .bx-next{background-size:auto 30%}

/* 상단메뉴 스크롤*/
.rsv-info {position:absolute;width:100%;text-align:center;font-size:15px;margin-bottom:10px;padding:10px 0;color:#333;}
.rsv-info p.ico:before, .rsv-info p.ico:after {content:"";display:inline-block;vertical-align:middle;width:53px;height:28px;background:url('/resources/common/img/rsv_arr.png') no-repeat;margin-top:-2px;}
.rsv-info p.ico:before {background-position:0 0;margin-right:17px;}
.rsv-info p.ico:after {background-position:-53px 0;margin-left:17px;}
.rsv-info br {display:none;}

@media screen and (min-width:918px){
	.rsv-info p.ico{font-size:0px}
	.rsv-info p.ico:before, .rsv-info p.ico:after {display:none;}
}

@media all and (max-width:917px){
	.rsv-info {line-height:1.4; margin: 130px 0 0px 0;}
	.rsv-info br {display:block;}
	.rsv-info p{margin-bottom:10px;}
	.rsv-info p.ico:before {left:10px;}
	.rsv-info p.ico:after {right:10px;}
}

@media all and (max-width:767px){
	.rsv-info {line-height:1.4; margin: 110px 0 0px 0;}
	.rsv-info br {display:block;}
	.rsv-info p{margin-bottom:10px;}
	.rsv-info p.ico:before {left:10px;}
	.rsv-info p.ico:after {right:10px;}
}

@media all and (max-width:449px){
	.rsv-info {line-height:1.4; margin: 110px 0 0px 0;}
	.rsv-info br {display:block;}
	.rsv-info p{margin-bottom:10px;}
	.rsv-info p.ico:before, .rsv-info p.ico:after {position:absolute}
	.rsv-info p.ico:before {left:10px;}
	.rsv-info p.ico:after {right:10px;}
}

.doc-title{border-top:none !important;}
.doc-title h3{padding-top:0}

.doc-btn {position:fixed;width:100%;top:550px;z-index:100000}
.doc-btn a{position:absolute;display:inline-block;filter:drop-shadow(4px 4px 10px rgba(0,0,0,0.15));}
.doc-btn a.prev{left:30px;}
.doc-btn a.next{right:30px;}
.doc-btn .top{border:1px solid #3a3a3a;background:#3a3a3a}
	
.web-view-menu {}
.mobile-view-menu {display:none}

p.srch-txt{font-family:'Malgun gothic';text-align:center;font-size:25px;color:#333;margin-bottom:40px;}

/*util*/
#lnb_hm {float:left;text-align: center;width:100%;height: 45px;line-height: 45px;background:#d4d4d4;}
#lnb_hm .layout {width: 100%;margin: 0 auto;}

.m-siteLink{float:left;width:100%;margin:0 auto;padding: 0px;text-align:center;font-size: 0;}
.m-siteLink li {display: inline-block;font-size:15px;width:200px;height:45px;line-height: 45px;text-align: center;transition:all .3s ease;}
.m-siteLink li.card { background:#029cbf; display:none;}
.m-siteLink li.login {background: #3493dd;}
.m-siteLink li.logout {background: #3493dd;}
.m-siteLink li.join {background: #0071d9;}
.m-siteLink li.integration {background: #0ca0ae;}
.m-siteLink li.info {background: #0071d9;padding: 0;/* border: 1px solid #fff; */}
.m-siteLink li.mylib {background: #a41ac2;}
.m-siteLink li a {display:block;color:#fff;font-weight:bold;}

.siteLink{float:left;width:100%;margin: 0 auto;padding: 0px;text-align:center;font-size: 0;}
.siteLink li {display: inline-block;font-size:15px;width:200px;height: 45px;line-height: 45px;text-align: center;transition:all .3s ease;}
.siteLink li.card { background:#029cbf; display:none;}
.siteLink li.login {background: #3493dd;}
.siteLink li.logout {background: #3493dd;}
.siteLink li.join {background: #0071d9;}
.siteLink li.integration {background: #0ca0ae;}
.siteLink li.info {background: #0071d9;padding: 0;/* border: 1px solid #fff; */}
.siteLink li.mylib {background: #a41ac2;}
.siteLink li a {display:block;color:#fff;font-weight:bold;}

/*타이틀*/
#contents-title {position:relative;width:100%;text-align:center;margin:30px 0 30px 0}
#contents-title h2{font-family:"Malgun Gothic";font-size:50px;font-weight:bold;letter-spacing:-0.05em;padding:0}

.mbt {display:none;}

@media all and (max-width:1680px){
	.subpage #header .gnb, .nav {width:100%;}
	.subpage #header h1 img {/* width:100%; */}
	.subpage #header .tnb .box{padding:56px 10px 56px 0}
	.doc-btn a {padding:20px;}
}

@media all and (max-width:1496px){
	.k-index .web_section {width:100%;margin:0;}
	.k-index #header span.symbol01 img, .k-index #header span.symbol02 img {/* width: 230px; */}
}

@media all and (max-width:1440px){
	.doc-btn a {padding:10px;}
	.subpage #header h1 .box {/* top:18px; *//* left:20px; */}
	.subpage #header h1 .box img {/* width:80%; */}
	.subpage #header .tnb .box{padding:41px 10px 41px 0}
}

@media all and (max-width:1260px){
	.k-index #header span.main_logo img {/* width: 200px; */}

	.nav {overflow-x:auto;}
	.nav li {width:190px;}
	.nav li em img {width:40%}
	.nav li span{font-size: 110%;}
	.nav li div {font-size: 70%;font-weight: 200;line-height: 100%;}
	.subpage #container {width:96%;margin:0 auto;}
	.doc-btn {display:none}
	.subpage #header .tnb a {border:1px solid #fff;border-radius:15px;padding:2px 3px;margin:0;font-size:12px;text-align:center}
	.subpage #header .tnb a.yel {border:1px solid #feb628;}
	.subpage #header .tnb a img {}
    .subpage #header h1 .box img {width: 120px;transition: all .3s ease;}
	.nav li a{margin:0 1px;padding:5px 15px 20px;border-top:5px solid transparent}
	.nav li a:hover,.nav li a:active,.nav li a:focus{border-top:5px solid #fab000}
	.webViewimg {display:none}
	.mobileViewimg {display:inline-block}
}

@media all and (max-width:1239px) {
	.layout {display:block;position:relative;width:100%;margin:0 auto;}
}

@media all and (max-width:1024px){
	.mbt {display:block;margin:0 auto;}
	.wbt {display:none;}

	.k-index {background:none;margin:0}
	.k-index #header {position:relative;background:url('/resources/common/img/background_image.jpg') repeat center center;background-size:cover;padding:5% 0;}
	.k-index #header span.main_logo {/* display:block; *//* width:100%; *//* text-align: center; */padding: 10px;}
	.k-index #header span.symbol01, .k-index #header span.symbol02 {position:absolute;}
	.k-index #header span.symbol01 {left:0;bottom:20px}
	.k-index #header span.symbol02 {right:0;bottom:20px}

	.k-index #container {position:static;width:100%;padding:0;}
	.k-index #container ul li {margin:0;}
	.k-index #container ul li.bg01{float:left;width:100%;height:25%;background:#559eff;text-align:center;}
	.k-index #container ul li.bg02{float:left;width:50%;height:25%;background:#8eb43b;vertical-align:middle}
	.k-index #container ul li.bg03{float:left;width:50%;height:25%;background:#283c79}
	.k-index #container ul li.bg01 img{margin:0 auto;}
	.k-index #footer {position:static;width:100%;font-size:13px;height:10%;left:0;background:#333333;padding:20px 0;bottom:0;color:#cedcea}

	.k-index #header .tnb {display:block}
	.k-index #header .tnb a {border:1px solid #fff;border-radius:15px;padding:2px 3px;margin:0;font-size:12px;text-align:center}
	.k-index #header .tnb a img {}
	.webViewimg {display:none}
	.mobileViewimg {display:inline-block}

	.subpage #header h1 .box {/* top:17px; *//* left:0; */}
	.subpage #header h1 .box img {/* width:70% */}
	.subpage #header .tnb a.mobileView {display:inline-block}
}

@media all and (max-width:1029px) {	
	.k-index #header span.main_logo {width: 200px;transition:all .3s ease;}
}

@media all and (max-width:1000px) {	
	#lnb_hm {float:left;text-align: center;width:100%;height: 45px;line-height: 45px;background:#014e9e;border: 0;}
	#lnb_hm .layout {width: 100%;margin: 0 auto;}
	.web-view-menu {display:none}
	.mobile-view-menu {display:block}
	.m-siteLink{float:left;width:100%;margin: 0 auto;padding: 0px;text-align:center;font-size: 0;}
	.m-siteLink li {display: inline-block;font-size:15px;width:33.3333333333333%;height: 45px;line-height: 45px;text-align: center;transition:all .3s ease;}
	.m-siteLink li.card {background:#073a7b;display:inline-block;}
	.m-siteLink li.login {background: #3493dd;}
	.m-siteLink li.logout {background: #3493dd;}
	.m-siteLink li.join {background: #0071d9;}
	.m-siteLink li.integration {background: #0ca0ae;}
	.m-siteLink li.info {background: #0071d9;padding: 0;/* border: 1px solid #fff; */}
	.m-siteLink li.mylib {background: #a41ac2;padding: 0;/* border: 1px solid #fff; */}
	.m-siteLink li a {display:block;color:#fff;font-weight:bold;font-size: 14px;}

	.siteLink{float:left;width:100%;margin: 0 auto;padding: 0px;text-align:center;font-size: 0;}
	.siteLink li {display: inline-block;font-size:15px;width:25%;height: 45px;line-height: 45px;text-align: center;transition:all .3s ease;}
	.siteLink li.card {background:#073a7b;display:inline-block;}
	.siteLink li.login {background: #3493dd;}
	.siteLink li.logout {background: #3493dd;}
	.siteLink li.join {background: #0071d9;}
	.siteLink li.integration {background: #0ca0ae;}
	.siteLink li.info {background: #0071d9;padding: 0;/* border: 1px solid #fff; */}
	.siteLink li.mylib {background: #a41ac2;padding: 0;/* border: 1px solid #fff; */}
	.siteLink li a {display:block;color:#fff;font-weight:bold;font-size: 14px;}
}

@media all and (max-width:767px){
	.nav li a:hover,.nav li a:active,.nav li a:focus{color:#fab000;border-top:5px solid #fab000;}
	.nav li {width: 32.5%;}
	.nav li span{font-size: 15px;}
	.nav li em img {width: 40px;}
	.subpage #header .tnb .box{padding:30px 10px 30px 0}
	.subpage #header h1 .box {/* width:40%; *//* top:17px; */}
	.subpage #header h1 .box img {/* width:100% */}
	.subpage #header .tnb .box span.txtBox1, .subpage #header .tnb .box span.txtBox2, .subpage #header .tnb .box span.txtBox3 {padding:0 3px;}
	#footer{font-size:90%}

	#contents-title {margin:45px 0 20px 0}
	#contents-title h2{font-size:38px;}
}

@media all and (max-width:690px){
	.k-index #header span.symbol01, .k-index #header span.symbol02 {width: 200px;transition:all .3s ease;}
	.k-index #footer {font-size:12px;}
}

@media all and (max-width:490px){
	.k-index #header span.symbol01, .k-index #header span.symbol02 {width: 150px;transition:all .3s ease;}
	.k-index #header span.main_logo {width: 120px;transition:all .3s ease;}
	.k-index #footer {font-size:12px;}
	.m-siteLink li a, .siteLink li a {font-size: 13px;}

	#contents-title h2{font-size:30px;}
}

@media all and (max-width:450px){
	#footer{font-size:80%}
	.m-siteLink li a, .siteLink li a {font-size:13px}
	#contents-title h2{font-size:24px;}
}

@media all and (max-width:390px){
	.k-index #footer {font-size:11px;}
	.m-siteLink li a, .siteLink li a {font-size: 12px;}
}

@media all and (max-width:375px){

	.nav li em img {width: 30px;}
	.nav li span{font-size: 14px;}
	.nav li {width: 33%;}
	.subpage #header h1 .box {/* top:35px; */}
	.m-siteLink li a, .siteLink li a {font-size:12px}
	#contents-title h2{font-size:21px;}

	.rsv-info {line-height:1.4; margin: 100px 0 0px 0;}
}